Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

dist: scylla_raid_setup: don't override XFS block size on modern kernels
  dist/common/scripts/scylla_raid_setup
Owners: none

s3_client: fix `when` condition to prevent infinite locking
  utils/s3/client.cc
Owners: none

test/boost/sstable_compressor_factory_test: fix thread-unsafe usage of Boost.Test
  test/boost/sstable_compressor_factory_test.cc
Owners: none

service/storage_proxy: send batches with CL=EACH_QUORUM
  db/batchlog_manager.cc
  service/storage_proxy.cc
Owners: @elcallio, @gleb-cloudius

mutation/mutation_compactor: add tombstone_gc_state to query ctor
  db/view/view.cc
  db/view/view_building_worker.cc
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  replica/multishard_query.cc
  replica/mutation_dump.cc
  replica/querier.hh
  replica/table.cc
  test/boost/database_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_test.cc
  test/boost/querier_cache_test.cc
  test/perf/perf_row_cache_reads.cc
Owners: @nyh, @piodul, @tgrabiec, @denesb

sstables/compressor: relax a large allocation warning in ZSTD_CDict creation
  sstables/compressor.cc
Owners: @tgrabiec, @raphaelsc

test/alternator: a small cleanup for a test in test_streams.py
  test/alternator/test_streams.py
Owners: @nyh

repair: Rename incremental mode name
  api/api-doc/storage_service.json
  docs/operating-scylla/nodetool-commands/cluster/repair.rst
  idl/repair.idl.hh
  locator/tablets.cc
  locator/tablets.hh
  test/cluster/test_incremental_repair.py
  test/nodetool/test_cluster_repair.py
  tools/scylla-nodetool.cc
Owners: @denesb

test: test_raft_no_quorum: test_can_restart: deflake the read barrier call
  test/cluster/test_raft_no_quorum.py
Owners: none

test_sstable_compression_dictionaries_basic: reconnect robustly after node reboots
  test/cluster/test_sstable_compression_dictionaries_basic.py
Owners: none

test_sstable_compression_dictionaries_basic: reconnect robustly after node reboots
  test/cluster/test_sstable_compression_dictionaries_basic.py
Owners: none

docs: fix a parameter name in API calls in sstable-dictionary-compression.rst
  docs/operating-scylla/procedures/config-change/sstable-dictionary-compression.rst
Owners: none

Synchronize incremental repair and tablet split
  replica/compaction_group.hh
  replica/database.hh
  replica/table.cc
  service/tablet_allocator.cc
  streaming/consumer.cc
  test/cluster/test_tablets2.py
Owners: @tgrabiec, @asias

docs: improve nodetool getendpoints documentation
  docs/operating-scylla/nodetool-commands/getendpoints.rst
Owners: none

server: Refactor scheduling group update timing in system.clients
  service/qos/service_level_controller.cc
  service/qos/service_level_controller.hh
  transport/server.cc
  transport/server.hh
Owners: none

migration_manager: pass timestamp to pre_create
  cdc/log.cc
  service/migration_listener.hh
  service/migration_manager.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec

docs: Add feature page for incremental repair
  docs/features/incremental-repair.rst
  docs/features/index.rst
Owners: none

cdc: set column drop timestamp in the future
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

cdc: check if recreating a column too soon
  cdc/log.cc
  test/cluster/test_cdc_with_alter.py
Owners: @kbr-scylla, @elcallio, @piodul

test: test concurrent writes with column drop with cdc preimage
  test/cluster/test_cdc_with_alter.py
Owners: none

dist: scylla_raid_setup: don't override XFS block size on modern kernels
  dist/common/scripts/scylla_raid_setup
Owners: none

database: Log message after critical_disk_utilization mode is set
  replica/database.cc
  test/storage/test_out_of_space_prevention.py
Owners: none

object_storage_endpoint_param: Add gs storage as option
  db/object_storage_endpoint_param.cc
  db/object_storage_endpoint_param.hh
Owners: none

config: break out object_storage_endpoint_param preparing for multi storage
  configure.py
  db/CMakeLists.txt
  db/config.cc
  db/config.hh
  db/object_storage_endpoint_param.cc
  db/object_storage_endpoint_param.hh
  sstables/sstables_manager.cc
  test/boost/schema_change_test.cc
  test/lib/test_services.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

utils::seekable_source: Add a seekable IO source type
  utils/seekable_source.hh
Owners: none

object_storage_client: Add object_name wrapper type
  db/snapshot/backup_task.cc
  sstables/object_storage_client.cc
  sstables/object_storage_client.hh
  sstables/storage.cc
Owners: @tgrabiec, @raphaelsc

sstables::object_storage_client: Add abstraction layer for OS cliens (s3 initial)
  configure.py
  sstables/CMakeLists.txt
  sstables/object_storage_client.cc
  sstables/object_storage_client.hh
Owners: @tgrabiec, @raphaelsc

utils::io-wrappers: Add ranged data_source
  utils/io-wrappers.cc
  utils/io-wrappers.hh
Owners: none

sstables: Use object_storage_client for remote storage
  db/snapshot/backup_task.cc
  db/snapshot/backup_task.hh
  main.cc
  replica/distributed_loader.cc
  sstables/sstable_directory.cc
  sstables/sstable_directory.hh
  sstables/sstables.hh
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  sstables/storage.cc
  test/lib/sstable_test_env.hh
  test/lib/test_services.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

storage_options: Abstract s3 to "object_storage" and add gs as option
  data_dictionary/data_dictionary.cc
  data_dictionary/storage_options.hh
  sstables/sstable_directory.cc
  tools/scylla-sstable.cc
  utils/s3/utils/manip_s3.cc
  utils/s3/utils/manip_s3.hh
Owners: @tgrabiec, @raphaelsc, @denesb

utils::io-wrappers: Add file wrapper type for seekable_source
  utils/io-wrappers.cc
  utils/io-wrappers.hh
Owners: none

utils::rest::client: Add abort_source support
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

utils::gcp::object_storage: Add optional abort_source
  utils/gcp/object_storage.cc
  utils/gcp/object_storage.hh
Owners: none

s3::upload_progress: Promote to general util type
  utils/s3/client_fwd.hh
  utils/upload_progress.hh
Owners: none

sstables::file_io_extension: Change "creator" callback to just data_source
  ent/encryption/encryption.cc
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/storage.cc
  sstables/storage.hh
Owners: @tgrabiec, @raphaelsc

utils::gcp::object_storage: Add missing retry backoff increate
  utils/gcp/object_storage.cc
Owners: none

sstables::object_storage_client: Add google storage implementation
  sstables/object_storage_client.cc
  sstables/storage.cc
Owners: @tgrabiec, @raphaelsc

utils::gcp::object_storage: Add timestamp to object listing
  utils/gcp/object_storage.cc
  utils/gcp/object_storage.hh
Owners: none

test_services: Allow testing with GS object storage parameters
  test/lib/test_services.cc
Owners: none

tests::lib::test_utils: Add overloads/helpers for reading and (temp) writing env
  test/lib/test_utils.cc
  test/lib/test_utils.hh
Owners: none
