Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

transport/server: replace protocol_exception throws with returns
  transport/server.cc
  transport/server.hh
Owners: none

test/cqlpy: add protocol_exception tests
  test/cqlpy/test_protocol_exceptions.py
  test/cqlpy/util.py
Owners: @nyh

transport/server: avoid exception-throw overhead in handle_error
  transport/server.cc
Owners: none

utils/reusable_buffer: accept non-throwing writer callbacks via result_with_exception
  test/boost/reusable_buffer_test.cc
  transport/server.cc
  utils/reusable_buffer.hh
Owners: none

transport/server: replace protocol_exception throws with returns
  transport/server.cc
  transport/server.hh
Owners: none

test/cqlpy: add cpp exception metric test conditions
  test/cqlpy/test_protocol_exceptions.py
Owners: @nyh

test/cqlpy: add protocol_exception tests
  test/cqlpy/test_protocol_exceptions.py
  test/cqlpy/util.py
Owners: @nyh

transport/server: avoid exception-throw overhead in handle_error
  transport/server.cc
Owners: none

utils/reusable_buffer: accept non-throwing writer callbacks via result_with_exception
  test/boost/reusable_buffer_test.cc
  transport/server.cc
  utils/reusable_buffer.hh
Owners: none

transport/server: replace protocol_exception throws with returns
  transport/server.cc
  transport/server.hh
Owners: none

test/cqlpy: add cpp exception metric test conditions
  test/cqlpy/test_protocol_exceptions.py
Owners: @nyh

test.py: Adjust test_tablet_resize_list for incremental repair
  test/cluster/tasks/test_tablet_tasks.py
Owners: none

s3_client: migrate s3_client to Seastar HTTP client
  test/boost/test_config.yaml
  utils/s3/client.cc
  utils/s3/client.hh
  utils/s3/s3_retry_strategy.cc
  utils/s3/s3_retry_strategy.hh
Owners: none

s3_client: add `make_request` override with custom retry
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: simplify chunked download error handling using `make_request`
  test/boost/s3_test.cc
  utils/s3/client.cc
Owners: none

s3_client: fix indentation
  utils/s3/client.cc
Owners: none

s3_client: remove unused `filler_exception`
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3 cleanup: remove obsolete retry-related classes
  configure.py
  utils/CMakeLists.txt
  utils/s3/retry_strategy.cc
  utils/s3/retry_strategy.hh
  utils/s3/retryable_http_client.cc
  utils/s3/retryable_http_client.hh
Owners: none

build: add resource support
  configure.py
  resources.hh
  scripts/resources.py
Owners: none

Introduce the ScyllaDB Web Shell
  configure.py
  main.cc
  tools/webshell/favicon.ico
  tools/webshell/resources/favicon.ico
  tools/webshell/resources/webshell.html
  tools/webshell/resources/webshell.js
  tools/webshell/webshell.cc
  tools/webshell/webshell.hh
  tools/webshell/webshell.resources
Owners: none

test/cqlpy: add test_webshell.py
  test/cqlpy/run.py
  test/cqlpy/test_webshell.py
Owners: @nyh

scylla_cluster.py: add try_get_host_id
  test/pylib/scylla_cluster.py
Owners: none

test: add compaction task progress test
  compaction/task_manager_module.cc
  test/rest_api/test_compaction_task.py
Owners: @raphaelsc

cql3/raw: add ANN ordering to the raw statement layer
  cql3/statements/raw/select_statement.hh
Owners: none

cql/Cql.g: extend the grammar to allow for `ANN OF` queries
  cql3/Cql.g
Owners: @tgrabiec, @nuivall, @ptrsmrn

streaming: close sink when exception is thrown
  streaming/stream_session.cc
Owners: @tgrabiec, @asias

doc: add tablets support information to the Drivers table
  docs/using-scylla/drivers/cql-drivers/index.rst
Owners: none

doc: add OS support for ScyllaDB 2025.3
  docs/_static/data/os-support.json
Owners: none

streaming: close sink when exception is thrown
  streaming/stream_session.cc
Owners: @tgrabiec, @asias

doc: add tablets support information to the Drivers table
  docs/using-scylla/drivers/cql-drivers/index.rst
Owners: none

doc: add the upgrade guide from 2025.2 to 2025.3
  docs/upgrade/upgrade-guides/index.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.1-to-2025.2/index.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.1-to-2025.2/metric-update-2025.1-to-2025.2.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/index.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/metric-update-2025.2-to-2025.3.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/upgrade-guide-from-2025.2-to-2025.3.rst
Owners: none

streaming: close sink when exception is thrown
  streaming/stream_session.cc
Owners: @tgrabiec, @asias

doc: add tablets support information to the Drivers table
  docs/using-scylla/drivers/cql-drivers/index.rst
Owners: none

replica/table: add_sstables_and_update_cache(): remove error log
  replica/table.cc
Owners: none

storage_proxy: reduce allocations in send_to_local_endpoints()
  service/storage_proxy.cc
Owners: @gleb-cloudius

test/cqlpy: add cpp exception metric test conditions
  test/cqlpy/test_protocol_exceptions.py
Owners: @nyh

gdb: handle zero-size reads in managed_bytes
  scylla-gdb.py
Owners: none

gdb: handle zero-size reads in managed_bytes
  scylla-gdb.py
Owners: none

compress: move compress.cc/hh to sstables/compressor
  CMakeLists.txt
  configure.py
  ent/encryption/encryption.cc
  ent/encryption/encryption.hh
  gen_segmented_compress_params.py
  schema/schema.hh
  sstables/CMakeLists.txt
  sstables/compress.cc
  sstables/compress.hh
  sstables/compressor.cc
  sstables/compressor.hh
  test/boost/sstable_3_x_test.cc
  test/boost/sstable_test.cc
Owners: @tgrabiec, @raphaelsc

sstables: introduce trie_writer
  configure.py
  sstables/CMakeLists.txt
  sstables/trie/common.hh
  sstables/trie/trie_writer.cc
  sstables/trie/trie_writer.hh
  sstables/trie/writer_node.hh
  sstables/trie/writer_node.impl.hh
  test/boost/CMakeLists.txt
  test/boost/trie_writer_test.cc
Owners: @tgrabiec, @raphaelsc
