Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

doc: apply feedback
  docs/using-scylla/drivers/cql-drivers/index.rst
Owners: none

docs: cql/types.rst: remove reference to frozen-only UDTs
  docs/cql/types.rst
Owners: none

test: test_zero_token_nodes_multidc: properly handle reads with CL=ONE
  test/cluster/test_zero_token_nodes_multidc.py
Owners: none

test: test_batchlog_manager: test batch replay when a node is down
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  service/storage_proxy.cc
  test/cluster/test_batchlog_manager.py
Owners: @elcallio, @gleb-cloudius

batchlog_manager: set timeout on writes
  db/batchlog_manager.cc
  db/batchlog_manager.hh
Owners: @elcallio

batchlog_manager: abort writes on shutdown
  db/batchlog_manager.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @elcallio, @gleb-cloudius

batchlog_manager: create cancellable write response handler
  db/batchlog_manager.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @elcallio, @gleb-cloudius

storage_proxy: add write type parameter to mutate_internal
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

service: tablet_allocator: avoid large contiguous vector in make_repair_plan()
  service/tablet_allocator.cc
Owners: none

test: test_batchlog_manager: batchlog replay includes cdc
  service/storage_proxy.cc
  test/cluster/test_batchlog_manager.py
Owners: @gleb-cloudius

scripts: Add helper script to estimate stream_io_throughput_mb_per_sec
  dist/common/scripts/aws-instancetype-network.json
  dist/common/scripts/estimate-streaming-limit
Owners: none

alternator: lower maximum table name length to 192
  alternator/executor.cc
  docs/alternator/compatibility.md
  test/alternator/test_table.py
Owners: @nyh, @annastuchlik, @tzach

auth: wait for default role creation before starting authorizer and authenticator
  auth/service.cc
Owners: @nuivall, @ptrsmrn

auth: ldap: fix waiting for underlying role manager
  auth/ldap_role_manager.cc
Owners: @nuivall, @ptrsmrn

auth: cache roles table scan during startup
  auth/password_authenticator.cc
  auth/standard_role_manager.cc
Owners: @nuivall, @ptrsmrn

test: pylib: allow rolling restart without waiting for cql
  test/pylib/internal_types.py
  test/pylib/manager_client.py
  test/pylib/scylla_cluster.py
Owners: none

test: auth_cluster: add test for password reset procedure
  test/auth_cluster/test_auth_after_reset.py
Owners: none

auth: split auth-v2 logic for adding default superuser role
  auth/common.cc
  auth/common.hh
  auth/standard_role_manager.cc
  auth/standard_role_manager.hh
Owners: @nuivall, @ptrsmrn

test: pylib: add ability to specify default authenticator during server_start
  test/pylib/manager_client.py
  test/pylib/scylla_cluster.py
Owners: none

test: auth_cluster: add test for replacing default superuser
  test/auth_cluster/test_auth_default_superuser_replaced.py
Owners: none

auth: split auth-v2 logic for adding default superuser password
  auth/password_authenticator.cc
  auth/password_authenticator.hh
Owners: @nuivall, @ptrsmrn

compound: optimize is_full() for single-component types
  compound.hh
Owners: none

mutation: check key of inserted rows
  mutation/mutation_partition.cc
  mutation/mutation_partition.hh
  mutation/mutation_partition_v2.cc
  test/boost/mutation_test.cc
  test/boost/row_cache_test.cc
Owners: @tgrabiec

docs: cql/types.rst: remove reference to frozen-only UDTs
  docs/cql/types.rst
Owners: none

repair: row_level: unstall to_repair_rows_on_wire() destroying its input
  repair/row_level.cc
Owners: @tgrabiec, @asias

test/boost: add unit test for Heat-Weighted Load Balancing
  configure.py
  test/boost/hwlb_test.cc
Owners: none

test: increase the default timeout of graceful shutdown
  test/pylib/manager_client.py
Owners: none

topology coordinator: do not set request_type field for truncation command if topology_global_request_queue feature is not enabled yet
  cql3/statements/alter_keyspace_statement.cc
  service/storage_proxy.cc
Owners: @gleb-cloudius

test/alternator: reduce duplicated code
  test/alternator/test_metrics.py
  test/alternator/test_scan.py
  test/alternator/test_table.py
  test/alternator/test_ttl.py
  test/alternator/util.py
Owners: @nyh

alternator: add optional support for writing to system table
  alternator/executor.cc
  alternator/executor.hh
  db/config.cc
  db/config.hh
  docs/alternator/new-apis.md
  test/alternator/run
  test/alternator/test_cql_rbac.py
  test/alternator/test_system_tables.py
  test/pylib/scylla_cluster.py
Owners: @nyh, @annastuchlik, @tzach

test/alternator: utility functions for changing configuration
  test/alternator/test_system_tables.py
  test/alternator/util.py
Owners: @nyh

alternator, test: add reproducer for issue about immediate LWT timeout
  test/cluster/test_alternator.py
Owners: none

utils: chunked_vector: mark destructor noexcept
  utils/chunked_vector.hh
Owners: none

test: add test for repair and resize finalization
  repair/repair.cc
  service/topology_coordinator.cc
  test/cluster/test_tablets.py
Owners: @tgrabiec, @asias

repair: postpone repair until topology is not busy
  repair/repair.cc
Owners: @tgrabiec, @asias

vector_store_client: implement ANN API
  docs/dev/protocols.md
  service/vector_store_client.cc
  service/vector_store_client.hh
  test/boost/vector_store_client_test.cc
Owners: none

vector_store_client: implement initial vector_store_client service
  conf/scylla.yaml
  configure.py
  cql3/query_processor.cc
  cql3/query_processor.hh
  db/config.cc
  db/config.hh
  main.cc
  service/CMakeLists.txt
  service/vector_store_client.cc
  service/vector_store_client.hh
  test/boost/CMakeLists.txt
  test/boost/vector_store_client_test.cc
  test/lib/cql_test_env.cc
Owners: @tgrabiec, @nuivall, @ptrsmrn

cql3: refactor primary_key as a top-level class
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
Owners: none

vector_store_client: implement ip addr retrieval from dns
  service/vector_store_client.cc
  service/vector_store_client.hh
  test/boost/vector_store_client_test.cc
Owners: none

utils: refactor sequential_producer as abortable
  utils/sequential_producer.hh
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
