Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

vector_search: Add status request handling to vs_mock_server
  test/vector_search/vector_store_client_test.cc
  test/vector_search/vs_mock_server.cc
  test/vector_search/vs_mock_server.hh
Owners: none

vector_search: Move repeat_until to util.hh
  test/vector_search/util.hh
  test/vector_search/vector_store_client_test.cc
Owners: none

vector_search: Improve node health checking
  configure.py
  test/vector_search/CMakeLists.txt
  test/vector_search/node_test.cc
  vector_search/client.cc
  vector_search/client.hh
  vector_search/node.cc
  vector_search/node.hh
  vector_search/util.hh
  vector_search/vector_store_client.cc
Owners: none

docs/dev/service_levels: update docs to service levels on raft
  docs/dev/service_levels.md
Owners: none

test/cluster/mv: Provide reason why test is skipped
  test/cluster/mv/test_mv_topology_change.py
Owners: none

db/view/view_building_task_mutation_builder: add helper method
  db/view/view_building_task_mutation_builder.cc
  db/view/view_building_task_mutation_builder.hh
Owners: @nyh, @piodul

db/system_keyspace: replace `make_view_building_task_mutation()` with mutation builder
  db/schema_tables.cc
  db/system_keyspace.cc
  db/system_keyspace.hh
  db/view/view_building_worker.cc
  service/migration_manager.cc
Owners: @tgrabiec, @nyh, @piodul

db/system_keyspace: replace `make_update_view_building_task_state_mutation()` with mutation builder
  db/system_keyspace.cc
  db/system_keyspace.hh
  db/view/view_building_coordinator.cc
Owners: @nyh, @piodul

db/system_keyspace: replace `make_remove_view_building_task_mutation()` with mutation builder
  db/schema_tables.cc
  db/system_keyspace.cc
  db/system_keyspace.hh
  db/view/view_building_coordinator.cc
  service/migration_manager.cc
Owners: @tgrabiec, @nyh, @piodul

db/view/view_building_coordinator: decoroutinize some methods
  db/view/view_building_coordinator.cc
  db/view/view_building_coordinator.hh
Owners: @nyh, @piodul

db/view/view_building_worker: load tablet map for each sstable separately
  db/view/view_building_worker.cc
Owners: @nyh, @piodul

db/view/view_building_worker: catch general execption in staging task registrator
  db/view/view_building_worker.cc
Owners: @nyh, @piodul

load_stats: add reconcile to load_stats
  locator/tablets.cc
  locator/tablets.hh
  replica/table.cc
  service/topology_coordinator.cc
  test/boost/tablets_test.cc
Owners: none

load_sketch: use tablet sizes in load computation
  db/virtual_tables.cc
  docs/dev/system_keyspace.md
  locator/load_sketch.hh
  locator/network_topology_strategy.cc
  test/boost/tablets_test.cc
  test/perf/tablet_load_balancing.cc
Owners: none

config: add force_capacity_based_balancing and size_based_balance_threshold_percentage
  db/config.cc
  db/config.hh
  service/tablet_allocator.cc
Owners: none

db: experimental consistent-tablets option
  db/config.cc
  db/config.hh
  gms/feature_service.hh
  init.cc
Owners: @tgrabiec, @asias, @kbr-scylla

Update ScyllaDB version to: 2025.1.10
  SCYLLA-VERSION-GEN
Owners: none

storage_service: split replicate_to_all_cores to steps
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

test/boost/sstable_compressor_factory_test: fix thread-unsafe usage of Boost.Test
  test/boost/sstable_compressor_factory_test.cc
Owners: none

test/boost/sstable_compressor_factory_test: fix thread-unsafe usage of Boost.Test
  test/boost/sstable_compressor_factory_test.cc
Owners: none

test/boost/sstable_compressor_factory_test: fix thread-unsafe usage of Boost.Test
  test/boost/sstable_compressor_factory_test.cc
Owners: none

Add table size to DescribeTable's reply in Alternator
  alternator/controller.cc
  alternator/controller.hh
  alternator/executor.cc
  alternator/executor.hh
  configure.py
  db/config.cc
  db/config.hh
  docs/alternator/compatibility.md
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  test/alternator/test_describe_table.py
  test/boost/CMakeLists.txt
  test/boost/simple_value_with_expiry_test.cc
  utils/simple_value_with_expiry.hh
Owners: @nyh, @annastuchlik, @tzach, @tgrabiec, @asias

test: Remove unused operator<<(radix_tree_test::test_data)
  test/boost/radix_tree_test.cc
Owners: none

s3_client: track memory starvation in background filling fiber
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

raft: small fixes for voters code
  raft/raft.hh
  raft/tracker.hh
  test/boost/group0_voter_calculator_test.cc
  types/types.hh
Owners: @kbr-scylla, @gleb-cloudius, @kostja

alternator: Small cleanup, removing unnecessary statements, etc.
  alternator/auth.cc
  alternator/executor.cc
  alternator/rmw_operation.hh
  alternator/streams.cc
  test/alternator/test_lsi.py
  test/alternator/test_metrics.py
  test/alternator/test_returnconsumedcapacity.py
Owners: @nyh

s3_client: track memory starvation in background filling fiber
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

db/view/view_building_worker: remove unnecessary CV broadcast
  db/view/view_building_worker.cc
Owners: @nyh, @piodul

db/view/view_building_worker: use internal CV
  db/view/view_building_worker.cc
  service/storage_service.cc
Owners: @nyh, @piodul, @tgrabiec, @asias

db/view/view_building_worker: add internal CV
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
Owners: @nyh, @piodul

vector_search: fix flaky dns_refresh_aborted test
  test/vector_search/vector_store_client_test.cc
Owners: none

Update ScyllaDB version to: 2025.4.0-rc2
  SCYLLA-VERSION-GEN
Owners: none

test/cqlpy: comment out Cassandra check that is no longer relevant
  test/cqlpy/cassandra_tests/validation/operations/alter_test.py
  test/cqlpy/suite.yaml
Owners: @nyh

alternator: add alternator_warn_authorization config
  alternator/controller.cc
  alternator/executor.cc
  alternator/executor.hh
  alternator/server.cc
  alternator/server.hh
  alternator/stats.cc
  alternator/stats.hh
  alternator/streams.cc
  alternator/ttl.cc
  db/config.cc
  db/config.hh
Owners: @nyh

docs/alternator: explain alternator_warn_authorization
  docs/alternator/compatibility.md
Owners: @annastuchlik, @tzach, @nyh

test/alternator: tests for new auth failure metrics and log messages
  test/alternator/test_logs.py
  test/alternator/test_metrics.py
Owners: @nyh

secondary index: translate test_indexing_paging_and_aggregation to Python
  test/boost/secondary_index_test.cc
  test/cqlpy/test_secondary_index.py
Owners: @nyh, @piodul

raft topology: disable schema pulls in the Raft-based recovery procedure
  service/raft/raft_group0.cc
Owners: none

test: test_raft_recovery_entry_loss: fix the typo in the test case name
  test/cluster/test_raft_recovery_entry_loss.py
Owners: none

test: verify that schema pulls are disabled in the Raft-based recovery procedure
  test/cluster/test_raft_recovery_entry_loss.py
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
