Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

skip streaming empty sets
  sstables_loader.cc
Owners: none

prepare tablet_sstable_streamer to accept new arguments during construction
  sstables_loader.cc
  sstables_loader.hh
Owners: none

fix tablet_sstable_streamer's constructor formatting
  sstables_loader.cc
Owners: none

storage_service: fix the remove_node operations
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

service/storage_service: Mark nodes excluded on shard0
  service/storage_service.cc
Owners: @tgrabiec, @asias

locator/token_metadata: Remove get_host_id()
  locator/token_metadata.hh
Owners: none

add ability to download fully contained sstables
  sstables_loader.cc
Owners: none

system.clients: add CLIENT_OPTIONS value
  client_data.hh
  db/virtual_tables.cc
  service/client_state.hh
  transport/server.cc
Owners: none

node_ops: Drop redundant get_status_helper()
  node_ops/task_manager_module.cc
  node_ops/task_manager_module.hh
Owners: none

storage_service: Drop dependency in topology_state_machine.hh in the header
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

node_ops: Drop get_pending_ids()
  node_ops/task_manager_module.cc
Owners: none

vector_search: Fix ANN query abort on CQL timeout
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
  test/vector_search/vector_store_client_test.cc
  test/vector_search/vs_mock_server.hh
  vector_search/client.cc
Owners: none

vector_search: Reduce connection and keep-alive timeouts
  test/vector_search/client_test.cc
  test/vector_search/utils.hh
  test/vector_search/vector_store_client_test.cc
  vector_search/client.cc
  vector_search/utils.hh
Owners: none

refactor the client_options column to be a map<text, text>.
  client_data.hh
  db/virtual_tables.cc
  service/client_state.hh
  transport/server.cc
Owners: none

mv: unify self-pairing and rack-aware pairing into one bool
  db/view/view.cc
  db/view/view.hh
  test/boost/network_topology_strategy_test.cc
Owners: @nyh, @piodul

mv: split out vnode pairing code from get_view_natural_endpoint
  db/view/view.cc
Owners: @nyh, @piodul

add ability to download fully contained sstables
  sstables_loader.cc
Owners: none

wip test
  test/cluster/object_store/test_backup.py
Owners: none

wip
  sstables/sstables.cc
  sstables/sstables.hh
  sstables_loader.cc
Owners: @tgrabiec, @raphaelsc

Revert "Merge 'db/config: enable `ms` sstable format by default' from Michał Chojnowski"
  api/api-doc/system.json
  api/system.cc
  conf/scylla.yaml
  test/cluster/dtest/bypass_cache_test.py
  test/cluster/dtest/ccmlib/scylla_node.py
  test/cluster/dtest/dtest_class.py
  test/cluster/dtest/dtest_setup.py
  test/cluster/object_store/test_backup.py
  test/cqlpy/test_tools.py
  test/pylib/scylla_cluster.py
  test/rest_api/test_system.py
Owners: @nyh

test: Reuse S3 fixtures facilities in cqlpy/test_tools.py
  test/cluster/object_store/conftest.py
  test/cqlpy/test_tools.py
Owners: @nyh

storage_manager: Split get_endpoint_client()
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
Owners: @tgrabiec, @raphaelsc

storage_manager: Introduce get_endpoint_type() method
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
Owners: @tgrabiec, @raphaelsc

sstables_loader: Provide endpoint type for get_sstables_from_object_store()
  replica/distributed_loader.cc
  replica/distributed_loader.hh
  sstables_loader.cc
Owners: none

db/batchlog_manager: improve replayAllFailedBatches logs
  db/batchlog_manager.cc
Owners: @elcallio

db/batchlog_manager: finish coroutinizing replay_all_failed_batches
  db/batchlog_manager.cc
Owners: @elcallio

test/cluster: fix missing racks in xfailing Alternator test
  test/cluster/test_alternator.py
Owners: none

s3_client: handle additional transient network errors
  utils/s3/aws_error.cc
Owners: none

mv: replace the simple/complex rack-aware pairing with exact rack matching
  db/view/view.cc
  test/boost/network_topology_strategy_test.cc
Owners: @nyh, @piodul

sstable: Shuffle args for s3_client_wrapper
  sstables/object_storage_client.cc
Owners: @tgrabiec, @raphaelsc

sstables_loader: Provide endpoint type for get_sstables_from_object_store()
  replica/distributed_loader.cc
  replica/distributed_loader.hh
  sstables_loader.cc
Owners: none

test: Add named constants for test_get_object_store_endpoints endpoint names
  test/cluster/object_store/test_basic.py
Owners: none

test: Reuse S3 fixtures facilities in cqlpy/test_tools.py
  test/cluster/object_store/conftest.py
  test/cqlpy/test_tools.py
Owners: @nyh

s3/storage: Tune config updating
  sstables/object_storage_client.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: @tgrabiec, @raphaelsc

storage_manager: Split get_endpoint_client()
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
Owners: @tgrabiec, @raphaelsc

storage_manager: Introduce get_endpoint_type() method
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
Owners: @tgrabiec, @raphaelsc

db/batchlog_manager: batch(): replace map_reduce() with simple loop
  db/batchlog_manager.cc
Owners: @elcallio

alternator: refactor describe_streams
  alternator/executor.hh
  alternator/streams.cc
Owners: @nyh

alternator: improve test utility functions
  test/alternator/test_streams.py
  test/alternator/util.py
Owners: @nyh

alternator: add system_keyspace reference
  alternator/controller.cc
  alternator/controller.hh
  alternator/executor.cc
  alternator/executor.hh
  main.cc
Owners: @nyh

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
