Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

sstable_cleanup_fiber: use coroutine::parallel_for_each
  service/storage_service.cc
Owners: @tgrabiec, @asias

topology_coordinator: small start_cleanup refactoring
  service/topology_coordinator.cc
  service/topology_mutation.cc
  service/topology_mutation.hh
Owners: @tgrabiec

storage_service: rebrand cleanup_fiber to vnodes_cleanup_fiber
  service/storage_service.cc
  service/storage_service.hh
  test/cluster/test_automatic_cleanup.py
Owners: @tgrabiec, @asias

storage_service: sstable_cleanup_fiber: move flush_all_tables out of the group0 lock
  service/storage_service.cc
Owners: @tgrabiec, @asias

topology_coordinator: barrier before cleanup
  service/topology_coordinator.cc
Owners: none

global_token_metadata_barrier: add fenced flag
  service/topology_coordinator.cc
Owners: none

storage_proxy: use run_fenceable_write
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

test_automatic_cleanup: add test_cleanup_waits_for_stale_writes
  replica/database.cc
  service/topology_coordinator.cc
  test/cluster/test_automatic_cleanup.py
Owners: none

storage_proxy: introduce run_fenceable_write
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

storage_proxy: move post fence check into handle_write
  service/storage_proxy.cc
Owners: @gleb-cloudius

storage_proxy: move fencing into mutate_counter_on_leader_and_replicate
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

test_automatic_cleanup: clean it up
  test/cluster/test_automatic_cleanup.py
  test/pylib/rest_client.py
Owners: none

storage_proxy: fix start_write() operation scope in apply_locally
  service/storage_proxy.cc
Owners: @gleb-cloudius

storage_proxy: rename await_pending_writes -> await_stale_pending_writes
  service/storage_proxy.hh
  service/storage_service.cc
Owners: @gleb-cloudius, @tgrabiec, @asias

storage_proxy::handle_read: add fence check before get_schema
  service/storage_proxy.cc
Owners: @gleb-cloudius

storage_proxy: move update_fence_version from shared_token_metadata
  locator/token_metadata.cc
  locator/token_metadata.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
  service/storage_service.cc
Owners: @gleb-cloudius, @tgrabiec, @asias

test_fencing: fix due to new version increment
  test/cluster/test_fencing.py
Owners: none

storage_proxy: abstract_write_response_handler: apply_locally: extract post fence check
  service/storage_proxy.cc
Owners: @gleb-cloudius

storage_proxy: wait for closing sessions in sstable cleanup fiber
  service/storage_service.cc
Owners: @tgrabiec, @asias

Fix spelling errors
  cdc/log.cc
  main.cc
  service/storage_service.hh
  sstables/object_storage_client.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec, @asias, @raphaelsc

alternator: Support `tablets_mode_for_new_keyspaces` config flag
  alternator/executor.cc
Owners: @nyh

alternator: Update doc regarding tablets support
  docs/alternator/new-apis.md
Owners: @annastuchlik, @tzach, @nyh

alternator: test_tablets.py handles new policy reg. tablets
  test/alternator/test_tablets.py
Owners: @nyh

alternator: Fix tag name to request vnodes
  alternator/executor.cc
  test/alternator/test_cql_rbac.py
  test/alternator/test_metrics.py
  test/alternator/test_streams.py
  test/alternator/test_ttl.py
  test/cluster/mv/tablets/test_mv_tablets.py
  test/cluster/test_alternator.py
Owners: @nyh

alternator: Fix test name clash in test_tablets.py
  test/alternator/test_tablets.py
Owners: @nyh

alternator: Remove obsolete test from test_table.py
  test/alternator/test_table.py
Owners: @nyh

alternator: Don't require vnodes for TTL tests
  test/alternator/test_cql_rbac.py
  test/alternator/test_metrics.py
Owners: @nyh

scrub: add support for dropping unfixable sstables in segregate mode
  api/api-doc/storage_service.json
  api/storage_service.cc
  compaction/compaction.cc
  compaction/compaction.hh
  compaction/compaction_descriptor.hh
  compaction/compaction_manager.cc
  test/boost/sstable_compaction_test.cc
  tools/scylla-nodetool.cc
Owners: @raphaelsc, @denesb

test/nodetool: add scrub drop-unfixable-sstables option testcase
  test/nodetool/test_scrub.py
Owners: none

sstable_compaction_test: add segregate mode tests for drop-unfixable-sstables option
  test/boost/sstable_compaction_test.cc
Owners: none

test.py: rewrite the wait_for_first_completed
  test/cluster/test_different_group0_ids.py
  test/cluster/test_hints.py
  test/cluster/test_long_query_timeout_erm.py
  test/cluster/test_tablets.py
  test/cluster/test_topology_upgrade_stuck.py
  test/pylib/util.py
Owners: none

doc: add support for Debian 12
  docs/_static/data/os-support.json
Owners: none

doc: add support for Debian 12
  docs/_static/data/os-support.json
Owners: none

group0_state_id_handler: consider state IDs of all non-ignored topology members
  service/raft/group0_state_id_handler.cc
  service/raft/group0_state_id_handler.hh
  service/raft/group0_state_machine.cc
Owners: none

group0_state_id_handler: remove unused group0_server_accessor
  service/raft/group0_state_id_handler.cc
  service/raft/group0_state_id_handler.hh
  service/raft/group0_state_machine.cc
  service/raft/group0_state_machine.hh
  service/raft/raft_group0.cc
Owners: none

doc: add support for Debian 12
  docs/_static/data/os-support.json
Owners: none

group0_state_id_handler: consider state IDs of all non-ignored topology members
  service/raft/group0_state_id_handler.cc
  service/raft/group0_state_id_handler.hh
  service/raft/group0_state_machine.cc
Owners: none

group0_state_id_handler: remove unused group0_server_accessor
  service/raft/group0_state_id_handler.cc
  service/raft/group0_state_id_handler.hh
  service/raft/group0_state_machine.cc
  service/raft/group0_state_machine.hh
  service/raft/raft_group0.cc
Owners: none

doc: add support for Debian 12
  docs/_static/data/os-support.json
Owners: none

test: test group0 tombstone GC in the Raft-based recovery procedure
  test/cluster/test_tombstone_gc.py
Owners: none
