Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

service/storage_service: drain `view_building_worker` earlier
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  test/lib/cql_test_env.cc
Owners: @tgrabiec, @asias

everywhere: convert clear_gently of smart pointers to reset_gently
  locator/abstract_replication_strategy.cc
  locator/tablets.cc
  locator/token_metadata.cc
  service/storage_service.cc
  test/boost/stall_free_test.cc
  utils/stall_free.hh
Owners: @tgrabiec, @asias

sstables: skip bloom filter rebuilds with minimal savings
  sstables/sstables.cc
  test/boost/bloom_filter_test.cc
Owners: @tgrabiec, @raphaelsc

gossiper: ensure gossiper operations are executed in gossiper scheduling group
  gms/gossiper.cc
Owners: @tgrabiec, @asias, @kbr-scylla

scrub: skip sstable on malformed sstable exception in skip mode
  compaction/compaction.cc
Owners: @raphaelsc

sstables/mx/writer: detect empty sstable at the end of stream
  sstables/mx/writer.cc
Owners: none

compaction: handle empty output sstables
  compaction/compaction.cc
Owners: @raphaelsc

sstable_compaction_test: add scrub tests for malformed SSTables
  test/boost/sstable_compaction_test.cc
Owners: none

test: add tests for VECTOR_SEARCH_INDEXING permission
  test/boost/cql_auth_query_test.cc
Owners: none

configure: increase SCHEDULING_GROUPS_COUNT to 20
  CMakeLists.txt
  configure.py
  test/cluster/auth_cluster/test_raft_service_levels.py
  test/cqlpy/test_service_levels.py
Owners: @nyh

docs: adjust docs for VS auth changes
  docs/features/workload-prioritization.rst
  docs/operating-scylla/security/authorization.rst
Owners: none

test: speed up test_long_query_timeout_erm
  test/cluster/test_long_query_timeout_erm.py
Owners: none

test: perf: add perf-cql-raw benchmarking tool
  configure.py
  main.cc
  test/perf/CMakeLists.txt
  test/perf/entry_point.hh
  test/perf/perf.cc
  test/perf/perf.hh
  test/perf/perf_alternator.cc
  test/perf/perf_cql_raw.cc
Owners: none

Fetch distances from ANN
  cql3/statements/select_statement.cc
  service/vector_store_client.cc
  service/vector_store_client.hh
  test/boost/vector_store_client_test.cc
Owners: none

test: fix test_one_big_mutation_corrupted_on_startup
  test/cluster/dtest/tools/files.py
Owners: none

test: cleanup big mutation commitlog tests
  test/cluster/dtest/commitlog_test.py
Owners: none

test: cluster: test replica exceptions - test rate limit exceptions
  service/storage_proxy.cc
  test/cluster/test_replica_exceptions.py
Owners: @gleb-cloudius

test: cluster: test replica exceptions - database apply timeout
  replica/database.cc
  test/cluster/test_replica_exceptions.py
Owners: none

test: cluster: test replica exceptions - `apply_counter_update` timeout
  replica/database.cc
  test/cluster/test_replica_exceptions.py
Owners: none

service/client_data: add webshell client_type
  client_data.cc
  client_data.hh
Owners: none

tools/scylla-sstable: add std::ostream& arg to query result printers
  tools/scylla-sstable.cc
Owners: @denesb

db/config: add webshell configuration items
  db/config.cc
  db/config.hh
Owners: none

cql3/query_result_printer: improve handling of null values
  cql3/result_set.cc
Owners: @tgrabiec, @nuivall, @ptrsmrn

tools/scylla-sstable: extract query result printers
  cql3/query_result_printer.hh
  cql3/result_set.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @nuivall, @ptrsmrn, @denesb

build: add resource support
  configure.py
  resources.hh
  scripts/resources.py
Owners: none

tools/webshell: introduce webshell skeleton
  configure.py
  main.cc
  tools/webshell/webshell.cc
  tools/webshell/webshell.hh
Owners: none

tools/webshell: implement the login handler
  tools/webshell/webshell.cc
Owners: none

tools/webshell: implement logout handler
  tools/webshell/webshell.cc
Owners: none

test/cqlpy: add test_webshell.py
  test/cqlpy/run.py
  test/cqlpy/test_webshell.py
Owners: @nyh

tools/webshell: implement the command handler
  tools/webshell/webshell.cc
Owners: none

tools/webshell: add endpoint handlers and setup routes
  tools/webshell/webshell.cc
Owners: none

tools/webshell: implement the query handler
  tools/webshell/webshell.cc
Owners: none

tools/webshell: implement the resource_handler
  configure.py
  tools/webshell/resources/favicon.ico
  tools/webshell/resources/webshell.html
  tools/webshell/resources/webshell.js
  tools/webshell/webshell.cc
  tools/webshell/webshell.resources
Owners: none

set ssl_* columns in system.clients
  generic_server.cc
  generic_server.hh
  test/cqlpy/test_ssl.py
  transport/server.cc
Owners: @nyh

treewide: fix spelling errors
  compaction/compaction_manager.cc
  db/view/view_building_coordinator.cc
  db/view/view_building_worker.cc
  docs/dev/tombstone.md
  docs/dev/view-building-coordinator.md
  ent/encryption/kms_host.cc
  ent/encryption/symmetric_key.cc
  replica/database.cc
  service/topology_coordinator.cc
  sstables/trie/common.hh
  sstables/trie/node_reader.hh
  test/alternator/test_gsi.py
  test/cluster/dtest/commitlog_test.py
  utils/rest/client.hh
Owners: @raphaelsc, @nyh, @piodul

Small grammatical changes
  docs/features/local-secondary-indexes.rst
Owners: none

repair: Fix repair_row_level_stop verb idl
  idl/repair.idl.hh
Owners: none

docs/operating-scylla/admin-tools: add webshell.rst
  docs/operating-scylla/_common/tools_index.rst
  docs/operating-scylla/admin-tools/index.rst
  docs/operating-scylla/admin-tools/webshell.rst
Owners: none

index, metrics: add per-index metrics
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
  index/secondary_index_manager.cc
  index/secondary_index_manager.hh
Owners: @nyh, @piodul

test/cluster: allow creating space limited servers with custom topology
  test/storage/conftest.py
  test/storage/test_out_of_space_prevention.py
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
