Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

test/pylib/tablets: common get_tablet_count api
  test/cluster/mv/tablets/test_mv_tablets.py
  test/cluster/test_tablets2.py
  test/cluster/test_tablets_merge.py
  test/pylib/tablets.py
Owners: none

test/pylib/tablets: fix test api to read tablet replicas from base table
  test/pylib/manager_client.py
  test/pylib/tablets.py
Owners: none

tablet-mon.py: visual indication for co-located tablets
  scripts/tablet-mon.py
Owners: none

test/boost/view_schema_test.cc: fix race in wait_until_built
  test/boost/view_schema_test.cc
Owners: @nyh, @piodul

test/tablets: test tablets colocation
  test/cluster/test_tablets_colocation.py
Owners: none

api: return error from get_host_id_map if gossiper is not enabled yet.
  api/token_metadata.cc
Owners: none

storage_service: Use utils::chunked_vector to avoid big allocation
  db/virtual_tables.cc
  locator/util.cc
  locator/util.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @gleb-cloudius, @tgrabiec, @asias

test.py: Fix test result are overwritten
  test.py
Owners: none

test: Add test for query execution during CQL server shutdown
  service/storage_proxy.cc
  test/cluster/test_write_query_during_cql_server_shutdown.py
Owners: @gleb-cloudius

generic_server: add `shutdown_input` and `shutdown_output` functions to 'connectiton` class.
  generic_server.cc
  generic_server.hh
Owners: none

generic_server: refactor connection::shutdown to use `shutdown_input` and `shutdown_output`
  generic_server.cc
Owners: none

generic_server: replace empty destructor with `= default`
  generic_server.cc
  generic_server.hh
Owners: none

generic_server: Two-step connection shutdown.
  generic_server.cc
  generic_server.hh
  test/cluster/test_write_query_during_cql_server_shutdown.py
Owners: none

Do not perform blkdiscard by default on the disks during RAID setup.
  dist/common/scripts/scylla_raid_setup
Owners: none

build: update toolchain to Fedora 42 with clang 20.1 and libstdc++ 15
  install-dependencies.sh
  tools/toolchain/Dockerfile
  tools/toolchain/image
  tools/toolchain/optimized_clang.sh
Owners: none

test.py: Fix the boost output file name
  test/pylib/cpp/boost/boost_facade.py
Owners: none

test.py: Fix the boost output file name
  test/pylib/cpp/boost/boost_facade.py
Owners: none

api: return error from get_host_id_map if gossiper is not enabled yet.
  api/token_metadata.cc
Owners: none

doc: improve the tablets limitations section
  docs/architecture/tablets.rst
Owners: none

test/cqlpy: fix run-cassandra script to ignore CASSANDRA_HOME
  test/cqlpy/run-cassandra
Owners: @nyh

compaction_manager: cancel submission timer on drain
  compaction/compaction_manager.cc
  test/boost/database_test.cc
Owners: @raphaelsc

group0: modify `start_operation` logic to account for synchronize phase race condition
  service/raft/raft_group0.cc
  service/raft/raft_group0_client.cc
  test/cluster/test_view_build_status.py
Owners: none

replica/memtable: move region_listener handlers from dirty_memory_manager to memtable
  replica/dirty_memory_manager.hh
  replica/memtable.cc
  replica/memtable.hh
  test/boost/dirty_memory_manager_test.cc
Owners: none

memtable: ensure _flushed_memory doesn't grow above total memory usage
  replica/memtable.cc
  replica/memtable.hh
Owners: none

db/system_keyspace: introduce the corrupt_data table
  db/system_keyspace.cc
  db/system_keyspace.hh
  docs/dev/system_keyspace.md
Owners: none

db/system_keyspace: add apply_mutation()
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none

idl: extract full_position.idl from position_in_partition.idl
  configure.py
  idl/CMakeLists.txt
  idl/full_position.idl.hh
  idl/position_in_partition.idl.hh
  idl/storage_proxy.idl.hh
Owners: none

idl-compiler.py: generate skip() definition for enums serializers
  idl-compiler.py
Owners: none

mutation/mutation_partition_view: extract de-ser of {clustering,static} row
  mutation/mutation_partition_view.cc
Owners: @tgrabiec

mutation/mutation_partition_view: read_{clustering,static}_row(): return row type
  mutation/mutation_partition_view.cc
Owners: @tgrabiec

mutation: introduce frozen_mutation_fragment_v2
  idl/mutation.idl.hh
  mutation/frozen_mutation.hh
  mutation/mutation_partition_serializer.cc
  mutation/mutation_partition_view.cc
Owners: @tgrabiec

db: introduce corrupt_data_handler
  configure.py
  db/CMakeLists.txt
  db/corrupt_data_handler.cc
  db/corrupt_data_handler.hh
Owners: none

sstables: add corrupt_data_handler to sstables::sstables
  replica/database.cc
  replica/database.hh
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  test/lib/sstable_test_env.hh
  test/lib/test_services.cc
  tools/read_mutation.hh
  tools/schema_loader.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

test/lib/cql_assertions: introduce columns_assertions
  test/lib/cql_assertions.cc
  test/lib/cql_assertions.hh
Owners: none

sstables/mx/writer: handler rows with empty keys
  sstables/mx/writer.cc
  test/boost/sstable_datafile_test.cc
Owners: none

compound: optimize is_full() for single-component types
  compound.hh
Owners: none

mutation: check key of inserted rows
  mutation/mutation_partition.cc
  mutation/mutation_partition.hh
  mutation/mutation_partition_v2.cc
  test/boost/mutation_test.cc
  test/boost/row_cache_test.cc
Owners: @tgrabiec

replica: hold compaction state gate
  compaction/compaction_manager.hh
  replica/table.cc
Owners: @raphaelsc

api: return error from get_host_id_map if gossiper is not enabled yet.
  api/token_metadata.cc
Owners: none

api: return error from get_host_id_map if gossiper is not enabled yet.
  api/token_metadata.cc
Owners: none
