Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

doc: clarify RF increase issues for tablets vs. vnodes
  docs/kb/rf-increase.rst
Owners: none

utils/stream_compressor: allocate memory for zstd compressors externally
  utils/stream_compressor.cc
  utils/stream_compressor.hh
Owners: none

doc: update migration tools overview
  docs/using-scylla/mig-tool-review.rst
Owners: none

doc: update migration tools overview
  docs/using-scylla/mig-tool-review.rst
Owners: none

test_mv_tablets_replace: wait for tablet replicas to balance before working on them
  test/topology_custom/test_mv_tablets_replace.py
Owners: none

mutation/mutation_compactor: cache regular/shadowable max-purgable in separate members
  mutation/mutation_compactor.hh
  test/boost/mutation_test.cc
Owners: @tgrabiec

test/boost/tablets_test.cc: Explicitly disable rf_rack_valid_keyspaces in problematic tests
  test/boost/tablets_test.cc
Owners: none

test/lib/cql_test_env.cc: Enable rf_rack_valid_keyspaces by default
  test/lib/cql_test_env.cc
Owners: none

test.py: allow cmake configuration and ./configure.py configuration to coexist
  test/__init__.py
  test/pylib/util.py
Owners: none

transport: move cql connections counting into connection class ctor/dtor
  redis/server.cc
  transport/server.cc
Owners: @syuu1228

transport: move new connection trace logs into connection class ctor/dtor
  transport/server.cc
Owners: none

generic_server: make shutdown() return void
  generic_server.cc
  generic_server.hh
Owners: none

generic_server: skip connection processing logic after shedding the connection
  generic_server.cc
Owners: none

transport: generic_server: remove no longer used connection advertising code
  generic_server.cc
  generic_server.hh
  redis/server.cc
  redis/server.hh
  transport/server.cc
  transport/server.hh
Owners: @syuu1228

db: add class encapsulating schema merging
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

db: replica: decouple keyspace schema change notifications to a separate function
  db/schema_applier.cc
  db/schema_applier.hh
  replica/database.cc
  replica/database.hh
Owners: @tgrabiec

replica: split update keyspace into two phases
  replica/database.cc
  replica/database.hh
Owners: none

service: unify keyspace notification functions arguments
  db/schema_applier.cc
  service/migration_listener.hh
  service/migration_manager.cc
Owners: @tgrabiec

db: store functions and aggregates change batch in schema_applier
  cql3/functions/functions.hh
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

db: decouple tables and views schema change notifications from merging code
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

db: store tables and views schema diff in schema_applier
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

db: rename create_keyspace_from_schema_partition
  db/schema_applier.cc
  db/schema_tables.cc
  db/schema_tables.hh
  replica/database.cc
Owners: @tgrabiec

db: decouple user type schema change notifications from types merging code
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

db: decouple functions and aggregates schema change notification from merging code
  db/schema_applier.cc
Owners: @tgrabiec

replica: split creating keyspace into two functions
  replica/database.cc
  replica/database.hh
Owners: none

replica: make non-preemptive keyspace create/update/delete functions public
  replica/database.cc
  replica/database.hh
Owners: none

test/cqlpy: remove xfail and add more vector tests
  test/cqlpy/test_vector_index.py
Owners: @nyh

vector_index: add custom index and vector index classes
  configure.py
  cql3/statements/create_index_statement.cc
  index/CMakeLists.txt
  index/secondary_index_manager.cc
  index/secondary_index_manager.hh
  index/vector_index.cc
  index/vector_index.hh
Owners: @nyh, @piodul

vector_index: allow options when custom class is provided
  cql3/statements/index_prop_defs.cc
Owners: @nyh, @piodul

doc: clarify RF increase issues for tablets vs. vnodes
  docs/kb/rf-increase.rst
Owners: none

dist/docker/debian/build_docker.sh: add scylla-server-dbg
  dist/docker/debian/build_docker.sh
Owners: none

view_info: move base-dependent variables into base_info
  db/view/view.cc
  db/view/view.hh
  view_info.hh
Owners: @nyh, @piodul

view_info: move computation of view pk columns not in base pk to view_updates
  db/view/view.cc
  db/view/view.hh
Owners: @nyh, @piodul

alter_table_statement: fix renaming multiple columns in tables with views
  cql3/statements/alter_table_statement.cc
  cql3/util.cc
  cql3/util.hh
  test/cqlpy/test_materialized_view.py
Owners: @tgrabiec, @nuivall, @ptrsmrn, @nyh

view_info: set base info on construction
  alternator/executor.cc
  cql3/statements/alter_table_statement.cc
  cql3/statements/alter_table_statement.hh
  cql3/statements/create_view_statement.cc
  db/schema_applier.cc
  db/schema_tables.cc
  db/schema_tables.hh
  db/view/view.cc
  frozen_schema.cc
  frozen_schema.hh
  index/secondary_index_manager.cc
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
  schema/schema_registry.cc
  test/boost/cql_query_test.cc
  test/boost/schema_registry_test.cc
  tools/schema_loader.cc
  view_info.hh
Owners: @nyh, @piodul, @tgrabiec, @denesb

view_info: move the base info to a separate header
  db/view/base_info.hh
  db/view/view.hh
Owners: @nyh, @piodul

base_info: make members non-const
  db/view/base_info.hh
Owners: @nyh, @piodul

base_info: remove base_info snapshot semantics
  db/view/view.cc
  db/view/view.hh
  db/view/view_update_generator.cc
  db/view/view_update_generator.hh
  replica/table.cc
Owners: @nyh, @piodul

view_info: don't re-set base_info after construction
  db/schema_applier.cc
  db/view/view.cc
  replica/database.cc
  replica/table.cc
  schema/schema.cc
  schema/schema_registry.cc
  schema/schema_registry.hh
  test/boost/schema_registry_test.cc
  view_info.hh
Owners: @tgrabiec, @nyh, @piodul

base_info: remove base schema from the base_info
  db/view/base_info.hh
  db/view/view.cc
  db/view/view.hh
  schema/schema.cc
  schema/schema_registry.cc
  schema/schema_registry.hh
  view_info.hh
Owners: @nyh, @piodul, @tgrabiec
