Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

types/comparable_bytes: support bigint cql3 type
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

bytes_ostream: overload write() to support writing from FragmentedView
  bytes_ostream.hh
  test/boost/bytes_ostream_test.cc
Owners: none

types: introduce comparable_bytes class
  test/boost/CMakeLists.txt
  test/boost/comparable_bytes_test.cc
  types/CMakeLists.txt
  types/comparable_bytes.cc
  types/comparable_bytes.hh
Owners: none

types/comparable_bytes: support fixed length signed integers
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support date, time and timestamp cql3 types
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

doc: remove copyright from Cassandra Stress
  docs/operating-scylla/admin-tools/cassandra-stress.rst
Owners: none

doc: remove the redundant pages
  docs/_utils/redirects.yaml
  docs/contribute.rst
  docs/getting-started/index.rst
  docs/getting-started/tutorials.rst
  docs/index.rst
Owners: @annastuchlik, @tzach

cql_test_env: main: move stream_manager initialization
  main.cc
  test/lib/cql_test_env.cc
Owners: none

encryption_test: Catch exact exception
  test/boost/encryption_at_rest_test.cc
Owners: none

doc: clarify RF increase issues for tablets vs. vnodes
  docs/kb/rf-increase.rst
Owners: none

Revert "encryption_test: Catch exact exception"
  test/boost/encryption_at_rest_test.cc
Owners: none

Revert "encryption_test: Catch exact exception"
  test/boost/encryption_at_rest_test.cc
Owners: none

doc: fix the product name for version 2025.1 (on branch-2025.1)
  docs/getting-started/os-support.rst
Owners: none

repair: postpone repair until topology is not busy
  repair/repair.cc
Owners: @tgrabiec, @asias

test: add test for repair and resize finalization
  repair/repair.cc
  service/topology_coordinator.cc
  test/cluster/test_tablets.py
Owners: @tgrabiec, @asias

test: add config for OpenSearch tests
  test/cluster/conftest.py
  test/cluster/test_opensearch.py
  test/pylib/suite/base.py
Owners: none

test/pylib: add OpenSearch cluster manager
  test/pylib/opensearch_cluster.py
  test/pylib/resources/opensearch.yml
Owners: none

index: valdiate vector_index options
  index/secondary_index_manager.cc
  index/secondary_index_manager.hh
Owners: @nyh, @piodul

test/cqlpy: remove xfail from vector tests
  test/cqlpy/test_vector_index.py
Owners: @nyh

dependencies: add OpenSearch dependency
  install-dependencies.sh
Owners: none

test.py: add the possibility to create a test alike object
  test/pylib/cpp/util.py
  test/pylib/resource_gather.py
Owners: none

test.py: unify using constant for finding repo root directory
  test/pylib/cpp/boost/boost_facade.py
  test/pylib/cpp/unit/unit_facade.py
Owners: none

test.py: refactor run_process in facade.py
  test/pylib/cpp/boost/boost_facade.py
  test/pylib/cpp/facade.py
  test/pylib/cpp/unit/unit_facade.py
Owners: none

test.py: move run_process to resource_gather.py
  test/pylib/cpp/boost/boost_facade.py
  test/pylib/cpp/facade.py
  test/pylib/cpp/unit/unit_facade.py
  test/pylib/resource_gather.py
Owners: none

test.py: fix metrics DB location
  test/pylib/resource_gather.py
Owners: none

test.py: attach output of the boost test to the report
  test/pylib/cpp/boost/boost_facade.py
  test/pylib/cpp/unit/unit_facade.py
Owners: none

test.py: add support for boost_data_test_case in combined tests
  test/pylib/cpp/boost/boost_facade.py
Owners: none

test.py: add missing parameter for boost tests for pytest runner
  test/pylib/cpp/boost/boost_facade.py
Owners: none

test.py: clean log files after a successful run
  test/pylib/cpp/boost/boost_facade.py
  test/pylib/cpp/unit/unit_facade.py
Owners: none

test.py: dtest: initialize default config in dtest setup fixture
  test/cluster/dtest/conftest.py
Owners: none

test.py: dtest: name nodes in cluster using index starting from 1
  test/cluster/dtest/ccmlib/scylla_cluster.py
  test/cluster/dtest/ccmlib/scylla_node.py
Owners: none

test.py: dtest: set default wait_seconds based on build mode
  test/cluster/dtest/ccmlib/scylla_node.py
Owners: none

test.py: dtest: copy unmodified bypass_cache_test.py
  test/cluster/dtest/bypass_cache_test.py
  test/cluster/suite.yaml
Owners: none

test.py: dtest: add missed ScyllaCluster.nodetool()
  test/cluster/dtest/ccmlib/scylla_cluster.py
Owners: none

test.py: dtest: make bypass_cache_test.py run using test.py
  test/cluster/dtest/bypass_cache_test.py
  test/cluster/dtest/tools/data.py
  test/cluster/dtest/tools/metrics.py
  test/cluster/suite.yaml
  test/pytest.ini
Owners: none

test: dtest: copy unmodified audit_test.py from dtests
  test/cluster/dtest/audit_test.py
  test/cluster/suite.yaml
Owners: none

test: dtest: copy assert_invalid from dtests
  test/cluster/dtest/tools/assertions.py
Owners: none

test: dtest: copy data.py from dtests
  test/cluster/dtest/tools/data.py
Owners: none

test: dtest: add run_rest_api to cluster.py
  test/cluster/dtest/tools/cluster.py
Owners: none

test: dtest: fix problems in audit_test.py
  test/cluster/dtest/audit_test.py
  test/cluster/suite.yaml
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
