Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

wip
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

repair: postpone repair until topology is not busy
  repair/repair.cc
Owners: @tgrabiec, @asias

test: add test for repair and resize finalization
  repair/repair.cc
  service/topology_coordinator.cc
  test/cluster/test_tablets.py
Owners: @tgrabiec, @asias

generic_server: fix connections semaphore config observer
  generic_server.cc
  generic_server.hh
Owners: none

utils: don't allow do discard updateable_value observer
  utils/updateable_value.hh
Owners: none

test.py: Integrate pytest c++ test execution to test.py
  test.py
Owners: none

test.py: clean code that isn't used anymore
  test.py
  test/boost/CMakeLists.txt
  test/ldap/CMakeLists.txt
  test/pylib/cpp/ldap/__init__.py
  test/pylib/suite/__init__.py
  test/pylib/suite/boost.py
  test/pylib/suite/ldap.py
  test/pylib/suite/unit.py
  test/raft/CMakeLists.txt
  test/unit/CMakeLists.txt
Owners: @kbr-scylla, @gleb-cloudius, @kostja

test.py: switch off C++ tests from test.py discovery
  test.py
  test/boost/test_config.yaml
  test/ldap/test_config.yaml
  test/pylib/cpp/common_cpp_conftest.py
  test/raft/test_config.yaml
  test/unit/test_config.yaml
Owners: @kbr-scylla, @gleb-cloudius, @kostja

tablet: Add sstables_repaired_at to system.tablets table
  replica/tablet_mutation_builder.hh
  replica/tablets.cc
Owners: @tgrabiec

test: Fix drain api in task_manager_client.py
  test/cluster/tasks/task_manager_client.py
Owners: none

doc: Add sstables_repaired_at to system_keyspace.md
  docs/dev/system_keyspace.md
Owners: none

sstables: Add set_repaired_at to metadata_collector
  sstables/metadata_collector.hh
Owners: @tgrabiec, @raphaelsc

mutation_compactor: Introduce add operator to compaction_stats
  mutation/mutation_compactor.hh
Owners: @tgrabiec

compaction_manager: Add range_and_repaired_at struct
  compaction/compaction_manager.hh
Owners: @raphaelsc

tablets: Add sstables_repaired_at to tablet_info
  locator/tablets.cc
  locator/tablets.hh
  service/tablet_allocator.cc
Owners: none

sstable: Add being_repaired to sstable
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc

feature_service: Add TABLET_INCREMENTAL_REPAIR feature
  gms/feature_service.hh
Owners: @tgrabiec, @asias, @kbr-scylla

tablet_allocator: Add tablet_force_tablet_count_increase and decrease
  service/tablet_allocator.cc
Owners: none

repair: Add incremental helpers
  configure.py
  repair/incremental.cc
  repair/incremental.hh
Owners: @tgrabiec, @asias

locator: Intorduce initial_sstables_repaired_at_after_merge
  locator/tablets.hh
Owners: none

compaction_group: Add set_sstables_repair_at and get_sstables_repaired_at
  replica/compaction_group.hh
  replica/table.cc
Owners: none

tablets: deallocate storage state on end_migration
  locator/tablets.cc
  locator/tablets.hh
  replica/table.cc
Owners: none

test: tablets: add get_tablet_info helper
  test/pylib/tablets.py
Owners: none

test/cluster/test_tablets: test restart during tablet cleanup
  service/topology_coordinator.cc
  test/cluster/test_tablets_migration.py
Owners: none

tablets: deallocate storage state on end_migration
  locator/tablets.cc
  locator/tablets.hh
  replica/table.cc
Owners: none

test: tablets: add get_tablet_info helper
  test/pylib/tablets.py
Owners: none

sstables: Start using `make_data_or_index_source` in `sstable`
  sstables/checksummed_data_source.cc
  sstables/checksummed_data_source.hh
  sstables/compress.cc
  sstables/compress.hh
  sstables/index_reader.hh
  sstables/kl/reader.cc
  sstables/mx/partition_reversing_data_source.cc
  sstables/mx/reader.cc
  sstables/sstable_mutation_reader.hh
  sstables/sstables.cc
  sstables/sstables.hh
  test/boost/sstable_test.cc
  test/cluster/object_store/test_backup.py
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

data_sources: Handle data padding for encrypted sstables
  ent/encryption/encryption.cc
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/storage.cc
  sstables/storage.hh
Owners: @tgrabiec, @raphaelsc

DROPLATER
  utils/s3/client.cc
Owners: none

s3_client: Add missing `signal`
  utils/s3/client.cc
Owners: none

repair: Add tablet incremental repair support
  idl/repair.idl.hh
  message/messaging_service.cc
  message/messaging_service.hh
  repair/reader.hh
  repair/repair.cc
  repair/repair.hh
  repair/row_level.cc
  repair/row_level.hh
  repair/task_manager_module.hh
  repair/writer.hh
  service/storage_service.cc
  service/topology_coordinator.cc
  streaming/consumer.cc
  streaming/consumer.hh
Owners: @tgrabiec, @asias

test.py: Add tests for tablet incremental repair
  test/cluster/test_tablet_repair_scheduler.py
  test/pylib/repair.py
  test/pylib/rest_client.py
  test/pylib/scylla_cluster.py
Owners: none

docs: update system.tablets schema
  docs/dev/system_keyspace.md
Owners: none

tablets: save and read tablet metadata of co-located tables
  replica/tablets.cc
  replica/tablets.hh
Owners: none

tablets: keyspace_rf_change: apply on base table
  service/topology_coordinator.cc
Owners: none

tablets: split when all co-located tablets are ready
  service/tablet_allocator.cc
Owners: none

tablets: add base_table column to system.tablets
  docs/dev/system_keyspace.md
  replica/tablet_mutation_builder.hh
  replica/tablets.cc
Owners: @tgrabiec

tablets: represent co-located tables in tablet metadata
  locator/tablets.cc
  locator/tablets.hh
Owners: none

storage service: add repair colocated tablets rpc
  idl/storage_service.idl.hh
  message/messaging_service.cc
  message/messaging_service.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

tablets: replace all_tables method
  locator/load_sketch.hh
  locator/tablets.cc
  locator/tablets.hh
  service/storage_service.cc
  service/tablet_allocator.cc
  service/task_manager_module.cc
  test/boost/tablets_test.cc
  test/perf/tablet_load_balancing.cc
Owners: @tgrabiec, @asias

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
