Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

storage_service: abstract schema dependecies during token metadata update
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

db: schema_applier: update tablet metadata atomically
  db/schema_applier.cc
  db/schema_applier.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

service: rename prepare_tablet_metadata
  db/schema_applier.cc
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

storage_service: split replicate_to_all_cores to steps
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

db: replica: separate tables_metadata locking into separate func
  db/schema_applier.cc
  db/schema_applier.hh
  replica/database.cc
  replica/database.hh
Owners: @tgrabiec

truncate: check for closed storage group's gate in discard_sstables
  replica/table.cc
Owners: none

test: reproducer and test for drop with concurrent cleanup
  replica/table.cc
  test/cluster/test_tablets.py
Owners: none

cdc: move cdc table creation to pre_create
  cdc/log.cc
  service/migration_listener.hh
  service/migration_manager.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec

cdc: add is_log_schema helper
  cdc/log.cc
  cdc/log.hh
Owners: @kbr-scylla, @elcallio, @piodul

cdc: notify when creating or dropping cdc table
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

migration_listener: add on_before_allocate_tablet_map notification
  service/migration_listener.hh
  service/migration_manager.cc
  service/tablet_allocator.cc
Owners: @tgrabiec

cdc: add internal tables for cdc with tablets
  db/system_keyspace.cc
  db/system_keyspace.hh
  gms/feature_service.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias, @kbr-scylla

cdc: rename get_stream to get_vnode_stream
  cdc/log.cc
  cdc/metadata.cc
  cdc/metadata.hh
Owners: @kbr-scylla, @elcallio, @piodul

cdc: helper functions for reading metadata from tables
  cdc/generation.cc
  cdc/generation.hh
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: @kbr-scylla, @elcallio, @piodul

cdc: remove streams when dropping CDC table
  cdc/generation.cc
  cdc/generation.hh
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

cdc: choose stream in tablets enabled keyspaces
  cdc/log.cc
  cdc/metadata.cc
  cdc/metadata.hh
Owners: @kbr-scylla, @elcallio, @piodul

cdc: create streams when allocating tablets
  cdc/generation.cc
  cdc/generation.hh
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

cdc: load tablet streams metadata from tables
  cdc/generation.cc
  cdc/generation.hh
  cdc/generation_service.hh
  cdc/metadata.cc
  cdc/metadata.hh
  service/raft/group0_state_machine.cc
  service/storage_service.cc
  service/storage_service.hh
  test/boost/cdc_test.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec, @asias

cdc: co-locate cdc table with base
  replica/database.cc
Owners: none

topology coordinator: extend raft command result
  service/topology_coordinator.cc
Owners: none

topology coordinator: states for commit and close cdc streams
  cdc/generation.cc
  cdc/generation_service.hh
  cdc/log.cc
  cdc/metadata.cc
  cdc/metadata.hh
  idl/storage_service.idl.hh
  service/storage_service.cc
  service/topology_coordinator.cc
  service/topology_coordinator.hh
  service/topology_state_machine.cc
  service/topology_state_machine.hh
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec, @asias

cdc: generate_stream_diff helper function
  cdc/metadata.cc
  cdc/metadata.hh
  test/boost/cdc_test.cc
Owners: @kbr-scylla, @elcallio, @piodul

topology coordinator: change streams on tablet split/merge
  cdc/generation.cc
  cdc/generation_service.hh
  service/topology_coordinator.cc
Owners: @kbr-scylla, @elcallio, @piodul

cdc: cleanup of old streams for tablets
  cdc/generation.cc
  cdc/generation.hh
  cdc/generation_service.hh
  service/topology_coordinator.cc
  test/boost/cdc_test.cc
Owners: @kbr-scylla, @elcallio, @piodul

cdc: virtual tables for cdc with tablets
  cdc/generation.cc
  cdc/generation_service.hh
  db/virtual_tables.cc
  service/storage_service.cc
  service/storage_service.hh
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec, @asias

cdc: helper functions to generate cdc streams mutations
  cdc/generation.cc
  cdc/generation.hh
Owners: @kbr-scylla, @elcallio, @piodul

cdc: double write to the pending stream
  cdc/log.cc
  cdc/metadata.cc
  cdc/metadata.hh
Owners: @kbr-scylla, @elcallio, @piodul

doc: update CDC docs for tablets
  docs/architecture/tablets.rst
  docs/features/cdc/cdc-log-table.rst
  docs/features/cdc/cdc-querying-streams.rst
  docs/features/cdc/cdc-stream-changes.rst
  docs/features/cdc/cdc-streams.rst
  docs/features/cdc/index.rst
Owners: none

test/cql: enable cql cdc tests to run with tablets
  test/cql/cdc_allow_dropping_manually_created_log_test.cql
  test/cql/cdc_allow_dropping_manually_created_log_test.result
  test/cql/cdc_compact_storage_test.cql
  test/cql/cdc_compact_storage_test.result
  test/cql/cdc_delta_modes_test.cql
  test/cql/cdc_delta_modes_test.result
  test/cql/cdc_disallow_cdc_for_counters_test.cql
  test/cql/cdc_disallow_cdc_for_counters_test.result
  test/cql/cdc_disallow_materialized_view_for_cdc_log_test.cql
  test/cql/cdc_disallow_materialized_view_for_cdc_log_test.result
  test/cql/cdc_disallow_nested_cdc_logs_test.cql
  test/cql/cdc_disallow_nested_cdc_logs_test.result
  test/cql/cdc_enable_disable_test.cql
  test/cql/cdc_enable_disable_test.result
  test/cql/cdc_static_and_clustered_rows_test.cql
  test/cql/cdc_static_and_clustered_rows_test.result
  test/cql/cdc_too_short_stream_id_test.cql
  test/cql/cdc_too_short_stream_id_test.result
  test/cql/cdc_with_lwt_test.cql
  test/cql/cdc_with_lwt_test.result
Owners: @kbr-scylla, @elcallio, @piodul

test/cluster/test_cdc_with_tablets: introduce cdc with tablets tests
  test/cluster/test_cdc_with_tablets.py
Owners: none

test/cqlpy: fix cdc tests with tablets
  test/boost/cdc_test.cc
  test/cluster/test_cdc_with_alter.py
  test/cql/cdc_too_short_stream_id_test.result
  test/cqlpy/test_cdc.py
  test/cqlpy/test_describe.py
  test/cqlpy/test_permissions.py
Owners: @kbr-scylla, @elcallio, @piodul, @nyh

cdc: enable cdc with tablets
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

gossiper: check for a race condition in `do_apply_state_locally`
  gms/gossiper.cc
  test/cluster/test_gossiper_race.py
Owners: @tgrabiec, @asias, @kbr-scylla

replica/exceptions: Add a new custom replica exception
  idl/replica_exception.idl.hh
  replica/exceptions.cc
  replica/exceptions.hh
  service/storage_proxy.cc
Owners: @gleb-cloudius

disk_space_monitor: add subscription API for threshold-based disk space monitoring
  configure.py
  main.cc
  test/boost/CMakeLists.txt
  test/boost/database_test.cc
  test/boost/disk_space_monitor_test.cc
  test/lib/cql_test_env.cc
  utils/disk_space_monitor.cc
  utils/disk_space_monitor.hh
Owners: none

config: Add critical_disk_utilization_level option
  db/config.cc
  db/config.hh
Owners: none

docs: Add feature documentation
  docs/troubleshooting/error-messages/critical-disk-utilization.rst
  docs/troubleshooting/error-messages/index.rst
Owners: none

Revert "build: add precompiled headers to CMakeLists.txt"
  CMakeLists.txt
  alternator/CMakeLists.txt
  api/CMakeLists.txt
  audit/CMakeLists.txt
  auth/CMakeLists.txt
  cdc/CMakeLists.txt
  compaction/CMakeLists.txt
  configure.py
  cql3/CMakeLists.txt
  data_dictionary/CMakeLists.txt
  db/CMakeLists.txt
  dht/CMakeLists.txt
  ent/encryption/CMakeLists.txt
  ent/ldap/CMakeLists.txt
  gms/CMakeLists.txt
  index/CMakeLists.txt
  lang/CMakeLists.txt
  locator/CMakeLists.txt
  message/CMakeLists.txt
  mutation/CMakeLists.txt
  mutation_writer/CMakeLists.txt
  node_ops/CMakeLists.txt
  raft/CMakeLists.txt
  readers/CMakeLists.txt
  repair/CMakeLists.txt
  replica/CMakeLists.txt
  rust/CMakeLists.txt
  schema/CMakeLists.txt
  service/CMakeLists.txt
  sstables/CMakeLists.txt
  stdafx.cc
  stdafx.hh
  streaming/CMakeLists.txt
  tools/CMakeLists.txt
  tracing/CMakeLists.txt
  transport/CMakeLists.txt
  types/CMakeLists.txt
  utils/CMakeLists.txt
  utils/UUID_gen.cc
Owners: @nyh, @nuivall, @ptrsmrn, @kbr-scylla, @elcallio, @piodul, @raphaelsc, @tgrabiec, @asias, @gleb-cloudius, @kostja, @denesb

utils: add result_with_exception_ptr
  utils/result.hh
Owners: none

transport: replace throwing protocol_exception with returns
  db/commitlog/commitlog.cc
  test/boost/commitlog_test.cc
  test/boost/fragmented_temporary_buffer_test.cc
  test/boost/transport_test.cc
  transport/request.hh
  transport/server.cc
  utils/fragmented_temporary_buffer.hh
Owners: @elcallio, @eliransin
