Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

service/vector_store_client: Refactor HTTP request creation
  service/vector_store_client.cc
Owners: none

service/vector_store_client: Refactor host_port struct created
  service/vector_store_client.cc
Owners: none

test: add test verifies sl:driver is used for schema/topology fetches
  test/cluster/auth_cluster/test_raft_service_levels.py
Owners: none

docs: workload-prioritization: add driver service level
  docs/features/workload-prioritization.rst
Owners: none

test: new test for LWT testing during tablets migration
  test/cluster/lwt/__init__.py
  test/cluster/lwt/test_lwt_during_tablets_migration.py
Owners: none

doc: add new and removed metrics to the 2025.3 upgrade guide
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/metric-update-2025.2-to-2025.3.rst
Owners: none

doc: add new and removed metrics to the 2025.3 upgrade guide
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/metric-update-2025.2-to-2025.3.rst
Owners: none

Revert "test.py: add timeout option for the whole run"
  test.py
Owners: none

test/boost/vector_store_client_test.cc: Refactor vector store client test
  test/boost/vector_store_client_test.cc
Owners: none

test.py: add repeats in pytest
  test.py
  test/conftest.py
  test/cqlpy/run.py
  test/pylib/cpp/boost/boost_facade.py
  test/pylib/cpp/common_cpp_conftest.py
  test/pylib/cpp/facade.py
  test/pylib/cpp/item.py
  test/pylib/cpp/unit/unit_facade.py
  test/pylib/report_plugin.py
Owners: @nyh

test: Add test for unfinished writes during shutdown and topology change
  service/storage_proxy.cc
  service/storage_service.cc
  test/topology_custom/test_unfinished_writes_during_shutdown.py
Owners: @gleb-cloudius, @tgrabiec, @asias

storage_service: Cancel all write requests on storage_proxy shutdown
  service/storage_proxy.cc
  service/storage_proxy.hh
  test/topology_custom/test_unfinished_writes_during_shutdown.py
Owners: @gleb-cloudius

service/vector_store_client: Add live configuration update support
  db/config.cc
  service/vector_store_client.cc
  service/vector_store_client.hh
  test/boost/vector_store_client_test.cc
Owners: none

DRAFT: auth: use paged internal queries during migration
  auth/service.cc
Owners: @nuivall, @ptrsmrn

set system.clients empty columns
  generic_server.hh
  test/cqlpy/test_ssl.py
  test/cqlpy/test_virtual_tables.py
  transport/server.cc
Owners: @nyh

doc: add new and removed metrics to the 2025.3 upgrade guide
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/metric-update-2025.2-to-2025.3.rst
Owners: none

test/raft: adapt test_raft_no_quorum.py for odd voter enforcement
  test/cluster/test_raft_no_quorum.py
Owners: none

test/raft: adapt test_tablets_lwt.py for odd voter number enforcement
  test/cluster/test_tablets_lwt.py
Owners: none

raft: enforce odd number of voters in group0
  service/raft/group0_voter_handler.cc
  test/boost/group0_voter_calculator_test.cc
Owners: none

scripts: pull_github_pr.sh: reject unintended submodule changes
  scripts/pull_github_pr.sh
Owners: none

auth: resource: simplify some range transformations
  auth/resource.cc
Owners: @nuivall, @ptrsmrn

test/pylib/rest_client: fix ScyllaMetrics filtering
  test/cluster/mv/test_mv_backlog.py
  test/cluster/test_node_ops_metrics.py
  test/cluster/test_tablets2.py
  test/pylib/rest_client.py
Owners: none

test: test_mv_backlog: fix to consider internal writes
  test/cluster/mv/test_mv_backlog.py
Owners: none

scripts: pull_github_pr.sh: reject unintended submodule changes
  scripts/pull_github_pr.sh
Owners: none

scylla-sstable: print_query_results_json: continue loop if row is disengaged
  test/cqlpy/test_tools.py
  tools/scylla-sstable.cc
Owners: @nyh, @denesb

storage_service: rename get_peer_info_for_update → get_gossiper_peer_info_for_update
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

storage_service: refactor get_peer_info_for_update
  service/storage_service.cc
Owners: @tgrabiec, @asias

storage_service: get_gossiper_peer_info_for_update: return empty optional for missing endpoint
  service/storage_service.cc
Owners: @tgrabiec, @asias

tablet: Add sstables_repaired_at to system.tablets table
  docs/dev/system_keyspace.md
  replica/tablet_mutation_builder.hh
  replica/tablets.cc
Owners: @tgrabiec

test: Fix drain api in task_manager_client.py
  test/cluster/tasks/task_manager_client.py
Owners: none

mutation_compactor: Introduce add operator to compaction_stats
  mutation/mutation_compactor.hh
Owners: @tgrabiec

repair: Add incremental helpers
  configure.py
  repair/incremental.cc
  repair/incremental.hh
Owners: @tgrabiec, @asias

feature_service: Add TABLET_INCREMENTAL_REPAIR feature
  gms/feature_service.hh
Owners: @tgrabiec, @asias, @kbr-scylla

tablet_allocator: Add tablet_force_tablet_count_increase and decrease
  service/tablet_allocator.cc
Owners: none

sstable: Add being_repaired to sstable
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc

sstables: Add set_repaired_at to metadata_collector
  sstables/metadata_collector.hh
Owners: @tgrabiec, @raphaelsc

test/alternator: enable more relevant logs in CI.
  test/alternator/suite.yaml
Owners: @nyh

doc: add new and removed metrics to the 2025.3 upgrade guide
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/metric-update-2025.2-to-2025.3.rst
Owners: none

docs: fix typo in command name enbleautocompaction -> enableautocompaction
  docs/_utils/redirects.yaml
  docs/operating-scylla/nodetool-commands/enableautocompaction.rst
  docs/operating-scylla/nodetool.rst
Owners: none

test/alternator: enable more relevant logs in CI.
  test/alternator/suite.yaml
Owners: @nyh
