Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

transport: consmetic change, remove extra blanks.
  generic_server.hh
  transport/server.hh
Owners: none

generic_server: Two-step connection shutdown.
  db/config.cc
  db/config.hh
  generic_server.cc
  generic_server.hh
  test/cluster/test_write_query_during_cql_server_shutdown.py
  transport/controller.cc
  transport/server.cc
  transport/server.hh
Owners: none

cql3/result_set: set GLOBAL_TABLES_SPEC in `metadata` if appropriate
  cql3/result_set.cc
Owners: @tgrabiec, @nuivall, @ptrsmrn

topology_coordinator: Trigger load stats refresh after replace
  service/topology_coordinator.cc
Owners: none

gdb: handle zero-size reads in managed_bytes
  scylla-gdb.py
Owners: none

docs: fix typo in command name enbleautocompaction -> enableautocompaction
  docs/_utils/redirects.yaml
  docs/operating-scylla/nodetool-commands/enableautocompaction.rst
  docs/operating-scylla/nodetool.rst
Owners: none

storage service: drain view builder before group0
  service/storage_service.cc
Owners: @tgrabiec, @asias

tasks: do not use binary progress for task manager tasks
  repair/repair.cc
  repair/task_manager_module.hh
  tasks/task_manager.cc
  tasks/task_manager.hh
Owners: @tgrabiec, @asias

storage_service: in publish_new_sstable_dict, use _group0_as instead of the main abort source
  service/storage_service.cc
Owners: @tgrabiec, @asias

storage_service: hold group0 gate in `publish_new_sstable_dict`
  service/storage_service.cc
  sstable_dict_autotrainer.cc
Owners: @tgrabiec, @asias

test: run mv tests depending on metrics on a standalone instance
  test/cluster/mv/test_mv_delete_partitions.py
  test/cqlpy/test_materialized_view.py
Owners: @nyh

docs: update documentation with new way of running C++ tests
  docs/dev/testing.md
Owners: none

migration manager: do not use group0 on non zero shard
  service/migration_manager.cc
Owners: @tgrabiec

topology_coordinator: Make tablet_load_stats_refresh_interval configurable
  db/config.cc
  db/config.hh
  service/topology_coordinator.cc
  test/cluster/mv/tablets/test_mv_tablets.py
  test/cluster/tasks/test_tablet_tasks.py
  test/cluster/test_tablet_stats.py
  test/cluster/test_tablets.py
  test/cluster/test_tablets2.py
  test/cluster/test_tablets_colocation.py
  test/cluster/test_tablets_merge.py
  test/cluster/test_tablets_migration.py
  test/pylib/repair.py
Owners: none

docs: fix typo in command name enbleautocompaction -> enableautocompaction
  docs/_utils/redirects.yaml
  docs/operating-scylla/nodetool-commands/enableautocompaction.rst
  docs/operating-scylla/nodetool.rst
Owners: none

docs: fix typo in command name enbleautocompaction -> enableautocompaction
  docs/_utils/redirects.yaml
  docs/operating-scylla/nodetool-commands/enableautocompaction.rst
  docs/operating-scylla/nodetool.rst
Owners: none

docs: fix typo in command name enbleautocompaction -> enableautocompaction
  docs/_utils/redirects.yaml
  docs/operating-scylla/nodetool-commands/enableautocompaction.rst
  docs/operating-scylla/nodetool.rst
Owners: none

test: Enable RF-rack-valid keyspaces in all Python suites
  test/pylib/scylla_cluster.py
Owners: none

cql3: Warn when creating RF-rack-invalid keyspace
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/create_keyspace_statement.cc
  test/cluster/test_multidc.py
Owners: none

cql3/statements: Fix indentation
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/create_keyspace_statement.cc
Owners: none

main: Log RF-rack-invalid keyspaces at startup
  main.cc
  replica/database.cc
  replica/database.hh
  test/cluster/test_multidc.py
  test/lib/cql_test_env.cc
Owners: none

nodetool: add command for dropping quarantine sstables
  test/nodetool/test_dropquarantinedsstables.py
  tools/scylla-nodetool.cc
Owners: @denesb

rest_api: add endpoint which drops all quarantined sstables
  api/api-doc/storage_service.json
  api/storage_service.cc
  replica/database.hh
  replica/table.cc
  test/boost/database_test.cc
  test/rest_api/test_storage_service.py
Owners: none

doc: add the upgrade guide from 2025.2 to 2025.3
  docs/upgrade/upgrade-guides/index.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.1-to-2025.2/index.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.1-to-2025.2/metric-update-2025.1-to-2025.2.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/index.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/metric-update-2025.2-to-2025.3.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/upgrade-guide-from-2025.2-to-2025.3.rst
Owners: none

vector_index: check if vector index exists in schema
  index/secondary_index_manager.hh
  index/vector_index.cc
  index/vector_index.hh
Owners: @nyh, @piodul

test/cqlpy: fix failing vector_index tests
  test/cqlpy/test_vector_index.py
Owners: @nyh

doc: add OS support for ScyllaDB 2025.3
  docs/_static/data/os-support.json
Owners: none

transport: add futures in CQL server exception handling
  transport/server.cc
Owners: none

transport: fix the indentation in process_request_one
  transport/server.cc
Owners: none

transport: remove redundant references in process_request_one
  transport/server.cc
Owners: none

cdc: enable CDC log when vector index is created
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

Revert "storage_service: test_group0_apply_while_node_is_being_shutdown"
  service/raft/raft_group0.cc
  service/storage_service.cc
  test/cluster/test_cdc_generation_data.py
Owners: @tgrabiec, @asias

Revert "main.cc: fix group0 shutdown order"
  service/raft/raft_group0.cc
  service/raft/raft_group0.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias

describe, cdc: adjust describe for cdc log tables
  cql3/statements/describe_statement.cc
Owners: none

test.py: add pytest-timeout to the toolchain
  install-dependencies.sh
Owners: none

commitlog: replace std::enable_if with a constraint
  db/commitlog/commitlog.cc
Owners: @elcallio, @eliransin

test/cqlpy: fix "run --release" when Scylla hasn't been built
  test/cqlpy/run
Owners: @nyh

transport: add futures in CQL server exception handling
  transport/server.cc
Owners: none

transport: fix the indentation in process_request_one
  transport/server.cc
Owners: none

transport: remove redundant references in process_request_one
  transport/server.cc
Owners: none
