Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

DEBUG TESTING FLAKY
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

utils/base64: fix misleading code and comment (no functional change)
  utils/base64.cc
Owners: none

replica: Futurize split_compaction_options()
  replica/table.cc
Owners: none

cql3: add default replication factor to `create_keyspace_statement`
  cql3/statements/ks_prop_defs.cc
Owners: none

docs/cql: update documentation for default replication factor
  docs/cql/ddl.rst
Owners: none

test/cqlpy: add keyspace creation default replication factor tests
  test/cluster/suite.yaml
  test/cluster/test_keyspace_rf.py
  test/cqlpy/cassandra_tests/validation/operations/create_test.py
  test/cqlpy/test_keyspace.py
Owners: @nyh

replica: Fix split compaction when tablet boundaries change
  locator/tablets.cc
  locator/tablets.hh
  mutation_writer/token_group_based_splitting_writer.cc
  replica/table.cc
  test/cluster/test_tablets2.py
Owners: @tgrabiec

repair: Add incremental_mode option for tablet repair
  api/api-doc/storage_service.json
  api/storage_service.cc
  docs/dev/system_keyspace.md
  idl/repair.idl.hh
  locator/tablets.cc
  locator/tablets.hh
  repair/repair.cc
  repair/repair.hh
  repair/row_level.cc
  repair/row_level.hh
  replica/tablet_mutation_builder.hh
  replica/tablets.cc
  service/storage_service.cc
  service/storage_service.hh
  service/topology_coordinator.cc
  test/cluster/test_incremental_repair.py
  test/pylib/rest_client.py
Owners: @tgrabiec, @asias

raft_topology: Modify the conditional logic in remove node operation to enhance concurrency for raft enabled clusters.
  service/storage_service.hh
  test/cluster/test_concurrent_remove_node_ops.py
Owners: @tgrabiec, @asias

perf-tablets: change default tables and tablets-per-table
  test/perf/perf_tablets.cc
Owners: none

tablets: tablet_map_to_mutations: maybe split tablets mutation
  replica/tablets.cc
Owners: none

tablets: tablet_map_to_mutations: accept process_func
  replica/tablets.cc
  replica/tablets.hh
  service/tablet_allocator.cc
  service/topology_coordinator.cc
  test/boost/tablets_test.cc
Owners: none

mutation: add for_each_split_mutation
  mutation/mutation.cc
  mutation/mutation.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias

perf-tablets: abort on unhandled exception
  test/perf/perf_tablets.cc
Owners: none

system_keyspace: add service_level_driver_created
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias

mutation: async_utils: add unfreeze_and_split_gently
  mutation/async_utils.cc
  mutation/async_utils.hh
  mutation/mutation_partition_view.cc
  mutation/mutation_partition_view.hh
  mutation/mutation_partition_visitor.hh
  partition_builder.hh
Owners: @tgrabiec

storage_service: merge_topology_snapshot: freeze snp.mutations gently
  service/storage_service.cc
Owners: @tgrabiec, @asias

tablets: read_tablet_mutations: use unfreeze_and_split_gently
  replica/tablets.cc
  replica/tablets.hh
  service/migration_manager.cc
  test/perf/perf_tablets.cc
Owners: @tgrabiec

commitlog: Ensure segment deletion is re-entrant
  db/commitlog/commitlog.cc
  test/boost/commitlog_test.cc
Owners: @elcallio, @eliransin

schema_tables: convert_schema_to_mutations: simplify check for system keyspace
  db/schema_tables.cc
Owners: @tgrabiec

system_keyspace: Prune dropped tables from truncation on start/drop
  db/system_keyspace.cc
  db/system_keyspace.hh
  replica/database.cc
  test/cluster/test_truncate_with_drop.py
Owners: none

storage: pass host_id as parameter to `maybe_reconnect_to_preferred_ip()`
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias
