Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

repair: Add incremental helpers
  configure.py
  repair/incremental.cc
  repair/incremental.hh
Owners: @tgrabiec, @asias

tablet: Add sstables_repaired_at to system.tablets table
  docs/dev/system_keyspace.md
  replica/tablet_mutation_builder.hh
  replica/tablets.cc
Owners: @tgrabiec

tablet_allocator: Add tablet_force_tablet_count_increase and decrease
  service/tablet_allocator.cc
Owners: none

test: Fix drain api in task_manager_client.py
  test/cluster/tasks/task_manager_client.py
Owners: none

mutation_compactor: Introduce add operator to compaction_stats
  mutation/mutation_compactor.hh
Owners: @tgrabiec

sstables: Add set_repaired_at to metadata_collector
  sstables/metadata_collector.hh
Owners: @tgrabiec, @raphaelsc

sstable: Add being_repaired to sstable
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc

feature_service: Add TABLET_INCREMENTAL_REPAIR feature
  gms/feature_service.hh
Owners: @tgrabiec, @asias, @kbr-scylla

compaction: Add tablet incremental repair support
  compaction/compaction.cc
  compaction/compaction_group_view.hh
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  compaction/compaction_state.hh
  compaction/task_manager_module.cc
  locator/tablets.cc
  locator/tablets.hh
  replica/compaction_group.hh
  replica/database.hh
  replica/table.cc
  replica/tablets.cc
  service/tablet_allocator.cc
  sstables/sstable_writer.hh
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/types.hh
  sstables/writer.cc
  sstables/writer_impl.hh
  test/boost/compaction_group_test.cc
  test/boost/incremental_compaction_test.cc
  test/boost/repair_test.cc
  test/boost/sstable_compaction_test.cc
  test/boost/tablets_test.cc
  test/lib/sstable_run_based_compaction_strategy_for_tests.hh
  test/lib/test_services.cc
  tools/scylla-sstable.cc
Owners: @raphaelsc, @tgrabiec, @denesb

repair: Add tablet incremental repair support
  idl/repair.idl.hh
  message/messaging_service.cc
  message/messaging_service.hh
  repair/reader.hh
  repair/repair.cc
  repair/repair.hh
  repair/row_level.cc
  repair/row_level.hh
  repair/task_manager_module.hh
  repair/writer.hh
  service/storage_service.cc
  service/topology_coordinator.cc
  streaming/consumer.cc
  streaming/consumer.hh
Owners: @tgrabiec, @asias

abstract_replication_strategy, network_topology_strategy: add replication_factor_data class
  locator/abstract_replication_strategy.cc
  locator/abstract_replication_strategy.hh
  locator/network_topology_strategy.cc
  locator/network_topology_strategy.hh
  locator/simple_strategy.cc
Owners: none

abstract_replication_strategy: pass topology to create_replication_strategy
  cql3/statements/create_keyspace_statement.cc
  cql3/statements/ks_prop_defs.cc
  data_dictionary/data_dictionary.cc
  locator/abstract_replication_strategy.cc
  locator/abstract_replication_strategy.hh
  locator/everywhere_replication_strategy.cc
  locator/everywhere_replication_strategy.hh
  locator/local_strategy.cc
  locator/local_strategy.hh
  locator/network_topology_strategy.cc
  locator/network_topology_strategy.hh
  locator/simple_strategy.cc
  locator/simple_strategy.hh
  replica/database.cc
  replica/database.hh
  test/boost/network_topology_strategy_test.cc
  test/boost/token_metadata_test.cc
  tools/schema_loader.cc
Owners: @denesb

abstract_replication_strategy: replication_factor_data: optionally parse list of rack names
  locator/abstract_replication_strategy.cc
  locator/abstract_replication_strategy.hh
  locator/network_topology_strategy.cc
  test/cluster/test_multidc.py
Owners: none

network_topology_strategy: parse rack-aware rf options
  cql3/statements/ks_prop_defs.cc
  locator/abstract_replication_strategy.cc
  locator/abstract_replication_strategy.hh
  locator/network_topology_strategy.cc
  locator/rack_inferring_snitch.hh
  test/boost/network_topology_strategy_test.cc
Owners: none

cql3: ks_prop_defs: prepare_options: expand dc racks
  cql3/statements/ks_prop_defs.cc
Owners: none

test: lib: topology_builder: generate unique rack names
  test/boost/network_topology_strategy_test.cc
  test/lib/topology_builder.hh
Owners: none

network_topology_strategy_test: add test_rack_aware_rf
  locator/network_topology_strategy.cc
  test/boost/network_topology_strategy_test.cc
Owners: none

tablet_allocator: Respect binding replicas to racks
  service/tablet_allocator.cc
Owners: none

network_topology_strategy: Respect rack list when reallocating tablets
  locator/abstract_replication_strategy.hh
  locator/network_topology_strategy.cc
  locator/network_topology_strategy.hh
  locator/tablet_replication_strategy.hh
Owners: none

storage_proxy: preallocate write response handler hash table
  service/storage_proxy.cc
Owners: @gleb-cloudius

migration_manager: before_create_column_family: get ref to db
  cdc/log.cc
  db/schema_tables.cc
  service/migration_listener.hh
  service/migration_manager.cc
  service/tablet_allocator.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec

auth: fix crash when migration code runs parallel with raft upgrade
  auth/standard_role_manager.cc
Owners: @nuivall, @ptrsmrn

docs: Add feature documentation
  docs/troubleshooting/error-messages/critical-disk-utilization.rst
  docs/troubleshooting/error-messages/index.rst
Owners: none

replica/exceptions: Add a new custom replica exception
  idl/replica_exception.idl.hh
  replica/exceptions.cc
  replica/exceptions.hh
  service/storage_proxy.cc
Owners: @gleb-cloudius

config: Add critical_disk_utilization_level option
  db/config.cc
  db/config.hh
Owners: none

replica: Add out of space controller
  configure.py
  main.cc
  replica/CMakeLists.txt
  replica/out_of_space_controller.cc
  replica/out_of_space_controller.hh
  test/lib/cql_test_env.cc
Owners: none

compaction_manager: Subscribe to out of space controller
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  main.cc
  replica/database.cc
  test/boost/sstable_compaction_test.cc
  test/lib/cql_test_env.cc
Owners: @raphaelsc

database: Add critical_disk_utilization mode database can be moved to
  main.cc
  replica/database.cc
  replica/database.hh
  test/boost/database_test.cc
  test/lib/cql_test_env.cc
Owners: none

compaction_manager: Replace enabled/disabled states with running state
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
Owners: @raphaelsc

repair_service: Add a facility to disable the service
  main.cc
  repair/repair.cc
  repair/row_level.cc
  repair/row_level.hh
Owners: @tgrabiec, @asias

storage_service: extend locator::load_stats to collect per-node critical disk utilization flag
  idl/storage_service.idl.hh
  locator/tablets.cc
  locator/tablets.hh
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  test/lib/cql_test_env.cc
Owners: @tgrabiec, @asias

tests/cluster: Add new storage tests
  test/cluster/storage/README
  test/cluster/storage/__init__.py
  test/cluster/storage/conftest.py
  test/cluster/storage/test_out_of_space_prevention.py
Owners: none

test/scylla_cluster: Override workdir when passed via cmdline
  test/pylib/scylla_cluster.py
Owners: none

streaming: Reject incoming migrations
  service/topology_coordinator.cc
  streaming/stream_blob.cc
Owners: @tgrabiec, @asias

Always require topology when parsing
  alternator/executor.cc
  cdc/log.cc
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/ks_prop_defs.cc
  locator/abstract_replication_strategy.cc
  locator/abstract_replication_strategy.hh
  locator/network_topology_strategy.cc
  locator/network_topology_strategy.hh
  locator/simple_strategy.cc
  service/tablet_allocator.cc
  service/topology_coordinator.cc
  test/boost/network_topology_strategy_test.cc
  test/boost/tablets_test.cc
Owners: @nyh, @kbr-scylla, @elcallio, @piodul

test: cluster: dtest: alternator: Force RF=1 in test_putitem_contention
  test/cluster/dtest/alternator_tests.py
Owners: none

test: Use smaller RF to respect rf-rack-validness
  test/cluster/test_group0_schema_versioning.py
Owners: none

test: cluster: Create cluster with multiple racks in multi-dc setups
  test/cluster/test_alternator.py
  test/cluster/test_group0_schema_versioning.py
Owners: none

cql: Throw rather than abort later when auto-expand cannot be done
  cql3/statements/ks_prop_defs.cc
Owners: none

to force rack valid
  locator/topology.hh
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
