Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

encryption: Allow http client to not wait on TLS closure
  ent/encryption/utils.cc
  ent/encryption/utils.hh
Owners: none

encryption: azure: Add skeleton for Azure host
  configure.py
  ent/encryption/CMakeLists.txt
  ent/encryption/azure_host.cc
  ent/encryption/azure_host.hh
Owners: none

encryption: azure: Add attribute-based key cache
  ent/encryption/azure_host.cc
Owners: none

utils: azure: Get access token from Azure CLI
  utils/azure/identity/azure_cli_credentials.cc
  utils/azure/identity/azure_cli_credentials.hh
Owners: none

encryption: Templatize get_{kmip,kms,gcp}_host()
  ent/encryption/encryption.cc
Owners: none

utils: azure: Get access token with default credentials
  utils/azure/identity/default_credentials.cc
  utils/azure/identity/default_credentials.hh
Owners: none

encryption: gcp: Fix typo in docstring
  ent/encryption/gcp_host.cc
Owners: none

encryption: Add interface for request/response redaction logic
  ent/encryption/utils.cc
  ent/encryption/utils.hh
Owners: none

encryption: Define and enable Azure Key Provider
  configure.py
  ent/encryption/CMakeLists.txt
  ent/encryption/azure_key_provider.cc
  ent/encryption/azure_key_provider.hh
  ent/encryption/encryption.cc
Owners: none

encryption: azure: Implement get_or_create_key()
  ent/encryption/azure_host.cc
  ent/encryption/azure_host.hh
Owners: none

encryption: azure: Add credentials in Azure host
  ent/encryption/azure_host.cc
Owners: none

encryption: Add Azure host cache
  ent/encryption/encryption.cc
  ent/encryption/encryption.hh
Owners: none

encryption: azure: Retry unauthorized requests
  ent/encryption/azure_host.cc
Owners: none

encryption: azure: Add override options
  ent/encryption/azure_host.cc
  ent/encryption/azure_host.hh
Owners: none

encryption: Add config options for Azure hosts
  conf/scylla.yaml
  ent/encryption/encryption_config.cc
  ent/encryption/encryption_config.hh
Owners: none

test: Add tests for Azure Key Provider
  test/boost/encryption_at_rest_test.cc
Owners: none

encryption: azure: Delegate hosts to shard 0
  ent/encryption/azure_host.cc
Owners: none

encryption: azure: Implement get_key_by_id()
  ent/encryption/azure_host.cc
Owners: none

encryption: azure: Add id-based key cache
  ent/encryption/azure_host.cc
Owners: none

encryption: azure: Implement init()
  ent/encryption/azure_host.cc
Owners: none

sstables: Improve observability of malformed sstables
  sstables/exceptions.hh
  sstables/sstables.cc
  sstables/stats.hh
Owners: @tgrabiec, @raphaelsc

test: loading_cache_test: use function-scope loader
  test/boost/loading_cache_test.cc
Owners: none

test: lib: eventually: make *EVENTUALLY_EQUAL inline functions
  test/boost/bloom_filter_test.cc
  test/boost/loading_cache_test.cc
  test/boost/reader_concurrency_semaphore_test.cc
  test/boost/view_build_test.cc
  test/lib/eventually.hh
  test/raft/replication.hh
Owners: @denesb, @nyh, @piodul, @kbr-scylla, @gleb-cloudius, @kostja

test: lib: eventually: add sleep function param
  configure.py
  test/lib/CMakeLists.txt
  test/lib/eventually.cc
  test/lib/eventually.hh
Owners: none

test: loading_cache_test: simlute loader using sleep
  test/boost/loading_cache_test.cc
Owners: none

utils: loading_cache: make clock_type a template parameter
  utils/loading_cache.hh
Owners: none

tests: loading_cache_test: use manual_clock
  test/boost/loading_cache_test.cc
  test/lib/eventually.cc
  test/lib/eventually.hh
Owners: none

encryption: add `encrypted_data_source` class
  ent/encryption/encrypted_file_impl.cc
  ent/encryption/encrypted_file_impl.hh
  test/boost/encrypted_file_test.cc
Owners: none

s3_client: Implement chunked download source
  test/boost/s3_test.cc
  test/perf/perf_s3_client.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

ugly
  ent/encryption/encryption.cc
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/storage.cc
  sstables/storage.hh
Owners: @tgrabiec, @raphaelsc

Revert "chunked download source"
  test/boost/s3_test.cc
  test/perf/perf_s3_client.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

sstables: Start using `make_data_or_index_source` in `sstable`
  sstables/checksummed_data_source.cc
  sstables/checksummed_data_source.hh
  sstables/compress.cc
  sstables/compress.hh
  sstables/index_reader.hh
  sstables/kl/reader.cc
  sstables/mx/partition_reversing_data_source.cc
  sstables/mx/reader.cc
  sstables/sstable_mutation_reader.hh
  sstables/sstables.cc
  sstables/sstables.hh
  test/boost/sstable_test.cc
  test/cluster/object_store/test_backup.py
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

sstables: add `make_data_or_index_source` to the `storage`
  ent/encryption/encryption.cc
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/storage.cc
  sstables/storage.hh
Owners: @tgrabiec, @raphaelsc

chunked download source
  test/boost/s3_test.cc
  test/perf/perf_s3_client.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

test.py: fix gathering logs in case of fail
  test/pylib/scylla_cluster.py
  test/topology/conftest.py
Owners: none

test: mv: skip test_mv_tablets_empty_ip in debug mode
  test/cluster/mv/tablets/test_mv_tablets_empty_ip.py
Owners: none

alternator: Limit attribute name lengths
  alternator/executor.cc
  alternator/expressions.cc
  alternator/expressions.hh
  test/alternator/test_limits.py
Owners: @nyh

docs: update dependencies
  docs/poetry.lock
Owners: @annastuchlik, @tzach

view_info: move base-dependent variables into base_info
  db/view/view.cc
  db/view/view.hh
  view_info.hh
Owners: @nyh, @piodul

view_info: set base info on construction
  alternator/executor.cc
  cql3/statements/alter_table_statement.cc
  cql3/statements/alter_table_statement.hh
  cql3/statements/create_view_statement.cc
  db/schema_applier.cc
  db/schema_tables.cc
  db/schema_tables.hh
  db/view/view.cc
  frozen_schema.cc
  frozen_schema.hh
  index/secondary_index_manager.cc
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
  schema/schema_registry.cc
  test/boost/cql_query_test.cc
  test/boost/schema_registry_test.cc
  tools/schema_loader.cc
  view_info.hh
Owners: @nyh, @piodul, @tgrabiec, @denesb

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
