Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

test_tablets_lwt: test timeout creating paxos state table
  test/cluster/test_tablets_lwt.py
Owners: none

test_tablets_lwt: add test_lwt_for_tablets_in_recovery_mode
  db/schema_applier.cc
  test/cluster/test_tablets_lwt.py
Owners: @tgrabiec

random_failures: enable execute_lwt_transaction
  test/cluster/random_failures/cluster_events.py
Owners: none

scylla_cluster.py: add try_get_host_id
  test/pylib/scylla_cluster.py
Owners: none

test: fix flakiness of test_missing_data
  test/topology_custom/test_tablets_merge.py
Owners: none

test: fix flakiness of test_missing_data
  test/topology_custom/test_tablets_merge.py
Owners: none

alternator: enable LWT
  docs/alternator/new-apis.md
  test/alternator/test_tablets.py
  test/alternator/test_ttl.py
Owners: @annastuchlik, @tzach, @nyh

utils: clear_gently: add support for sets
  test/boost/stall_free_test.cc
  utils/stall_free.hh
Owners: none

replica: hold compaction group gate during flush
  replica/compaction_group.hh
  replica/table.cc
Owners: none

packaging: add `ps` command to dependancies
  dist/debian/control.template
  dist/docker/redhat/build_docker.sh
  dist/redhat/scylla.spec
Owners: none

sstables_loader: Fix load-and-stream vs skip-cleanup check
  sstables_loader.cc
Owners: none

storage_proxy: avoid large allocation when storing batch in system.batchlog
  service/storage_proxy.cc
Owners: @gleb-cloudius

sstables_loader: Fix load-and-stream vs skip-cleanup check
  sstables_loader.cc
Owners: none

sstables_loader: Fix load-and-stream vs skip-cleanup check
  sstables_loader.cc
Owners: none

s3_client: Improve reporting of S3 client statistics
  utils/s3/client.cc
Owners: none

api: unregister raft_topology_get_cmd_status on shutdown
  api/storage_service.cc
Owners: none

test.py: dtest: copy unmodified commitlog_test.py
  test/cluster/dtest/commitlog_test.py
  test/cluster/suite.yaml
Owners: none

test.py: dtest: add ScyllaNode.stress() method
  test/cluster/dtest/ccmlib/scylla_node.py
Owners: none

test.py: dtest: run auth_test in dev mode only
  test/cluster/suite.yaml
Owners: none

test.py: dtest: remove slow and greedy tests from commitlog_test.py
  test/cluster/dtest/commitlog_test.py
Owners: none

test.py: dtest: add ScyllaCluster.flush() method
  test/cluster/dtest/ccmlib/scylla_cluster.py
Owners: none

test.py: dtest: add tools/files.py::corrupt_file() function
  test/cluster/dtest/tools/files.py
Owners: none

test.py: dtest: add tools/data.py::run_query_with_data_processing() function
  test/cluster/dtest/tools/data.py
Owners: none

test.py: dtest: make commitlog_test.py run using test.py
  test/cluster/dtest/commitlog_test.py
  test/cluster/suite.yaml
Owners: none

test.py: dtest: copy some assertions from dtest
  test/cluster/dtest/tools/assertions.py
Owners: none

sstables_loader: Fix load-and-stream vs skip-cleanup check
  sstables_loader.cc
Owners: none

s3_client: Fix missing negation
  utils/s3/client.cc
Owners: none

s3_client: Improve logging placement for current_range output
  utils/s3/client.cc
Owners: none

s3_client: Fix indentation in try..catch block
  utils/s3/client.cc
Owners: none

s3_client: Refine logging
  utils/s3/client.cc
Owners: none

s3_client: Stop retries in chunked download source
  test/boost/s3_test.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: Fix edge case when the range is exhausted
  utils/s3/client.cc
Owners: none

s3_test: Add s3_client test for non-retryable error handling
  test/boost/s3_test.cc
  utils/s3/client.cc
Owners: none

s3_client: Add test for Content-Range fix
  test/boost/s3_test.cc
Owners: none

s3_client: Enhance test coverage for retry logic
  test/pylib/s3_proxy.py
Owners: none

s3_test: Add trace logging for default_retry_strategy
  test/boost/test_config.yaml
Owners: none

packaging: add `ps` command to dependancies
  dist/debian/control.template
  dist/docker/redhat/build_docker.sh
  dist/redhat/scylla.spec
Owners: none

api: unregister raft_topology_get_cmd_status on shutdown
  api/storage_service.cc
Owners: none

api: unregister raft_topology_get_cmd_status on shutdown
  api/storage_service.cc
Owners: none

compaction: demote normal compaction start/end log messages to debug level
  compaction/compaction.cc
Owners: @raphaelsc

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
