Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

sstables/types: make `deletion_time::operator tombstone()` const
  sstables/types.hh
Owners: @tgrabiec, @raphaelsc

sstables/trie: add bti_partition_index_writer.cc
  configure.py
  sstables/CMakeLists.txt
  sstables/sstables.cc
  sstables/trie/bti_index.hh
  sstables/trie/bti_index_internal.hh
  sstables/trie/bti_partition_index_writer.cc
Owners: @tgrabiec, @raphaelsc

sstables/trie: introduce bti_index_reader
  configure.py
  sstables/CMakeLists.txt
  sstables/abstract_index_reader.hh
  sstables/trie/bti_index.hh
  sstables/trie/bti_index_reader.cc
Owners: @tgrabiec, @raphaelsc

test/lib/random_utils: add a variant of get_bytes which takes an `engine&`
  test/lib/random_utils.hh
Owners: none

test/lib/random_schema: add some constraints for generated uuid and time/date values
  test/lib/random_schema.cc
  test/lib/random_schema.hh
Owners: none

sstables/trie: add bti_row_index_writer.cc
  configure.py
  sstables/CMakeLists.txt
  sstables/trie/bti_index.hh
  sstables/trie/bti_index_internal.hh
  sstables/trie/bti_row_index_writer.cc
Owners: @tgrabiec, @raphaelsc

test/boost: add bti_index_test
  configure.py
  test/boost/CMakeLists.txt
  test/boost/bti_index_test.cc
Owners: @nyh, @piodul

sstables/writer: add an accessor for the current write position in Data.db
  sstables/mx/writer.cc
  sstables/sstable_writer.hh
  sstables/writer.cc
  sstables/writer_impl.hh
Owners: @tgrabiec, @raphaelsc

test/alternator: use `test_table_ss` instead of `test_table` in expressions related tests.
  test/alternator/test_filter_expression.py
  test/alternator/test_key_condition_expression.py
  test/alternator/test_projection_expression.py
  test/alternator/test_update_expression.py
Owners: @nyh

alternator/expressions: fix single value condition expression parsing
  alternator/expressions.g
  alternator/expressions_types.hh
  test/alternator/test_condition_expression.py
Owners: @nyh

alternator/expressions: error on parsing empty update expression
  alternator/executor.cc
  alternator/expressions.g
Owners: @nyh

Alternator: Adds expression caching. #5023
  alternator/CMakeLists.txt
  alternator/controller.cc
  alternator/executor.cc
  alternator/executor.hh
  alternator/expressions.hh
  alternator/prepared_expression_cache.cc
  alternator/stats.cc
  alternator/stats.hh
  configure.py
  db/config.cc
  db/config.hh
  test/alternator/test_expression_caching.py
  test/boost/CMakeLists.txt
  test/boost/alternator_prepared_expression_cache_test.cc
  test/boost/lru_string_map_test.cc
  utils/lru_string_map.hh
Owners: @nyh

auto-backport.py: sync P0 and P1 labels when applied
  .github/scripts/auto-backport.py
Owners: none

replica: Futurize split_compaction_options()
  replica/table.cc
Owners: none

replica: Fix split compaction when tablet boundaries change
  locator/tablets.cc
  locator/tablets.hh
  mutation_writer/token_group_based_splitting_writer.cc
  replica/table.cc
  test/cluster/test_tablets2.py
Owners: @tgrabiec

build_docker.sh: enable debug symboles installation
  dist/docker/redhat/build_docker.sh
Owners: none

Fix label parsing logic in backport check script
  .github/workflows/add-label-when-promoted.yaml
Owners: none

Merge 'auth: move passwords::check call to alien thread' from Andrzej Jackowski
  auth/allow_all_authenticator.cc
  auth/allow_all_authenticator.hh
  auth/certificate_authenticator.cc
  auth/certificate_authenticator.hh
  auth/password_authenticator.cc
  auth/password_authenticator.hh
  auth/passwords.cc
  auth/passwords.hh
  auth/saslauthd_authenticator.cc
  auth/saslauthd_authenticator.hh
  auth/service.cc
  auth/service.hh
  auth/transitional.cc
  main.cc
  test/boost/auth_passwords_test.cc
  test/cqlpy/test_service_level_api.py
  test/lib/cql_test_env.cc
  utils/alien_worker.cc
  utils/alien_worker.hh
Owners: @nuivall, @ptrsmrn, @nyh

Merge 'auth: move passwords::check call to alien thread' from Andrzej Jackowski
  auth/allow_all_authenticator.cc
  auth/allow_all_authenticator.hh
  auth/certificate_authenticator.cc
  auth/certificate_authenticator.hh
  auth/password_authenticator.cc
  auth/password_authenticator.hh
  auth/passwords.cc
  auth/passwords.hh
  auth/saslauthd_authenticator.cc
  auth/saslauthd_authenticator.hh
  auth/service.cc
  auth/service.hh
  auth/transitional.cc
  main.cc
  test/boost/auth_passwords_test.cc
  test/cqlpy/test_service_level_api.py
  test/lib/cql_test_env.cc
  utils/alien_worker.cc
  utils/alien_worker.hh
Owners: @nuivall, @ptrsmrn, @nyh

Merge 'auth: move passwords::check call to alien thread' from Andrzej Jackowski
  auth/allow_all_authenticator.cc
  auth/allow_all_authenticator.hh
  auth/certificate_authenticator.cc
  auth/certificate_authenticator.hh
  auth/password_authenticator.cc
  auth/password_authenticator.hh
  auth/passwords.cc
  auth/passwords.hh
  auth/saslauthd_authenticator.cc
  auth/saslauthd_authenticator.hh
  auth/service.cc
  auth/service.hh
  auth/transitional.cc
  main.cc
  test/boost/auth_passwords_test.cc
  test/cqlpy/test_service_level_api.py
  test/lib/cql_test_env.cc
  utils/alien_worker.cc
  utils/alien_worker.hh
Owners: @nuivall, @ptrsmrn, @nyh

test: mv: test create mv during inserts
  db/schema_applier.cc
  test/cluster/mv/test_create_mv.py
Owners: @tgrabiec

service/storage_proxy: wait for schema sync if in progress
  schema/schema_registry.cc
  schema/schema_registry.hh
  service/migration_manager.cc
  service/storage_proxy.cc
Owners: @tgrabiec, @gleb-cloudius

db/schema_applier: mark schema synced after commit on all shards
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

replica/db: add syncer function to add/update cf
  replica/database.cc
  replica/database.hh
  schema/schema_registry.cc
  schema/schema_registry.hh
Owners: @tgrabiec

test.py: add pytest-sugar plugin to the dependencies
  install-dependencies.sh
  tools/toolchain/image
Owners: none

cql3: statement_restrictions: forbid querying a single-column or token restriction on a multi-column restriction
  cql3/restrictions/statement_restrictions.cc
Owners: none

s3: Export memory usage gauge (metrics)
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

s3: Export memory usage gauge (metrics)
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

s3: Export memory usage gauge (metrics)
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

db: schema_applier: create schema with pointer to CDC schema
  db/schema_applier.cc
  db/schema_tables.cc
  service/migration_manager.cc
  tools/schema_loader.cc
Owners: @tgrabiec, @denesb

frozen_schema: extract info from schema_ptr in the constructor
  frozen_schema.cc
  schema/schema.cc
  schema/schema_registry.cc
  schema/schema_registry.hh
  service/migration_manager.cc
Owners: @tgrabiec

schema_registry: use extended_frozen_schema in schema load
  schema/schema.cc
  schema/schema_registry.cc
  schema/schema_registry.hh
  service/migration_manager.cc
  test/boost/schema_registry_test.cc
Owners: @tgrabiec

schema: add pointer to CDC schema
  db/schema_applier.cc
  db/schema_tables.cc
  db/schema_tables.hh
  frozen_schema.cc
  frozen_schema.hh
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
  schema/schema_registry.cc
  schema/schema_registry.hh
  service/migration_manager.cc
  test/boost/schema_registry_test.cc
  tools/schema_loader.cc
Owners: @tgrabiec, @denesb

schema_registry: remove base_info from global_schema_ptr
  frozen_schema.cc
  frozen_schema.hh
  schema/schema_registry.cc
  schema/schema_registry.hh
Owners: @tgrabiec

frozen_schema: rename frozen_schema_with_base_info to extended_frozen_schema
  db/schema_applier.cc
  db/schema_applier.hh
  frozen_schema.cc
  frozen_schema.hh
Owners: @tgrabiec

db: schema_applier: extract cdc tables
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

test: cdc: test cdc compatible schema
  test/cluster/test_cdc_with_alter.py
Owners: none

cdc: use compatiable cdc schema
  cdc/log.cc
  test/cluster/test_cdc_with_alter.py
Owners: @kbr-scylla, @elcallio, @piodul

schema_registry: replace frozen_schema+base_info with extended_frozen_schema
  frozen_schema.cc
  frozen_schema.hh
  schema/schema_registry.cc
  schema/schema_registry.hh
Owners: @tgrabiec

s3: Fix chunked download source metrics calculations
  utils/s3/client.cc
Owners: none
