Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

topology_custom/test_mv_delete_partitions: use new_test_keyspace
  test/topology_custom/test_mv_delete_partitions.py
Owners: none

topology_custom/test_read_repair_with_conflicting_hash_keys: use new_test_keyspace
  test/topology_custom/test_conflicting_keys_read_repair.py
Owners: none

topology_custom/test_major_compaction: use new_test_keyspace
  test/topology_custom/test_major_compaction.py
Owners: none

topology_custom/test_mv_fail_building: use new_test_keyspace
  test/topology_custom/test_mv_fail_building.py
Owners: none

topology_custom/test_mv_tablets: use new_test_keyspace
  test/topology_custom/test_mv_tablets.py
Owners: none

topology_custom/test_mv_tablets_empty_ip: use new_test_keyspace
  test/topology_custom/test_mv_tablets_empty_ip.py
Owners: none

topology_custom/test_mv_tablets_replace: use new_test_keyspace
  test/topology_custom/test_mv_tablets_replace.py
Owners: none

topology_custom/test_mv_read_concurrency: use new_test_keyspace
  test/topology_custom/test_mv_read_concurrency.py
Owners: none

test.py: change pattern for cleaning .log files in testlog directory
  test/pylib/suite/base.py
Owners: none

s3_client: Mitigate connection exhaustion in `download_source`
  test/boost/s3_test.cc
  test/perf/perf_s3_client.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

Alternator: Change the WCU/RCU to use units
  alternator/executor.cc
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

alternator/consumed_capacity: make wcu get_units public
  alternator/consumed_capacity.cc
  alternator/consumed_capacity.hh
Owners: @nyh

alternator/executor: add WCU for batch_write_items
  alternator/executor.cc
Owners: @nyh

alternator/test_returnconsumedcapacity.py: Add tests for batch write WCU
  test/alternator/test_returnconsumedcapacity.py
Owners: @nyh

alternator/test_metrics.py: batch_write validate WCU
  test/alternator/test_metrics.py
Owners: @nyh

database: Add critical_disk_utilization mode database can be moved to
  replica/database.cc
  replica/database.hh
  test/boost/database_test.cc
Owners: none

compaction_manager: cancel submission timer on drain
  compaction/compaction_manager.cc
Owners: @raphaelsc

replica/cmake: Sort sources in CMakeLists.txt
  replica/CMakeLists.txt
Owners: none

replica/exceptions: Add a new custom replica exception
  idl/replica_exception.idl.hh
  replica/exceptions.cc
  replica/exceptions.hh
  service/storage_proxy.cc
Owners: @gleb-cloudius

config: Add critical_disk_utilization_level option
  db/config.cc
  db/config.hh
Owners: none

repair_service: add state to be able to differentiate between enabled and stopped
  repair/repair.cc
  repair/row_level.cc
  repair/row_level.hh
Owners: @tgrabiec, @asias

test: adjust the injection for changing the max view update backlog
  db/view/view_update_generator.cc
  replica/database.hh
  test/cluster/mv/test_mv_admission_control.py
  test/cluster/mv/test_mv_backlog.py
  test/cluster/mv/test_mv_delete_partitions.py
Owners: @nyh, @piodul

reader_concurency_semaphore: expose methods for view throttling
  reader_concurrency_semaphore.hh
  reader_concurrency_semaphore_group.cc
  reader_concurrency_semaphore_group.hh
Owners: @denesb

tools/scylla-sstable: scrub: use UUID sstable identifiers
  test/cqlpy/test_tools.py
  tools/scylla-sstable.cc
Owners: @nyh, @denesb

tools: toolchain: dbuild: run as root in container under podman
  tools/toolchain/dbuild
Owners: none

topology_custom/test_node_isolation: use create_new_test_keyspace
  test/topology_custom/test_node_isolation.py
Owners: none

topology_custom/test_raft_fix_broken_snapshot: use new_test_keyspace
  test/topology_custom/test_raft_fix_broken_snapshot.py
Owners: none

topology_custom/test_rpc_compression: use new_test_keyspace
  test/topology_custom/test_rpc_compression.py
Owners: none

topology_custom/test_raft_snapshot_truncation: use create_new_test_keyspace
  test/topology_custom/test_raft_snapshot_truncation.py
Owners: none

topology_custom/test_reversed_queries_during_simulated_upgrade_process: use new_test_keyspace
  test/topology_custom/test_reversed_queries_during_simulated_upgrade_process.py
Owners: none

topology_custom/test_mv_topology_change: use new_test_keyspace
  test/topology_custom/test_mv_topology_change.py
Owners: none

topology_custom/test_not_enough_token_owners: use new_test_keyspace
  test/topology_custom/test_not_enough_token_owners.py
Owners: none

topology_custom/test_node_shutdown_waits_for_pending_requests: use new_test_keyspace
  test/topology_custom/test_node_shutdown_waits_for_pending_requests.py
Owners: none

topology_custom/test_query_rebounce: use new_test_keyspace
  test/topology_custom/test_query_rebounce.py
Owners: none

topology_custom/test_raft_no_quorum: use new_test_keyspace
  test/topology_custom/test_raft_no_quorum.py
Owners: none

topology_custom/test_select_from_mutation_fragments: use new_test_keyspace
  test/topology_custom/test_select_from_mutation_fragments.py
Owners: @tgrabiec

topology_custom/test_tablets_intranode: use new_test_keyspace
  test/topology_custom/test_tablets_intranode.py
Owners: none

topology_custom/test_tablets: use new_test_keyspace
  test/topology_custom/test_tablets.py
Owners: none

topology_custom/test_tablets_migration: use new_test_keyspace
  test/topology_custom/test_tablets_migration.py
Owners: none

topology_custom/test_tablets_removenode: use create_new_test_keyspace
  test/topology_custom/test_tablets_removenode.py
Owners: none
