Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

storage_proxy: log gate_closed_exception
  service/storage_proxy.cc
Owners: @gleb-cloudius

utils::http::dns_connection_factory: Use a shared certificate_credentials
  configure.py
  utils/CMakeLists.txt
  utils/http.cc
  utils/http.hh
Owners: none

utils/lsa/chunked_managed_vector: fix the calculation of max_chunk_capacity()
  utils/logalloc.cc
  utils/logalloc.hh
  utils/lsa/chunked_managed_vector.hh
  utils/managed_vector.hh
Owners: @tgrabiec

raft: clean up voter handler by removing redundant comments
  service/raft/group0_voter_handler.cc
Owners: none

raft: use explicit priority comparators for datacenters and racks
  service/raft/group0_voter_handler.cc
Owners: none

raft: reformat voter handler for consistent indentation
  service/raft/group0_voter_handler.cc
Owners: none

raft: simplify voter handler code to not pass node references around
  service/raft/group0_voter_handler.cc
Owners: none

chore: exclude OS and ENT from google
  docs/_templates/layout.html
Owners: none

Add support for nodetool refresh --skip-reshape
  api/api-doc/storage_service.json
  api/storage_service.cc
  docs/operating-scylla/nodetool-commands/refresh.rst
  replica/distributed_loader.cc
  replica/distributed_loader.hh
  sstables_loader.cc
  sstables_loader.hh
  test/nodetool/test_refresh.py
  tools/scylla-nodetool.cc
Owners: @denesb

doc: remove the limitation for disabling CDC
  docs/features/cdc/cdc-intro.rst
Owners: none

s3_client: Mitigate connection exhaustion in `download_source`
  test/boost/s3_test.cc
  test/perf/perf_s3_client.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

api: Shorten get_simple_states() handler
  api/failure_detector.cc
Owners: none

utils::http::dns_connection_factory: Use a shared certificate_credentials
  configure.py
  utils/CMakeLists.txt
  utils/http.cc
  utils/http.hh
Owners: none

test/cqlpy: add some more tests of secondary index system tables
  test/cqlpy/test_secondary_index.py
  test/cqlpy/test_system_tables.py
Owners: @nyh

Return correct creation date time in describe table
  alternator/executor.cc
  docs/alternator/compatibility.md
  test/alternator/test_describe_table.py
Owners: @nyh, @annastuchlik, @tzach

test_cdc_generation_clearing: wait for generations to propagate
  test/cluster/test_cdc_generation_clearing.py
Owners: none

utils::http::dns_connection_factory: Use a shared certificate_credentials
  configure.py
  utils/CMakeLists.txt
  utils/http.cc
  utils/http.hh
Owners: none

utils::http::dns_connection_factory: Use a shared certificate_credentials
  configure.py
  utils/CMakeLists.txt
  utils/http.cc
  utils/http.hh
Owners: none

replica: Fix race of some operations like cleanup with snapshot
  replica/compaction_group.hh
  replica/database.hh
  replica/table.cc
  test/topology_custom/test_tablets2.py
Owners: none

main.cc: fix group0 shutdown order
  service/raft/raft_group0.cc
  service/raft/raft_group0.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias

doc: extend 2025.2 upgrade with a note about consistent topology updates
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.1-to-2025.2/upgrade-guide-from-2025.1-to-2025.2.rst
Owners: none

storage_service: test_group0_apply_while_node_is_being_shutdown
  service/raft/raft_group0.cc
  service/storage_service.cc
  test/cluster/test_cdc_generation_data.py
Owners: @tgrabiec, @asias

utils: azure: Define interface for Azure credentials
  configure.py
  utils/CMakeLists.txt
  utils/azure/identity/credentials.cc
  utils/azure/identity/credentials.hh
  utils/azure/identity/exceptions.hh
Owners: none

utils: azure: Get access token with SP secret
  utils/azure/identity/service_principal_credentials.cc
  utils/azure/identity/service_principal_credentials.hh
Owners: none

utils: rest: Add interface for request/response redaction logic
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

utils: azure: Get access token from IMDS
  utils/azure/identity/managed_identity_credentials.cc
  utils/azure/identity/managed_identity_credentials.hh
Owners: none

utils: azure: Declare all Azure credential types
  configure.py
  utils/CMakeLists.txt
  utils/azure/identity/azure_cli_credentials.cc
  utils/azure/identity/azure_cli_credentials.hh
  utils/azure/identity/default_credentials.cc
  utils/azure/identity/default_credentials.hh
  utils/azure/identity/exceptions.hh
  utils/azure/identity/managed_identity_credentials.cc
  utils/azure/identity/managed_identity_credentials.hh
  utils/azure/identity/service_principal_credentials.cc
  utils/azure/identity/service_principal_credentials.hh
Owners: none

utils: azure: Get access token with SP certificate
  utils/azure/identity/service_principal_credentials.cc
Owners: none

encryption: gcp: Fix typo in docstring
  ent/encryption/gcp_host.cc
Owners: none

encryption: azure: Add id-based key cache
  ent/encryption/azure_host.cc
Owners: none

utils: azure: Get access token from Azure CLI
  utils/azure/identity/azure_cli_credentials.cc
  utils/azure/identity/azure_cli_credentials.hh
Owners: none

encryption: azure: Implement get_key_by_id()
  ent/encryption/azure_host.cc
Owners: none

encryption: Templatize get_{kmip,kms,gcp}_host()
  ent/encryption/encryption.cc
Owners: none

encryption: azure: Add attribute-based key cache
  ent/encryption/azure_host.cc
Owners: none

encryption: azure: Add credentials in Azure host
  ent/encryption/azure_host.cc
Owners: none

encryption: azure: Implement get_or_create_key()
  ent/encryption/azure_host.cc
  ent/encryption/azure_host.hh
Owners: none

encryption: azure: Implement init()
  ent/encryption/azure_host.cc
Owners: none

encryption: azure: Add skeleton for Azure host
  configure.py
  ent/encryption/CMakeLists.txt
  ent/encryption/azure_host.cc
  ent/encryption/azure_host.hh
Owners: none

utils: azure: Get access token with default credentials
  utils/azure/identity/default_credentials.cc
  utils/azure/identity/default_credentials.hh
Owners: none

encryption: Add Azure host cache
  ent/encryption/encryption.cc
  ent/encryption/encryption.hh
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
