Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

test/cluster/test_zero_token_nodes_no_replication.py: Adjust to RF-rack-validity
  test/cluster/test_zero_token_nodes_no_replication.py
Owners: none

test/cluster/test_tablets: Divide rack into two to adjust tests to RF-rack-validity
  test/cluster/test_tablets.py
Owners: none

test/cluster/test_tablets: Adjust test_tablet_rf_change to RF-rack-validity
  test/cluster/test_tablets.py
Owners: none

test/pylib/repair.py: Assign nodes to multiple racks in create_table_insert_data_for_repair
  test/pylib/repair.py
Owners: none

test/cluster/test_tablet_repair_scheduler.py: Adjust to RF-rack-validity
  test/cluster/test_tablet_repair_scheduler.py
Owners: none

test_mv_tablets_replace: wait for tablet replicas to balance before working on them
  test/cluster/mv/tablets/test_mv_tablets_replace.py
Owners: none

nodetool: repair: skip tablet keyspaces
  test/nodetool/test_repair.py
  tools/scylla-nodetool.cc
Owners: @denesb

test_mv_tablets_replace: wait for tablet replicas to balance before working on them
  test/cluster/mv/tablets/test_mv_tablets_replace.py
Owners: none

test_mv_tablets_replace: wait for tablet replicas to balance before working on them
  test/cluster/mv/tablets/test_mv_tablets_replace.py
Owners: none

Merge 'compress: fix an internal error when a specific debug log is enabled' from Michał Chojnowski
  compress.cc
  test/cluster/test_sstable_compression_dictionaries_basic.py
Owners: none

alter_table_statement: fix renaming multiple columns in tables with views
  cql3/statements/alter_table_statement.cc
  cql3/util.cc
  cql3/util.hh
  test/cqlpy/test_materialized_view.py
Owners: @tgrabiec, @nuivall, @ptrsmrn, @nyh

view_info: set base info on construction
  alternator/executor.cc
  cql3/statements/alter_table_statement.cc
  cql3/statements/alter_table_statement.hh
  cql3/statements/create_view_statement.cc
  db/schema_applier.cc
  db/schema_tables.cc
  db/schema_tables.hh
  db/view/view.cc
  frozen_schema.cc
  frozen_schema.hh
  index/secondary_index_manager.cc
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
  schema/schema_registry.cc
  test/boost/cql_query_test.cc
  test/boost/schema_registry_test.cc
  tools/schema_loader.cc
  view_info.hh
Owners: @nyh, @piodul, @tgrabiec, @denesb

view_info: move base-dependent variables into base_info
  db/view/view.cc
  db/view/view.hh
  view_info.hh
Owners: @nyh, @piodul

view_info: move computation of view pk columns not in base pk to view_updates
  db/view/view.cc
  db/view/view.hh
Owners: @nyh, @piodul

view_info: move the base info to a separate header
  db/view/base_info.hh
  db/view/view.hh
Owners: @nyh, @piodul

base_info: make members non-const
  db/view/base_info.hh
Owners: @nyh, @piodul

schema_registry: store base info instead of base schema for view entries
  db/schema_tables.cc
  db/schema_tables.hh
  db/view/view.cc
  frozen_schema.cc
  frozen_schema.hh
  replica/table.cc
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
  schema/schema_registry.cc
  schema/schema_registry.hh
  service/migration_manager.cc
  test/boost/schema_registry_test.cc
  view_info.hh
Owners: @tgrabiec, @nyh, @piodul

base_info: remove base schema from the base_info
  db/view/base_info.hh
  db/view/view.cc
  db/view/view.hh
  schema/schema.cc
  schema/schema_registry.cc
  schema/schema_registry.hh
  view_info.hh
Owners: @nyh, @piodul, @tgrabiec

base_info: remove base_info snapshot semantics
  db/view/view.cc
  db/view/view.hh
  db/view/view_update_generator.cc
  db/view/view_update_generator.hh
  replica/table.cc
Owners: @nyh, @piodul

view_info: don't re-set base_info after construction
  db/schema_applier.cc
  db/view/view.cc
  replica/database.cc
  replica/table.cc
  schema/schema.cc
  schema/schema_registry.cc
  schema/schema_registry.hh
  test/boost/schema_registry_test.cc
  view_info.hh
Owners: @tgrabiec, @nyh, @piodul

base_info: remove the lw_shared_ptr variant
  db/view/base_info.hh
  db/view/view.cc
  db/view/view.hh
  schema/schema.cc
  schema/schema_registry.cc
  service/migration_manager.cc
  test/boost/schema_registry_test.cc
  view_info.hh
Owners: @nyh, @piodul, @tgrabiec

test/cluster: Disable rf_rack_valid_keyspaces in problematic tests
  test/cluster/random_failures/cluster_events.py
  test/cluster/random_failures/test_random_failures.py
  test/cluster/test_raft_recovery_user_data.py
  test/cluster/test_tablets.py
  test/cluster/test_tablets2.py
  test/cluster/test_tablets_removenode.py
  test/cluster/test_topology_ops.py
  test/cluster/test_topology_ops_encrypted.py
Owners: none

test/cluster/suite.yaml: Enable rf_rack_valid_keyspaces in suite
  test/cluster/suite.yaml
Owners: none

mapreduce_service: Prevent race condition
  service/mapreduce_service.cc
Owners: none

database_test: Wait for the index to be created
  test/boost/database_test.cc
Owners: none

test
  db/schema_tables.cc
  schema/schema_builder.hh
Owners: @tgrabiec

serializer_impl.hh: add as_input_stream(managed_bytes_view) overload
  serializer_impl.hh
Owners: none

raft_sys_table_storage: avoid temporary buffer when deserializing log_entry
  service/raft/raft_sys_table_storage.cc
Owners: none

generic_server: server: do_accepts: prevent gate_closed_exception
  generic_server.cc
Owners: none

database_test: Wait for the index to be created
  test/boost/database_test.cc
Owners: none

mv: add a test for dropping an index while it's building
  db/view/view.cc
  test/topology_custom/test_mv_building.py
Owners: @nyh, @piodul

test: remove flakiness from test_schema_is_recovered_after_dying
  test/boost/schema_registry_test.cc
Owners: @tgrabiec

encryption_test: Catch exact exception
  test/boost/encryption_at_rest_test.cc
Owners: none

docs: add more steps in installation of test.py
  docs/dev/testing.md
Owners: none

test: simplify pytest params in test_long_query_timeout_erm
  test/cluster/test_long_query_timeout_erm.py
Owners: none

doc: remove the redundant pages
  docs/_utils/redirects.yaml
  docs/contribute.rst
  docs/getting-started/index.rst
  docs/getting-started/tutorials.rst
  docs/index.rst
Owners: @annastuchlik, @tzach

streaming: skip dropped tables
  streaming/stream_session.cc
Owners: @tgrabiec, @asias

test.py: change pattern for cleaning .log files in testlog directory
  test/pylib/suite/base.py
Owners: none

locator/production_snitch_base: Reduce log level when property file incomplete
  locator/production_snitch_base.cc
Owners: none

s3_client: Mitigate connection exhaustion in `download_source`
  test/boost/s3_test.cc
  test/perf/perf_s3_client.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none
