Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

storage_proxy_stats: add fenced_out_requests metric
  service/storage_proxy.cc
  service/storage_proxy.hh
  service/storage_proxy_stats.hh
Owners: @gleb-cloudius

sp::apply_fence: rename to check_fence
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

storage_proxy::apply_fence: add overload that throws on failure
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

pylib/rest_client.py: encode injection name
  test/pylib/rest_client.py
Owners: none

test_fencing: add test_fenced_out_on_tablet_migration_while_handling_paxos_verb
  service/storage_service.cc
  test/cluster/test_fencing.py
Owners: @tgrabiec, @asias

sp::apply_fence: make non-generic
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

describe, cdc: adjust describe for cdc log tables
  cql3/statements/describe_statement.cc
  test/cqlpy/test_describe.py
Owners: @nyh

test/cqlpy: adjust describe table tests with CDC for Vector Search
  test/cqlpy/test_describe.py
Owners: @nyh

test/cqlpy: run vector_index tests only on vnodes
  test/cqlpy/cassandra_tests/vector_invalid_query_test.py
  test/cqlpy/test_invalid_ann_queries.py
  test/cqlpy/test_vector_index.py
Owners: @nyh

cdc: enable CDC log when vector index is created
  cdc/log.cc
  cdc/log.hh
Owners: @kbr-scylla, @elcallio, @piodul

ip_address_updater: call raft_topology_update_ip even if ip hasn't changed
  service/storage_service.cc
Owners: @tgrabiec, @asias

db/system_keyspace: add `view_building_tasks` table
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias

db/system_keyspace: move `get_scylla_local_mutation()` up
  db/system_keyspace.cc
Owners: none

db/system_keyspace: move `internal_system_query_state()` function earlier
  db/system_keyspace.cc
Owners: none

db/view: add view_building_state and views_state
  configure.py
  db/CMakeLists.txt
  db/view/view_building_state.cc
  db/view/view_building_state.hh
Owners: @nyh, @piodul

gms/feature_service: add VIEW_BUILDING_COORDINATOR feature
  gms/feature_service.hh
Owners: @tgrabiec, @asias, @kbr-scylla

db/view: ignore tablet-based views in `view_builder`
  db/view/view.cc
Owners: @nyh, @piodul

db/system_keyspace: add method to get view build status map
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none

db/view: extract `system.view_build_status_v2` cql statements to system_keyspace
  db/system_keyspace.cc
  db/system_keyspace.hh
  db/view/view.cc
  db/view/view_build_status.hh
Owners: @nyh, @piodul

service/vb_coordinator: add currently processing base
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none

service/migration_manager: pass `storage_proxy` to `prepare_keyspace_drop_announcement()`
  alternator/executor.cc
  cql3/statements/drop_keyspace_statement.cc
  service/migration_manager.cc
  service/migration_manager.hh
  test/boost/group0_cmd_merge_test.cc
  test/boost/schema_change_test.cc
Owners: @nyh, @tgrabiec

service/migration_manager: cleanup view building state on drop view
  service/migration_manager.cc
Owners: @tgrabiec

service/migration_manager: coroutinize `prepare_new_view_announcement()`
  service/migration_manager.cc
Owners: @tgrabiec

test/boost: enable proxy remote in some tests
  test/boost/cql_query_test.cc
  test/boost/tablets_test.cc
Owners: none

service: reload `view_building_state_machine` on group0 apply()
  db/view/view_building_state.hh
  main.cc
  service/raft/group0_state_machine.cc
  service/storage_service.cc
  service/storage_service.hh
  test/lib/cql_test_env.cc
Owners: @nyh, @piodul, @tgrabiec, @asias

db/schema_tables: create/cleanup tasks when an index is created/dropped
  cdc/log.cc
  db/schema_tables.cc
  db/schema_tables.hh
  service/migration_manager.cc
  test/boost/schema_change_test.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec

service/migration_manager: create view building tasks on create view
  service/migration_manager.cc
Owners: @tgrabiec

service/migration_manager: cleanup view building state on drop keyspace
  service/migration_manager.cc
Owners: @tgrabiec

service/topology_coordinator: make `term_changed_error` public
  service/topology_coordinator.cc
  service/topology_coordinator.hh
Owners: none

service/storage_proxy: expose references to `system_keyspace` and `view_building_state_machine`
  main.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
  test/lib/cql_test_env.cc
Owners: @gleb-cloudius

message/messaging_service: add `work_on_view_building_tasks` RPC
  db/view/view_building_state.hh
  idl/view.idl.hh
  message/messaging_service.cc
  message/messaging_service.hh
Owners: @nyh, @piodul

db/view: add view building task mutation builder
  configure.py
  db/CMakeLists.txt
  db/view/view_building_task_mutation_builder.cc
  db/view/view_building_task_mutation_builder.hh
Owners: @nyh, @piodul

db/view: introduce `view_building_coordinator`
  configure.py
  db/CMakeLists.txt
  db/view/view_building_coordinator.cc
  db/view/view_building_coordinator.hh
  db/view/view_building_state.cc
  db/view/view_building_state.hh
Owners: @nyh, @piodul

service/topology_coordinator: run view building coordinator
  service/storage_service.cc
  service/topology_coordinator.cc
  service/topology_coordinator.hh
Owners: @tgrabiec, @asias

db/view: prepare to create abstract `view_consumer`
  db/view/view.cc
Owners: @nyh, @piodul

db/view: introduce `view_building_worker`
  configure.py
  db/CMakeLists.txt
  db/view/view.cc
  db/view/view_building_state.cc
  db/view/view_building_state.hh
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
  main.cc
Owners: @nyh, @piodul

db/view: extract common view building functionalities
  configure.py
  db/CMakeLists.txt
  db/view/view.cc
  db/view/view_consumer.cc
  db/view/view_consumer.hh
Owners: @nyh, @piodul

db/view/view_building_worker: update built views locally
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
Owners: @nyh, @piodul

db/view/view_building_coordinator: handle tablet operations
  db/view/view_building_coordinator.cc
  db/view/view_building_coordinator.hh
  db/view/view_building_task_mutation_builder.cc
  db/view/view_building_task_mutation_builder.hh
  service/raft/group0_state_machine.cc
  service/storage_service.cc
  service/topology_coordinator.cc
Owners: @nyh, @piodul, @tgrabiec, @asias

db/view/view_update_generator: add method to process staging sstables instantly
  db/view/view_update_generator.cc
  db/view/view_update_generator.hh
Owners: @nyh, @piodul

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
