Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

service_level_controller: handle special sl:driver in DESC output
  service/qos/service_level_controller.cc
  service/qos/service_level_controller.hh
Owners: none

service_level_controller: methods to create driver service level
  service/qos/raft_service_level_distributed_data_accessor.cc
  service/qos/raft_service_level_distributed_data_accessor.hh
  service/qos/service_level_controller.cc
  service/qos/service_level_controller.hh
Owners: none

service_level_controller: automatically create `sl:driver`
  CMakeLists.txt
  configure.py
  gms/feature_service.hh
  service/storage_service.cc
  service/topology_coordinator.cc
  test/boost/auth_test.cc
  test/boost/cql_query_test.cc
  test/boost/database_test.cc
  test/cluster/auth_cluster/test_raft_service_levels.py
  test/cluster/util.py
  test/cqlpy/test_describe.py
  test/cqlpy/test_service_levels.py
Owners: @tgrabiec, @asias, @kbr-scylla, @nyh

test: add reload_raft_topology_state() to ScyllaRESTAPIClient
  test/pylib/rest_client.py
Owners: none

test: service_levels: add tests for sl:driver creation and removal
  test/cluster/auth_cluster/test_raft_service_levels.py
Owners: none

test: add test_desc_* for driver service level
  test/cqlpy/test_describe.py
Owners: @nyh

generic_server: transport: start using `sl:driver` for new connections
  test/boost/generic_server_test.cc
  test/perf/perf_generic_server.cc
  transport/generic_server.cc
  transport/generic_server.hh
  transport/server.cc
  transport/server.hh
Owners: none

transport: call update_scheduling_group for non-auth connections
  transport/server.cc
Owners: none

transport: whitespace only change in update_scheduling_group
  transport/server.cc
Owners: none

transport: use `sl:driver` to handle driver's control connections
  service/client_state.hh
  transport/server.cc
Owners: none

test: add test to verify use of `sl:driver`
  test/cluster/auth_cluster/test_raft_service_levels.py
Owners: none

docs: workload-prioritization: add driver service level
  docs/features/workload-prioritization.rst
Owners: none

replica: Fix race between drop table and merge completion handling
  replica/compaction_group.hh
  replica/table.cc
  test/cluster/test_tablets_merge.py
Owners: none

load_sketch: use tablet sizes in load computation
  db/virtual_tables.cc
  docs/dev/system_keyspace.md
  locator/load_sketch.hh
  locator/network_topology_strategy.cc
  test/boost/tablets_test.cc
  test/perf/tablet_load_balancing.cc
Owners: none

test, load balancing: add test for table balance
  test/boost/tablets_test.cc
  test/lib/topology_builder.hh
Owners: none

load_balancer: implement size-based load balancing
  service/tablet_allocator.cc
  test/boost/tablets_test.cc
  test/cluster/test_raft_recovery_user_data.py
  test/cluster/test_size_based_load_balancing.py
  test/cluster/test_tablets.py
  test/cluster/test_tablets2.py
  test/cluster/test_tablets_merge.py
Owners: none

config: add force_capacity_based_balancing and size_based_balance_threshold_percentage
  db/config.cc
  db/config.hh
  service/tablet_allocator.cc
Owners: none

test, simulator: compute load based on tablet size instead of count
  test/perf/tablet_load_balancing.cc
Owners: none

test, simulator: generate tablet sizes and update load_stats
  test/perf/tablet_load_balancing.cc
Owners: none

test, simulator: postpone creation of load_stats_ptr
  test/perf/tablet_load_balancing.cc
Owners: none

vector_search: Fix flaky test by mocking DNS queries
  test/vector_search/vector_store_client_test.cc
  vector_search/dns.cc
  vector_search/dns.hh
Owners: none

vector_search: Fix flaky connection in tests
  test/vector_search/vector_store_client_test.cc
Owners: none

vector_search: Refactor ANN request test
  test/vector_search/vector_store_client_test.cc
Owners: none

vector_search: Unify test timeouts
  test/vector_search/vector_store_client_test.cc
Owners: none

vector_search: Fix missing timeout reset
  test/vector_search/vector_store_client_test.cc
Owners: none

db/view/view_building_worker: futurize and rename `start_background_fibers()`
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
  main.cc
Owners: @nyh, @piodul

db/system_keyspace: disable caching for the batchlog table
  db/system_keyspace.cc
Owners: none

replica/mutation_dump: multi_range_partition_generator: disable garbage-collection
  replica/mutation_dump.cc
  test/cqlpy/test_select_from_mutation_fragments.py
Owners: @tgrabiec, @nyh

tools/scylla-sstable: add std::ostream& arg to query result printers
  tools/scylla-sstable.cc
Owners: @denesb

tools/scylla-sstable: extract query result printers
  cql3/query_result_printer.hh
  cql3/result_set.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @nuivall, @ptrsmrn, @denesb

mutation/mutation_compactor: compaction:stats: split partitions
  mutation/mutation_compactor.hh
  replica/multishard_query.cc
  replica/querier.hh
Owners: @tgrabiec, @denesb

mutation/mutation_compactor: add tombstone_gc_enabled parameter
  mutation/mutation_compactor.hh
  replica/database.cc
  replica/database.hh
  replica/multishard_query.cc
  replica/multishard_query.hh
  replica/querier.hh
  replica/query.hh
  replica/table.cc
  test/boost/mutation_test.cc
Owners: @tgrabiec, @denesb

db/batchlog_manager: collect tracing [WIP]
  cql3/query_processor.cc
  cql3/query_processor.hh
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  repair/row_level.cc
  test/cluster/test_batchlog_manager.py
Owners: @tgrabiec, @nuivall, @ptrsmrn, @elcallio, @asias

db/config: change batchlog_replay_cleanup_after_replays default to 1
  db/config.cc
Owners: none

db/batchlog_manager: finish coroutinizing replay_all_failed_batches
  db/batchlog_manager.cc
Owners: @elcallio

db/batchlog_manager: collect replay stats [WIP]
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  repair/row_level.cc
  test/boost/batchlog_manager_test.cc
Owners: @elcallio, @tgrabiec, @asias

test/lib/cql_assertions: columns_assertions: add assert_for_columns_of_each_row()
  test/lib/cql_assertions.cc
  test/lib/cql_assertions.hh
Owners: none

test/lib/cql_assertions: columns_assertions: add T* with_typed_column() overload
  test/lib/cql_assertions.hh
Owners: none

test/boost/batchlog_manager_test: add test for batchlog cleanup
  service/storage_proxy.cc
  test/boost/batchlog_manager_test.cc
  test/boost/test_config.yaml
Owners: @gleb-cloudius

db/batchlog_manager: batch(): replace map_reduce() with simple loop
  db/batchlog_manager.cc
Owners: @elcallio

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
