Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

doc: remove copyright from Cassandra Stress
  docs/operating-scylla/admin-tools/cassandra-stress.rst
Owners: none

test_cdc_generation_publishing: fix to read monotonically
  test/topology_custom/test_cdc_generation_publishing.py
Owners: none

mutation/mutation_compactor: cache regular/shadowable max-purgable in separate members
  mutation/mutation_compactor.hh
  test/boost/mutation_test.cc
Owners: @tgrabiec

Update seastar submodule
  scylla-gdb.py
Owners: none

test/boost/tablets_test.cc: Adjust test_load_balancer_shuffle_mode to RF-rack-validity
  test/boost/tablets_test.cc
Owners: none

test/boost/tablets_test.cc: Adjust test_load_balancing_with_random_load to RF-rack-validity
  test/boost/tablets_test.cc
Owners: none

test/boost/tablets_test.cc: Fix indentation in test_load_balancing_with_random_load
  test/boost/tablets_test.cc
Owners: none

test/boost/tablets_test.cc: Adjust test_load_balancing_works_with_in_progress_transitions to RF-rack-validity
  test/boost/tablets_test.cc
Owners: none

test/lib/cql_test_env.cc: Enable rf_rack_valid_keyspaces by default
  test/lib/cql_test_env.cc
Owners: none

test/boost/tablets_test.cc: Adjust test_load_balancing_resize_requests to RF-rack-validity
  test/boost/tablets_test.cc
Owners: none

test/boost/tablets_test.cc: Explicitly disable rf_rack_valid_keyspaces in problematic tests
  test/boost/tablets_test.cc
Owners: none

test/boost/tablets_test.cc: Adjust test_load_balancing_with_two_empty_nodes to RF-rack-validity
  test/boost/tablets_test.cc
Owners: none

utils/lsa/chunked_managed_vector: fix the calculation of max_chunk_capacity()
  utils/logalloc.cc
  utils/logalloc.hh
  utils/lsa/chunked_managed_vector.hh
  utils/managed_vector.hh
Owners: @tgrabiec

mutation/mutation_compactor: cache regular/shadowable max-purgable in separate members
  mutation/mutation_compactor.hh
  test/boost/mutation_test.cc
Owners: @tgrabiec

test: test_raft_recovery_user_data: disable hinted handoff
  test/cluster/test_raft_recovery_user_data.py
Owners: none

utils/stream_compressor: allocate memory for zstd compressors externally
  utils/stream_compressor.cc
  utils/stream_compressor.hh
Owners: none

doc: update migration tools overview
  docs/using-scylla/mig-tool-review.rst
Owners: none

test.py: allow cmake configuration and ./configure.py configuration to coexist
  test/__init__.py
  test/pylib/util.py
Owners: none

test: Add tests for Azure Key Provider
  test/boost/encryption_at_rest_test.cc
Owners: none

docs: Document the Azure Key Provider
  docs/operating-scylla/security/encryption-at-rest.rst
Owners: none

compress: fix a use-after-free in `dictionary_holder::get_recommended_dict()`
  compress.cc
Owners: none

pgo: drop Java configuration
  pgo/pgo.py
Owners: none

utils/lsa/chunked_managed_vector: fix the calculation of max_chunk_capacity()
  utils/logalloc.cc
  utils/logalloc.hh
  utils/lsa/chunked_managed_vector.hh
  utils/managed_vector.hh
Owners: @tgrabiec

test/alternator: verify that DeleteItem returns an empty object
  test/alternator/test_item.py
Owners: @nyh

test: test_raft_recovery_user_data: disable hinted handoff
  test/cluster/test_raft_recovery_user_data.py
Owners: none

alternator: hide internal tags from users
  alternator/executor.cc
  test/alternator/test_tag.py
  test/alternator/test_ttl.py
Owners: @nyh

utils/lsa/chunked_managed_vector: fix the calculation of max_chunk_capacity()
  utils/logalloc.cc
  utils/logalloc.hh
  utils/lsa/chunked_managed_vector.hh
  utils/managed_vector.hh
Owners: @tgrabiec

gms/feature_service: add VIEW_BUILDING_COORDINATOR feature
  gms/feature_service.hh
Owners: @tgrabiec, @asias, @kbr-scylla

db/view: ignore tablet-based views in `view_builder`
  db/view/view.cc
Owners: @nyh, @piodul

db/view: move `system.view_build_status_v2` cql statements to system_keyspace
  db/system_keyspace.cc
  db/system_keyspace.hh
  db/view/view.cc
  db/view/view_build_status.hh
Owners: @nyh, @piodul

service/migration_manager: pass `storage_proxy` to `prepare_keyspace_drop_announcement()`
  alternator/executor.cc
  cql3/statements/drop_keyspace_statement.cc
  service/migration_manager.cc
  service/migration_manager.hh
  test/boost/group0_cmd_merge_test.cc
  test/boost/schema_change_test.cc
Owners: @nyh, @tgrabiec

service: reload `view_building_state_machine` on group0 apply()
  main.cc
  service/raft/group0_state_machine.cc
  service/storage_service.cc
  service/storage_service.hh
  service/view_building_state.hh
  test/lib/cql_test_env.cc
Owners: @tgrabiec, @asias

db/schema_tables: create/cleanup tasks when an index is created/dropped
  cdc/log.cc
  db/schema_tables.cc
  db/schema_tables.hh
  service/migration_manager.cc
  test/boost/schema_change_test.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec

service/storage_proxy: expose references to `system_keyspace` and `view_building_state_machine`
  main.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
  test/lib/cql_test_env.cc
Owners: @gleb-cloudius

service/migration_manager: cleanup view building state on drop keyspace
  service/migration_manager.cc
Owners: @tgrabiec

service/vb_coordinator: add currently processing base
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias

service: add `view_building_state` and `views_state`
  configure.py
  service/CMakeLists.txt
  service/view_building_state.cc
  service/view_building_state.hh
Owners: none

service/migration_manager: cleanup view building state on drop view
  service/migration_manager.cc
Owners: @tgrabiec

service/migration_manager: coroutinize `prepare_new_view_announcement()`
  service/migration_manager.cc
Owners: @tgrabiec

service/migration_manager: create view building tasks on create view
  service/migration_manager.cc
Owners: @tgrabiec
