Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

storage_proxy: add write type parameter to mutate_internal
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

test: test_batchlog_manager: test batch replay when a node is down
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  service/storage_proxy.cc
  test/cluster/test_batchlog_manager.py
Owners: @elcallio, @gleb-cloudius

batchlog_manager: create cancellable write response handler
  db/batchlog_manager.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @elcallio, @gleb-cloudius

test: test_batchlog_manager: batchlog replay includes cdc
  test/cluster/test_batchlog_manager.py
Owners: none

topology coordinator: do not set request_type field for truncation command if topology_global_request_queue feature is not enabled yet
  cql3/statements/alter_keyspace_statement.cc
  service/storage_proxy.cc
Owners: @gleb-cloudius

sstables: Move versions static-assertion check to .cc file
  sstables/sstable_version.cc
  sstables/version.hh
Owners: @tgrabiec, @raphaelsc

test.py: run boost test in a separate shell
  test/pylib/resource_gather.py
Owners: none

set system.clients empty columns
  generic_server.hh
  test/cqlpy/test_ssl.py
  test/cqlpy/test_virtual_tables.py
  transport/server.cc
Owners: @nyh

custom_index: remove unneeded duplicate of a static string
  cql3/statements/index_target.cc
  cql3/statements/index_target.hh
  index/secondary_index_manager.cc
Owners: @nyh, @piodul

custom_index: do not create view when creating a custom index
  db/schema_tables.cc
  index/secondary_index_manager.cc
  index/secondary_index_manager.hh
  index/vector_index.cc
  index/vector_index.hh
  test/cqlpy/test_vector_index.py
Owners: @tgrabiec, @nyh, @piodul

custom_index: refactor describe for custom indexes
  cql3/statements/describe_statement.cc
  index/secondary_index_manager.hh
  index/vector_index.cc
  index/vector_index.hh
  test/cqlpy/test_describe.py
Owners: @nyh, @piodul

test.py: skip cleaning artifacts when -s provided
  test.py
  test/conftest.py
  test/pylib/ldap_server.py
  test/pylib/suite/base.py
Owners: none

storage_proxy: avoid large allocation when storing batch in system.batchlog
  service/storage_proxy.cc
Owners: @gleb-cloudius

api: repair_async: forbid repairing tablet keyspaces
  api/storage_service.cc
  repair/repair.cc
  repair/repair.hh
  repair/row_level.hh
  test/cluster/test_tablets2.py
  test/rest_api/test_repair_task.py
Owners: @tgrabiec, @asias

repair: remove unused code
  locator/tablets.cc
  locator/tablets.hh
  repair/repair.cc
  repair/row_level.hh
Owners: @tgrabiec, @asias

replica: Fix truncate assert failure
  replica/database.cc
  replica/distributed_loader.cc
  replica/table.cc
  service/storage_service.cc
  sstables/sstable_directory.cc
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  test/boost/sstable_conforms_to_mutation_source_test.cc
  test/boost/sstable_mutation_test.cc
  test/lib/sstable_test_env.hh
  test/lib/sstable_utils.cc
  test/lib/sstable_utils.hh
  test/lib/test_services.cc
  test/topology_custom/test_truncate_with_tablets.py
Owners: @tgrabiec, @asias, @raphaelsc

locator: tablets: tablet_metadata: clear_gently: optimize foreign ptr destruction
  locator/tablets.cc
Owners: none

token_metadata: keep a reference to shared_token_metadata
  locator/token_metadata.cc
  locator/token_metadata.hh
  test/boost/tablets_test.cc
  test/boost/token_metadata_test.cc
Owners: none

token_metadata: clear_and_destroy_impl when destroyed
  locator/token_metadata.cc
  locator/token_metadata.hh
  test/boost/locator_topology_test.cc
  test/boost/network_topology_strategy_test.cc
  test/boost/service_level_controller_test.cc
  test/boost/tablets_test.cc
  test/boost/token_metadata_test.cc
Owners: none

replica: database: get and expose a mutable locator::shared_token_metadata
  replica/database.cc
  replica/database.hh
Owners: none

token_metadata_impl: clear_gently: release version tracker early
  locator/token_metadata.cc
Owners: none

token_metadata: move make_token_metadata_ptr into shared_token_metadata class
  locator/token_metadata.cc
  locator/token_metadata.hh
  repair/repair.cc
  service/storage_service.cc
  service/storage_service.hh
  test/boost/storage_proxy_test.cc
Owners: @tgrabiec, @asias

test: cluster: test_tablets_merge: add test_tablet_split_merge_with_many_tables
  test/topology_custom/test_tablets_merge.py
Owners: none

token_metadata: clear_and_destroy_impl when destroyed
  locator/token_metadata.cc
  locator/token_metadata.hh
  test/boost/locator_topology_test.cc
  test/boost/network_topology_strategy_test.cc
  test/boost/service_level_controller_test.cc
  test/boost/tablets_test.cc
  test/boost/token_metadata_test.cc
Owners: none

locator: tablets: tablet_metadata: clear_gently: optimize foreign ptr destruction
  locator/tablets.cc
Owners: none

token_metadata_impl: clear_gently: release version tracker early
  locator/token_metadata.cc
Owners: none

replica: database: get and expose a mutable locator::shared_token_metadata
  replica/database.cc
  replica/database.hh
Owners: none

token_metadata: move make_token_metadata_ptr into shared_token_metadata class
  locator/token_metadata.cc
  locator/token_metadata.hh
  repair/repair.cc
  service/storage_service.cc
  service/storage_service.hh
  test/boost/storage_proxy_test.cc
Owners: @tgrabiec, @asias

test: cluster: test_tablets_merge: add test_tablet_split_merge_with_many_tables
  test/cluster/test_tablets_merge.py
Owners: none

token_metadata: keep a reference to shared_token_metadata
  locator/token_metadata.cc
  locator/token_metadata.hh
  test/boost/tablets_test.cc
  test/boost/token_metadata_test.cc
Owners: none

aws_error: Add factory method for `aws_error` from exception
  utils/s3/aws_error.cc
  utils/s3/aws_error.hh
  utils/s3/retryable_http_client.cc
Owners: none

topology coordinator: log a start and an end of topology coordinator command execution at info level
  service/storage_service.cc
Owners: @tgrabiec, @asias

topology coordinator: add REST endpoint to query the status of ongoing topology cmd rpc
  api/api-doc/storage_service.json
  api/storage_service.cc
  service/storage_service.cc
  service/storage_service.hh
  service/topology_coordinator.cc
  service/topology_coordinator.hh
Owners: @tgrabiec, @asias

topology coordinator: add REST endpoint to query the status of ongoing topology cmd rpc
  api/api-doc/storage_service.json
  api/storage_service.cc
  service/storage_service.cc
  service/storage_service.hh
  service/topology_coordinator.cc
  service/topology_coordinator.hh
Owners: @tgrabiec, @asias

topology coordinator: log a start and an end of topology coordinator command execution at info level
  service/storage_service.cc
Owners: @tgrabiec, @asias

batchlog_manager: create cancellable write response handler
  db/batchlog_manager.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @elcallio, @gleb-cloudius

storage_proxy: add write type parameter to mutate_internal
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

batchlog_manager: set timeout on writes
  db/batchlog_manager.cc
  db/batchlog_manager.hh
Owners: @elcallio

batchlog_manager: abort writes on shutdown
  db/batchlog_manager.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @elcallio, @gleb-cloudius

batchlog_manager: create cancellable write response handler
  db/batchlog_manager.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @elcallio, @gleb-cloudius

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
