Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

Add ignore_errors to estimate_total_sstable_volume function
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

Add simple_value_with_expiry template class
  utils/simple_value_with_expiry.hh
Owners: none

Add storage_service to alternator
  alternator/controller.cc
  alternator/controller.hh
  alternator/executor.cc
  alternator/executor.hh
  main.cc
Owners: @nyh

test/cqlpy/test_describe.py: Adjust test_desc_restore to work with Cassandra
  test/cqlpy/test_describe.py
Owners: @nyh

test/cqlpy/test_describe.py: Adjust test_create_role_with_hashed_password_authorization to work with Cassandra
  test/cqlpy/test_describe.py
Owners: @nyh

rest_api: add endpoint which drops all quarantined sstables
  api/api-doc/storage_service.json
  api/storage_service.cc
  replica/database.hh
  replica/table.cc
Owners: none

utils::http::dns_connection_factory: Use a shared certificate_credentials
  configure.py
  utils/CMakeLists.txt
  utils/http.cc
  utils/http.hh
Owners: none

Add fill_table_description and create_table_on_shard0 to executor
  alternator/executor.cc
  alternator/executor.hh
Owners: @nyh

storage_service: Cancel all write requests after stopping transports
  main.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
  service/storage_service.cc
  service/storage_service.hh
  test/cluster/test_unfinished_writes_during_shutdown.py
Owners: @gleb-cloudius, @tgrabiec, @asias

repair: distribute tablet_repair_task_meta among shards
  repair/repair.cc
  repair/task_manager_module.hh
Owners: @tgrabiec, @asias

tasks: change _finished_children type
  tasks/task_manager.hh
Owners: none

test: cdc: add test_cdc_with_alter
  cdc/log.cc
  test/topology_custom/test_cdc_with_alter.py
Owners: @kbr-scylla, @elcallio, @piodul

cdc: throw error if column doesn't exist
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

test: cdc: add test_cdc_with_alter
  cdc/log.cc
  test/cluster/test_cdc_with_alter.py
Owners: @kbr-scylla, @elcallio, @piodul

cdc: throw error if column doesn't exist
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

cdc: throw error if column doesn't exist
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

test: cdc: add test_cdc_with_alter
  cdc/log.cc
  test/cluster/test_cdc_with_alter.py
Owners: @kbr-scylla, @elcallio, @piodul

replica: don't throw exceptions for read timeout
  reader_concurrency_semaphore.cc
  reader_permit.hh
  sstables/mx/reader.cc
  test/boost/database_test.cc
Owners: @denesb

Add open-coredump script depndencies to install-dependencies.sh
  install-dependencies.sh
Owners: none

paxos_state: extract state access functions into paxos_store
  main.cc
  service/paxos/paxos_state.cc
  service/paxos/paxos_state.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
  test/lib/cql_test_env.cc
Owners: @gleb-cloudius

paxos_state: inline system_keyspace functions into paxos_store
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/paxos/paxos_state.cc
  service/paxos/paxos_state.hh
Owners: none

paxos_state: lazily create paxos state table
  main.cc
  service/paxos/paxos_state.cc
  service/paxos/paxos_state.hh
  service/storage_proxy.cc
  test/lib/cql_test_env.cc
Owners: @gleb-cloudius

database: get_base_table_for_tablet_colocation: handle paxos state table
  replica/database.cc
  service/paxos/paxos_state.cc
  service/paxos/paxos_state.hh
Owners: none

test_tablets_lwt: add simple test for LWT
  test/cluster/test_tablets_lwt.py
Owners: none

storage_proxy: handle node_local_only in query
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

feature_service: add LWT_WITH_TABLETS feature
  gms/feature_service.hh
Owners: @tgrabiec, @asias, @kbr-scylla

storage_proxy: simplify mutate_prepare
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

storage_proxy: rename create_write_response_handler -> make_write_response_handler
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

storage_proxy: add coordinator_mutate_options
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

paxos_store: coroutinize
  service/paxos/paxos_state.cc
  service/paxos/paxos_state.hh
Owners: none

paxos_store: conditional cf_id filter
  service/paxos/paxos_state.cc
  service/paxos/paxos_state.hh
Owners: none

query_options: add node_local_only mode
  cql3/query_options.cc
  cql3/query_options.hh
  cql3/query_processor.cc
  cql3/query_processor.hh
  cql3/statements/modification_statement.cc
  cql3/statements/select_statement.cc
  service/pager/query_pagers.cc
Owners: @tgrabiec, @nuivall, @ptrsmrn

client_state: extract check_internal_table_permissions
  service/client_state.cc
  service/client_state.hh
Owners: none

check_internal_table_permissions: handle Paxos state tables
  service/client_state.cc
  service/client_state.hh
Owners: none

storage_proxy: handle node_local_only in mutate
  inet_address_vectors.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

paxos_state: use node_local_only mode to access paxos state
  service/paxos/paxos_state.cc
Owners: none

storage_proxy: introduce node_local_only flag
  cql3/query_options.hh
  cql3/query_processor.hh
  service/storage_proxy.hh
  service/storage_proxy_fwd.hh
Owners: @tgrabiec, @nuivall, @ptrsmrn, @gleb-cloudius

qp: make make_internal_options public
  cql3/query_processor.hh
Owners: @tgrabiec, @nuivall, @ptrsmrn

paxos_store: handle base table removal
  service/paxos/paxos_state.cc
  service/paxos/paxos_state.hh
Owners: none

abstract_replication_strategy: remove unused using
  locator/abstract_replication_strategy.hh
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
