Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

tablet_allocator: use tablet_map_view to read repair fields
  locator/tablets.cc
  locator/tablets.hh
  service/tablet_allocator.cc
Owners: none

replica/tablets: replace base_tables map with colocated_table_info
  replica/tablets.cc
Owners: none

topology_coordinator: repair single table in colocation group
  service/tablet_allocator.cc
  service/topology_coordinator.cc
Owners: none

storage_service: allow repair request on colocated tables
  service/storage_service.cc
Owners: @tgrabiec, @asias

test_tablets_colocation: update repair colocated tables test
  test/cluster/test_tablets_colocation.py
Owners: none

remove redis documentation
  docs/dev/protocols.md
  docs/dev/redis.md
  docs/dev/repository_layout.md
  docs/operating-scylla/admin-tools/maintenance-mode.rst
Owners: none

cdc, vector_index: provide minimal option setup for Vector Search
  cdc/log.cc
  cql3/statements/alter_table_statement.cc
  index/vector_index.cc
  index/vector_index.hh
Owners: @kbr-scylla, @elcallio, @piodul, @nyh

test/cql: add Vector Search CDC enable/disable test
  test/cql/vs_cdc_enable_disable_test.cql
  test/cql/vs_cdc_enable_disable_test.result
Owners: none

test/boost: adjust CDC boost tests for Vector Search
  test/boost/cdc_test.cc
Owners: @kbr-scylla, @elcallio, @piodul

test/cqlpy: ensure Vector Search CDC options
  test/cqlpy/test_vector_index.py
Owners: @nyh

system_keyspace: add service_level_driver_created
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none

service_level_controller: implement create_driver_service_level
  CMakeLists.txt
  configure.py
  main.cc
  service/qos/service_level_controller.cc
  service/qos/service_level_controller.hh
  test/cluster/auth_cluster/test_raft_service_levels.py
Owners: none

cas: pass timeout_if_partially_accepted := write to accept_proposal()
  service/storage_proxy.cc
  test/cluster/test_tablets_lwt.py
Owners: @gleb-cloudius

test: service_levels: add tests for sl:driver creation and removal
  test/cluster/auth_cluster/test_raft_service_levels.py
Owners: none

transport: start using sl:driver for new connections
  transport/server.cc
  transport/server.hh
Owners: none

transport: rename `update_scheduling_group` function
  transport/server.cc
  transport/server.hh
Owners: none

test: service_levels: check sl:driver is used for new CQL connections
  test/cluster/auth_cluster/test_raft_service_levels.py
Owners: none

types/comparable_bytes: support set and list cql3 types
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support vector cql3 type
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support map cql3 type
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support tuple and UDT cql3 type
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support reversed types
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support empty type
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

transport: whitespace only change in update_scheduling_group_to_user
  transport/server.cc
Owners: none

transport: use `sl:driver` to handle driver's control connections
  service/client_state.hh
  test/cqlpy/test_service_level_api.py
  transport/server.cc
  transport/server.hh
Owners: @nyh

test: add test verifies sl:driver is used for schema/topology fetches
  test/cluster/auth_cluster/test_raft_service_levels.py
Owners: none

docs: workload-prioritization: add driver service level
  docs/features/workload-prioritization.rst
Owners: none

streaming: Enclose potential throws in try block and ensure sink close before logging
  streaming/stream_blob.cc
Owners: @tgrabiec, @asias

github: Enhance label sync to support P0/P1 priority labels
  .github/scripts/sync_labels.py
  .github/workflows/sync-labels.yaml
Owners: none

replica: Fix race between drop table and merge completion handling
  replica/compaction_group.hh
  replica/table.cc
  test/cluster/test_tablets_merge.py
Owners: none

mv: save the nodes used for pairing calculations for later reuse
  db/view/view.cc
Owners: @nyh, @piodul

cmake: Add missing `incremental.cc` to `repair/CMakeLists.txt`
  repair/CMakeLists.txt
Owners: @tgrabiec, @asias

Add precompiled headers to CMakeLists.txt
  CMakeLists.txt
  alternator/CMakeLists.txt
  api/CMakeLists.txt
  audit/CMakeLists.txt
  auth/CMakeLists.txt
  cdc/CMakeLists.txt
  compaction/CMakeLists.txt
  configure.py
  cql3/CMakeLists.txt
  data_dictionary/CMakeLists.txt
  db/CMakeLists.txt
  dht/CMakeLists.txt
  ent/encryption/CMakeLists.txt
  ent/ldap/CMakeLists.txt
  gms/CMakeLists.txt
  index/CMakeLists.txt
  lang/CMakeLists.txt
  locator/CMakeLists.txt
  message/CMakeLists.txt
  mutation/CMakeLists.txt
  mutation_writer/CMakeLists.txt
  node_ops/CMakeLists.txt
  raft/CMakeLists.txt
  readers/CMakeLists.txt
  redis/CMakeLists.txt
  repair/CMakeLists.txt
  replica/CMakeLists.txt
  rust/CMakeLists.txt
  schema/CMakeLists.txt
  service/CMakeLists.txt
  sstables/CMakeLists.txt
  stdafx.cc
  stdafx.hh
  streaming/CMakeLists.txt
  tools/CMakeLists.txt
  tracing/CMakeLists.txt
  transport/CMakeLists.txt
  types/CMakeLists.txt
  utils/CMakeLists.txt
  utils/UUID_gen.cc
Owners: @nyh, @nuivall, @ptrsmrn, @kbr-scylla, @elcallio, @piodul, @raphaelsc, @tgrabiec, @asias, @gleb-cloudius, @kostja, @syuu1228, @denesb

cql/statement: Create keyspace_metadata with correct initial_tablets count
  conf/scylla.yaml
  cql3/statements/ks_prop_defs.cc
  test/cluster/auth_cluster/test_maintenance_socket.py
  test/cluster/mv/test_mv_delete_partitions.py
  test/cluster/mv/test_mv_fail_building.py
  test/cluster/test_commitlog_segment_data_resurrection.py
  test/cluster/test_hints.py
  test/cluster/test_ip_mappings.py
  test/cluster/test_tablets.py
Owners: none

db: remove unused proxy from create_keyspace_metadata
  db/schema_applier.cc
  db/schema_tables.cc
  db/schema_tables.hh
  replica/database.cc
Owners: @tgrabiec

db: schema_applier: update tablet metadata atomically
  db/schema_applier.cc
  db/schema_applier.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

db: schema_applier: unify token_metadata loading
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

db: schema_applier: move types storage init to merge_types func
  db/schema_applier.cc
Owners: @tgrabiec

db: replica: separate tables_metadata locking into separate func
  db/schema_applier.cc
  db/schema_applier.hh
  replica/database.cc
  replica/database.hh
Owners: @tgrabiec

db: schema_applier: move pending_token_metadata to locator
  db/schema_applier.cc
  db/schema_applier.hh
  locator/token_metadata.cc
  locator/token_metadata.hh
Owners: @tgrabiec
