Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

test.py: add credentials options to add_cql_connection_options()
  test/cluster/conftest.py
  test/cqlpy/conftest.py
  test/pylib/suite/python.py
Owners: @nyh

test.py: rework testpy_test fixture
  test/cluster/conftest.py
  test/conftest.py
  test/pylib/suite/base.py
  test/pytest.ini
Owners: none

utils/logalloc: enforce LSA allocation size limits
  scylla-gdb.py
  utils/allocation_strategy.hh
  utils/logalloc.cc
Owners: @tgrabiec

types/comparable_bytes: support float and double cql3 types
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

test.py: cql: run tests using bare pytest command
  test/broadcast_tables/conftest.py
  test/cql/conftest.py
  test/pylib/cql_repl.py
  test/pylib/cql_repl/__init__.py
  test/pylib/cql_repl/conftest.py
  test/pylib/cql_repl/cql_repl.py
  test/pylib/suite/cql_approval.py
  test/pylib/suite/python.py
Owners: none

test.py: remove unused CLI options
  test/cluster/object_store/conftest.py
Owners: none

test.py: python: split logic of PythonTest.run()
  test/pylib/suite/python.py
Owners: none

test.py: add credentials options to add_cql_connection_options()
  test/cluster/conftest.py
  test/cqlpy/conftest.py
  test/pylib/suite/python.py
Owners: @nyh

test.py: python: remove dups of cql and this_dc fixtures
  test/pylib/cql_repl/conftest.py
  test/rest_api/conftest.py
Owners: none

test.py: create directory for test log in run_test()
  test/pylib/suite/base.py
Owners: none

test.py: remove duplication of pytest CLI options
  test/alternator/conftest.py
  test/cluster/conftest.py
  test/cluster/object_store/conftest.py
  test/cqlpy/conftest.py
  test/pylib/cql_repl/conftest.py
  test/pylib/suite/python.py
  test/rest_api/conftest.py
Owners: @nyh

test.py: alternator: convert get_valid_alternator_role() to fixture
  test/alternator/conftest.py
  test/alternator/test_batch.py
  test/alternator/test_describe_endpoints.py
Owners: @nyh

test.py: rework testpy_test fixture
  test/cluster/conftest.py
  test/conftest.py
  test/pylib/suite/base.py
  test/pytest.ini
Owners: none

test.py: remove `--omit-scylla-output` from pytest argparser
  test/alternator/conftest.py
  test/alternator/run
  test/cqlpy/conftest.py
  test/cqlpy/run.py
Owners: @nyh

test.py: set build_mode to "unknown" if no --mode argument
  test/conftest.py
Owners: none

service: reload `view_building_state_machine` on group0 apply()
  main.cc
  service/raft/group0_state_machine.cc
  service/storage_service.cc
  service/storage_service.hh
  service/view_building_state.hh
  test/lib/cql_test_env.cc
Owners: @tgrabiec, @asias

service/storage_proxy: expose references to `system_keyspace` and `view_building_state_machine`
  main.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
  test/lib/cql_test_env.cc
Owners: @gleb-cloudius

service/migration_manager: create view building tasks on create view
  service/migration_manager.cc
Owners: @tgrabiec

service/migration_manager: pass `storage_proxy` to `prepare_keyspace_drop_announcement()`
  alternator/executor.cc
  cql3/statements/drop_keyspace_statement.cc
  service/migration_manager.cc
  service/migration_manager.hh
  test/boost/group0_cmd_merge_test.cc
  test/boost/schema_change_test.cc
Owners: @nyh, @tgrabiec

service/migration_manager: cleanup view building state on drop view
  service/migration_manager.cc
Owners: @tgrabiec

service/migration_manager: coroutinize `prepare_new_view_announcement()`
  service/migration_manager.cc
Owners: @tgrabiec

db/view/view_building_worker: update built views locally
  db/view/view.cc
  db/view/view_building_worker.hh
Owners: @nyh, @piodul

service/view_building_state: extract common helper methods
  service/view_building_coordinator.cc
  service/view_building_state.cc
  service/view_building_state.hh
Owners: none

db/view: extract common methods of `view_builder::consumer`
  db/view/view.cc
Owners: @nyh, @piodul

service/migration_manager: cleanup view building state on drop keyspace
  service/migration_manager.cc
Owners: @tgrabiec

test/boost: enable proxy remote in some tests
  test/boost/cql_query_test.cc
  test/boost/tablets_test.cc
Owners: none

db/view: introduce `view_building_worker`
  db/view/view.cc
  db/view/view_building_worker.hh
  main.cc
  service/view_building_state.cc
  service/view_building_state.hh
Owners: @nyh, @piodul

db/schema_tables: create/cleanup tasks when an index is created/dropped
  cdc/log.cc
  db/schema_tables.cc
  db/schema_tables.hh
  service/migration_manager.cc
  test/boost/schema_change_test.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec

service/storage_service: futurize `transit_tablet()`'s mutations generator
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

service/topology_coordinator: futurize tablet updates generators
  service/topology_coordinator.cc
Owners: none

message/messaging_service: add `work_on_view_building_tasks` RPC
  idl/view.idl.hh
  message/messaging_service.cc
  message/messaging_service.hh
  service/view_building_state.hh
Owners: none

service/topology_coordinator: make `term_changed_error` public
  service/topology_coordinator.cc
  service/topology_coordinator.hh
Owners: none

service/topology_coordinator: run view building coordinator
  service/storage_service.cc
  service/topology_coordinator.cc
  service/topology_coordinator.hh
Owners: @tgrabiec, @asias

service: introduce `view_building_coordinator`
  configure.py
  service/CMakeLists.txt
  service/view_building_coordinator.cc
  service/view_building_coordinator.hh
  service/view_building_state.cc
  service/view_building_state.hh
Owners: none

service/view_building_coordinator, storage_service: handle tablet operations
  service/storage_service.cc
  service/topology_coordinator.cc
  service/view_building_coordinator.cc
  service/view_building_coordinator.hh
Owners: @tgrabiec, @asias

service: update view build status on node join/left
  service/storage_service.cc
  service/topology_coordinator.cc
  service/view_building_coordinator.cc
  service/view_building_coordinator.hh
Owners: @tgrabiec, @asias

db/view/view_update_generator: extract generating updates from staging sstables to a method
  db/view/view_update_generator.cc
  db/view/view_update_generator.hh
Owners: @nyh, @piodul

db/view/view_update_generator: ignore tablet-based sstables
  db/view/view_update_generator.cc
Owners: @nyh, @piodul

db/view/view_building_worker: discover staging sstables
  db/view/view.cc
  db/view/view_building_worker.hh
Owners: @nyh, @piodul

db/view/view_update_generator: add method to process staging sstables instantly
  db/view/view_update_generator.cc
  db/view/view_update_generator.hh
Owners: @nyh, @piodul
