Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

db: schema_applier: update tablet metadata atomically
  db/schema_applier.cc
  db/schema_applier.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

test: dtest: test_limits.py: remove test that are not being migrated
  test/cluster/dtest/limits_test.py
Owners: none

cql: allow VECTOR_SEARCH_INDEXING users to select
  auth/resource.cc
  auth/resource.hh
  cql3/statements/select_statement.cc
  service/client_state.cc
  service/client_state.hh
Owners: @nuivall, @ptrsmrn

auth: add a new permission VECTOR_SEARCH_INDEXING
  auth/permission.cc
  auth/permission.hh
  auth/resource.cc
  cql3/Cql.g
Owners: @nuivall, @ptrsmrn, @tgrabiec

auth: always set ready promise at the end of startup
  auth/password_authenticator.cc
  auth/standard_role_manager.cc
Owners: @nuivall, @ptrsmrn

auth: rename service::ensure_superuser_is_created to ready
  auth/service.cc
  auth/service.hh
  main.cc
Owners: @nuivall, @ptrsmrn

auth: add abort_source to start()
  auth/allow_all_authenticator.hh
  auth/authenticator.hh
  auth/certificate_authenticator.hh
  auth/ldap_role_manager.cc
  auth/ldap_role_manager.hh
  auth/maintenance_socket_role_manager.cc
  auth/maintenance_socket_role_manager.hh
  auth/password_authenticator.cc
  auth/password_authenticator.hh
  auth/role_manager.hh
  auth/saslauthd_authenticator.hh
  auth/service.cc
  auth/service.hh
  auth/standard_role_manager.cc
  auth/standard_role_manager.hh
  auth/transitional.cc
  main.cc
Owners: @nuivall, @ptrsmrn

vector_store_client: Move to vector_search module
  CMakeLists.txt
  configure.py
  cql3/query_processor.cc
  cql3/query_processor.hh
  cql3/statements/select_statement.cc
  main.cc
  service/CMakeLists.txt
  test/boost/CMakeLists.txt
  test/boost/vector_store_client_test.cc
  test/lib/cql_test_env.cc
  vector_search/CMakeLists.txt
  vector_search/vector_store_client.cc
  vector_search/vector_store_client.hh
Owners: @tgrabiec, @nuivall, @ptrsmrn

vector_search: Apply clang-format
  test/boost/vector_store_client_test.cc
  vector_search/vector_store_client.cc
Owners: none

service: add auth readiness callback to topology_coordinator
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  service/topology_coordinator.cc
  service/topology_coordinator.hh
  test/lib/cql_test_env.cc
Owners: @tgrabiec, @asias

topology_coordinator: defer auth v2 migration until auth service startup completes
  service/topology_coordinator.cc
Owners: none

configure: increase SCHEDULING_GROUPS_COUNT to 21
  CMakeLists.txt
  configure.py
  test/cqlpy/test_service_levels.py
Owners: @nyh

test: add tests for VECTOR_SEARCH_INDEXING permission
  test/boost/cql_auth_query_test.cc
Owners: none

docs: adjust docs for VS auth changes
  docs/features/workload-prioritization.rst
  docs/operating-scylla/security/authorization.rst
Owners: none

api: Move /storage_service/keyspace_compaction to tasks.cc
  api/storage_service.cc
  api/tasks.cc
Owners: none

api: Move /storage_service/keyspace_cleanup to tasks.cc
  api/storage_service.cc
  api/tasks.cc
Owners: none

api: Move /storage_service/keyspace_offstrategy_compaction to tasks.cc
  api/storage_service.cc
  api/tasks.cc
Owners: none

api: Move /storage_service/keyspace_upgrade_sstables to tasks.cc
  api/storage_service.cc
  api/tasks.cc
Owners: none

api: Move /storage_service/compact to tasks.cc
  api/storage_service.cc
  api/tasks.cc
Owners: none

[WIP] vector_similarity: provide distances related to primary keys
  cql3/expr/expression.cc
  cql3/functions/vector_search_fcts.hh
  cql3/query_options.cc
  cql3/query_options.hh
  cql3/statements/select_statement.cc
Owners: @tgrabiec, @nuivall, @ptrsmrn

metrics, utils: move estimated_histogram_to_metrics to utils
  alternator/stats.cc
  utils/histogram_metrics_helper.cc
  utils/histogram_metrics_helper.hh
Owners: @nyh

metrics, test: added a test case for vs metrics
  test/boost/vector_store_client_test.cc
Owners: none

metrics, vector_search: implement vector_store metrics
  index/secondary_index_manager.cc
  index/secondary_index_manager.hh
  service/vector_store_client.cc
  service/vector_store_client.hh
Owners: @nyh, @piodul

test/cqlpy: add `vector_similarity()` function invalid call test
  test/cqlpy/test_vector_index.py
Owners: @nyh

test: dtest: limits_test.py: make the tests work
  test/cluster/dtest/limits_test.py
  test/cluster/suite.yaml
Owners: none

test: dtest: limits_test.py: test_max_cells log level
  test/cluster/dtest/limits_test.py
Owners: none

vector search: correct column name formatting
  cql3/statements/select_statement.cc
  test/cqlpy/cassandra_tests/vector_invalid_query_test.py
Owners: none

compaction/twcs: use on_internal_error for invalid timestamp resolution
  compaction/time_window_compaction_strategy.hh
Owners: @raphaelsc

alternator: Don't emit a redundant REMOVE event in Alternator Streams for PutItem calls
  alternator/executor.cc
  test/alternator/test_streams.py
Owners: @nyh

cdc: Add an option to change emitted log rows
  cdc/log.cc
  cdc/log.hh
Owners: @kbr-scylla, @elcallio, @piodul

storage: Add cdc options to cas_requets::apply
  alternator/executor.cc
  alternator/rmw_operation.hh
  cql3/statements/cas_request.cc
  cql3/statements/cas_request.hh
  service/paxos/cas_request.hh
  service/storage_proxy.cc
Owners: @nyh, @gleb-cloudius

cdc: Move operations enum to the top of the namespace
  cdc/log.hh
Owners: @kbr-scylla, @elcallio, @piodul

alternator: Fixup cdc log rows of DeleteItem
  alternator/executor.cc
Owners: @nyh

cdc, storage: Add a struct to pass per-mutation options to CDC
  alternator/executor.cc
  cdc/log.cc
  cdc/log.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @nyh, @kbr-scylla, @elcallio, @piodul, @gleb-cloudius

alternator, cdc: Optionally propagate the row read by CAS to CDC's preimage
  alternator/executor.cc
  cdc/log.hh
Owners: @nyh, @kbr-scylla, @elcallio, @piodul

config: Add alternator_streams_strict_compatibility flag
  db/config.cc
  db/config.hh
Owners: none

cdc: Support prefetched preimages
  cdc/log.cc
  cdc/log.hh
Owners: @kbr-scylla, @elcallio, @piodul

alternator: Fixup cdc log rows of PutItem
  alternator/executor.cc
  alternator/rmw_operation.hh
Owners: @nyh

alternator: Fixup cdc log rows of UpdateItem
  alternator/executor.cc
Owners: @nyh

drop this commit
  alternator/executor.cc
  cdc/log.cc
  test/alternator/test_streams.py
Owners: @nyh, @kbr-scylla, @elcallio, @piodul
