Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

auto-backport: Add support for JIRA issue references
  .github/scripts/auto-backport.py
Owners: none

auto-backport: Add support for JIRA issue references
  .github/scripts/auto-backport.py
Owners: none

replica/table: keep track of total pre-compression file size
  api/column_family.cc
  compaction/task_manager_module.cc
  db/virtual_tables.cc
  replica/compaction_group.hh
  replica/database.hh
  replica/table.cc
  replica/tablets.cc
  service/misc_services.cc
  sstables/file_size_stats.hh
  sstables/sstable_set.cc
  sstables/sstable_set.hh
  sstables/sstable_set_impl.hh
  sstables/sstables.cc
  sstables/sstables.hh
  test/boost/sstable_compaction_test.cc
  test/manual/sstable_scan_footprint_test.cc
  test/perf/perf_tablets.cc
Owners: @raphaelsc, @tgrabiec

sstables_loader: Synchronize tablet split and load-and-stream
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  service/topology_coordinator.cc
  sstables_loader.cc
  sstables_loader.hh
Owners: @tgrabiec, @asias

remove boost
  test/boost/s3_test.cc
Owners: none

test: Add reproducer for l-a-s and split synchronization issue
  test/cluster/test_tablets2.py
Owners: none

sstables_loader: Synchronize tablet split and load-and-stream
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  service/topology_coordinator.cc
  sstables_loader.cc
  sstables_loader.hh
Owners: @tgrabiec, @asias

test: Add reproducer for l-a-s and split synchronization issue
  test/cluster/test_tablets2.py
Owners: none

Add REBUILD MATERIALIZED VIEW statement
  configure.py
  cql3/CMakeLists.txt
  cql3/Cql.g
  cql3/statements/raw/rebuild_materialized_view_statement.hh
  cql3/statements/rebuild_materialized_view_statement.cc
  cql3/statements/rebuild_materialized_view_statement.hh
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
  idl/view.idl.hh
  message/messaging_service.cc
  message/messaging_service.hh
  query/query-request.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
  test/boost/secondary_index_test.cc
  test/cluster/mv/test_mv_consistency.py
Owners: @tgrabiec, @nuivall, @ptrsmrn, @nyh, @piodul, @gleb-cloudius

storage_service: Return num_tablets in add_repair_tablet_request
  api/api-doc/storage_service.json
  service/storage_service.cc
Owners: @tgrabiec, @asias

tablets: Allow tablet merge when repair tasks exist
  locator/tablets.cc
  locator/tablets.hh
Owners: none

install-dependencies.sh: update node_exporter to 1.10.2
  install-dependencies.sh
  tools/toolchain/image
Owners: none

compaction_manager: needs_cleanup: use sstable token_ranges
  compaction/compaction_manager.cc
  sstables/sstables.cc
  sstables/sstables.hh
  test/cluster/test_sstable_cleanup_retry.py
Owners: @raphaelsc, @tgrabiec

do not load attach sst
  sstables_loader.cc
Owners: none

test: adjust test to not break rf-rack validity
  test/cluster/test_unfinished_writes_during_shutdown.py
Owners: none

db: remove enforce parameter from check_rf_rack_validity
  main.cc
  replica/database.cc
  replica/database.hh
  test/lib/cql_test_env.cc
Owners: none

test/cqlpy: Parameterize secondary index tests with paging
  test/cqlpy/test_secondary_index.py
Owners: @nyh

test/cqlpy: Test secondary index with static column + limit
  test/cqlpy/test_secondary_index.py
Owners: @nyh

test/cqlpy: Test secondary index with page size < limit
  test/cqlpy/test_secondary_index.py
Owners: @nyh

test/cqlpy: Test secondary index with short reads + limit
  test/cqlpy/test_secondary_index.py
Owners: @nyh

db: enforce rf-rack-validity for keyspaces with views
  locator/tablets.cc
  replica/database.cc
  replica/database.hh
  test/cluster/test_multidc.py
Owners: none

replica/db: add enforce_rf_rack_validity_for_keyspace helper
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/create_keyspace_statement.cc
  replica/database.cc
  replica/database.hh
Owners: none

view: change validate_view_keyspace to allow MVs if RF=Racks
  cql3/statements/create_index_statement.cc
  cql3/statements/create_index_statement.hh
  cql3/statements/create_view_statement.cc
  cql3/statements/create_view_statement.hh
  db/view/view.cc
  db/view/view.hh
  main.cc
  replica/database.cc
  replica/database.hh
  test/cluster/mv/test_mv_simple.py
  test/cluster/mv/test_mv_with_tablets_restrictions.py
  test/lib/cql_test_env.cc
  tools/schema_loader.cc
Owners: @nyh, @piodul, @denesb

cql3: don't apply RF-rack restrictions on vector indexes
  cql3/statements/create_index_statement.cc
  test/cluster/mv/test_mv_with_tablets_restrictions.py
Owners: @nyh, @piodul

topology coordinator: add validation to node remove
  service/topology_coordinator.cc
Owners: none

service/tablet_allocator: always allow tablet merge of tables with views
  service/tablet_allocator.cc
Owners: none

test: test rf-rack validity when creating keyspace during node ops
  service/topology_coordinator.cc
  test/cluster/test_topology_ops_with_rf_rack_valid.py
Owners: none

topology coordinator: restrict node join/remove to preserve RF-rack validity
  service/topology_coordinator.cc
  test/cluster/test_tablets.py
Owners: none

test: test topology restrictions for views with tablets
  test/cluster/mv/test_mv_with_tablets_restrictions.py
Owners: none

locator: fix rf-rack validation during node join/remove
  locator/tablets.cc
  locator/topology.hh
Owners: none

locator: extend rf-rack validation functions
  locator/tablets.cc
  locator/tablets.hh
  replica/database.cc
  replica/database.hh
Owners: none

docs: update RF-rack restrictions
  docs/architecture/tablets.rst
  docs/cql/ddl.rst
  docs/operating-scylla/admin.rst
  docs/operating-scylla/procedures/cluster-management/add-node-to-cluster.rst
  docs/operating-scylla/procedures/cluster-management/remove-node.rst
Owners: none

test: add test_topology_ops_with_rf_rack_valid
  test/cluster/test_topology_ops_with_rf_rack_valid.py
Owners: none

cql3: add warning when creating mv/index with tablets about rf-rack
  cql3/statements/create_index_statement.cc
  cql3/statements/create_index_statement.hh
  cql3/statements/create_view_statement.cc
  test/cluster/mv/test_mv_with_tablets_restrictions.py
  tools/schema_loader.cc
Owners: @nyh, @piodul, @denesb

locator: extend rf-rack validation for rack lists
  locator/tablets.cc
  test/cluster/test_topology_ops_with_rf_rack_valid.py
Owners: none

vector_search: Restrict vector index tests to tablets only
  test/boost/cdc_test.cc
  test/boost/cql_auth_query_test.cc
  test/cql/vs_cdc_enable_disable_test.cql
  test/cql/vs_cdc_enable_disable_test.result
  test/cqlpy/test_describe.py
  test/cqlpy/test_vector_index.py
  test/vector_search/vector_store_client_test.cc
Owners: @kbr-scylla, @elcallio, @piodul, @nyh

db: batchlog_manager: update _last_replay only if all batches were replayed
  db/batchlog_manager.cc
Owners: @elcallio

change tests
  test/cqlpy/test_flaky.py
  test/cqlpy/test_random_flaky.py
Owners: @nyh

docs/alternator: document that Streams needs vnodes
  docs/alternator/compatibility.md
Owners: @annastuchlik, @tzach, @nyh

test/cluster/test_maintenance_mode.py: Wait for initialization
  test/cluster/test_maintenance_mode.py
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
