Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

memtable: ensure _flushed_memory doesn't grow above total memory usage
  replica/memtable.cc
  replica/memtable.hh
Owners: none

test.py: Fix test_compactionhistory_rows_merged_time_window_compaction_strategy
  test/rest_api/test_compactionhistory.py
Owners: none

Add ignore_errors to estimate_total_sstable_volume function
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

utils::http: Make shared system trust certificates public
  utils/http.cc
  utils/http.hh
Owners: none

utils::rest::client: Add helper routines for simple REST calls
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

utils::gcp: Move/add gcp credentials management to shared file
  configure.py
  utils/CMakeLists.txt
  utils/gcp/gcp_credentials.cc
  utils/gcp/gcp_credentials.hh
Owners: none

utils::rest::client: Add formatter for seastar::http::reply
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

encryption::gcp_host: Use shared gcp credentials + REST helpers
  ent/encryption/gcp_host.cc
Owners: none

utils::rest: Break out request wrapper and send logic
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

utils::rest: Add endpoint parsing helper
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

utils::http: Add optional external credentials to dns_connection_factory init
  utils/http.cc
  utils/http.hh
Owners: none

Add reference to storage_service to executor
  alternator/controller.cc
  alternator/controller.hh
  alternator/executor.cc
  alternator/executor.hh
  main.cc
Owners: @nyh

Add simple_value_with_expiry class
  replica/database.hh
Owners: none

db: introduce corrupt_data_handler
  configure.py
  db/CMakeLists.txt
  db/corrupt_data_handler.cc
  db/corrupt_data_handler.hh
Owners: none

lwt: add test_lwt_state_is_preserved_on_tablet_migration
  test/cluster/test_tablets2.py
Owners: none

test_lwt_support_with_tablets: suppress LWT_WITH_TABLETS feature
  test/cluster/test_tablets2.py
  test/cqlpy/test_tablets.py
Owners: @nyh

group0: modify `start_operation` logic to account for synchronize phase race condition
  service/raft/raft_group0.cc
  service/raft/raft_group0_client.cc
  test/topology_custom/test_view_build_status.py
Owners: none

group0: modify `start_operation` logic to account for synchronize phase race condition
  service/raft/raft_group0.cc
  service/raft/raft_group0_client.cc
  test/cluster/test_view_build_status.py
Owners: none

test_tablets2: add test_lwt_state_is_preserved_on_rebuild
  test/cluster/test_tablets2.py
Owners: none

memtable: ensure _flushed_memory doesn't grow above total memory usage
  replica/memtable.cc
  replica/memtable.hh
Owners: none

replica/memtable: move region_listener handlers from dirty_memory_manager to memtable
  replica/dirty_memory_manager.hh
  replica/memtable.cc
  replica/memtable.hh
  test/boost/dirty_memory_manager_test.cc
Owners: none

api: return error from get_host_id_map if gossiper is not enabled yet.
  api/token_metadata.cc
Owners: none

doc: improve the tablets limitations section
  docs/architecture/tablets.rst
Owners: none

fail boost test to check pipelines
  test/boost/aggregate_fcts_test.cc
  test/boost/btree_test.cc
  test/cluster/test_commitlog.py
Owners: none

docs: Add feature documentation
  docs/troubleshooting/error-messages/critical-disk-utilization.rst
  docs/troubleshooting/error-messages/index.rst
Owners: none

config: Add critical_disk_utilization_level option
  db/config.cc
  db/config.hh
Owners: none

replica/exceptions: Add a new custom replica exception
  idl/replica_exception.idl.hh
  replica/exceptions.cc
  replica/exceptions.hh
  service/storage_proxy.cc
Owners: @gleb-cloudius

database: Add critical_disk_utilization mode database can be moved to
  replica/database.cc
  replica/database.hh
  test/boost/database_test.cc
Owners: none

DEBUG DO NOT MERGE check custom pipeline
  test/boost/aggregate_fcts_test.cc
  test/cluster/test_commitlog.py
Owners: none

test::boost::encryption_at_rest_test: Ensure test case are not run in parallel
  test/boost/test_config.yaml
Owners: none

test.py: pytest c++ facades should respect saving logs on success
  test.py
  test/pylib/cpp/boost/boost_facade.py
  test/pylib/cpp/facade.py
  test/pylib/cpp/unit/unit_facade.py
Owners: none

Add table_size value to table class
  alternator/executor.cc
  replica/database.hh
  replica/table.cc
  test/alternator/test_describe_table.py
Owners: @nyh

test/boost/memtable_test: only inject error for test table
  test/boost/memtable_test.cc
Owners: none

tools/scylla-sstable: make large_data_handler a local
  tools/scylla-sstable.cc
Owners: @denesb

sstables: add corrupt_data_handler to sstables::sstables
  replica/database.cc
  replica/database.hh
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  test/lib/sstable_test_env.hh
  test/lib/test_services.cc
  tools/read_mutation.hh
  tools/schema_loader.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

sstables/mx/writer: handler rows with empty keys
  sstables/mx/writer.cc
Owners: none

test/lib/cql_assertions: introduce columns_assertions
  test/lib/cql_assertions.cc
  test/lib/cql_assertions.hh
Owners: none

test/boost/sstable_datafile_test: add test for corrupt data
  test/boost/sstable_datafile_test.cc
Owners: none

test: rest_api: fix test_repair_task_progress
  test/rest_api/test_repair_task.py
Owners: none

mapreduce: move req_with_modified_pr handling to a new function
  service/mapreduce_service.cc
  service/mapreduce_service.hh
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
