Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

test.py: Remove reuse cluster in cluster tests
  test/topology/conftest.py
Owners: none

Merge 'test/pylib: servers_add: support list of property_files' from Benny Halevy
  test/auth_cluster/test_auth_no_quorum.py
  test/auth_cluster/test_auth_raft_command_split.py
  test/auth_cluster/test_auth_v2_migration.py
  test/auth_cluster/test_raft_service_levels.py
  test/pylib/internal_types.py
  test/pylib/manager_client.py
  test/pylib/scylla_cluster.py
  test/pytest.ini
  test/topology/conftest.py
  test/topology/test_automatic_cleanup.py
  test/topology/test_cluster_features.py
  test/topology/test_concurrent_schema.py
  test/topology/test_gossiper.py
  test/topology/test_mutation_schema_change.py
  test/topology/test_mv.py
  test/topology/test_random_tables.py
  test/topology/test_replace_alive_node.py
  test/topology/test_topology_rejoin.py
  test/topology/test_topology_schema.py
  test/topology_custom/test_raft_cluster_features.py
Owners: @tgrabiec

transport: add futures in CQL server exception handling
  transport/server.cc
Owners: none

test: add get_cql_exclusive to manager_client.py
  test/pylib/manager_client.py
Owners: none

transport: storage_proxy: release ERM when waiting for query timeout
  exceptions/coordinator_result.hh
  exceptions/exceptions.hh
  generic_server.cc
  generic_server.hh
  service/storage_proxy.cc
  transport/server.cc
  transport/server.hh
Owners: @gleb-cloudius

test: add test_long_query_timeout_erm
  test/cluster/test_long_query_timeout_erm.py
Owners: none

transport: remove redundant references in process_request_one
  transport/server.cc
Owners: none

transport: fix the indentation in process_request_one
  transport/server.cc
Owners: none

mapreduce: catch local read_failure_exception_with_timeout
  service/mapreduce_service.cc
Owners: none

test
  test/alternator/run_performance_test_for_stall_detection.py
  test/alternator/test_batch.py
Owners: @nyh

test: mv: skip test_view_building_scheduling_group in debug
  test/cluster/mv/test_mv_building.py
Owners: none

docs: nodetool: reference "nodetool task" page
  docs/operating-scylla/nodetool-commands/restore.rst
Owners: none

simple tests for reactor stall detection in alternator
  alternator/executor.cc
  test/alternator/cpu_perf_set
  test/alternator/run
  test/alternator/run_performance_test_for_stall_detection.py
  test/alternator/test_batch.py
  test/cqlpy/run.py
Owners: @nyh

test/cqlpy: insert test names into Scylla logs
  test/cqlpy/conftest.py
  test/cqlpy/nodetool.py
Owners: @nyh

build: cmake: generalize update_cxx_flags()
  cmake/mode.Coverage.cmake
  cmake/mode.Debug.cmake
  cmake/mode.Dev.cmake
  cmake/mode.RelWithDebInfo.cmake
  cmake/mode.Sanitize.cmake
  cmake/mode.common.cmake
Owners: none

test: test_mv_topology_change: increase timeout for remove_node
  test/topology_custom/test_mv_topology_change.py
Owners: none

test_tablets_cql: test_alter_dropped_tablets_keyspace: extend expected error
  test/cluster/test_tablets_cql.py
Owners: none

replica: skip flush of dropped table
  replica/database.cc
Owners: none

test: test table drop during flush
  replica/database.cc
  test/cluster/test_table_drop.py
Owners: none

DEBUG TESTING FLAKY
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

encryption: add `encrypted_data_source` class
  ent/encryption/encrypted_file_impl.cc
  ent/encryption/encrypted_file_impl.hh
  test/boost/encrypted_file_test.cc
Owners: none

encryption: refactor key retrieval
  ent/encryption/encryption.cc
Owners: none

sstables: add `make_data_or_index_source` to the `storage`
  ent/encryption/encryption.cc
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/storage.cc
  sstables/storage.hh
Owners: @tgrabiec, @raphaelsc

sstables: Start using `make_data_or_index_source` in `sstable`
  sstables/checksummed_data_source.cc
  sstables/checksummed_data_source.hh
  sstables/compress.cc
  sstables/compress.hh
  sstables/index_reader.hh
  sstables/kl/reader.cc
  sstables/mx/partition_reversing_data_source.cc
  sstables/mx/reader.cc
  sstables/sstable_mutation_reader.hh
  sstables/sstables.cc
  sstables/sstables.hh
  test/boost/sstable_test.cc
  test/cluster/object_store/test_backup.py
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

test_tablets_cql: test_alter_dropped_tablets_keyspace: extend expected error
  test/cluster/test_tablets_cql.py
Owners: none

schema_registry: store base info instead of base schema for view entries
  db/schema_tables.cc
  db/schema_tables.hh
  db/view/view.cc
  frozen_schema.cc
  frozen_schema.hh
  replica/table.cc
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
  schema/schema_registry.cc
  schema/schema_registry.hh
  service/migration_manager.cc
  test/boost/schema_registry_test.cc
  view_info.hh
Owners: @tgrabiec, @nyh, @piodul

view_info: move the base info to a separate header
  db/view/base_info.hh
  db/view/view.hh
Owners: @nyh, @piodul

base_info: make members non-const
  db/view/base_info.hh
Owners: @nyh, @piodul

view_info: set base info on construction
  alternator/executor.cc
  cql3/statements/alter_table_statement.cc
  cql3/statements/alter_table_statement.hh
  cql3/statements/create_view_statement.cc
  db/schema_applier.cc
  db/schema_tables.cc
  db/schema_tables.hh
  db/view/view.cc
  frozen_schema.cc
  frozen_schema.hh
  index/secondary_index_manager.cc
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
  schema/schema_registry.cc
  test/boost/cql_query_test.cc
  test/boost/schema_registry_test.cc
  tools/schema_loader.cc
  view_info.hh
Owners: @nyh, @piodul, @tgrabiec, @denesb

view_info: move base-dependent variables into base_info
  db/view/view.cc
  db/view/view.hh
  view_info.hh
Owners: @nyh, @piodul

view_info: move computation of view pk columns not in base pk to view_updates
  db/view/view.cc
  db/view/view.hh
Owners: @nyh, @piodul

base_info: remove base schema from the base_info
  db/view/base_info.hh
  db/view/view.cc
  db/view/view.hh
  schema/schema.cc
  schema/schema_registry.cc
  schema/schema_registry.hh
  view_info.hh
Owners: @nyh, @piodul, @tgrabiec

base_info: remove the lw_shared_ptr variant
  db/view/base_info.hh
  db/view/view.cc
  db/view/view.hh
  schema/schema.cc
  schema/schema_registry.cc
  service/migration_manager.cc
  test/boost/schema_registry_test.cc
  view_info.hh
Owners: @nyh, @piodul, @tgrabiec

view_info: don't re-set base_info after construction
  db/schema_applier.cc
  db/view/view.cc
  replica/database.cc
  replica/table.cc
  schema/schema.cc
  schema/schema_registry.cc
  schema/schema_registry.hh
  test/boost/schema_registry_test.cc
  view_info.hh
Owners: @tgrabiec, @nyh, @piodul

base_info: remove base_info snapshot semantics
  db/view/view.cc
  db/view/view.hh
  db/view/view_update_generator.cc
  db/view/view_update_generator.hh
  replica/table.cc
Owners: @nyh, @piodul

mv: add a test for dropping an index while it's building
  db/view/view.cc
  test/cluster/mv/test_mv_building.py
Owners: @nyh, @piodul

test: remove flakiness from test_schema_is_recovered_after_dying
  test/boost/schema_registry_test.cc
Owners: @tgrabiec

scripts/open-coredump.sh: Add substitute-path hint in prompt message
  scripts/open-coredump.sh
Owners: none

ent/encryption/kms_host.cc: Change regex pattern to include hyphens in AWS profile names.
  ent/encryption/kms_host.cc
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
