Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

tools: toolchain: optimized_clang: remove unused variable CLANG_SUFFIX
  tools/toolchain/optimized_clang.sh
Owners: none

db/config: Deprecate sstable_compression_dictionaries_allow_in_ddl
  cql3/statements/cf_prop_defs.cc
  db/config.cc
  main.cc
  sstables/compressor.cc
  sstables/compressor.hh
  test/cluster/test_sstable_compression_config.py
  test/cluster/test_sstable_compression_dictionaries_basic.py
Owners: @tgrabiec, @raphaelsc

compaction: Extract maybe_split_sstable() from compaction manager
  compaction/compaction.cc
  compaction/compaction.hh
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  replica/table.cc
Owners: @raphaelsc

compaction: Preserve state of input sstable in maybe_split_offline_sstable()
  compaction/compaction.cc
  compaction/compaction_group_view.hh
  compaction/compaction_manager.cc
  replica/table.cc
  sstables/sstables.cc
  sstables/sstables.hh
  test/boost/compaction_group_test.cc
  test/lib/test_services.cc
  tools/scylla-sstable.cc
Owners: @raphaelsc, @tgrabiec, @denesb

streaming: Fix consumers when added sstables into table undergo split
  replica/database.hh
  replica/distributed_loader.cc
  replica/table.cc
  streaming/consumer.cc
  streaming/stream_blob.cc
Owners: @tgrabiec, @asias

test: Add reproducer for split vs load-and-stream race condition
  repair/row_level.cc
  service/tablet_allocator.cc
  test/cluster/test_tablets2.py
Owners: @tgrabiec, @asias

sstables: add overload of data_stream() to accept custom file_input_stream_options
  sstables/sstables.cc
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc

test: tablets_test: Convert test_per_shard_goal_mixed_dc_rf to be rack-valid
  test/boost/tablets_test.cc
Owners: none

test: tablets: Adjust to rack list
  test/boost/tablets_test.cc
Owners: none

tablets, topology_coordinator: Skip tablet draining on replace
  service/topology_coordinator.cc
Owners: none

test: cluster: tablets: Do not move tablet across racks in test_tablet_transition_sanity
  test/cluster/test_tablets_migration.py
Owners: none

test: Create cluster with multiple racks in multi-dc setups
  test/cluster/dtest/ccmlib/scylla_cluster.py
  test/cluster/test_alternator.py
  test/cluster/test_group0_schema_versioning.py
Owners: none

test: object_store: test_backup: Adjust for rack lists
  test/cluster/object_store/test_backup.py
Owners: none

test: cluster: mv: Do not move tablets across racks
  test/cluster/mv/test_mv_admission_control.py
Owners: none

test: boost: network_topology_strategy_test: Adjust to rack-list RF
  test/boost/network_topology_strategy_test.cc
Owners: none

test: cluster: test_group0_schema_versioning: Use smaller RF to respect rf-rack-validness
  test/cluster/test_group0_schema_versioning.py
Owners: none

test: cluster: util: Fix docstring for parse_replication_options()
  test/cluster/util.py
Owners: none

alternator: Switch keyspace creation to use ks_prop_defs
  alternator/executor.cc
Owners: @nyh

test: cluster: dtest: alternator: Force RF=1 in test_putitem_contention
  test/cluster/dtest/alternator_tests.py
Owners: none

locator: Move rack_list to topology.hh
  locator/abstract_replication_strategy.hh
  locator/topology.hh
Owners: none

test: alternator: Adjust for rack lists
  test/cluster/test_alternator.py
Owners: none

test: cqlpy: Mark tests using rack lists as scylla-only
  test/cqlpy/test_keyspace.py
Owners: @nyh

cql3: Move validation of invalid ALTER KEYSPACE earlier, to ks_prop_defs
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/ks_prop_defs.cc
Owners: none

test: cluster: test_zero_token_nodes_multidc: Adjust to rack list RF
  test/cluster/test_zero_token_nodes_multidc.py
Owners: none

test: Switch to rack-list based RF
  test/cluster/test_tablets.py
  test/cluster/test_tablets_cql.py
  test/cluster/test_view_building_coordinator.py
Owners: none

test: Generalize tests to work with both numeric RF and rack lists
  test/cluster/test_keyspace_rf.py
  test/cluster/util.py
  test/cqlpy/test_keyspace.py
Owners: @nyh

test: Prepare for handling errors specific to rack list path
  test/cluster/test_multidc.py
  test/cqlpy/cassandra_tests/validation/operations/alter_test.py
  test/cqlpy/test_keyspace.py
Owners: @nyh

alternator: Do not set RF for zero-token DCs
  alternator/executor.cc
Owners: @nyh

cql3: ks_prop_defs: Expand numeric RF to rack list
  audit/audit_cf_storage_helper.cc
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/ks_prop_defs.cc
  cql3/statements/ks_prop_defs.hh
  docs/cql/ddl.rst
  locator/tablets.cc
  locator/tablets.hh
  service/topology_coordinator.cc
  test/boost/network_topology_strategy_test.cc
  test/boost/tablets_test.cc
  test/cluster/test_multidc.py
Owners: none

cdc: improve cdc metadata loading
  cdc/generation.cc
  cdc/metadata.cc
  cdc/metadata.hh
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: @kbr-scylla, @elcallio, @piodul

test: cdc: extend cdc with tablets tests
  test/cluster/test_cdc_with_tablets.py
Owners: none

alternator: Change the return type of rmw_operation_return
  alternator/executor.cc
Owners: @nyh

alternator/streams, cdc: Differentiate item replace and item update in CDC
  alternator/executor.cc
  cdc/log.cc
  cdc/log.hh
Owners: @nyh, @kbr-scylla, @elcallio, @piodul

cdc: Don't split a row marker away from row cells
  alternator/executor.cc
  cdc/log.cc
  cdc/log.hh
  cdc/split.cc
  cdc/split.hh
Owners: @nyh, @kbr-scylla, @elcallio, @piodul

config: Add alternator_streams_strict_compatibility flag
  db/config.cc
  db/config.hh
Owners: none

lister: Fix race between readdir and stat
  test/boost/lister_test.cc
  utils/lister.cc
  utils/lister.hh
Owners: none

alternator, cdc: Don't emit events for no-op removes
  cdc/split.cc
Owners: @kbr-scylla, @elcallio, @piodul

alternator, cdc: Don't emit an event for equal items
  cdc/log.cc
  cdc/log.hh
  cdc/split.cc
  cdc/split.hh
Owners: @kbr-scylla, @elcallio, @piodul

test/alternator: Enable the tests failing because of #6918
  test/alternator/test_streams.py
  test/alternator/util.py
Owners: @nyh

Revert "tests(lwt): new test for LWT testing during tablet resize"
  test/cluster/lwt/lwt_common.py
  test/cluster/lwt/test_lwt_during_tablets_resize.py
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
