Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

db/view/view_building: send coordinator's term in the RPC
  db/view/view_building_coordinator.cc
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
  idl/view.idl.hh
  main.cc
  test/lib/cql_test_env.cc
Owners: @nyh, @piodul

docs/dev/view-building-coordinator: update the docs after recent changes
  docs/dev/view-building-coordinator.md
Owners: none

test: Add reproducer for split vs incremental repair race condition
  repair/row_level.cc
  service/tablet_allocator.cc
  test/cluster/test_tablets2.py
Owners: @tgrabiec, @asias

alternator: Update doc regarding tablets support
  docs/alternator/new-apis.md
Owners: @annastuchlik, @tzach, @nyh

alternator: Support `tablets_mode_for_new_keyspaces` config flag
  alternator/executor.cc
Owners: @nyh

Fix incorrect hint for tablets_mode_for_new_keyspaces
  db/config.cc
Owners: none

Fix comment for tablets_mode_for_new_keyspaces
  conf/scylla.yaml
Owners: none

alternator: test_tablets.py handles new policy reg. tablets
  test/alternator/test_tablets.py
Owners: @nyh

alternator: Fix test name clash in test_tablets.py
  test/alternator/test_tablets.py
Owners: @nyh

alternator: Fix test_scan_paging_missing_limit()
  test/alternator/test_scan.py
Owners: @nyh

alternator: Remove obsolete test from test_table.py
  test/alternator/test_table.py
Owners: @nyh

alternator: Fix tag name to request vnodes
  alternator/executor.cc
  test/alternator/test_cql_rbac.py
  test/alternator/test_metrics.py
  test/alternator/test_streams.py
  test/alternator/test_ttl.py
  test/cluster/mv/tablets/test_mv_tablets.py
  test/cluster/test_alternator.py
Owners: @nyh

alternator: Don't require vnodes for TTL tests
  test/alternator/test_cql_rbac.py
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Fix test_ttl_expiration_streams()
  test/alternator/test_ttl.py
Owners: @nyh

Fix backport conflicts
  alternator/executor.cc
  test/alternator/test_ttl.py
Owners: @nyh

alternator: improve comment about non-hidden system tags
  alternator/executor.cc
Owners: @nyh

config: make tablets_mode_for_new_keyspaces live-updatable
  db/config.cc
Owners: none

test,alternator: use 3-rack clusters in tests
  test/cluster/test_alternator.py
Owners: none

alternator: improve error in tablets_mode_for_new_keyspaces=enforced
  alternator/executor.cc
  test/alternator/test_tablets.py
Owners: @nyh

test/cluster: modify test to not fail on 2025.4 branch
  test/cluster/test_alternator.py
Owners: none

.github: add Copilot instructions for AI-generated code
  .github/copilot-instructions.md
  .github/instructions/cpp.instructions.md
  .github/instructions/python.instructions.md
Owners: none

topology_coordinator: Send incremental repair rpc only when the feature is enabled
  service/topology_coordinator.cc
Owners: none

mv: allow setting concurrency in PRUNE MATERIALIZED VIEW
  cql3/statements/prune_materialized_view_statement.cc
  db/view/delete_ghost_rows_visitor.hh
  db/view/view.cc
  docs/cql/cql-extensions.md
  service/pager/query_pagers.cc
  service/pager/query_pagers.hh
  test/boost/secondary_index_test.cc
Owners: @nyh, @piodul

locator/node: preserve _excluded in clone()
  locator/topology.cc
  locator/topology.hh
Owners: none

locator/node: include _excluded in verbose formatter
  locator/topology.hh
Owners: none

locator/node: include _excluded in verbose formatter
  locator/topology.hh
Owners: none

locator/node: preserve _excluded in clone()
  locator/topology.cc
  locator/topology.hh
Owners: none

locator/node: include _excluded in verbose formatter
  locator/topology.hh
Owners: none

locator/node: preserve _excluded in clone()
  locator/topology.cc
  locator/topology.hh
Owners: none

locator/node: preserve _excluded in clone()
  locator/topology.cc
  locator/topology.hh
Owners: none

locator/node: include _excluded in verbose formatter
  locator/topology.hh
Owners: none

Update ScyllaDB version to: 2025.1.11
  SCYLLA-VERSION-GEN
Owners: none

count chunked sources
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

test/alternator: enable, and add, tests for gzip'ed requests
  test/alternator/test_compressed_request.py
  test/alternator/test_manual_requests.py
Owners: @nyh

more mem diag
  sstables_loader.cc
Owners: none

treewide: seastar module update
  gms/version_generator.cc
  stdafx.hh
  test/boost/group0_test.cc
Owners: @tgrabiec, @asias, @kbr-scylla

vector_index: require tablets for vector indexes
  cql3/statements/create_index_statement.cc
  index/secondary_index_manager.hh
  index/vector_index.cc
  index/vector_index.hh
Owners: @nyh, @piodul

code: Stop using seastar::compat::source_location
  gms/gossiper.cc
  gms/gossiper.hh
  raft/raft.hh
  service/address_map.hh
  service/raft/raft_group0.cc
  service/raft/raft_group_registry.cc
  service/raft/raft_rpc.cc
  service/raft/raft_rpc.hh
  service/raft/raft_timeout.hh
  stdafx.hh
  test/boost/cql_query_test.cc
  test/boost/multishard_query_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/reader_concurrency_semaphore_test.cc
  test/boost/restrictions_test.cc
  test/boost/secondary_index_test.cc
  test/boost/statement_restrictions_test.cc
  test/boost/token_metadata_test.cc
  test/lib/cql_assertions.cc
  test/lib/cql_assertions.hh
  test/lib/exception_utils.cc
  test/lib/exception_utils.hh
  test/lib/test_utils.cc
  test/lib/test_utils.hh
  tools/json_mutation_stream_parser.cc
Owners: @tgrabiec, @asias, @kbr-scylla, @gleb-cloudius, @kostja, @denesb, @nyh, @piodul

docs: update dependencies
  docs/poetry.lock
Owners: @annastuchlik, @tzach

encryption
  ent/encryption/encrypted_file_impl.cc
  sstables/exceptions.hh
  sstables/sstables.cc
  sstables_loader.cc
  test/cluster/object_store/conftest.py
  test/cluster/object_store/test_backup.py
Owners: @tgrabiec, @raphaelsc
