Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

tests(lwt): new test for LWT testing during tablet resize
  test/cluster/lwt/lwt_common.py
  test/cluster/lwt/test_lwt_during_tablets_resize.py
Owners: none

test: Check file existence directly
  test/boost/sstable_directory_test.cc
Owners: none

test: Don't reuse on-stack input stream
  test/boost/sstable_test.cc
Owners: none

sstable: Construct output_stream for data instantly
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

ec2_snitch: Coroutinize the aws_api_call_once()
  locator/ec2_snitch.cc
  locator/ec2_snitch.hh
Owners: none

ec2_snitch: Fix indentation after previous patch
  locator/ec2_snitch.cc
Owners: none

test/cluster: Add test_simulate_upgrade_legacy_to_raft_listener_registration
  service/storage_service.cc
  test/cluster/test_raft_cluster_features.py
Owners: @tgrabiec, @asias

commitlog: Remove unused work::r stream variable
  db/commitlog/commitlog.cc
Owners: @elcallio, @eliransin

storage_service: rename is_cleanup_allowed -> is_vnodes_cleanup_allowed
  api/tasks.cc
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

topology_coordinator: rename start_cleanup_on_dirty_nodes -> start_vnodes_cleanup_on_dirty_nodes
  service/topology_coordinator.cc
Owners: none

test_automatic_cleanup: fix comment
  test/cluster/test_automatic_cleanup.py
Owners: none

storage_proxy: improve run_fenceable_write comment
  service/storage_proxy.hh
Owners: @gleb-cloudius

storage_proxy: remove stale comment
  service/storage_proxy.hh
Owners: @gleb-cloudius

paxos_state: use shards_ready_for_reads
  service/paxos/paxos_state.cc
Owners: none

paxos_state: inline shards_for_writes into get_replica_lock
  service/paxos/paxos_state.cc
  service/paxos/paxos_state.hh
Owners: none

test: test_raft_recovery_stuck: reconnect driver after rolling restarts
  test/topology_custom/test_raft_recovery_stuck.py
Owners: none

doc: add OS support for version 2025.4
  docs/_static/data/os-support.json
Owners: none

doc: add --list-active-releases to Web Installer
  docs/getting-started/installation-common/scylla-web-installer.rst
Owners: none

alternator: improve protection against oversized requests
  alternator/error.hh
  alternator/server.cc
  alternator/server.hh
  test/alternator/test_manual_requests.py
Owners: @nyh

test: test_raft_recovery_stuck: reconnect driver after rolling restarts
  test/cluster/test_raft_recovery_stuck.py
Owners: none

doc: add --list-active-releases to Web Installer
  docs/getting-started/installation-common/scylla-web-installer.rst
Owners: none

lister: Fix race between readdir and stat
  test/boost/lister_test.cc
  utils/lister.cc
  utils/lister.hh
Owners: none

test: test_raft_recovery_stuck: reconnect driver after rolling restarts
  test/cluster/test_raft_recovery_stuck.py
Owners: none

doc: add --list-active-releases to Web Installer
  docs/getting-started/installation-common/scylla-web-installer.rst
Owners: none

lister: Fix race between readdir and stat
  test/boost/lister_test.cc
  utils/lister.cc
  utils/lister.hh
Owners: none

test: test_raft_recovery_stuck: reconnect driver after rolling restarts
  test/cluster/test_raft_recovery_stuck.py
Owners: none

doc: add --list-active-releases to Web Installer
  docs/getting-started/installation-common/scylla-web-installer.rst
Owners: none

db/batchlog_manager: delete batch with incorrect or unknown version
  db/batchlog_manager.cc
Owners: @elcallio

db/batchlog_manager: coroutinize replay_all_failed_batches
  db/batchlog_manager.cc
Owners: @elcallio

db/batchlog_manager: fix making decision to skip batch replay
  db/batchlog_manager.cc
Owners: @elcallio

db: repair: throw if replay fails
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  repair/row_level.cc
  test/boost/batchlog_manager_test.cc
Owners: @elcallio, @tgrabiec, @asias

lister: Fix race between readdir and stat
  test/boost/lister_test.cc
  utils/lister.cc
  utils/lister.hh
Owners: none

secondary_index: disallow multiple vector indexes on the same column
  cql3/statements/create_index_statement.cc
  index/vector_index.cc
  index/vector_index.hh
  test/cqlpy/test_vector_index.py
Owners: @nyh, @piodul

table: Add integrity option to table::make_sstable_reader()
  replica/database.hh
  replica/table.cc
Owners: none

sstables: Add integrity option to create_single_key_sstable_reader
  replica/tablets.cc
  sstables/sstable_set.cc
  sstables/sstable_set.hh
  sstables/sstable_set_impl.hh
Owners: @tgrabiec, @raphaelsc

table: enable integrity checks for streaming reader
  replica/table.cc
Owners: none

Remove unnecesary class variable
  db/commitlog/commitlog.cc
Owners: @elcallio, @eliransin

repair: Add metric for time spent on tablet repair
  repair/row_level.cc
  test/cluster/test_incremental_repair.py
Owners: @tgrabiec, @asias

cql3: Move vector search select to dedicated class
  cql3/statements/raw/select_statement.hh
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
Owners: none

cql3: Rename indexed_table_select_statement
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
Owners: none
