Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

test commit
  test/cluster/test_lwt_2.py
  test/cluster/test_lwt_draft.py
Owners: none

locator: util: optimize describe_ring
  locator/util.cc
  locator/util.hh
  service/storage_service.cc
  test/boost/tablets_test.cc
  test/lib/topology_builder.hh
  test/pylib/rest_client.py
Owners: @tgrabiec, @asias

qp: co-routinize prepare_one function
  cql3/query_processor.hh
Owners: @tgrabiec, @nuivall, @ptrsmrn

qp: fold prepare_one function into its only caller
  cql3/query_processor.cc
  cql3/query_processor.hh
Owners: @tgrabiec, @nuivall, @ptrsmrn

topology_coordinator: Make tablet_load_stats_refresh_interval configurable
  db/config.cc
  db/config.hh
  service/topology_coordinator.cc
  test/cluster/mv/tablets/test_mv_tablets.py
  test/cluster/tasks/test_tablet_tasks.py
  test/cluster/test_tablet_stats.py
  test/cluster/test_tablets.py
  test/cluster/test_tablets2.py
  test/cluster/test_tablets_colocation.py
  test/cluster/test_tablets_merge.py
  test/cluster/test_tablets_migration.py
  test/pylib/repair.py
Owners: none

replica/exceptions: Add a new custom replica exception
  idl/replica_exception.idl.hh
  replica/exceptions.cc
  replica/exceptions.hh
  service/storage_proxy.cc
Owners: @gleb-cloudius

docs: Add feature documentation
  docs/troubleshooting/error-messages/critical-disk-utilization.rst
  docs/troubleshooting/error-messages/index.rst
Owners: none

config: Add critical_disk_utilization_level option
  db/config.cc
  db/config.hh
Owners: none

replica: Add out of space controller
  configure.py
  main.cc
  replica/CMakeLists.txt
  replica/out_of_space_controller.cc
  replica/out_of_space_controller.hh
  test/lib/cql_test_env.cc
Owners: none

scylla.yaml: add recommended value for stream_io_throughput_mb_per_sec
  conf/scylla.yaml
  db/config.cc
Owners: none

repair: do not keep erm in tablet_repair_task_meta
  repair/repair.cc
  repair/repair.hh
  repair/task_manager_module.hh
Owners: @tgrabiec, @asias

repair: distribute tablet_repair_task_meta among shards
  repair/repair.cc
  repair/task_manager_module.hh
Owners: @tgrabiec, @asias

docs/cql: update documentation for default replication strategy
  docs/cql/ddl.rst
Owners: none

creds: Make `reload` unconditional
  utils/s3/credentials_providers/environment_aws_credentials_provider.cc
  utils/s3/credentials_providers/instance_profile_credentials_provider.cc
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.cc
Owners: none

creds: code cleanup
  utils/s3/credentials_providers/instance_profile_credentials_provider.cc
  utils/s3/credentials_providers/instance_profile_credentials_provider.hh
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.cc
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.hh
Owners: none

api: storage_service: do not log the exception that is passed to user
  api/storage_service.cc
Owners: none

metrics, vector_search: implement vector_store metrics
  alternator/stats.cc
  service/vector_store_client.cc
  service/vector_store_client.hh
  utils/histogram_metrics_helper.cc
  utils/histogram_metrics_helper.hh
Owners: @nyh

test: audit: change names of `filter_out_noise` parameters
  test/cluster/dtest/audit_test.py
Owners: none

test: audit: ignore cassandra user audit logs in AUTH tests
  test/cluster/dtest/audit_test.py
Owners: none

test: audit: add cassandra user test case
  test/cluster/dtest/audit_test.py
Owners: none

qos: don't populate effective service level cache until auth is migrated to raft
  service/qos/raft_service_level_distributed_data_accessor.cc
  service/qos/raft_service_level_distributed_data_accessor.hh
  service/qos/service_level_controller.cc
  service/qos/service_level_controller.hh
  service/qos/standard_service_level_distributed_data_accessor.cc
  service/qos/standard_service_level_distributed_data_accessor.hh
  test/boost/service_level_controller_test.cc
Owners: none

test: sl: verify that legacy auth is not queried in sl to raft upgrade
  auth/standard_role_manager.cc
  test/auth_cluster/test_raft_service_levels.py
Owners: @nuivall, @ptrsmrn

qos: don't populate effective service level cache until auth is migrated to raft
  service/qos/raft_service_level_distributed_data_accessor.cc
  service/qos/raft_service_level_distributed_data_accessor.hh
  service/qos/service_level_controller.cc
  service/qos/service_level_controller.hh
  service/qos/standard_service_level_distributed_data_accessor.cc
  service/qos/standard_service_level_distributed_data_accessor.hh
  test/boost/service_level_controller_test.cc
Owners: none

test: sl: verify that legacy auth is not queried in sl to raft upgrade
  auth/standard_role_manager.cc
  test/cluster/auth_cluster/test_raft_service_levels.py
Owners: @nuivall, @ptrsmrn

qos: don't populate effective service level cache until auth is migrated to raft
  service/qos/raft_service_level_distributed_data_accessor.cc
  service/qos/raft_service_level_distributed_data_accessor.hh
  service/qos/service_level_controller.cc
  service/qos/service_level_controller.hh
  service/qos/standard_service_level_distributed_data_accessor.cc
  service/qos/standard_service_level_distributed_data_accessor.hh
  test/boost/service_level_controller_test.cc
Owners: none

test: sl: verify that legacy auth is not queried in sl to raft upgrade
  auth/standard_role_manager.cc
  test/cluster/auth_cluster/test_raft_service_levels.py
Owners: @nuivall, @ptrsmrn

test/pylib/rest_client: fix ScyllaMetrics filtering
  test/cluster/mv/test_mv_backlog.py
  test/cluster/test_node_ops_metrics.py
  test/cluster/test_tablets2.py
  test/pylib/rest_client.py
Owners: none

test: test_mv_backlog: fix to consider internal writes
  test/cluster/mv/test_mv_backlog.py
Owners: none

test.py: change boost test stdout to use filehandler instead of pipe
  test/pylib/cpp/facade.py
  test/pylib/resource_gather.py
Owners: none

gms/feature_service: add VIEW_BUILDING_COORDINATOR feature
  gms/feature_service.hh
Owners: @tgrabiec, @asias, @kbr-scylla

db/system_keyspace: move `internal_system_query_state()` function earlier
  db/system_keyspace.cc
Owners: none

db/view: ignore tablet-based views in `view_builder`
  db/view/view.cc
Owners: @nyh, @piodul

service/migration_manager: create view building tasks on create view
  service/migration_manager.cc
Owners: @tgrabiec

service/migration_manager: coroutinize `prepare_new_view_announcement()`
  service/migration_manager.cc
Owners: @tgrabiec

message/messaging_service: add `work_on_view_building_tasks` RPC
  idl/view.idl.hh
  message/messaging_service.cc
  message/messaging_service.hh
  service/view_building_state.hh
Owners: none

db/view: extract `system.view_build_status_v2` cql statements to system_keyspace
  db/system_keyspace.cc
  db/system_keyspace.hh
  db/view/view.cc
  db/view/view_build_status.hh
Owners: @nyh, @piodul

db/system_keyspace: add method to get view build status map
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none

service/storage_proxy: expose references to `system_keyspace` and `view_building_state_machine`
  main.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
  test/lib/cql_test_env.cc
Owners: @gleb-cloudius

service/migration_manager: cleanup view building state on drop view
  service/migration_manager.cc
Owners: @tgrabiec

service/vb_coordinator: add currently processing base
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none
