Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

test: extend test_batchlog_replay_failure_during_repair
  db/batchlog_manager.cc
  test/topology_custom/test_batchlog_manager.py
Owners: @elcallio

db: batchlog_manager: update _last_replay only if all batches were replayed
  db/batchlog_manager.cc
Owners: @elcallio

test: extend test_batchlog_replay_failure_during_repair
  db/batchlog_manager.cc
  test/cluster/test_batchlog_manager.py
Owners: @elcallio

config: add size based load balancing config params
  db/config.cc
  db/config.hh
  service/tablet_allocator.cc
Owners: none

db: batchlog_manager: update _last_replay only if all batches were replayed
  db/batchlog_manager.cc
Owners: @elcallio

test: extend test_batchlog_replay_failure_during_repair
  db/batchlog_manager.cc
  test/cluster/test_batchlog_manager.py
Owners: @elcallio

db: batchlog_manager: update _last_replay only if all batches were replayed
  db/batchlog_manager.cc
Owners: @elcallio

test: extend test_batchlog_replay_failure_during_repair
  db/batchlog_manager.cc
  test/cluster/test_batchlog_manager.py
Owners: @elcallio

Add documentation about lack of returning similarity distances
  docs/cql/dml/select.rst
Owners: none

utils: fix get_random_time_UUID_from_micros to generate correct time uuid
  test/boost/UUID_test.cc
  utils/UUID_gen.hh
Owners: none

cmake: dont complain about deprecated builtins
  CMakeLists.txt
Owners: none

auth: move table names to common.hh
  auth/common.hh
  auth/default_authorizer.cc
  auth/standard_role_manager.cc
Owners: @nuivall, @ptrsmrn

auth: add unified cache implementation
  auth/CMakeLists.txt
  auth/cache.cc
  auth/cache.hh
  configure.py
Owners: @nuivall, @ptrsmrn

Support primary_replica_only for native restore API
  api/api-doc/storage_service.json
  api/storage_service.cc
  sstables_loader.cc
  sstables_loader.hh
Owners: none

Enable scoped primary replica only streaming
  sstables_loader.cc
Owners: none

nodetool restore: add primary-replica-only option
  docs/operating-scylla/nodetool-commands/restore.rst
  tools/scylla-nodetool.cc
Owners: @denesb

nodetool refresh: Enable scope={all,dc,rack} with primary_replica_only
  test/nodetool/test_refresh.py
  tools/scylla-nodetool.cc
Owners: @denesb

Add documentation about lack of returning similarity distances
  docs/cql/dml/select.rst
Owners: none

test: test_raft_recovery_stuck: ensure mutual visibility before using driver
  test/cluster/test_raft_recovery_stuck.py
Owners: none

Refactor cluster/object_store/test_backup
  test/cluster/object_store/test_backup.py
Owners: none

Improve choice distribution for primary replica
  alternator/ttl.cc
  locator/tablets.cc
  locator/tablets.hh
  service/storage_proxy.cc
  service/storage_service.cc
  service/topology_coordinator.cc
  sstables_loader.cc
Owners: @nyh, @gleb-cloudius, @tgrabiec, @asias

cleanup: Add RESTful API to allow reset cleanup needed flag
  api/api-doc/storage_service.json
  api/storage_service.cc
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

cleanup: introduce "nodetool cluster cleanup" command to run cleanup on all dirty nodes in the cluster
  api/api-doc/storage_service.json
  api/storage_service.cc
  docs/operating-scylla/nodetool-commands/cleanup.rst
  docs/operating-scylla/nodetool-commands/cluster/cleanup.rst
  docs/operating-scylla/nodetool-commands/cluster/index.rst
  test/nodetool/test_cleanup.py
  tools/scylla-nodetool.cc
Owners: @denesb

messaging_service: Add internode_compression=rack as option
  db/config.cc
  main.cc
  message/messaging_service.cc
  message/messaging_service.hh
Owners: none

load_balancer: implement size-based load balancing
  service/tablet_allocator.cc
  test/boost/tablets_test.cc
  test/cluster/test_size_based_load_balancing.py
  test/cluster/test_tablets2.py
  test/cluster/test_tablets_merge.py
  test/cqlpy/suite.yaml
  test/lib/topology_builder.hh
Owners: @nyh

test, load balancing: add test for table balance
  test/boost/tablets_test.cc
  test/lib/topology_builder.hh
Owners: none

test, simulator: generate tablet sizes and update load_stats
  test/perf/tablet_load_balancing.cc
Owners: none

test, simulator: postpone creation of load_stats_ptr
  test/perf/tablet_load_balancing.cc
Owners: none

test, simulator: compute load based on tablet size instead of count
  test/perf/tablet_load_balancing.cc
Owners: none

docs: add liveness::MustRestart support
  docs/_ext/scylladb_cc_properties.py
Owners: none

topology_coordinator: include all transitioning nodes in all global commands
  service/topology_coordinator.cc
Owners: none

Add documentation about lack of returning similarity distances
  docs/cql/dml/select.rst
Owners: none

main: start auth cache service
  main.cc
  test/lib/cql_test_env.cc
Owners: none

raft: update auth cache when data changes
  service/raft/group0_state_machine.cc
Owners: none

service: add auth cache getter to storage service
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  test/lib/cql_test_env.cc
Owners: @tgrabiec, @asias

main: auth: add auth cache dependency to auth service
  auth/allow_all_authenticator.cc
  auth/allow_all_authenticator.hh
  auth/ldap_role_manager.cc
  auth/ldap_role_manager.hh
  auth/maintenance_socket_role_manager.cc
  auth/maintenance_socket_role_manager.hh
  auth/password_authenticator.cc
  auth/password_authenticator.hh
  auth/saslauthd_authenticator.cc
  auth/saslauthd_authenticator.hh
  auth/service.cc
  auth/service.hh
  auth/standard_role_manager.cc
  auth/standard_role_manager.hh
  auth/transitional.cc
  main.cc
  test/boost/role_manager_test.cc
  test/ldap/role_manager_test.cc
  test/lib/cql_test_env.cc
  test/lib/cql_test_env.hh
Owners: @nuivall, @ptrsmrn

auth: storage_service: reload auth cache on v1 to v2 auth migration
  auth/service.cc
  auth/service.hh
  service/storage_service.cc
Owners: @nuivall, @ptrsmrn, @tgrabiec, @asias

raft: reload auth cache on snapshot application
  service/raft/group0_state_machine.cc
Owners: none

auth: corutinize standard_role_manager::can_login
  auth/standard_role_manager.cc
Owners: @nuivall, @ptrsmrn

auth: use auth cache on login path
  auth/password_authenticator.cc
  auth/password_authenticator.hh
  auth/standard_role_manager.cc
  auth/standard_role_manager.hh
Owners: @nuivall, @ptrsmrn

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
