Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

test.py: rewrite the wait_for_first_completed
  test/pylib/util.py
  test/topology_custom/test_different_group0_ids.py
  test/topology_custom/test_hints.py
  test/topology_custom/test_tablets.py
Owners: none

test.py: integrate python tests to be executed with pytest runner
  test.py
  test/__init__.py
  test/alternator/test_config.yaml
  test/broadcast_tables/test_config.yaml
  test/cql/test_config.yaml
  test/cqlpy/test_config.yaml
  test/pylib/runner.py
  test/pylib/suite/base.py
  test/pylib/suite/python.py
  test/rest_api/test_config.yaml
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

DEBUG TESTING FLAKY
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

add boost test
  test/boost/s3_test.cc
Owners: none

add random test
  test/cqlpy/test_random_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

change value
  test/cqlpy/test_flaky.py
Owners: @nyh

sstables_loader: Don't bypass synchronization with busy topology
  service/storage_service.cc
  service/storage_service.hh
  sstables_loader.cc
  test/cluster/test_tablets2.py
Owners: @tgrabiec, @asias

storage_proxy: refactor mutate_counter_on_leader
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

replica/db: add counter update guard
  replica/database.cc
  replica/database.hh
Owners: none

replica/db: split counter update helper functions
  replica/database.cc
  replica/database.hh
Owners: none

Revert "Revert "tests(lwt): new test for LWT testing during tablet resize""
  test/cluster/lwt/lwt_common.py
  test/cluster/lwt/test_lwt_during_tablets_resize.py
Owners: none

sstables/trie: fix an assertion violation in bti_partition_index_writer_impl::write_last_key
  sstables/trie/bti_partition_index_writer.cc
  test/boost/bti_index_test.cc
Owners: @nyh, @piodul

storage_proxy: move counter update coordination to storage proxy
  replica/database.cc
  replica/database.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

storage_proxy: apply counter mutation on all write shards
  replica/database.cc
  replica/database.hh
  service/storage_proxy.cc
Owners: @gleb-cloudius

storage_proxy: lock all read shards for counter update
  service/storage_proxy.cc
Owners: @gleb-cloudius

pgo: enable counters with tablets
  pgo/conf/counters.cql
Owners: @nuivall, @ptrsmrn

test: enable counters tests with tablets
  test/cluster/test_fencing.py
  test/cluster/test_replica_exceptions.py
  test/cql/counters_disallow_ttl_test.cql
  test/cql/counters_disallow_ttl_test.result
  test/cql/counters_test.cql
  test/cql/counters_test.result
  test/cqlpy/cassandra_tests/batch_test.py
  test/cqlpy/cassandra_tests/functions/cast_fcts_test.py
  test/cqlpy/cassandra_tests/validation/entities/counters_test.py
  test/cqlpy/cassandra_tests/validation/entities/secondary_index_test.py
  test/cqlpy/cassandra_tests/validation/operations/compact_storage_test.py
  test/cqlpy/cassandra_tests/validation/operations/select_test.py
  test/cqlpy/test_cast_data.py
  test/cqlpy/test_counter.py
  test/cqlpy/test_describe.py
  test/cqlpy/test_tools.py
  test/cqlpy/test_unset.py
  test/cqlpy/test_wasm.py
Owners: @nuivall, @ptrsmrn, @nyh

cql3: remove warning when creating keyspace with tablets
  cql3/statements/create_keyspace_statement.cc
  test/cqlpy/test_keyspace.py
Owners: @nyh

docs: counters now work with tablets
  docs/architecture/tablets.rst
  docs/features/counters.rst
Owners: @nuivall, @ptrsmrn

cql3: allow counters with tablets
  cql3/statements/create_table_statement.cc
  gms/feature_service.hh
Owners: @tgrabiec, @asias, @kbr-scylla

test: add counters with tablets test
  test/cluster/test_counters_with_tablets.py
Owners: none
