Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

generic_server: replace empty destructor with `= default`
  generic_server.cc
  generic_server.hh
Owners: none

transport: consmetic change, remove extra blanks.
  generic_server.hh
Owners: none

generic_server: Two-step connection shutdown.
  db/config.cc
  db/config.hh
  generic_server.cc
  generic_server.hh
  redis/server.cc
  test/boost/generic_server_test.cc
  test/cluster/test_write_query_during_cql_server_shutdown.py
  transport/server.cc
Owners: @syuu1228

test: Set `request_timeout_on_shutdown_in_seconds` to `request_timeout_in_ms`, decrease request timeout.
  test/cluster/auth_cluster/test_raft_service_levels.py
  test/pylib/scylla_cluster.py
Owners: none

storage_service: refactor get_peer_info_for_update
  service/storage_service.cc
Owners: @tgrabiec, @asias

storage_service: rename get_peer_info_for_update → get_gossiper_peer_info_for_update
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

storage_service: get_gossiper_peer_info_for_update: return empty optional for missing endpoint
  service/storage_service.cc
Owners: @tgrabiec, @asias

disk_space_monitor: add subscription API for threshold-based disk space monitoring
  main.cc
  test/lib/cql_test_env.cc
  utils/disk_space_monitor.cc
  utils/disk_space_monitor.hh
Owners: none

compaction_manager: Subscribe to out of space controller
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  main.cc
  replica/database.cc
  test/boost/sstable_compaction_test.cc
  test/lib/cql_test_env.cc
Owners: @raphaelsc

compaction_manager: Replace enabled/disabled states with running state
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
Owners: @raphaelsc

database: Add critical_disk_utilization mode database can be moved to
  main.cc
  replica/database.cc
  replica/database.hh
  test/lib/cql_test_env.cc
Owners: none

repair_service: Add a facility to disable the service
  main.cc
  repair/repair.cc
  repair/row_level.cc
  repair/row_level.hh
Owners: @tgrabiec, @asias

tests/cluster: Add new storage tests
  test/cluster/storage/__init__.py
  test/cluster/storage/conftest.py
  test/cluster/storage/suite.yaml
  test/cluster/storage/test_out_of_space_prevention.py
  test/pylib/suite/python.py
Owners: none

test/scylla_cluster: Override workdir when passed via cmdline
  test/pylib/scylla_cluster.py
Owners: none

streaming: Reject incoming migrations
  service/topology_coordinator.cc
  streaming/stream_blob.cc
Owners: @tgrabiec, @asias

storage_service: extend locator::load_stats to collect per-node critical disk utilization flag
  idl/storage_service.idl.hh
  locator/tablets.cc
  locator/tablets.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

storage_service: rename ip_address_updater to raft_system_peers_updater
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  test/cluster/test_change_ip.py
  test/lib/cql_test_env.cc
Owners: @tgrabiec, @asias

raft_system_peers_updater: remove address_map dependency
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  test/lib/cql_test_env.cc
Owners: @tgrabiec, @asias

storage_service: move raft_system_peers_updater before raft_topology_update_ip
  service/storage_service.cc
Owners: @tgrabiec, @asias

storage_service: move raft_topology_update_ip to raft_system_peers_updater and rename
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

storage_service: make process_node non-coroutine
  service/storage_service.cc
Owners: @tgrabiec, @asias

storage_service: move 'joined' event condition into update_node
  service/storage_service.cc
Owners: @tgrabiec, @asias

utils: mark crc barrett tables const
  utils/gz/crc_combine_table.cc
  utils/gz/crc_combine_table.hh
Owners: none

storage_service: move left nodes handling into update_node
  service/storage_service.cc
Owners: @tgrabiec, @asias

storage_service: move system.peers processing into a separate pass
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

test.py: refactor: move framework-related code to test.pylib.runner
  test/alternator/conftest.py
  test/cluster/conftest.py
  test/conftest.py
  test/cql/conftest.py
  test/cqlpy/conftest.py
  test/pylib/runner.py
  test/rest_api/conftest.py
Owners: @nyh

test.py: fix run with bare pytest after merge of scylladb/scylladb#24573
  test/pylib/suite/python.py
Owners: none

test.py: refactor: use proper format for extra_scylla_cmdline_options
  test/boost/test_config.yaml
  test/ldap/test_config.yaml
  test/raft/test_config.yaml
Owners: @kbr-scylla, @gleb-cloudius, @kostja

test.py: resource_gather: add cwd parameter to run_process()
  test/pylib/cpp/facade.py
  test/pylib/resource_gather.py
Owners: none

test.py: refactor: remove unused imports in test.py
  test.py
  test/pylib/suite/base.py
Owners: none

test.py: pytest: streamline suite configuration handling
  test/pylib/cpp/common_cpp_conftest.py
  test/pylib/runner.py
Owners: none

Update ScyllaDB version to: 2025.1.7
  SCYLLA-VERSION-GEN
Owners: none

test.py: pytest: support --mode/--repeat in a common way for all tests
  test/__init__.py
  test/boost/conftest.py
  test/ldap/conftest.py
  test/pylib/cpp/base.py
  test/pylib/cpp/boost.py
  test/pylib/cpp/boost/__init__.py
  test/pylib/cpp/boost/boost_facade.py
  test/pylib/cpp/common_cpp_conftest.py
  test/pylib/cpp/facade.py
  test/pylib/cpp/item.py
  test/pylib/cpp/unit.py
  test/pylib/cpp/unit/__init__.py
  test/pylib/cpp/unit/unit_facade.py
  test/pylib/cpp/util.py
  test/pylib/resource_gather.py
  test/pylib/runner.py
  test/raft/conftest.py
  test/unit/conftest.py
Owners: @kbr-scylla, @gleb-cloudius, @kostja

repair: Add tablet incremental repair support
  idl/repair.idl.hh
  message/messaging_service.cc
  message/messaging_service.hh
  repair/reader.hh
  repair/repair.cc
  repair/repair.hh
  repair/row_level.cc
  repair/row_level.hh
  repair/task_manager_module.hh
  repair/writer.hh
  service/storage_service.cc
  service/topology_coordinator.cc
  streaming/consumer.cc
  streaming/consumer.hh
Owners: @tgrabiec, @asias

test.py: Add tests for tablet incremental repair
  test/cluster/test_incremental_repair.py
  test/pylib/repair.py
  test/pylib/rest_client.py
  test/pylib/scylla_cluster.py
Owners: none

compaction: Add tablet incremental repair support
  compaction/compaction.cc
  compaction/compaction_group_view.hh
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  compaction/compaction_state.hh
  compaction/task_manager_module.cc
  locator/tablets.cc
  locator/tablets.hh
  replica/compaction_group.hh
  replica/database.hh
  replica/table.cc
  replica/tablets.cc
  service/tablet_allocator.cc
  sstables/sstable_writer.hh
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/types.hh
  sstables/writer.cc
  sstables/writer_impl.hh
  test/boost/compaction_group_test.cc
  test/boost/incremental_compaction_test.cc
  test/boost/repair_test.cc
  test/boost/sstable_compaction_test.cc
  test/boost/tablets_test.cc
  test/lib/sstable_run_based_compaction_strategy_for_tests.hh
  test/lib/test_services.cc
  tools/scylla-sstable.cc
Owners: @raphaelsc, @tgrabiec, @denesb

replica: Introduce get_compaction_reenablers_and_lock_holders_for_repair
  repair/row_level.cc
  replica/database.hh
  replica/table.cc
Owners: @tgrabiec, @asias

repair: Add metrics for sstable bytes read and skipped from sstables
  repair/row_level.cc
  test/cluster/test_incremental_repair.py
Owners: @tgrabiec, @asias

test.py: Disable incremental for test_tombstone_gc_for_streaming_and_repair
  test/cluster/test_repair.py
Owners: none

compaction: Move compaction_reenabler to compaction_reenabler.hh
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  compaction/compaction_reenabler.hh
  replica/compaction_group.hh
  replica/database.cc
  replica/database.hh
  replica/table.cc
Owners: @raphaelsc

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
