Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

cql3: statement_restrictions: prepare solver for multi-column restrictions
  cql3/restrictions/statement_restrictions.cc
  cql3/restrictions/statement_restrictions.hh
Owners: none

cql3: restrictions: statement_restrictions: pre-analyze column in value_for()
  cql3/restrictions/statement_restrictions.cc
Owners: none

cql3: statement_restrictions: add solver for token restriction on index
  cql3/restrictions/statement_restrictions.cc
Owners: none

cql3: statement_restrictions: fold add_restriction() into its caller
  cql3/restrictions/statement_restrictions.cc
  cql3/restrictions/statement_restrictions.hh
Owners: none

cql3: statement_restrictions: avoid early return in add_multi_column_clustering_key_restrictions
  cql3/restrictions/statement_restrictions.cc
Owners: none

cql3: statement_restrictions: fold add_token_partition_key_restriction() its caller
  cql3/restrictions/statement_restrictions.cc
  cql3/restrictions/statement_restrictions.hh
Owners: none

cql3: statement_restrictions: fold add_single_column_clustering_key_restriction() its caller
  cql3/restrictions/statement_restrictions.cc
  cql3/restrictions/statement_restrictions.hh
Owners: none

cql3: statement_restrictions: fold add_is_not_restriction() into its caller
  cql3/restrictions/statement_restrictions.cc
  cql3/restrictions/statement_restrictions.hh
Owners: none

cql3: statement_restrictions: remove possible_partition_token_values()
  cql3/restrictions/statement_restrictions.cc
Owners: none

cql3: statement_restrictions: fold add_multi_column_clustering_key_restriction() its caller
  cql3/restrictions/statement_restrictions.cc
  cql3/restrictions/statement_restrictions.hh
Owners: none

cql3: statement_restrictions: fold add_single_column_parition_key_restriction() its caller
  cql3/restrictions/statement_restrictions.cc
  cql3/restrictions/statement_restrictions.hh
Owners: none

cql3: statement_restrictions: refactor IS NOT NULL processing
  cql3/restrictions/statement_restrictions.cc
Owners: none

cql3: statement_restrictions: fold add_single_column_nonprimary_key_restriction() its caller
  cql3/restrictions/statement_restrictions.cc
  cql3/restrictions/statement_restrictions.hh
Owners: none

split _where to boolean factors in prepartion for predicate
  cql3/restrictions/statement_restrictions.cc
  cql3/restrictions/statement_restrictions.hh
  test/boost/statement_restrictions_test.cc
Owners: none

return nullptr for function solver if not token
  cql3/restrictions/statement_restrictions.cc
Owners: none

convert possible_lhs_values into a solver
  cql3/restrictions/statement_restrictions.cc
Owners: none

refine possible_lhs_values subscript
  cql3/restrictions/statement_restrictions.cc
Owners: none

return nullptr from possible_lhs_values instead of on_internal_error
  cql3/restrictions/statement_restrictions.cc
Owners: none

refine tuple_constructor solver - more chances to return nullptr
  cql3/restrictions/statement_restrictions.cc
Owners: none

possible_lhs_values refine function_call processing
  cql3/restrictions/statement_restrictions.cc
Owners: none

build: cmake: Use LINKER: prefix for consistent linker option handling
  cmake/mode.common.cmake
Owners: none

build: add p11-kit's cflags to user_cflags instead of args.user_cflags
  configure.py
Owners: none

test/cluster: extract execute_with_tracing() into pylib/util.py
  test/cluster/test_data_resurrection_in_memtable.py
  test/pylib/util.py
Owners: none

Add checks and test for illegal scope value
  test/nodetool/test_refresh.py
  tools/scylla-nodetool.cc
Owners: @denesb

storage_service: use id to check for local node
  service/storage_service.cc
Owners: @tgrabiec, @asias

storage_service: Do not remove gossiper entry on address change
  service/storage_service.cc
Owners: @tgrabiec, @asias

cql3: statement_restrictions: convert expressions to predicates without being directed at a specific column
  cql3/restrictions/statement_restrictions.cc
  cql3/restrictions/statement_restrictions.hh
Owners: none

sstable_directory: Print unshared remote sstable when sorting
  sstables/sstable_directory.cc
Owners: @tgrabiec, @raphaelsc

sstable_directory: Print ks.cf when moving unshared remove sstables
  sstables/sstable_directory.cc
Owners: @tgrabiec, @raphaelsc

alternator: fix schema "concurrent modification" errors
  alternator/executor.cc
  db/tags/utils.cc
  test/cluster/test_alternator.py
Owners: @nyh

test/cqlpy,alternator: fix reporting of Scylla crash during test
  test/alternator/conftest.py
  test/cqlpy/conftest.py
Owners: @nyh

topology_coordinator: Use this->_feature_service directly
  service/topology_coordinator.cc
Owners: none

docs: fix md redirections for multiversion support
  docs/conf.py
Owners: @annastuchlik, @tzach

config: decrease default large allocation warning threshold to 128k
  db/config.cc
Owners: none

doc: add a link to the previous Enterprise documentation
  docs/index.rst
Owners: @annastuchlik, @tzach

test_tablet_repair_hosts_filter: change injected error
  service/topology_coordinator.cc
  test/cluster/test_tablet_repair_scheduler.py
Owners: none

cdc: helper functions for reading metadata from tables
  cdc/generation.cc
  cdc/generation.hh
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: @kbr-scylla, @elcallio, @piodul

cdc: add internal tables for cdc with tablets
  db/system_keyspace.cc
  db/system_keyspace.hh
  gms/feature_service.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias, @kbr-scylla

storage service: load cdc on change
  service/raft/group0_state_machine.cc
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

migration_manager: add before_allocate_tablet_map notification
  service/migration_listener.hh
  service/migration_manager.cc
  service/tablet_allocator.cc
Owners: @tgrabiec
