Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

tools: toolchain: prepare: replace 'reg' with 'skopeo'
  tools/toolchain/prepare
Owners: none

replica: database: change type of tables_metadata::_ks_cf_to_uuid
  replica/database.cc
  replica/database.hh
Owners: none

build: lock cxxbridge-cmd version to the rest of the cxx packages
  install-dependencies.sh
  tools/toolchain/image
Owners: none

tools: toolchain: prepare: replace 'reg' with 'skopeo'
  tools/toolchain/prepare
Owners: none

build: lock cxxbridge-cmd version to the rest of the cxx packages
  install-dependencies.sh
  tools/toolchain/image
Owners: none

build: update toolchain to Fedora 43 with clang 21.1.5
  install-dependencies.sh
  tools/toolchain/Dockerfile
  tools/toolchain/image
  tools/toolchain/optimized_clang.sh
Owners: none

db/view/view_building_coordinator: change `work_on_tasks` RPC return type
  db/view/view_building_coordinator.cc
  db/view/view_building_coordinator.hh
  db/view/view_building_state.hh
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
  idl/view.idl.hh
Owners: @nyh, @piodul

db/view/view_building_worker: change internal implementation
  db/view/view_building_coordinator.cc
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
  idl/view.idl.hh
Owners: @nyh, @piodul

replica/table: don't throw exceptions on the read-path
  replica/table.cc
Owners: none

readers/multishard: don't throw exceptions on the read-path
  readers/multishard.cc
Owners: none

sstables/mx/reader: don't throw exceptions on the read-path
  sstables/mx/reader.cc
Owners: none

test/boost/database_test: add test for read timeout exceptions
  test/boost/database_test.cc
Owners: none

reader_permit: remove check_abort()
  reader_concurrency_semaphore.cc
  reader_permit.hh
  readers/mutation_reader.hh
  test/boost/querier_cache_test.cc
  test/boost/reader_concurrency_semaphore_test.cc
Owners: @denesb, @tgrabiec

docs: modify debian/ubutnu installation instructions
  docs/getting-started/install-scylla/install-on-linux.rst
Owners: none

cql/statement: Create keyspace_metadata with correct initial_tablets count
  cql3/statements/ks_prop_defs.cc
  test/cluster/auth_cluster/test_maintenance_socket.py
  test/cluster/dtest/audit_test.py
  test/cluster/mv/test_mv_delete_partitions.py
  test/cluster/mv/test_mv_fail_building.py
  test/cluster/test_aggregation.py
  test/cluster/test_commitlog_segment_data_resurrection.py
  test/cluster/test_hints.py
  test/cluster/test_ip_mappings.py
  test/cluster/test_lwt_semaphore.py
  test/cluster/test_maintenance_mode.py
  test/cluster/test_node_isolation.py
  test/cluster/test_node_shutdown_waits_for_pending_requests.py
  test/cluster/test_query_rebounce.py
  test/cluster/test_raft_no_quorum.py
  test/cluster/test_raft_snapshot_truncation.py
  test/cluster/test_shutdown_hang.py
  test/cluster/test_sstable_compression_config.py
  test/cluster/test_tablets.py
  test/cqlpy/cassandra_tests/validation/operations/create_test.py
  test/cqlpy/nodetool.py
  test/cqlpy/test_describe.py
  test/cqlpy/test_guardrail_replication_strategy.py
  test/cqlpy/test_keyspace.py
  test/cqlpy/test_name.py
  test/cqlpy/test_permissions.py
  test/cqlpy/test_tablets.py
Owners: @nyh

db/commitlog: Include position and alignment information in errors
  db/commitlog/commitlog.cc
Owners: @elcallio, @eliransin

streaming: fix loop break condition in tablet_sstable_streamer::stream
  sstables_loader.cc
Owners: none

streaming: fix loop break condition in tablet_sstable_streamer::stream
  sstables_loader.cc
Owners: none

streaming: fix loop break condition in tablet_sstable_streamer::stream
  sstables_loader.cc
Owners: none

Update ScyllaDB version to: 2025.3.5
  SCYLLA-VERSION-GEN
Owners: none

doc: fix the info about object storage
  docs/cql/cql-extensions.md
  docs/cql/ddl.rst
  docs/operating-scylla/admin-tools/scylla-sstable.rst
  docs/operating-scylla/admin.rst
Owners: none

lister: Fix race between readdir and stat
  test/boost/lister_test.cc
  utils/lister.cc
  utils/lister.hh
Owners: none

install-on-linux.rst: update installation example to supported release
  docs/getting-started/install-scylla/install-on-linux.rst
Owners: none

tools: toolchain: prepare: replace 'reg' with 'skopeo'
  tools/toolchain/prepare
Owners: none

compaction_controller: introduce `set_max_shares()`
  backlog_controller.hh
  replica/database.cc
Owners: none

compaction_controller: add configurable maximum shares
  backlog_controller.hh
  compaction/compaction_manager.cc
Owners: @raphaelsc

compaction_manager:config: introduce max_shares
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  main.cc
  test/lib/cql_test_env.cc
Owners: @raphaelsc

test/lwt: add counter-table support to BaseLWTTester
  test/cluster/lwt/lwt_common.py
Owners: none

db/config: introduce new config parameter `compaction_max_shares`
  backlog_controller.hh
  backlog_controller_fwd.hh
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  db/config.cc
  db/config.hh
  main.cc
  test/lib/cql_test_env.cc
Owners: @raphaelsc

topology: let banned node know that it is banned
  idl/join_node.idl.hh
  message/messaging_service.cc
  message/messaging_service.hh
  service/storage_service.cc
  test/cluster/test_node_isolation.py
Owners: @tgrabiec, @asias

vector_search: implement building vector-search-validator
  configure.py
  test/CMakeLists.txt
  test/vector_search_validator/CMakeLists.txt
  test/vector_search_validator/build-validator
  test/vector_search_validator/build-vector-store
Owners: none

vector_search: add vector-search-validator tests
  test.py
  test/pylib/suite/base.py
  test/vector_search_validator/README.md
  test/vector_search_validator/conftest.py
  test/vector_search_validator/test_cargo_toml.py
  test/vector_search_validator/test_validator.py
  tools/toolchain/dbuild
Owners: none

vector_search: add vector-search-validator sources
  test/vector_search_validator/.gitignore
  test/vector_search_validator/Cargo.toml
  test/vector_search_validator/build-env
  test/vector_search_validator/cargo-toml-template
  test/vector_search_validator/crates/validator-scylla/Cargo.toml
  test/vector_search_validator/crates/validator-scylla/src/cql.rs
  test/vector_search_validator/crates/validator-scylla/src/lib.rs
  test/vector_search_validator/crates/validator/Cargo.toml
  test/vector_search_validator/crates/validator/src/main.rs
Owners: none

index/vector_index.cc: Don't allow zero as an index option
  index/vector_index.cc
Owners: @nyh, @piodul

Add simple_value_with_expiry util class
  configure.py
  test/boost/CMakeLists.txt
  test/boost/simple_value_with_expiry_test.cc
  utils/simple_value_with_expiry.hh
Owners: none

Add ref to service::storage_service to executor
  alternator/controller.cc
  alternator/controller.hh
  alternator/executor.cc
  alternator/executor.hh
  main.cc
Owners: @nyh

Add alternator_describe_table_info_cache_validity_in_seconds config option
  db/config.cc
  db/config.hh
Owners: none

Modify estimate_total_sstable_volume to opt ignore errors
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

tools: toolchain: prepare: replace 'reg' with 'skopeo'
  tools/toolchain/prepare
Owners: none

Rename maybe_split_sstable() to maybe_split_new_sstable()
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  replica/compaction_group.hh
  replica/table.cc
  test/boost/sstable_compaction_test.cc
Owners: @raphaelsc
