Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

encryption_at_rest_test: ensure proxy connection flushing
  test/boost/encryption_at_rest_test.cc
Owners: none

compaction: demote normal compaction start/end log messages to debug level
  compaction/compaction.cc
  test/cluster/test_tablets.py
Owners: @raphaelsc

remove redis documentation
  docs/dev/protocols.md
  docs/dev/redis.md
  docs/dev/repository_layout.md
  docs/operating-scylla/admin-tools/maintenance-mode.rst
Owners: none

sstables_manager: drop uuid_sstable_identifiers
  replica/distributed_loader.cc
  replica/table.cc
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
Owners: @tgrabiec, @raphaelsc

feature_service: make UUID_SSTABLE_IDENTIFIERS unused
  gms/feature_service.hh
  sstables/sstables_manager.cc
  test/lib/test_services.cc
Owners: @tgrabiec, @asias, @kbr-scylla, @raphaelsc

sstables: sstable_generation: get rid of uuid_identifiers bool class
  replica/distributed_loader.cc
  replica/table.cc
  sstables/generation_type.hh
  streaming/stream_blob.cc
  test/boost/sstable_directory_test.cc
  test/boost/sstable_test.cc
  test/lib/test_services.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @asias, @denesb

streaming: stream_blob: use the table sstable_generation_generator
  streaming/stream_blob.cc
Owners: @tgrabiec, @asias

sstables: sstable_directory: stop tracking highest_generation
  sstables/sstable_directory.cc
  sstables/sstable_directory.hh
  test/boost/sstable_directory_test.cc
Owners: @tgrabiec, @raphaelsc

replica: distributed_loader: stop tracking highest_generation
  replica/distributed_loader.cc
  replica/distributed_loader.hh
  sstables/sstable_directory.cc
  sstables/sstable_directory.hh
  test/boost/sstable_directory_test.cc
Owners: @tgrabiec, @raphaelsc

replica: distributed_loader: process_upload_dir: use the table sstable_generation_generator
  replica/database.hh
  replica/distributed_loader.cc
Owners: none

sstables: sstable_generation_generator: stop tracking highest generation
  sstables/generation_type.hh
Owners: @tgrabiec, @raphaelsc

replica: table: get rid of update_sstables_known_generation
  replica/database.hh
  replica/table.cc
  test/boost/sstable_test.hh
Owners: none

message: move RPC compression from utils/ to message/
  configure.py
  db/config.cc
  db/config.hh
  db/system_keyspace.cc
  db/system_keyspace.hh
  main.cc
  message/CMakeLists.txt
  message/advanced_rpc_compressor.cc
  message/advanced_rpc_compressor.hh
  message/advanced_rpc_compressor_protocol.hh
  message/dict_trainer.cc
  message/dict_trainer.hh
  message/dictionary_service.cc
  message/dictionary_service.hh
  message/messaging_service.cc
  message/messaging_service.hh
  message/shared_dict.hh
  message/stream_compressor.cc
  message/stream_compressor.hh
  test/boost/advanced_rpc_compressor_test.cc
  test/boost/dict_trainer_test.cc
  test/boost/stream_compressor_test.cc
  test/lib/cql_test_env.cc
  utils/CMakeLists.txt
Owners: none

migration manager: assert that if schema pull is disabled the group0 is not in use_pre_raft_procedures state
  service/migration_manager.cc
Owners: @tgrabiec

rest_api: add endpoint which drops all quarantined sstables
  api/api-doc/storage_service.json
  api/storage_service.cc
  replica/database.hh
  replica/table.cc
  test/boost/database_test.cc
  test/rest_api/test_storage_service.py
Owners: none

nodetool: add command for dropping quarantine sstables
  test/nodetool/test_dropquarantinedsstables.py
  tools/scylla-nodetool.cc
Owners: @denesb

db/config, utils: allow using UUID as a config option
  db/config.cc
  db/config.hh
  utils/UUID.hh
  utils/uuid.cc
Owners: none

db: system_keyspace: peers_table_read_fixup: remove rows with null host_id
  db/system_keyspace.cc
Owners: none

db/config, gms/gossiper: change recovery_leader to UUID
  db/config.cc
  db/config.hh
  gms/gossiper.cc
  gms/gossiper.hh
  service/raft/raft_group0.cc
  service/storage_service.cc
Owners: @tgrabiec, @asias, @kbr-scylla

test: delay setting recovery_leader in the recovery procedure tests
  test/cluster/test_raft_recovery_during_join.py
  test/cluster/test_raft_recovery_entry_loss.py
  test/cluster/test_raft_recovery_user_data.py
Owners: none

gossip: add recovery_leader to gossip_digest_syn
  gms/gossip_digest_syn.cc
  gms/gossip_digest_syn.hh
  gms/gossiper.cc
  gms/gossiper.hh
  idl/gossip_digest.idl.hh
  test/manual/message.cc
Owners: @tgrabiec, @asias, @kbr-scylla

docs: document the option to set recovery_leader later
  docs/troubleshooting/handling-node-failures.rst
Owners: none

nodetool: repair: skip tablet keyspaces
  test/nodetool/test_repair.py
  tools/scylla-nodetool.cc
Owners: @denesb

test: Add test for replicated key provider with KMIP system key
  test/boost/encryption_at_rest_test.cc
  test/boost/kmip_wrapper.py
Owners: none

api: change severity of force_keyspace_cleanup log
  api/storage_service.cc
Owners: none

utils/bit_cast: add object_representation()
  utils/bit_cast.hh
Owners: none

sstables: introduce trie_writer
  configure.py
  sstables/trie/trie_writer.cc
  sstables/trie/trie_writer.hh
  test/boost/CMakeLists.txt
  test/boost/trie_writer_test.cc
Owners: none

test: Add test for query execution during CQL server shutdown
  service/storage_proxy.cc
  test/cluster/test_write_query_during_cql_server_shutdown.py
Owners: @gleb-cloudius

generic_server: refactor connection::shutdown to use `shutdown_input` and `shutdown_output`
  generic_server.cc
Owners: none

generic_server: replace empty destructor with `= default`
  generic_server.cc
  generic_server.hh
Owners: none

generic_server: add `shutdown_input` and `shutdown_output` functions to `connection` class.
  generic_server.cc
  generic_server.hh
Owners: none

transport: consmetic change, remove extra blanks.
  generic_server.hh
  transport/server.hh
Owners: none

transport: Handle sleep aborted exception in sleep_until_timeout_passes
  transport/server.cc
Owners: none

test: Set `request_timeout_on_shutdown_in_seconds` to `request_timeout_in_ms`, decrease request timeout.
  test/pylib/manager_client.py
  test/pylib/scylla_cluster.py
Owners: none

generic_server: Two-step connection shutdown.
  db/config.cc
  db/config.hh
  generic_server.cc
  generic_server.hh
  test/cluster/test_write_query_during_cql_server_shutdown.py
  transport/controller.cc
  transport/server.cc
  transport/server.hh
Owners: none

storage_service: update service level cache only if it migrated
  service/storage_service.cc
Owners: @tgrabiec, @asias

topology_coordinator: migrate auth first, then service levels
  service/topology_coordinator.cc
Owners: none

tools: toolchain: dbuild: increase depth of nested podman configuration coverage
  tools/toolchain/dbuild
Owners: none

test.py: add --run-internet-dependent-tests
  test.py
  test/cluster/conftest.py
  test/pylib/suite/topology.py
Owners: none

test: add test_sstable_compression_dictionaries_upgrade.py
  test/cluster/test_sstable_compression_dictionaries_upgrade.py
Owners: none
