Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

tablet-mon.py: Add repair support
  scripts/tablet-mon.py
Owners: none

test: fix test flakiness in test_colocated_tables_gc_mode
  test/cluster/test_tablets_colocation.py
Owners: none

permit_reader: Add a new state: preemptive_aborted
  docs/dev/reader-concurrency-semaphore.md
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_permit.hh
  test/boost/reader_concurrency_semaphore_test.cc
Owners: @denesb

reader_concurrency_semaphore: Remove cpu_concurrency's default value
  reader_concurrency_semaphore.hh
  replica/database.cc
  sstables/sstables_manager.cc
  test/boost/reader_concurrency_semaphore_test.cc
  test/boost/row_cache_test.cc
Owners: @denesb, @tgrabiec, @raphaelsc

db/view/view_building_coordinator: skip work if no view is built
  db/view/view_building_coordinator.cc
  test/cluster/test_view_building_coordinator.py
Owners: @nyh, @piodul

test/cluster: fix missing racks in xfailing Alternator test
  test/cluster/test_alternator.py
Owners: none

doc: add the upgrade guide from 2025.x to 2025.4
  docs/upgrade/upgrade-guides/index.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/index.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/metric-update-2025.2-to-2025.3.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.x-to-2025.4/index.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.x-to-2025.4/metric-update-2025.x-to-2025.4.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.x-to-2025.4/upgrade-guide-from-2025.x-to-2025.4.rst
Owners: none

reader_concurrency_semaphore: Check during admission if read may timeout
  reader_concurrency_semaphore.cc
  test/boost/reader_concurrency_semaphore_test.cc
Owners: @denesb

reader_concurrency_semaphore: Add preemptive_abort_factor to constructors
  reader_concurrency_semaphore.cc
  reader_concurrency_semaphore.hh
  reader_concurrency_semaphore_group.cc
  reader_concurrency_semaphore_group.hh
  replica/database.cc
  sstables/sstables_manager.cc
  test/boost/reader_concurrency_semaphore_test.cc
Owners: @denesb, @tgrabiec, @raphaelsc

config: Add parameters to control reads' preemptive_abort_factor
  db/config.cc
  db/config.hh
  replica/database.cc
Owners: none

docs: add strict mode to control metrics validation behavior
  docs/_ext/scylladb_metrics.py
  scripts/get_description.py
Owners: none

replica: database: change type of tables_metadata::_ks_cf_to_uuid
  replica/database.cc
  replica/database.hh
Owners: none

commitlog::read_log_file: Check for eof position on all data reads
  db/commitlog/commitlog.cc
  test/boost/commitlog_test.cc
Owners: @elcallio, @eliransin

replica: database: change type of tables_metadata::_ks_cf_to_uuid
  replica/database.cc
  replica/database.hh
Owners: none

commitlog::read_log_file: Check for eof position on all data reads
  db/commitlog/commitlog.cc
  test/boost/commitlog_test.cc
Owners: @elcallio, @eliransin

replica: database: change type of tables_metadata::_ks_cf_to_uuid
  replica/database.cc
  replica/database.hh
Owners: none

commitlog::read_log_file: Check for eof position on all data reads
  db/commitlog/commitlog.cc
  test/boost/commitlog_test.cc
Owners: @elcallio, @eliransin

s3_client: handle additional transient network errors
  utils/s3/aws_error.cc
Owners: none

test/alternator: reproducer for issue 27375
  test/alternator/test_streams.py
Owners: @nyh

test/alternator: add reproducer for bug with storing invalid values
  test/alternator/test_manual_requests.py
Owners: @nyh

encryption::gcp_host: Add exponential retry for server errors
  ent/encryption/gcp_host.cc
Owners: none

docs: add strict mode to control metrics validation behavior
  docs/_ext/scylladb_metrics.py
  scripts/get_description.py
Owners: none

test: fix test flakiness in test_colocated_tables_gc_mode
  test/cluster/test_tablets_colocation.py
Owners: none

db/view/view_building_coordinator: skip work if no view is built
  db/view/view_building_coordinator.cc
  test/cluster/test_view_building_coordinator.py
Owners: @nyh, @piodul

doc: add the upgrade guide from 2025.x to 2025.4
  docs/upgrade/upgrade-guides/index.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/index.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/metric-update-2025.2-to-2025.3.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.x-to-2025.4/index.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.x-to-2025.4/metric-update-2025.x-to-2025.4.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.x-to-2025.4/upgrade-guide-from-2025.x-to-2025.4.rst
Owners: none

alternator/executor.cc: move shard check into cas_write
  alternator/executor.cc
  test/cluster/test_alternator.py
Owners: @nyh

alternator/executor.cc: release cas_shard on the original shard
  alternator/executor.cc
Owners: @nyh

alternator/executor.cc: eliminate redundant dk copy
  alternator/executor.cc
Owners: @nyh

test: Reuse S3 fixtures facilities in cqlpy/test_tools.py
  test/cluster/object_store/conftest.py
  test/cqlpy/test_tools.py
Owners: @nyh

commitlog: Keep track of high RP for flush request on a per table basis
  db/commitlog/commitlog.cc
Owners: @elcallio, @eliransin

table/compaction group: Move flush replay_position guard into CG "lowest" pos
  replica/compaction_group.hh
  replica/database.hh
  replica/table.cc
Owners: none

replay_position: Add a "max" constant
  db/commitlog/commitlog.cc
  db/commitlog/replay_position.hh
Owners: @elcallio, @eliransin

main: delay setup of storage_service REST API
  main.cc
Owners: none

test: add test_rest_api_on_startup
  test/cluster/test_rest_api_on_startup.py
Owners: none

replace the Driver pages with a link to the new Drivers pages
  docs/_utils/redirects.yaml
  docs/getting-started/index.rst
  docs/index.rst
  docs/operating-scylla/admin.rst
  docs/operating-scylla/procedures/tips/benchmark-tips.rst
  docs/operating-scylla/procedures/tips/production-readiness.rst
  docs/troubleshooting/timeouts.rst
  docs/using-scylla/drivers/cql-drivers/images/monster-rust.png
  docs/using-scylla/drivers/cql-drivers/index.rst
  docs/using-scylla/drivers/cql-drivers/scylla-cpp-driver.rst
  docs/using-scylla/drivers/cql-drivers/scylla-go-driver.rst
  docs/using-scylla/drivers/cql-drivers/scylla-gocqlx-driver.rst
  docs/using-scylla/drivers/cql-drivers/scylla-java-driver.rst
  docs/using-scylla/drivers/cql-drivers/scylla-python-driver.rst
  docs/using-scylla/drivers/cql-drivers/scylla-rust-driver.rst
  docs/using-scylla/drivers/dynamo-drivers/index.rst
  docs/using-scylla/drivers/index.rst
  docs/using-scylla/index.rst
  docs/using-scylla/integrations/index.rst
  docs/using-scylla/integrations/integration-databricks.rst
  docs/using-scylla/integrations/integration-elasticsearch.rst
  docs/using-scylla/integrations/integration-spark.rst
Owners: @annastuchlik, @tzach

test_node_failure_during_tablet_migration: Increase RF from 2 to 3
  test/cluster/test_tablets_migration.py
Owners: none

load_stats: add get_tablet_size_in_transition()
  locator/tablets.cc
  locator/tablets.hh
Owners: none

gms: add CLIENT_ROUTES feature
  gms/feature_service.hh
Owners: @tgrabiec, @asias, @kbr-scylla

topology_coordinator: Add barrier to cleanup_target
  service/topology_coordinator.cc
  test/cluster/test_tablets_migration.py
Owners: none

test: fix test flakiness in test_colocated_tables_gc_mode
  test/cluster/test_tablets_colocation.py
Owners: none
