Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

schema_registry: replace frozen_schema+base_info with extended_frozen_schema
  schema/frozen_schema.cc
  schema/frozen_schema.hh
  schema/schema_registry.cc
  schema/schema_registry.hh
Owners: @tgrabiec

schema: add pointer to CDC schema
  db/schema_applier.cc
  db/schema_tables.cc
  db/schema_tables.hh
  schema/frozen_schema.cc
  schema/frozen_schema.hh
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
  schema/schema_registry.cc
  schema/schema_registry.hh
  service/migration_manager.cc
  test/boost/schema_registry_test.cc
  tools/schema_loader.cc
Owners: @tgrabiec, @denesb

cdc: use compatiable cdc schema
  cdc/log.cc
  test/cluster/test_cdc_with_alter.py
Owners: @kbr-scylla, @elcallio, @piodul

test: cdc: test cdc compatible schema
  test/cluster/test_cdc_with_alter.py
Owners: none

sstables_loader: Synchronize tablet split and load-and-stream
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  service/topology_coordinator.cc
  sstables_loader.cc
  sstables_loader.hh
Owners: @tgrabiec, @asias

test: Add reproducer for l-a-s and split synchronization issue
  test/cluster/test_tablets2.py
Owners: none

sstables_loader: Synchronize tablet split and load-and-stream
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  service/topology_coordinator.cc
  sstables_loader.cc
  sstables_loader.hh
Owners: @tgrabiec, @asias

test: Add reproducer for l-a-s and split synchronization issue
  test/cluster/test_tablets2.py
Owners: none

s3_client: unify `make_request` implementation
  utils/s3/client.cc
Owners: none

s3_client: just reformat `make_request`
  utils/s3/client.cc
Owners: none

s3_client: unify `make_request` implementation
  utils/s3/client.cc
Owners: none

s3_client: support high-level request retries
  utils/s3/client.cc
  utils/s3/retryable_http_client.cc
  utils/s3/retryable_http_client.hh
Owners: none

s3_client: add max for client level retries
  utils/s3/client.cc
Owners: none

s3_client: add logging
  utils/s3/client.cc
Owners: none

s3_client: tune logging level
  utils/s3/client.cc
Owners: none

s3_client: remove `s3_retry_strategy`
  configure.py
  utils/CMakeLists.txt
  utils/s3/client.cc
  utils/s3/retryable_http_client.cc
  utils/s3/s3_retry_strategy.cc
  utils/s3/s3_retry_strategy.hh
Owners: none

s3_client: improve exception handling for chunked downloads
  test/boost/s3_test.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: just reformat `make_request`
  utils/s3/client.cc
Owners: none

s3_client: fix indentation
  utils/s3/client.cc
Owners: none

sstables_loader: Synchronize tablet split and load-and-stream
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  service/topology_coordinator.cc
  sstables_loader.cc
  sstables_loader.hh
Owners: @tgrabiec, @asias

test: Add reproducer for l-a-s and split synchronization issue
  test/cluster/test_tablets2.py
Owners: none

Add libkmip submodule
  .gitmodules
Owners: none

kmip: Move kmip_host to use (mainly) std::string
  ent/encryption/kmip_host.cc
  ent/encryption/kmip_host.hh
Owners: none

Build and link against libkmip
  configure.py
  ent/encryption/CMakeLists.txt
  ent/encryption/kmip_host.cc
  ent/encryption/kmip_host.hh
  test/boost/encryption_at_rest_test.cc
Owners: none

vector_search: remove dependence on cql3
  alternator/serialization.cc
  configure.py
  cql3/CMakeLists.txt
  cql3/functions/as_json_function.hh
  cql3/functions/functions.cc
  cql3/statements/select_statement.cc
  cql3/statements/update_statement.cc
  test/boost/comparable_bytes_test.cc
  test/boost/types_test.cc
  test/vector_search/vector_store_client_test.cc
  tools/scylla-sstable.cc
  types/CMakeLists.txt
  types/json_utils.cc
  types/json_utils.hh
  vector_search/CMakeLists.txt
  vector_search/vector_store_client.cc
  vector_search/vector_store_client.hh
Owners: @nyh, @tgrabiec, @nuivall, @ptrsmrn, @denesb

cmake: fix `s3_test` linkage
  test/boost/CMakeLists.txt
Owners: none

test/cluster/mv: Rewrite test_view_building_scheduling_group
  test/cluster/mv/test_mv_building.py
Owners: none

alternator/executor: instantly mark view as built when creating it with base table
  alternator/executor.cc
Owners: @nyh

dist: detect corrupted NUMA topology information
  dist/common/scripts/scylla_prepare
  dist/common/scripts/scylla_sysconfig_setup
  dist/common/scripts/scylla_util.py
Owners: none

test.py: rewrite the wait_for_first_completed
  test/cluster/test_different_group0_ids.py
  test/cluster/test_hints.py
  test/cluster/test_long_query_timeout_erm.py
  test/cluster/test_tablets.py
  test/cluster/test_topology_upgrade_stuck.py
  test/pylib/util.py
Owners: none

test/alternator/test_tablets: add reproducer for GSI with tablets
  test/alternator/test_tablets.py
Owners: @nyh

test/alternator/test_tablets: add test for GSI backfill with tablets
  test/alternator/test_tablets.py
Owners: @nyh

test::pylib::dockerized_service: Add helper for running docker/podman
  test/pylib/dockerized_service.py
Owners: none

test_tablets_lwt: add test_lwt_shutdown
  service/paxos/paxos_state.cc
  service/storage_proxy.cc
  test/cluster/test_tablets_lwt.py
Owners: @gleb-cloudius

storage_proxy: cancel_write_handlers: don't hold a strong pointer to handler
  service/storage_proxy.cc
Owners: @gleb-cloudius

storage_proxy: coroutinize cancel_write_handlers
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

storage_proxy: wait for write handler destruction
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

repair: Remove the regular mode name in the tablet repair api
  api/api-doc/storage_service.json
Owners: none

test.py: rewrite the wait_for_first_completed
  test/cluster/test_long_query_timeout_erm.py
  test/cluster/test_topology_upgrade_stuck.py
  test/pylib/util.py
  test/topology_custom/test_different_group0_ids.py
  test/topology_custom/test_hints.py
  test/topology_custom/test_tablets.py
Owners: none

test.py: rewrite the wait_for_first_completed
  test/cluster/test_different_group0_ids.py
  test/cluster/test_hints.py
  test/cluster/test_long_query_timeout_erm.py
  test/cluster/test_tablets.py
  test/cluster/test_topology_upgrade_stuck.py
  test/pylib/util.py
Owners: none
