Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

cdc: set column drop timestamp in the future
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

migration_manager: pass timestamp to pre_create
  cdc/log.cc
  service/migration_listener.hh
  service/migration_manager.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec

cdc: check if recreating a column too soon
  cdc/log.cc
  test/cluster/test_cdc_with_alter.py
Owners: @kbr-scylla, @elcallio, @piodul

test: test concurrent writes with column drop with cdc preimage
  test/cluster/test_cdc_with_alter.py
Owners: none

select_statement: add a warning about unsupported paging for vs queries
  cql3/statements/select_statement.cc
  test/vector_search/vector_store_client_test.cc
Owners: none

db/view: Add backoff when RPC fails
  db/view/view_building_coordinator.cc
  test/cluster/mv/test_mv_building.py
Owners: @nyh, @piodul

db/view/view_building_coordinator: Rate limit logging failed RPC
  db/view/view_building_coordinator.cc
  test/cluster/mv/test_mv_building.py
Owners: @nyh, @piodul

tet/cluster/mv: Clean up test_backoff_when_node_fails_task_rpc
  test/cluster/mv/test_mv_building.py
Owners: none

test: cqlpy: add test case for non-numeric PERCENTILE value
  test/cqlpy/test_alter_table.py
Owners: @nyh

test: cqlpy: add test for valid speculative_retry values
  test/cqlpy/test_alter_table.py
Owners: @nyh

schema: speculative_retry: allow 0 and 100 PERCENTILE values
  schema/schema.cc
Owners: @tgrabiec

schema: speculative_retry: update exception type for sstring ops
  schema/schema.cc
Owners: @tgrabiec

docs: cql: ddl.rst: update speculative-retry-options
  docs/cql/ddl.rst
Owners: none

test: cqlpy: add test case for non-numeric PERCENTILE value
  test/cqlpy/test_alter_table.py
Owners: @nyh

schema: speculative_retry: update exception type for sstring ops
  schema/schema.cc
Owners: @tgrabiec

test: cqlpy: add test for valid speculative_retry values
  test/cqlpy/test_alter_table.py
Owners: @nyh

docs: cql: ddl.rst: update speculative-retry-options
  docs/cql/ddl.rst
Owners: none

schema: speculative_retry: allow 0 and 100 PERCENTILE values
  schema/schema.cc
Owners: @tgrabiec

test: cqlpy: add test for valid speculative_retry values
  test/cqlpy/test_alter_table.py
Owners: @nyh

schema: speculative_retry: allow 0 and 100 PERCENTILE values
  schema/schema.cc
Owners: @tgrabiec

schema: speculative_retry: update exception type for sstring ops
  schema/schema.cc
Owners: @tgrabiec

docs: cql: ddl.rst: update speculative-retry-options
  docs/cql/ddl.rst
Owners: none

test: cqlpy: add test case for non-numeric PERCENTILE value
  test/cqlpy/test_alter_table.py
Owners: @nyh

alternator: avoid duplicate parsing in put_item LWT shard bounce
  alternator/executor.cc
  alternator/executor.hh
Owners: @nyh

cql3: sec index: Restrict partition key deduplication across pages
  cql3/statements/select_statement.cc
  test/cqlpy/test_secondary_index.py
Owners: @nyh

cql3: sec index: Fix limit for result merger in fast path
  cql3/statements/select_statement.cc
  test/cqlpy/test_secondary_index.py
Owners: @nyh

cql3: sec index: Fix remaining rows when adjusting paging state
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
Owners: none

cql3: sec index: Limit base table reads to match index view rows
  cql3/statements/select_statement.cc
  query/query-request.hh
  query/query.cc
  test/cqlpy/test_secondary_index.py
Owners: @nyh

query: Remove early return from result merger
  query/query.cc
Owners: none

sstables: prevent oversized allocation when parsing summary positions
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

vector_search: Make endpoint available
  test/vector_search/vector_store_client_test.cc
Owners: none

vector_search: Use std::expected for low-level client errors
  vector_search/client.cc
  vector_search/client.hh
  vector_search/error.hh
  vector_search/vector_store_client.cc
  vector_search/vector_store_client.hh
Owners: none

vector_search: Extract client class
  configure.py
  vector_search/CMakeLists.txt
  vector_search/client.cc
  vector_search/client.hh
  vector_search/vector_store_client.cc
Owners: none

vector_search: Add backoff for failed clients
  test/vector_search/test_config.yaml
  test/vector_search/vector_store_client_test.cc
  vector_search/client.cc
  vector_search/client.hh
  vector_search/vector_store_client.cc
Owners: none

vector_search: Report status check exception via on_internal_error_noexcept
  vector_search/client.cc
  vector_search/client.hh
  vector_search/clients.cc
  vector_search/clients.hh
  vector_search/vector_store_client.cc
Owners: none

vector_search: Set max backoff delay to 2x read request timeout
  test/vector_search/vector_store_client_test.cc
  vector_search/client.cc
  vector_search/client.hh
  vector_search/clients.cc
  vector_search/clients.hh
  vector_search/vector_store_client.cc
Owners: none

vector_search: Extract client management into dedicated class
  configure.py
  vector_search/CMakeLists.txt
  vector_search/clients.cc
  vector_search/clients.hh
  vector_search/uri.hh
  vector_search/vector_store_client.cc
Owners: none

tools: scylla-sstable: Print filename and tablet ids on error
  tools/scylla-sstable.cc
Owners: @denesb

service: migration_manager: corutinize reload_schema
  service/migration_manager.cc
Owners: @tgrabiec

service: attach storage_service to migration_manager using pluggabe
  main.cc
  service/migration_manager.cc
  service/migration_manager.hh
  service/storage_service.cc
  test/lib/cql_test_env.cc
Owners: @tgrabiec, @asias
