Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

storage_service: Use utils::chunked_vector to avoid big allocation
  db/virtual_tables.cc
  locator/util.cc
  locator/util.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @gleb-cloudius, @tgrabiec, @asias

test: tablets: add get_tablet_info helper
  test/pylib/tablets.py
Owners: none

tablets: deallocate storage state on end_migration
  locator/tablets.cc
  locator/tablets.hh
  replica/table.cc
Owners: none

test/cluster/test_tablets: test restart during tablet cleanup
  service/topology_coordinator.cc
  test/topology_custom/test_tablets_migration.py
Owners: none

cql, schema: Extend name length limit from 48 to 192 bytes
  docs/cql/ddl.rst
  docs/reference/limits.rst
  schema/schema.cc
  schema/schema.hh
  test/boost/cql_query_test.cc
  test/cqlpy/cassandra_tests/validation/operations/create_test.py
  test/cqlpy/test_keyspace.py
  test/cqlpy/test_name.py
  test/cqlpy/test_utf8.py
Owners: @tgrabiec, @nyh

replica: Remove unused keyspace::init_storage()
  replica/database.hh
Owners: none

utils: don't allow do discard updateable_value observer
  utils/updateable_value.hh
Owners: none

test: add test for live updates of generic server config
  generic_server.cc
  test/cluster/test_config_live_updates.py
Owners: none

test/topology, test/topology_custom: Adjust simple tests to RF-rack-validity
  test/topology/test_change_ip.py
  test/topology/test_global_ignore_nodes.py
  test/topology/test_snapshot.py
  test/topology/test_tls.py
  test/topology/test_topology_remove_decom.py
  test/topology_custom/test_change_rpc_address.py
  test/topology_custom/test_conflicting_keys_read_repair.py
  test/topology_custom/test_data_resurrection_in_memtable.py
  test/topology_custom/test_fencing.py
  test/topology_custom/test_read_repair.py
  test/topology_custom/test_remove_rpc_client_with_pending_requests.py
  test/topology_custom/test_repair.py
  test/topology_custom/test_replace.py
  test/topology_custom/test_reversed_queries_during_simulated_upgrade_process.py
  test/topology_custom/test_rpc_compression.py
  test/topology_custom/test_select_from_mutation_fragments.py
  test/topology_custom/test_tablets.py
  test/topology_custom/test_tablets2.py
  test/topology_custom/test_tablets_cql.py
  test/topology_custom/test_tablets_migration.py
  test/topology_custom/test_tablets_removenode.py
  test/topology_custom/test_tombstone_gc.py
  test/topology_custom/test_topology_smp.py
Owners: @tgrabiec

test/object_store/test_backup.py: Adjust to RF-rack-validity
  test/object_store/test_backup.py
Owners: none

test/topology_custom/test_multidc.py: Adjust to RF-rack-validity
  test/topology_custom/test_multidc.py
Owners: none

test/topology_custom/test_not_enough_token_owners.py: Adjust to RF-rack-validity
  test/topology_custom/test_not_enough_token_owners.py
Owners: none

test/topology_custom/test_zero_token_nodes_multidc.py: Adjust to RF-rack-validity
  test/topology_custom/test_zero_token_nodes_multidc.py
Owners: none

test/topology_custom/test_zero_token_nodes_no_replication.py: Adjust to RF-rack-validity
  test/topology_custom/test_zero_token_nodes_no_replication.py
Owners: none

test/topology_custom/test_zero_token_nodes_topology_ops: Adjust to RF-rack-validity
  test/topology_custom/test_zero_token_nodes_topology_ops.py
Owners: none

test/pylib/repair.py: Assign nodes to multiple racks in create_table_insert_data_for_repair
  test/pylib/repair.py
Owners: none

test/topology_custom/test_tablet_repair_scheduler.py: Adjust to RF-rack-validity
  test/topology_custom/test_tablet_repair_scheduler.py
Owners: none

test/topology_custom/test_tablets: Adjust test_tablet_rf_change to RF-rack-validity
  test/topology_custom/test_tablets.py
Owners: none

test/topology_custom/test_tablets: Divide rack into two to adjust tests to RF-rack-validity
  test/topology_custom/test_tablets.py
Owners: none

test/topology, test/topology_custom: Disable rf_rack_valid_keyspaces in problematic tests
  test/topology_custom/test_tablets.py
  test/topology_custom/test_tablets2.py
  test/topology_custom/test_tablets_removenode.py
  test/topology_custom/test_topology_ops.py
  test/topology_custom/test_topology_ops_encrypted.py
  test/topology_random_failures/cluster_events.py
  test/topology_random_failures/test_random_failures.py
Owners: none

doc: improve the tablets limitations section
  docs/architecture/tablets.rst
Owners: none

test.py: Fix test result are overwritten
  test.py
Owners: none

doc: remove support for Ubuntu 20.04
  docs/_static/data/os-support.json
  docs/getting-started/os-support.rst
Owners: none

dbuild: mount "$XDG_CACHE_HOME/scylladb"
  tools/toolchain/dbuild
Owners: none

pylib/scylla_cluster: give a way to pass executable-specific options to nodes
  test/pylib/scylla_cluster.py
  test/pylib/suite/python.py
Owners: none

pylib: pass scylla_env environment variables to the topology suite
  test/pylib/suite/topology.py
Owners: none

pylib/manager_client: add server_switch_executable
  test/pylib/manager_client.py
  test/pylib/scylla_cluster.py
Owners: none

test/pylib: add get_scylla_2025_1_executable()
  test/pylib/scylla_cluster.py
Owners: none

test: add test_sstable_compression_dictionaries_upgrade.py
  test/cluster/test_sstable_compression_dictionaries_upgrade.py
Owners: none

test/pylib: in add_server, give a way to specify the executable and version-specific config
  test/pylib/manager_client.py
  test/pylib/scylla_cluster.py
  test/pylib/suite/python.py
Owners: none

test.py: add --run-internet-dependent-tests
  test.py
  test/cluster/conftest.py
  test/pylib/suite/topology.py
Owners: none

mv, index: Allow for creating MVs and indexes only in RF-rack-valid keyspaces
  cql3/statements/create_index_statement.cc
  cql3/statements/create_view_statement.cc
  main.cc
  replica/database.cc
  replica/database.hh
  test/cluster/mv/tablets/test_mv_tablets.py
  test/cluster/test_multidc.py
  test/lib/cql_test_env.cc
Owners: @nyh, @piodul

mv, index: Replace experimental feature with rf_rack_valid_keyspaces
  cql3/statements/create_index_statement.cc
  cql3/statements/create_view_statement.cc
  db/config.cc
  db/config.hh
  gms/feature_service.cc
  gms/feature_service.hh
  test/cluster/mv/tablets/test_mv_tablets.py
  test/cluster/test_multidc.py
  tools/schema_loader.cc
Owners: @nyh, @piodul, @tgrabiec, @asias, @kbr-scylla, @denesb

docs: Update user documentation for MVs and indexes with tablets
  docs/architecture/tablets.rst
  docs/operating-scylla/admin.rst
Owners: none

test/{topology,topology_custom,object_store}/suite.yaml: Enable rf_rack_valid_keyspaces in suites
  test/object_store/suite.yaml
  test/topology/suite.yaml
  test/topology_custom/suite.yaml
Owners: none

encryption-at-rest.rst: rewrap
  docs/operating-scylla/security/encryption-at-rest.rst
Owners: none

encryption-at-rest.rst: users (plural) typo fix
  docs/operating-scylla/security/encryption-at-rest.rst
Owners: none

encryption-at-rest.rst: improve wording / formatting in About intro
  docs/operating-scylla/security/encryption-at-rest.rst
Owners: none

test/boost/mutation_reader_test: fix a use-after-free in `test_fast_forwarding_combined_reader_is_consistent_with_slicing`
  test/boost/mutation_reader_test.cc
Owners: @denesb

encryption-at-rest.rst: About: describe high-level operation more precisely
  docs/operating-scylla/security/encryption-at-rest.rst
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
