Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

test: wait for 3 clients with given username in test_service_level_api
  test/cqlpy/test_service_level_api.py
Owners: @nyh

auth: refactor password checking in password_authenticator
  auth/password_authenticator.cc
Owners: @nuivall, @ptrsmrn

auth: move passwords::check call to alien thread
  auth/allow_all_authenticator.cc
  auth/allow_all_authenticator.hh
  auth/certificate_authenticator.cc
  auth/certificate_authenticator.hh
  auth/password_authenticator.cc
  auth/password_authenticator.hh
  auth/saslauthd_authenticator.cc
  auth/saslauthd_authenticator.hh
  auth/service.cc
  auth/service.hh
  auth/transitional.cc
  main.cc
  test/lib/cql_test_env.cc
Owners: @nuivall, @ptrsmrn

main: utils: add thread names to alien workers
  main.cc
  test/lib/cql_test_env.cc
  utils/alien_worker.cc
  utils/alien_worker.hh
Owners: none

sstables/index_reader: extract a prefetch_lower_bound() method
  sstables/index_reader.hh
  sstables/mx/reader.cc
Owners: @tgrabiec, @raphaelsc

alternator: Don't emit a redundant REMOVE event in Alternator Streams for PutItem calls.
  alternator/executor.cc
  test/alternator/test_streams.py
Owners: @nyh

utils: chunked_vector: implement erase() for single elements and ranges
  test/boost/chunked_vector_test.cc
  utils/chunked_vector.hh
Owners: none

utils: chunked_vector: implement insert() for single-element inserts
  test/boost/chunked_vector_test.cc
  utils/chunked_vector.hh
Owners: none

utils: chunked_vector: implement insert() for single-element inserts
  test/boost/chunked_vector_test.cc
  utils/chunked_vector.hh
Owners: none

utils: chunked_vector: implement erase() for single elements and ranges
  test/boost/chunked_vector_test.cc
  utils/chunked_vector.hh
Owners: none

storage_service: Use utils::chunked_vector to avoid big allocation
  db/virtual_tables.cc
  locator/util.cc
  locator/util.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @gleb-cloudius, @tgrabiec, @asias

repair: Avoid too many fragments in a single repair_row_on_wire
  gms/feature_service.hh
  repair/row_level.cc
  test/cluster/test_tablet_repair_scheduler.py
  test/pylib/repair.py
Owners: @tgrabiec, @asias, @kbr-scylla

auth: fix crash when migration code runs parallel with raft upgrade
  auth/password_authenticator.cc
  auth/standard_role_manager.cc
Owners: @nuivall, @ptrsmrn

repair: Speed up ranges calculation when small table optimization is on
  repair/repair.cc
Owners: @tgrabiec, @asias

storage_service: Use utils::chunked_vector to avoid big allocation
  db/virtual_tables.cc
  locator/util.cc
  locator/util.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @gleb-cloudius, @tgrabiec, @asias

utils::http: Make shared system trust certificates public
  utils/http.cc
  utils/http.hh
Owners: none

utils::rest::client: Add helper routines for simple REST calls
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

utils::rest::client: Add formatter for seastar::http::reply
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

utils::gcp: Move/add gcp credentials management to shared file
  configure.py
  utils/CMakeLists.txt
  utils/gcp/gcp_credentials.cc
  utils/gcp/gcp_credentials.hh
Owners: none

test.py: refactor scylla_gdb tests to not run pytest inside GDB
  test/conftest.py
  test/pylib/suite/python.py
  test/scylla_gdb/conftest.py
  test/scylla_gdb/suite.yaml
  test/scylla_gdb/test_basic_commands.py
  test/scylla_gdb/test_misc.py
  test/scylla_gdb/test_schema_commands.py
  test/scylla_gdb/test_sstable_commands.py
  test/scylla_gdb/test_task_commands.py
Owners: none

Add option to run gdb tests with pytest only
  test/scylla_gdb/conftest.py
Owners: none

Remove redundant run from gdb tests
  test/scylla_gdb/run
Owners: none

alternator: streams: refactor std::views::transform with side effect
  alternator/streams.cc
Owners: @nyh

cdc: throw error if column doesn't exist
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

test: cdc: add test_cdc_with_alter
  cdc/log.cc
  test/cluster/test_cdc_with_alter.py
Owners: @kbr-scylla, @elcallio, @piodul

alternator: simplify std::views::transform calls that extract a member from a class
  alternator/executor.cc
  alternator/ttl.cc
Owners: @nyh

encryption: remove default case from component_type switch
  ent/encryption/encryption.cc
Owners: none

encryption: add `encrypted_data_source` class
  ent/encryption/encrypted_file_impl.cc
  ent/encryption/encrypted_file_impl.hh
  test/boost/encrypted_file_test.cc
Owners: none

sstables: refactor readers and sources to use coroutines
  sstables/index_reader.hh
  sstables/kl/reader.cc
  sstables/mx/partition_reversing_data_source.cc
  sstables/mx/reader.cc
  sstables/sstable_mutation_reader.hh
  sstables/sstables.cc
  sstables/sstables.hh
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

sstables: add `make_data_or_index_source` to the `storage`
  ent/encryption/encryption.cc
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/storage.cc
  sstables/storage.hh
Owners: @tgrabiec, @raphaelsc

sstables: Start using `make_data_or_index_source` in `sstable`
  sstables/checksummed_data_source.cc
  sstables/checksummed_data_source.hh
  sstables/compress.cc
  sstables/compress.hh
  sstables/index_reader.hh
  sstables/sstables.cc
  test/boost/sstable_test.cc
  test/cluster/object_store/test_backup.py
Owners: @tgrabiec, @raphaelsc

sstables: coroutinize futurized readers
  sstables/checksummed_data_source.cc
  sstables/compress.cc
  sstables/kl/reader.cc
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

encryption: refactor key retrieval
  ent/encryption/encryption.cc
Owners: none

auth: fix crash when migration code runs parallel with raft upgrade
  auth/password_authenticator.cc
  auth/standard_role_manager.cc
Owners: @nuivall, @ptrsmrn

auth: fix crash when migration code runs parallel with raft upgrade
  auth/password_authenticator.cc
  auth/standard_role_manager.cc
Owners: @nuivall, @ptrsmrn

auth: fix crash when migration code runs parallel with raft upgrade
  auth/password_authenticator.cc
  auth/standard_role_manager.cc
Owners: @nuivall, @ptrsmrn

cdc: Forbid altering columns of CDC log tables directly
  cql3/statements/alter_table_statement.cc
  test/boost/cdc_test.cc
  test/cqlpy/test_cdc.py
Owners: @kbr-scylla, @elcallio, @piodul, @nyh

test: kmip: Fix segfault from premature destruction of port_promise
  test/boost/encryption_at_rest_test.cc
Owners: none

locator/token_metadata.cc: use chunked_vector to store _sorted_tokens
  dht/token.cc
  dht/token.hh
  locator/simple_strategy.cc
  locator/tablets.cc
  locator/tablets.hh
  locator/token_metadata.cc
  locator/token_metadata.hh
  locator/util.cc
  locator/util.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias

test: kmip: Fix segfault from premature destruction of port_promise
  test/boost/encryption_at_rest_test.cc
Owners: none
