Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

retry_strategy: Copied utils/s3/retry_strategy.hh to utils/s3/default_aws_retry_strategy.hh
  utils/s3/default_aws_retry_strategy.hh
Owners: none

s3_creds: remove unused member from STS provider
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.cc
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.hh
Owners: none

retry_strategy: introduce Seastar-based retry strategy
  configure.py
  utils/CMakeLists.txt
  utils/s3/default_aws_retry_strategy.cc
  utils/s3/default_aws_retry_strategy.hh
Owners: none

retry_strategy: Copied utils/s3/retry_strategy.cc to utils/s3/default_aws_retry_strategy.cc
  utils/s3/default_aws_retry_strategy.cc
Owners: none

aws_error: handle missing `unexpected_status_error` case
  utils/s3/aws_error.cc
Owners: none

s3_client: remove unused `filler_exception`
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: migrate s3_client to Seastar HTTP client
  test/boost/test_config.yaml
  utils/s3/client.cc
  utils/s3/client.hh
  utils/s3/s3_retry_strategy.cc
  utils/s3/s3_retry_strategy.hh
Owners: none

wip
  utils/s3/default_aws_retry_strategy.hh
Owners: none

s3_client: simplify chunked download error handling using `make_request`
  test/boost/s3_test.cc
  utils/s3/client.cc
Owners: none

s3_client: fix crash in `copy_s3_object` due to dangling stream
  utils/s3/client.cc
Owners: none

s3 cleanup: remove obsolete retry-related classes
  configure.py
  utils/CMakeLists.txt
  utils/s3/retry_strategy.cc
  utils/s3/retry_strategy.hh
  utils/s3/retryable_http_client.cc
  utils/s3/retryable_http_client.hh
Owners: none

s3_client: add `make_request` override with custom retry and error handler
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: fix indentation
  utils/s3/client.cc
Owners: none

s3_creds: use Seastar HTTP client with retry strategy
  utils/s3/credentials_providers/instance_profile_credentials_provider.cc
  utils/s3/credentials_providers/instance_profile_credentials_provider.hh
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.cc
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.hh
Owners: none

mv: limit concurrency view updates generated from staging sstables
  db/view/view_update_generator.cc
  db/view/view_update_generator.hh
  replica/database.hh
  replica/table.cc
  test/cluster/mv/test_mv_backlog.py
Owners: @nyh, @piodul

test: wait for cql in test_two_tablets_concurrent_repair_and_migration_repair_writer_level
  test/cluster/test_tablets.py
Owners: none

test/cluster/test_view_building_coordinator: skip reproducer instead of xfail
  test/cluster/test_view_building_coordinator.py
Owners: none

Add table size to DescribeTable's reply in Alternator
  alternator/controller.cc
  alternator/controller.hh
  alternator/executor.cc
  alternator/executor.hh
  configure.py
  db/config.cc
  db/config.hh
  docs/alternator/compatibility.md
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  test/alternator/test_describe_table.py
  test/boost/CMakeLists.txt
  test/boost/simple_value_with_expiry_test.cc
  utils/simple_value_with_expiry.hh
Owners: @nyh, @annastuchlik, @tzach, @tgrabiec, @asias

tests::lib::gcs_fixture: Add a reusable test fixture for real/fake GS/GCS
  configure.py
  test/lib/CMakeLists.txt
  test/lib/gcs_fixture.cc
  test/lib/gcs_fixture.hh
Owners: none

tests::boost: Add GS object storage cases to mirror S3 ones
  test/boost/sstable_compaction_test.cc
  test/boost/sstable_datafile_test.cc
  test/boost/sstable_resharding_test.cc
  test/lib/sstable_test_env.hh
  test/lib/test_services.cc
Owners: none

mutation/mutation_compactor: add tombstone_gc_state to query ctor
  db/view/view.cc
  db/view/view_building_worker.cc
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  querier.hh
  replica/multishard_query.cc
  replica/mutation_dump.cc
  replica/table.cc
  test/boost/database_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_test.cc
  test/boost/querier_cache_test.cc
  test/perf/perf_row_cache_reads.cc
Owners: @nyh, @piodul, @tgrabiec, @denesb

dht, sstables: replace vector with chunked_vector when computing sstable shards
  dht/i_partitioner.cc
  dht/sharder.hh
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

boost::gcs_storage_test: Convert to use fixture
  test/boost/gcp_object_storage_test.cc
Owners: none

boost::gcs_storage_test: reindent
  test/boost/gcp_object_storage_test.cc
Owners: none

test::cluster::conftest: Add support for multiple object storage backends
  test/cluster/object_store/conftest.py
Owners: none

utils::gcp::storage: Add merge objects operation
  test/boost/gcp_object_storage_test.cc
  utils/gcp/object_storage.cc
  utils/gcp/object_storage.hh
Owners: none

utils::gcp::object_storage: Add optional memory limits to up/download
  utils/gcp/object_storage.cc
  utils/gcp/object_storage.hh
Owners: none

sstables::object_storage_client: Add multi-upload support for GS
  configure.py
  sstables/object_storage_client.cc
  test/boost/CMakeLists.txt
  test/boost/object_storage_upload_test.cc
Owners: @tgrabiec, @raphaelsc

test_backup/test_basic: Make tests multiplex both s3 and gs backends
  test/cluster/object_store/test_backup.py
  test/cluster/object_store/test_basic.py
Owners: none

sstables::object_storage_client: Forward memory limit semaphore to GS instance
  sstables/object_storage_client.cc
Owners: @tgrabiec, @raphaelsc

topology coordinator: restrict node join/remove to preserve RF-rack validity
  locator/tablets.cc
  locator/tablets.hh
  replica/database.cc
  replica/database.hh
  service/topology_coordinator.cc
  test/cluster/test_topology_ops_with_rf_rack_valid.py
Owners: none

repair: Always reset node ops progress to 100% upon completion
  repair/repair.cc
  repair/row_level.hh
Owners: @tgrabiec, @asias

test_tablets_merge: test_tablet_split_merge_with_many_tables: reduce number of tables in debug mode
  test/cluster/test_tablets_merge.py
Owners: none

repair: Always reset node ops progress to 100% upon completion
  repair/repair.cc
  repair/row_level.hh
Owners: @tgrabiec, @asias

test_tablets_merge: test_tablet_split_merge_with_many_tables: reduce number of tables in debug mode
  test/cluster/test_tablets_merge.py
Owners: none

alternator: Correct RCU undercount in BatchGetItem
  alternator/executor.cc
  alternator/executor.hh
  test/alternator/test_returnconsumedcapacity.py
Owners: @nyh

alternator/test: Add more context to test_metrics.py asserts
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Add UpdateItem and BatchWriteItem response size metrics
  alternator/executor.cc
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Add GetItem response size metrics
  alternator/executor.cc
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Add PutItem and DeleteItem response size metrics
  alternator/executor.cc
  alternator/rmw_operation.hh
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh
