Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

docs: backup and restore feature
  docs/features/backup-and-restore.rst
  docs/features/index.rst
Owners: none

replica: Fix take_storage_snapshot() running concurrently to merge completion
  replica/compaction_group.hh
  replica/database.hh
  replica/table.cc
  test/topology_custom/test_tablets_merge.py
Owners: none

gossiper: check for a race condition in `do_apply_state_locally`
  gms/gossiper.cc
  test/cluster/test_gossiper_race.py
Owners: @tgrabiec, @asias, @kbr-scylla

gossiper: check for a race condition in `do_apply_state_locally`
  gms/gossiper.cc
  test/cluster/test_gossiper_race.py
Owners: @tgrabiec, @asias, @kbr-scylla

gossiper: check for a race condition in `do_apply_state_locally`
  gms/gossiper.cc
  test/cluster/test_gossiper_race.py
Owners: @tgrabiec, @asias, @kbr-scylla

cqlpy/test_permissions: run the reproducer tests for #19798
  test/cqlpy/test_permissions.py
Owners: @nyh

select_statement: check for access to CDC base table
  cql3/statements/select_statement.cc
Owners: none

test/gossiper: add reproducible test for race condition during node decommission
  gms/gossiper.cc
  test/topology_custom/test_gossiper_race.py
Owners: @tgrabiec, @asias, @kbr-scylla

system_keyspace: Prune dropped tables from truncation on start/drop
  db/system_keyspace.cc
  db/system_keyspace.hh
  replica/database.cc
  test/cluster/test_truncate_with_drop.py
Owners: none

system_keyspace: Prune dropped tables from truncation on start/drop
  db/system_keyspace.cc
  db/system_keyspace.hh
  replica/database.cc
  test/cluster/test_truncate_with_drop.py
Owners: none

cql3: Produce CREATE MATERIALIZED VIEW statement when describing MV of index
  cql3/statements/describe_statement.cc
  test/cqlpy/test_describe.py
Owners: @nyh

pgo: enable auth in training clusters
  pgo/pgo.py
Owners: none

pgo: add auth connections stress workload
  pgo/auth_conns_stress.py
  pgo/conf/auth.cql
  pgo/exec_cql.py
  pgo/pgo.py
Owners: none

pgo: enable counters workload
  pgo/conf/counters.cql
  pgo/conf/counters.yaml
  pgo/pgo.py
Owners: @nuivall, @ptrsmrn

pgo: add links to issues about tablet missing features
  pgo/conf/counters.cql
  pgo/conf/lwt.yaml
  pgo/conf/si.yaml
Owners: @nuivall, @ptrsmrn

test: reproducer and test for drop with concurrent cleanup
  replica/table.cc
  test/topology_custom/test_tablets.py
Owners: none

cql3: statement_restrictions: forbid querying a single-column or token restriction on a multi-column restriction
  cql3/restrictions/statement_restrictions.cc
Owners: none

raft: refactor can_vote logic and type
  idl/raft_storage.idl.hh
  raft/raft.hh
  raft/tracker.hh
  service/raft/group0_voter_calculator.hh
  service/raft/group0_voter_handler.cc
  service/raft/raft_group0.cc
  service/raft/raft_group0.hh
  service/raft/raft_sys_table_storage.cc
  service/storage_service.cc
  service/topology_coordinator.cc
  test/boost/group0_voter_calculator_test.cc
  test/raft/etcd_test.cc
  test/raft/fsm_test.cc
  test/raft/helpers.cc
  test/raft/raft_sys_table_storage_test.cc
  test/raft/randomized_nemesis_test.cc
  test/raft/replication.hh
  test/raft/replication_test.cc
  types/types.hh
Owners: @kbr-scylla, @gleb-cloudius, @kostja, @tgrabiec, @asias

system_keyspace: Prune dropped tables from truncation on start/drop
  db/system_keyspace.cc
  db/system_keyspace.hh
  replica/database.cc
  test/topology_custom/test_truncate_with_drop.py
Owners: none

cdc: helper functions for reading metadata from tables
  cdc/generation.cc
  cdc/generation.hh
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: @kbr-scylla, @elcallio, @piodul

cdc: add is_log_schema helper
  cdc/log.cc
  cdc/log.hh
Owners: @kbr-scylla, @elcallio, @piodul

cdc: co-locate cdc table with base
  replica/database.cc
Owners: none

cdc: remove streams when dropping CDC table
  cdc/generation.cc
  cdc/generation.hh
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

migration_listener: add on_before_allocate_tablet_map notification
  service/migration_listener.hh
  service/migration_manager.cc
  service/tablet_allocator.cc
Owners: @tgrabiec

cdc: load tablet streams metadata from tables
  cdc/generation.cc
  cdc/generation.hh
  cdc/generation_service.hh
  cdc/metadata.cc
  cdc/metadata.hh
  service/raft/group0_state_machine.cc
  service/storage_service.cc
  service/storage_service.hh
  test/boost/cdc_test.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec, @asias

cdc: move cdc table creation to pre_create
  cdc/log.cc
  service/migration_listener.hh
  service/migration_manager.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec

cdc: add internal tables for cdc with tablets
  db/system_keyspace.cc
  db/system_keyspace.hh
  gms/feature_service.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias, @kbr-scylla

cdc: notify when creating or dropping cdc table
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

cdc: create streams when allocating tablets
  cdc/generation.cc
  cdc/generation.hh
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

cdc: cleanup of old streams for tablets
  cdc/generation.cc
  cdc/generation.hh
  cdc/generation_service.hh
  service/topology_coordinator.cc
  test/boost/cdc_test.cc
Owners: @kbr-scylla, @elcallio, @piodul

topology coordinator: extend raft command result
  service/topology_coordinator.cc
Owners: none

cdc: virtual tables for cdc with tablets
  cdc/generation.cc
  cdc/generation_service.hh
  db/virtual_tables.cc
  service/storage_service.cc
  service/storage_service.hh
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec, @asias

cdc: double write to the pending stream
  cdc/log.cc
  cdc/metadata.cc
  cdc/metadata.hh
Owners: @kbr-scylla, @elcallio, @piodul

topology coordinator: change streams on tablet split/merge
  cdc/generation.cc
  cdc/generation_service.hh
  service/topology_coordinator.cc
Owners: @kbr-scylla, @elcallio, @piodul

cdc: choose stream in tablets enabled keyspaces
  cdc/log.cc
  cdc/metadata.cc
  cdc/metadata.hh
Owners: @kbr-scylla, @elcallio, @piodul

cdc: rename get_stream to get_vnode_stream
  cdc/log.cc
  cdc/metadata.cc
  cdc/metadata.hh
Owners: @kbr-scylla, @elcallio, @piodul

cdc: generate_stream_diff helper function
  cdc/metadata.cc
  cdc/metadata.hh
  test/boost/cdc_test.cc
Owners: @kbr-scylla, @elcallio, @piodul

cdc: helper functions to generate cdc streams mutations
  cdc/generation.cc
  cdc/generation.hh
Owners: @kbr-scylla, @elcallio, @piodul

cdc: enable cdc with tablets
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

topology coordinator: states for commit and close cdc streams
  cdc/generation.cc
  cdc/generation_service.hh
  cdc/log.cc
  cdc/metadata.cc
  cdc/metadata.hh
  idl/storage_service.idl.hh
  service/storage_service.cc
  service/topology_coordinator.cc
  service/topology_coordinator.hh
  service/topology_state_machine.cc
  service/topology_state_machine.hh
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec, @asias
