Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

index: Make `create_view_for_index` method of `create_index_statement`
  cql3/statements/create_index_statement.cc
  cql3/statements/create_index_statement.hh
  index/secondary_index_manager.hh
  tools/schema_loader.cc
Owners: @nyh, @piodul, @denesb

index: Set tombstone_gc when creating secondary index
  cql3/statements/create_index_statement.cc
  cql3/statements/create_index_statement.hh
  test/cqlpy/test_secondary_index.py
  tools/schema_loader.cc
Owners: @nyh, @piodul, @denesb

utils/directories: ignore files when retrieving stats fails
  utils/directories.cc
Owners: none

db/config: add authenticator_threads
  db/config.cc
  db/config.hh
Owners: none

main: auth: use multiple alien workers for password hashing
  auth/service.cc
  auth/service.hh
  main.cc
  test/lib/cql_test_env.cc
  utils/alien_worker.cc
  utils/alien_worker.hh
Owners: @nuivall, @ptrsmrn

repair: Fix uuid and nodes_down order in the log
  repair/repair.cc
Owners: @tgrabiec, @asias

cdc: Support prefetched preimages
  cdc/log.cc
  cdc/log.hh
  test/cql/cdc_with_lwt_test_full_preimage.cql
  test/cql/cdc_with_lwt_test_full_preimage.result
Owners: @kbr-scylla, @elcallio, @piodul

alternator, cdc: Re-use the row read by LWT as a CDC preimage
  alternator/executor.cc
  alternator/rmw_operation.hh
Owners: @nyh

s3_client: track memory starvation in background filling fiber
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

storage_service: Calculate tokens on stack
  service/storage_service.cc
Owners: @tgrabiec, @asias

storage_service,api: Get e.r.m. inside get_range_to_address_map()
  api/storage_service.cc
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

storage_service: Get tablet tokens if e.r.m. is per-table
  service/storage_service.cc
Owners: @tgrabiec, @asias

api: Indentation fix after previous patches
  api/storage_service.cc
Owners: none

test: Add validation of data returned by /storage_service endpoints
  test/cluster/test_tablets.py
Owners: none

test,lib: Add range_to_endpoint_map() method to rest client
  test/pylib/rest_client.py
Owners: none

test,lib: Add describe_ring() method to rest client
  test/pylib/rest_client.py
Owners: none

dist: scylla_raid_setup: don't override XFS block size on modern kernels
  dist/common/scripts/scylla_raid_setup
Owners: none

alternator: Correct RCU undercount in BatchGetItem
  alternator/executor.cc
  alternator/executor.hh
  test/alternator/test_returnconsumedcapacity.py
Owners: @nyh

storage_service: Calculate tokens on stack
  service/storage_service.cc
Owners: @tgrabiec, @asias

storage_service,api: Get e.r.m. inside get_range_to_address_map()
  api/storage_service.cc
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

test,lib: Add range_to_endpoint_map() method to rest client
  test/pylib/rest_client.py
Owners: none

api: Indentation fix after previous patches
  api/storage_service.cc
Owners: none

test: Add validation of data returned by /storage_service endpoints
  test/cluster/test_tablets.py
Owners: none

storage_service: Get tablet tokens if e.r.m. is per-table
  service/storage_service.cc
Owners: @tgrabiec, @asias

test,lib: Add describe_ring() method to rest client
  test/pylib/rest_client.py
Owners: none

replica/database: Fix description of `validate_tablet_views_indexes`
  replica/database.hh
Owners: none

alternator: Correct RCU undercount in BatchGetItem
  alternator/executor.cc
  alternator/executor.hh
  test/alternator/test_returnconsumedcapacity.py
Owners: @nyh

db: remove unused proxy from create_keyspace_metadata
  db/schema_applier.cc
  db/schema_tables.cc
  db/schema_tables.hh
  replica/database.cc
Owners: @tgrabiec

db: schema_applier: make merge functions non-static members
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

db: schema_applier: move types storage init to merge_types func
  db/schema_applier.cc
Owners: @tgrabiec

db: always use _tablet_hint as condition for tablet metadata change
  db/schema_applier.cc
Owners: @tgrabiec

service: fix dependencies during migration_manager startup
  main.cc
  service/migration_manager.cc
  service/migration_manager.hh
Owners: @tgrabiec

db: schema_applier: move pending_token_metadata to locator
  db/schema_applier.cc
  db/schema_applier.hh
  locator/token_metadata.cc
  locator/token_metadata.hh
Owners: @tgrabiec

db: rename new_token_metadata to pending_token_metadata
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

db: refactor new_token_metadata into pending_token_metadata
  db/schema_applier.cc
  db/schema_applier.hh
  locator/token_metadata.cc
  locator/token_metadata.hh
Owners: @tgrabiec

replica: schema_applier: obtain copy of token_metadata at the beginning of schema merge
  db/schema_applier.cc
  db/schema_applier.hh
  locator/abstract_replication_strategy.cc
  locator/abstract_replication_strategy.hh
  replica/database.cc
  replica/database.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

db: schema_applier: unify token_metadata loading
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

add random test
  test/cqlpy/test_random_flaky.py
Owners: @nyh

mutation/mutation_compactor: compaction:stats: split partitions
  mutation/mutation_compactor.hh
  replica/multishard_query.cc
  replica/querier.hh
Owners: @tgrabiec, @denesb

test: cluster: skip flaky test_raft_recovery_entry_lose test
  test/cluster/test_raft_recovery_entry_loss.py
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
