Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

test.py: rewrite the wait_for_first_completed
  test/cluster/test_different_group0_ids.py
  test/cluster/test_hints.py
  test/cluster/test_long_query_timeout_erm.py
  test/cluster/test_tablets.py
  test/cluster/test_topology_upgrade_stuck.py
  test/pylib/util.py
Owners: none

vector_search: Extract client class
  configure.py
  vector_search/CMakeLists.txt
  vector_search/client.cc
  vector_search/client.hh
  vector_search/vector_store_client.cc
Owners: none

replica/db: split counter update helper functions
  replica/database.cc
  replica/database.hh
Owners: none

storage_proxy: refactor and coroutinize mutate_counter
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

replica/db: add counter update guard
  replica/database.cc
  replica/database.hh
Owners: none

vector_search: Make endpoint available
  test/vector_search/vector_store_client_test.cc
Owners: none

vector_search: Use std::expected for low-level client errors
  vector_search/client.cc
  vector_search/client.hh
  vector_search/error.hh
  vector_search/vector_store_client.cc
  vector_search/vector_store_client.hh
Owners: none

db/view/view_building_worker: remove unnecessary CV broadcast
  db/view/view_building_worker.cc
Owners: @nyh, @piodul

db/view/view_building_worker: add internal CV
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
Owners: @nyh, @piodul

db/view/view_building_worker: catch general execption in staging task registrator
  db/view/view_building_worker.cc
Owners: @nyh, @piodul

db/view/view_building_worker: use internal CV
  db/view/view_building_worker.cc
  service/storage_service.cc
Owners: @nyh, @piodul, @tgrabiec, @asias

Fix spelling errors
  cdc/log.cc
  main.cc
  service/storage_service.hh
  sstables/object_storage_client.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec, @asias, @raphaelsc

vector_search: Add backoff for failed clients
  test/vector_search/test_config.yaml
  test/vector_search/vector_store_client_test.cc
  vector_search/client.cc
  vector_search/client.hh
  vector_search/vector_store_client.cc
Owners: none

vector_search: Extract client management into dedicated class
  configure.py
  vector_search/clients.cc
  vector_search/clients.hh
  vector_search/uri.hh
  vector_search/vector_store_client.cc
Owners: none

repair: Fix uuid and nodes_down order in the log
  repair/repair.cc
Owners: @tgrabiec, @asias

repair: Fix uuid and nodes_down order in the log
  repair/repair.cc
Owners: @tgrabiec, @asias

repair: Fix uuid and nodes_down order in the log
  repair/repair.cc
Owners: @tgrabiec, @asias

view_building_worker: access tablet map through erm on sstable discovery
  db/view/view_building_worker.cc
Owners: @nyh, @piodul

doc: add support for Debian 12
  docs/_static/data/os-support.json
Owners: none

storage_proxy: move counter update coordination to storage proxy
  replica/database.cc
  replica/database.hh
  service/storage_proxy.cc
Owners: @gleb-cloudius

docs: counters now work with tablets
  docs/architecture/tablets.rst
  docs/features/counters.rst
Owners: @nuivall, @ptrsmrn

storage_proxy: apply counter mutation on all write shards
  replica/database.cc
  replica/database.hh
  service/storage_proxy.cc
Owners: @gleb-cloudius

cql3: allow counters with tablets
  cql3/statements/create_table_statement.cc
  gms/feature_service.hh
Owners: @tgrabiec, @asias, @kbr-scylla

test: enable counters tests with tablets
  test/cluster/test_fencing.py
  test/cql/counters_disallow_ttl_test.cql
  test/cql/counters_disallow_ttl_test.result
  test/cql/counters_test.cql
  test/cql/counters_test.result
  test/cqlpy/cassandra_tests/batch_test.py
  test/cqlpy/cassandra_tests/functions/cast_fcts_test.py
  test/cqlpy/cassandra_tests/validation/entities/counters_test.py
  test/cqlpy/cassandra_tests/validation/entities/secondary_index_test.py
  test/cqlpy/cassandra_tests/validation/operations/compact_storage_test.py
  test/cqlpy/cassandra_tests/validation/operations/select_test.py
  test/cqlpy/test_cast_data.py
  test/cqlpy/test_counter.py
  test/cqlpy/test_describe.py
  test/cqlpy/test_tools.py
  test/cqlpy/test_unset.py
  test/cqlpy/test_wasm.py
Owners: @nuivall, @ptrsmrn, @nyh

storage_proxy: lock all read shards for counter update
  service/storage_proxy.cc
Owners: @gleb-cloudius

pgo: enable counters with tablets
  pgo/conf/counters.cql
Owners: @nuivall, @ptrsmrn

test: add counters with tablets test
  test/cluster/test_counters_with_tablets.py
Owners: none

cql3: remove warning when creating keyspace with tablets
  cql3/statements/create_keyspace_statement.cc
  test/cqlpy/test_keyspace.py
Owners: @nyh

test.py: add universalasync_typed_wrap
  test/pylib/log_browsing.py
  test/pylib/manager_client.py
  test/pylib/rest_client.py
  test/pylib/util.py
Owners: none

paxos_state: shards_for_writes: improve the error message
  service/paxos/paxos_state.cc
Owners: none

storage_service: barrier_and_drain – change log level to info
  service/storage_service.cc
Owners: @tgrabiec, @asias

tablet_metadata_guard: fix split/merge handling
  locator/tablets.cc
Owners: none

topology_coordinator: fix log message
  service/topology_coordinator.cc
  test/cluster/test_tablets.py
Owners: none

tablet_metadata_guard: add debug logs
  locator/tablets.cc
Owners: none

test_tablets_lwt: add test_tablets_merge_waits_for_lwt
  service/tablet_allocator.cc
  test/cluster/test_tablets_lwt.py
Owners: none

service,db: extract get_batchlog_mutation_for() from storage-proxy
  db/batchlog.hh
  db/batchlog_manager.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
  test/boost/batchlog_manager_test.cc
Owners: @elcallio, @gleb-cloudius

service,db: extract generation of batchlog delete mutation
  db/batchlog.hh
  db/batchlog_manager.cc
  service/storage_proxy.cc
Owners: @elcallio, @gleb-cloudius

db/system_keyspace: introduce system.batchlog_v2
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none

db,service: switch to system.batchlog_v2
  db/batchlog.hh
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  service/storage_proxy.cc
  test/boost/batchlog_manager_test.cc
Owners: @elcallio, @gleb-cloudius

db/batchlog_manager: config: s/write_timeout/reply_timeot/
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  main.cc
  test/lib/cql_test_env.cc
Owners: @elcallio

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
