Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

test/lib/cql_assertions: columns_assertions: add T* with_typed_column() overload
  test/lib/cql_assertions.hh
Owners: none

test/lib/cql_assertions: rows_assertions::assert_for_columns_of_row(): add index bound check
  test/lib/cql_assertions.cc
Owners: none

test/lib/cql_assertions: columns_assertions: add assert_for_columns_of_each_row()
  test/lib/cql_assertions.cc
  test/lib/cql_assertions.hh
Owners: none

test/lib/cql_assertions: add source location to fail messages
  test/lib/cql_assertions.cc
  test/lib/cql_assertions.hh
Owners: none

test/lib/cql_assertions: add with_size(predicate) overload
  test/lib/cql_assertions.cc
  test/lib/cql_assertions.hh
Owners: none

test/lib/cql_test_env: add batch type to execute_batch()
  test/boost/query_processor_test.cc
  test/lib/cql_test_env.cc
  test/lib/cql_test_env.hh
Owners: none

test/lib/cql_test_env: forward config to batchlog
  test/lib/cql_test_env.cc
  test/lib/cql_test_env.hh
Owners: none

test/alternator/test_tablets: add reproducer for GSI with tablets
  test/alternator/test_tablets.py
Owners: @nyh

alternator/executor: instantly mark view as built when creating it with base table
  alternator/executor.cc
Owners: @nyh

test/alternator/test_tablets: add test for GSI backfill with tablets
  test/alternator/test_tablets.py
Owners: @nyh

test::pylib::encryption_provider: Port dtest encryption provider classes
  test/pylib/encryption_provider.py
Owners: none

test::cluster::conftest: Add key_provider fixture
  test/cluster/conftest.py
Owners: none

doc: add support for Debian 12
  docs/_static/data/os-support.json
Owners: none

Update ScyllaDB version to: 2025.4.0-rc3
  SCYLLA-VERSION-GEN
Owners: none

test/lib: introduce error_injection.hh
  test/lib/error_injection.hh
Owners: none

test/boost/batchlog_manager_test: add test for batchlog cleanup
  service/storage_proxy.cc
  test/boost/batchlog_manager_test.cc
  test/boost/test_config.yaml
Owners: @gleb-cloudius

db/config: change batchlog_replay_cleanup_after_replays default to 1
  db/config.cc
  service/storage_proxy.cc
Owners: @gleb-cloudius

cmake: fix `s3_test` linkage
  test/boost/CMakeLists.txt
Owners: none

alternator: fix CDC events for TTL expiration
  alternator/streams.cc
  docs/alternator/compatibility.md
  test/alternator/test_ttl.py
Owners: @nyh, @annastuchlik, @tzach

test/cqlpy: remove USE from test, and test a USE-related bug
  test/cqlpy/test_describe.py
Owners: @nyh

alternator: improve protection against oversized requests
  alternator/error.hh
  alternator/server.cc
  alternator/server.hh
  test/alternator/test_manual_requests.py
Owners: @nyh

test/boost: add unit test for Heat-Weighted Load Balancing
  configure.py
  test/boost/hwlb_test.cc
Owners: none

s3_client: remove `s3_retry_strategy`
  configure.py
  utils/CMakeLists.txt
  utils/s3/client.cc
  utils/s3/retryable_http_client.cc
  utils/s3/s3_retry_strategy.cc
  utils/s3/s3_retry_strategy.hh
Owners: none

s3_client: support high-level request retries
  utils/s3/client.cc
  utils/s3/credentials_providers/instance_profile_credentials_provider.cc
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.cc
  utils/s3/retryable_http_client.cc
  utils/s3/retryable_http_client.hh
Owners: none

s3_client: add max for client level retries
  utils/s3/client.cc
Owners: none

s3_client: fix indentation
  utils/s3/client.cc
Owners: none

s3_client: improve exception handling for chunked downloads
  test/boost/s3_test.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: tune logging level
  utils/s3/client.cc
Owners: none

s3_client: add logging
  utils/s3/client.cc
Owners: none

repair: Fix uuid and nodes_down order in the log
  repair/repair.cc
Owners: @tgrabiec, @asias

Support primary_replica_only for native restore API
  api/api-doc/storage_service.json
  api/storage_service.cc
  sstables_loader.cc
  sstables_loader.hh
Owners: none

Enable support for local primary replica
  sstables_loader.cc
Owners: none

Remove trailing whitespaces in storage_service.cc
  api/storage_service.cc
Owners: none

Add table size to DescribeTable's reply in Alternator
  alternator/controller.cc
  alternator/controller.hh
  alternator/executor.cc
  alternator/executor.hh
  configure.py
  db/config.cc
  db/config.hh
  docs/alternator/compatibility.md
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  test/alternator/test_describe_table.py
  test/boost/CMakeLists.txt
  test/boost/simple_value_with_expiry_test.cc
  utils/simple_value_with_expiry.hh
Owners: @nyh, @annastuchlik, @tzach, @tgrabiec, @asias

storage_service: improve colocated repair error to show table names
  service/storage_service.cc
  test/nodetool/test_cluster_repair.py
Owners: @tgrabiec, @asias

repair: Remove the regular mode name in the tablet repair api
  api/api-doc/storage_service.json
Owners: none

test::cluster::test_encryption: Port dtest EAR tests
  test/cluster/test_encryption.py
Owners: none

test::cluster::object_store::conftest: Make GS proxy use shared docker mock server wrapper
  test/cluster/object_store/conftest.py
Owners: none

Fix comment for tablets_mode_for_new_keyspaces
  conf/scylla.yaml
Owners: none

Fix incorrect hint for tablets_mode_for_new_keyspaces
  db/config.cc
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
