Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

service: migration_manager: corutinize merge_schema_from
  service/migration_manager.cc
Owners: @tgrabiec

temporary hack for lack of "integer" support in `seastar-json2code.py`
  api/CMakeLists.txt
  configure.py
  seastar-json2code.py
Owners: none

gms: add CONNECTION_METADATA feature
  gms/feature_service.hh
Owners: @tgrabiec, @asias, @kbr-scylla

install-dependencies.sh: update node_exporter to 1.10.2
  install-dependencies.sh
  tools/toolchain/image
Owners: none

minio: update CLI usage, remove deprecated `mc` options
  test/pylib/minio_server.py
Owners: none

minio: update CLI usage, remove deprecated `mc` options
  test/pylib/minio_server.py
Owners: none

locator: use get_primary_replica for get_primary_endpoints
  locator/tablets.cc
  locator/tablets.hh
  sstables_loader.cc
Owners: none

db/config: don't use RBNO for scaling
  db/config.cc
  test/cluster/mv/test_mv_topology_change.py
  test/cluster/test_different_group0_ids.py
Owners: none

code: Rename sstables_manager::config() into db_config()
  sstables/sstables.cc
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  sstables/storage.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

sstables: Patch get_local_directories() to work on vector of paths
  sstables/sstables_manager.cc
  sstables/storage.cc
  sstables/storage.hh
Owners: @tgrabiec, @raphaelsc

code: Introduce sstables_manager::config
  replica/database.cc
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  test/lib/test_services.cc
  tools/read_mutation.cc
  tools/schema_loader.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

sstables_manager: Move available_memory on config
  replica/database.cc
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  test/lib/test_services.cc
  tools/read_mutation.cc
  tools/schema_loader.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

sstables_manager: Move enable_sstable_key_validation on config
  replica/database.cc
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  test/lib/test_services.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

sstables_manager: Move sstable_summary_ratio on config
  replica/database.cc
  sstables/sstables.cc
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
Owners: @tgrabiec, @raphaelsc

sstables_manager: Move column_index_size on config
  replica/database.cc
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
Owners: @tgrabiec, @raphaelsc

sstables_manager: Move column_index_auto_scale_threshold on config
  replica/database.cc
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
Owners: @tgrabiec, @raphaelsc

test: extend test_batchlog_replay_failure_during_repair
  db/batchlog_manager.cc
  test/cluster/test_batchlog_manager.py
Owners: @elcallio

service/storage_proxy: send batches with CL=EACH_QUORUM
  db/batchlog_manager.cc
  service/storage_proxy.cc
Owners: @elcallio, @gleb-cloudius

api: storage_service: tasks: force_keyspace_cleanup
  api/tasks.cc
Owners: none

api: storage_service: tasks: unify upgrade_sstable
  api/tasks.cc
Owners: none

sstables_loader: Don't bypass synchronization with busy topology
  service/storage_service.cc
  service/storage_service.hh
  sstables_loader.cc
  test/cluster/test_tablets2.py
Owners: @tgrabiec, @asias

sstables_loader: Don't bypass synchronization with busy topology
  service/storage_service.cc
  service/storage_service.hh
  sstables_loader.cc
  test/cluster/test_tablets2.py
Owners: @tgrabiec, @asias

tools/scylla-nodetool: dump request history on json assert
  tools/scylla-nodetool.cc
Owners: @denesb

test/cluster/test_repair.py: add test_repair_timestamp_difference
  test/cluster/test_repair.py
Owners: none

pi: storage_service: tasks: unify force_keyspace_compaction
  api/api-doc/tasks.json
  api/storage_service.cc
  api/tasks.cc
  api/tasks.hh
Owners: none

api: storage_service: tasks: force_keyspace_cleanup
  api/storage_service.cc
  api/tasks.cc
  api/tasks.hh
Owners: none

api: storage_service: tasks: unify upgrade_sstable
  api/storage_service.cc
  api/tasks.cc
  api/tasks.hh
Owners: none

select_statement: add a warning about unsupported paging for vs queries
  cql3/statements/select_statement.cc
  test/vector_search/vector_store_client_test.cc
Owners: none

api: storage_service: tasks: unify force_keyspace_compaction
  api/api-doc/tasks.json
  api/storage_service.cc
  api/tasks.cc
  api/tasks.hh
Owners: none

api: storage_service: tasks: force_keyspace_cleanup
  api/storage_service.cc
  api/tasks.cc
  api/tasks.hh
Owners: none

api: storage_service: tasks: unify upgrade_sstable
  api/storage_service.cc
  api/tasks.cc
  api/tasks.hh
Owners: none

api: storage_service: tasks: unify force_keyspace_compaction
  api/api-doc/tasks.json
  api/storage_service.cc
  api/tasks.cc
  api/tasks.hh
Owners: none

api: storage_service: tasks: force_keyspace_cleanup
  api/storage_service.cc
  api/tasks.cc
  api/tasks.hh
Owners: none

api: storage_service: tasks: unify upgrade_sstable
  api/storage_service.cc
  api/tasks.cc
  api/tasks.hh
Owners: none

scylla-sstable: correctly dump sharding_metadata
  sstables/open_info.hh
  sstables/sstables.cc
  test/cqlpy/test_tools.py
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @nyh, @denesb

sstables_manager: Move components_memory_reclaim_threshold on config
  replica/database.cc
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  test/lib/test_services.cc
Owners: @tgrabiec, @raphaelsc

tools/sstable: Get endpoints from storage manager
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

tools/sstable: Add db::config& to all operations
  tools/scylla-sstable.cc
Owners: @denesb

sstables_manager: Hold sstable IO extensions on it
  replica/database.cc
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  test/lib/test_services.cc
  tools/read_mutation.cc
  tools/schema_loader.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

sstables_manager: Move data_file_directories on config
  replica/database.cc
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  sstables/storage.cc
  test/lib/test_services.cc
  tools/read_mutation.cc
  tools/schema_loader.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb
