Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

docs: cql/types.rst: remove reference to frozen-only UDTs
  docs/cql/types.rst
Owners: none

dht: Add overlap_ratio() for token range
  dht/i_partitioner.cc
  dht/i_partitioner.hh
  test/boost/partitioner_test.cc
Owners: none

compaction: Introduce token_range() to table_state
  compaction/table_state.hh
  replica/table.cc
  test/boost/compaction_group_test.cc
  test/lib/test_services.cc
  tools/scylla-sstable.cc
Owners: @raphaelsc, @denesb

docs: cql/types.rst: remove reference to frozen-only UDTs
  docs/cql/types.rst
Owners: none

compaction: Wire table_state into make_sstable_set()
  compaction/compaction.cc
  compaction/compaction_strategy.cc
  compaction/compaction_strategy.hh
  compaction/compaction_strategy_impl.hh
  compaction/incremental_compaction_strategy.hh
  compaction/leveled_compaction_strategy.hh
  compaction/time_window_compaction_strategy.hh
  replica/compaction_group.hh
  replica/database.hh
  replica/table.cc
  sstables/sstable_set.cc
  test/boost/mutation_reader_test.cc
  test/boost/sstable_compaction_test.cc
  test/boost/sstable_datafile_test.cc
  test/lib/sstable_test_env.hh
  test/lib/test_services.cc
Owners: @raphaelsc, @tgrabiec, @denesb

sstables: Fix quadratic space complexity in partitioned_sstable_set
  compaction/compaction.cc
  compaction/compaction_manager.cc
  compaction/compaction_strategy.cc
  db/view/view_update_generator.cc
  replica/table.cc
  sstables/sstable_set.cc
  sstables/sstable_set.hh
  sstables/sstable_set_impl.hh
  sstables_loader.cc
  test/boost/compaction_group_test.cc
  test/boost/sstable_compaction_test.cc
  test/boost/sstable_set_test.cc
  test/perf/perf_sstable.hh
  tools/scylla-sstable.cc
Owners: @raphaelsc, @nyh, @piodul, @tgrabiec, @denesb

repair: row_level: unstall to_repair_rows_on_wire() destroying its input
  repair/row_level.cc
Owners: @tgrabiec, @asias

encryption: Ensure stopping timers in provider cache objects
  ent/encryption/encryption.cc
  ent/encryption/gcp_host.cc
  ent/encryption/gcp_host.hh
  ent/encryption/kmip_host.cc
  ent/encryption/kms_host.cc
  ent/encryption/kms_host.hh
Owners: none

encryption_at_rest_test: Add exception handler to ensure proxy stop
  test/boost/encryption_at_rest_test.cc
Owners: none

test.py: use unique hostname for Minio
  test/pylib/suite/base.py
Owners: none

test.py: Catch possible exceptions during 3rd party services start
  test.py
Owners: none

storage_proxy: retry paxos repair even if repair write succeeded
  service/storage_proxy.cc
Owners: @gleb-cloudius

db/system_keyspace: add apply_mutation()
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none

idl: extract full_position.idl from position_in_partition.idl
  configure.py
  idl/CMakeLists.txt
  idl/full_position.idl.hh
  idl/position_in_partition.idl.hh
  idl/storage_proxy.idl.hh
Owners: none

db/system_keyspace: introduce the corrupt_data table
  db/system_keyspace.cc
  db/system_keyspace.hh
  docs/dev/system_keyspace.md
Owners: none

mutation: introduce frozen_mutation_fragment_v2
  idl/mutation.idl.hh
  mutation/frozen_mutation.hh
  mutation/mutation_partition_serializer.cc
  mutation/mutation_partition_view.cc
Owners: @tgrabiec

idl-compiler.py: generate skip() definition for enums serializers
  idl-compiler.py
Owners: none

mutation/mutation_partition_view: extract de-ser of {clustering,static} row
  mutation/mutation_partition_view.cc
Owners: @tgrabiec

mutation/mutation_partition_view: read_{clustering,static}_row(): return row type
  mutation/mutation_partition_view.cc
Owners: @tgrabiec

utils/big_decimal: fix scale overflow when parsing values with large exponents
  test/boost/big_decimal_test.cc
  utils/big_decimal.cc
Owners: none

utils/exceptions.cc: Added check for `exceptions::request_timeout_exception` in `is_timeout_exception` function.
  utils/exceptions.cc
Owners: none

tools: optimized_clang: make it work in the presence of a scylladb profile
  tools/toolchain/optimized_clang.sh
Owners: none

s3_client: Fix edge case when the range is exhausted
  utils/s3/client.cc
Owners: none

s3_client: Fix missing negation
  utils/s3/client.cc
Owners: none

s3_test: Add trace logging for default_retry_strategy
  test/boost/test_config.yaml
Owners: none

s3_test: Add s3_client test for non-retryable error handling
  test/boost/s3_test.cc
  utils/s3/client.cc
Owners: none

s3_client: Enhance test coverage for retry logic
  test/pylib/s3_proxy.py
Owners: none

s3_client: Stop retries in chunked download source
  test/boost/s3_test.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: Fix indentation in try..catch block
  utils/s3/client.cc
Owners: none

s3_client: Refine logging
  utils/s3/client.cc
Owners: none

s3_client: Add test for Content-Range fix
  test/boost/s3_test.cc
Owners: none

s3_client: Improve logging placement for current_range output
  utils/s3/client.cc
Owners: none

types/comparable_bytes: support date, time and timestamp cql3 types
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

docs: fix minor typo in docs/dev/cql3-type-mapping.md
  docs/dev/cql3-type-mapping.md
Owners: none

types/comparable_bytes: support skipping sign byte write in decode_signed_long_type
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support varint cql3 type
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types: introduce comparable_bytes class
  configure.py
  test/boost/CMakeLists.txt
  test/boost/comparable_bytes_test.cc
  types/CMakeLists.txt
  types/comparable_bytes.cc
  types/comparable_bytes.hh
Owners: none

types/comparable_bytes: support float and double cql3 types
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support boolean cql3 type
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: introduce encode/decode_varint_length
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none
