Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

cdc: helpers for garbage collecting old streams for tablets
  cdc/generation.cc
  cdc/generation.hh
  cdc/generation_service.hh
  test/boost/cdc_test.cc
Owners: @kbr-scylla, @elcallio, @piodul

cdc: garbage collect CDC streams periodically
  docs/features/cdc/cdc-querying-streams.rst
  service/topology_coordinator.cc
  test/cluster/test_cdc_with_tablets.py
Owners: none

db/view/view_building_worker: don't organize staging sstables by last token
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
Owners: @nyh, @piodul

db/view_building_worker: fix indent
  db/view/view_building_worker.cc
Owners: @nyh, @piodul

db/view/view_building_worker: support sstables intra-node migration
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
Owners: @nyh, @piodul

service/storage_service: migrate staging sstables in view building worker during intra-node migration
  service/storage_service.cc
  test/cluster/test_view_building_coordinator.py
Owners: @tgrabiec, @asias

test: cql_query_test: Disable rf_rack_valid_keyspaces where needed
  test/boost/cql_query_test.cc
Owners: none

test: Create cluster with multiple racks in multi-dc setups
  test/cluster/dtest/ccmlib/scylla_cluster.py
  test/cluster/test_alternator.py
  test/cluster/test_group0_schema_versioning.py
Owners: none

test: Switch to rack-list based RF
  test/cluster/test_tablets.py
  test/cluster/test_tablets_cql.py
  test/cluster/util.py
  test/cqlpy/test_keyspace.py
Owners: @nyh

test: boost: network_topology_strategy_test: Adjust to rack-list RF
  test/boost/network_topology_strategy_test.cc
Owners: none

test: cluster: test_zero_token_nodes_multidc: Adjust to rack list RF
  test/cluster/test_zero_token_nodes_multidc.py
Owners: none

test: tablets: Adjust to rack list
  test/boost/tablets_test.cc
Owners: none

test: Prepare for handling errors specific to rack list path
  test/cluster/test_multidc.py
  test/cqlpy/cassandra_tests/validation/operations/alter_test.py
  test/cqlpy/test_keyspace.py
Owners: @nyh

test: cluster: dtest: alternator: Force RF=1 in test_putitem_contention
  test/cluster/dtest/alternator_tests.py
Owners: none

cql3: Move validation of invalid ALTER KEYSPACE earlier, to ks_prop_defs
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/ks_prop_defs.cc
Owners: none

alternator: Allocate one replica per rack with tablets and rf-rack-valid
  alternator/executor.cc
Owners: @nyh

cql3: ks_prop_defs: Expand numeric RF to rack list
  audit/audit_cf_storage_helper.cc
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/ks_prop_defs.cc
  cql3/statements/ks_prop_defs.hh
  docs/cql/ddl.rst
  service/topology_coordinator.cc
  test/boost/network_topology_strategy_test.cc
  test/boost/tablets_test.cc
  test/cluster/test_keyspace_rf.py
  test/cluster/test_multidc.py
  test/cqlpy/test_keyspace.py
Owners: @nyh

alternator: Switch keyspace creation to use ks_prop_defs
  alternator/executor.cc
Owners: @nyh

cql: fail with a better error when null vector is passed to ann query
  cql3/statements/select_statement.cc
  test/cqlpy/test_invalid_ann_queries.py
Owners: @nyh

query_options: add ANN results and ordering to query options
  cql3/query_options.cc
  cql3/query_options.hh
  cql3/statements/select_statement.cc
Owners: @tgrabiec, @nuivall, @ptrsmrn

cql3/functions: add placeholder for similarity functions
  configure.py
  cql3/CMakeLists.txt
  cql3/functions/functions.cc
  cql3/functions/vector_search_fcts.cc
  cql3/functions/vector_search_fcts.hh
Owners: @tgrabiec, @nuivall, @ptrsmrn

cql3: introduce similarity functions syntax
  cql3/Cql.g
Owners: @tgrabiec, @nuivall, @ptrsmrn

select_statement, vector_store_client: fetch distances from ANN
  cql3/statements/select_statement.cc
  test/vector_search/vector_store_client_test.cc
  vector_search/vector_store_client.cc
  vector_search/vector_store_client.hh
Owners: none

vector_search_fcts: provide proper function arg types
  cql3/functions/functions.cc
  cql3/functions/vector_search_fcts.cc
  cql3/functions/vector_search_fcts.hh
Owners: none

select_statement: add a warning about unsupported paging for vs queries
  cql3/statements/select_statement.cc
  test/vector_search/vector_store_client_test.cc
Owners: none

docs: add vector similarity functions documentation
  docs/cql/functions.rst
Owners: none

vector_index: add `get_index_options` function
  index/vector_index.cc
  index/vector_index.hh
Owners: @nyh, @piodul

vector_search: move `primary_key` to a separate file
  vector_search/primary_key.hh
  vector_search/vector_store_client.hh
Owners: none

vector_search_fcts: validate target and vector arguments
  cql3/expr/expression.cc
  cql3/functions/vector_search_fcts.cc
  cql3/functions/vector_search_fcts.hh
Owners: none

vector_search_fcts: implement key matching and return distances
  cql3/expr/expression.cc
  cql3/functions/functions.cc
  cql3/functions/vector_search_fcts.cc
  cql3/functions/vector_search_fcts.hh
  cql3/statements/select_statement.cc
Owners: none

vector_search_fcts: validate similarity function match index options
  cql3/functions/functions.cc
  cql3/functions/vector_search_fcts.cc
  cql3/functions/vector_search_fcts.hh
Owners: none

test/vector_search: add similarity functions tests with VS mockup
  test/vector_search/vector_store_client_test.cc
Owners: none

test/cqlpy: add similarity functions invalid call tests
  test/cqlpy/test_vector_index.py
Owners: @nyh

locator: use get_primary_replica for get_primary_endpoints
  locator/tablets.cc
  locator/tablets.hh
  sstables_loader.cc
Owners: none

Add max trace size output configuration variable
  alternator/controller.cc
  alternator/server.cc
  alternator/server.hh
  db/config.cc
  db/config.hh
  test/alternator/test_tracing.py
  test/alternator/util.py
  tracing/trace_state.cc
  tracing/trace_state.hh
Owners: @nyh

retry_strategy: add exponential backoff to `default_aws_retry_strategy`
  utils/s3/default_aws_retry_strategy.cc
Owners: none

retry_strategy: update CMake and configure.py for new strategy
  configure.py
  utils/CMakeLists.txt
Owners: none

retry_strategy: introduce Seastar-based retry strategy
  utils/s3/default_aws_retry_strategy.cc
  utils/s3/default_aws_retry_strategy.hh
Owners: none

retry_strategy: rename `default_retry_strategy` to `default_aws_retry_strategy`
  utils/s3/default_aws_retry_strategy.cc
  utils/s3/default_aws_retry_strategy.hh
Owners: none

retry_strategy: Copied utils/s3/retry_strategy.cc to utils/s3/default_aws_retry_strategy.cc
  utils/s3/default_aws_retry_strategy.cc
Owners: none
