Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

docs/dev: update CDC dev docs for tablets
  docs/dev/cdc.md
Owners: none

test/cql: enable cql cdc tests to run with tablets
  test/cql/cdc_allow_dropping_manually_created_log_test.cql
  test/cql/cdc_allow_dropping_manually_created_log_test.result
  test/cql/cdc_compact_storage_test.cql
  test/cql/cdc_compact_storage_test.result
  test/cql/cdc_delta_modes_test.cql
  test/cql/cdc_delta_modes_test.result
  test/cql/cdc_disallow_cdc_for_counters_test.cql
  test/cql/cdc_disallow_cdc_for_counters_test.result
  test/cql/cdc_disallow_materialized_view_for_cdc_log_test.cql
  test/cql/cdc_disallow_materialized_view_for_cdc_log_test.result
  test/cql/cdc_disallow_nested_cdc_logs_test.cql
  test/cql/cdc_disallow_nested_cdc_logs_test.result
  test/cql/cdc_enable_disable_test.cql
  test/cql/cdc_enable_disable_test.result
  test/cql/cdc_static_and_clustered_rows_test.cql
  test/cql/cdc_static_and_clustered_rows_test.result
  test/cql/cdc_too_short_stream_id_test.cql
  test/cql/cdc_too_short_stream_id_test.result
  test/cql/cdc_with_lwt_test.cql
  test/cql/cdc_with_lwt_test.result
Owners: @kbr-scylla, @elcallio, @piodul

test/cqlpy: fix cdc tests with tablets
  test/cluster/test_cdc_with_alter.py
  test/cqlpy/test_cdc.py
  test/cqlpy/test_describe.py
  test/cqlpy/test_permissions.py
Owners: @nyh

doc: update CDC docs for tablets
  docs/architecture/tablets.rst
  docs/features/cdc/cdc-log-table.rst
  docs/features/cdc/cdc-querying-streams.rst
  docs/features/cdc/cdc-stream-changes.rst
  docs/features/cdc/cdc-streams.rst
  docs/features/cdc/index.rst
Owners: none

storage_proxy: send hints to pending replicas
  db/hints/internal/hint_sender.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
  service/storage_service.cc
  test/cluster/test_hints.py
Owners: @gleb-cloudius, @tgrabiec, @asias

storage_proxy: send hints to pending replicas
  db/hints/internal/hint_sender.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
  service/storage_service.cc
  test/topology_custom/test_hints.py
Owners: @gleb-cloudius, @tgrabiec, @asias

docs/operating-scylla: scylla-sstable.rst: update write docs
  docs/operating-scylla/admin-tools/scylla-sstable.rst
Owners: none

test: skip flaky test test_one_big_mutation_corrupted_on_startup
  test/cluster/dtest/commitlog_test.py
Owners: none

tools: toolchain: dbuild: add setuptools_scm as dependency
  install-dependencies.sh
  tools/toolchain/image
Owners: none

compaction: Fix stop of sstable cleanup
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  test/cluster/test_sstable_cleanup_stop.py
Owners: @raphaelsc

test: cluster: add a test for restarts with no group 0 quorum
  test/cluster/test_raft_no_quorum.py
Owners: none

scylla-nodetool: Add --incremental-mode option to cluster repair
  docs/operating-scylla/nodetool-commands/cluster/repair.rst
  test/nodetool/test_cluster_repair.py
  tools/scylla-nodetool.cc
Owners: @denesb

treewide: seastar module update and fix broken rest client
  ent/encryption/azure_host.cc
  ent/encryption/kms_host.cc
  utils/azure/identity/service_principal_credentials.cc
  utils/gcp/object_storage.cc
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

test_fencing: add test_lwt_fencing_upgrade
  test/cluster/test_fencing.py
Owners: none

cql: allow VECTOR_SEARCH_INDEXING users to select
  cql3/statements/select_statement.cc
Owners: none

treewide: fix spelling errors
  compaction/compaction_manager.cc
  db/view/view_building_coordinator.cc
  db/view/view_building_worker.cc
  docs/dev/tombstone.md
  docs/dev/view-building-coordinator.md
  ent/encryption/kms_host.cc
  ent/encryption/symmetric_key.cc
  replica/database.cc
  service/topology_coordinator.cc
  sstables/trie/common.hh
  sstables/trie/node_reader.hh
  test/alternator/test_gsi.py
  test/cluster/dtest/commitlog_test.py
  utils/rest/client.hh
Owners: @raphaelsc, @nyh, @piodul

treewide: Move mutation related files to a `mutation` directory
  CMakeLists.txt
  alternator/executor.cc
  configure.py
  cql3/type_json.cc
  db/commitlog/commitlog_entry.cc
  db/commitlog/commitlog_replayer.cc
  db/hints/internal/hint_sender.cc
  idl/mutation.idl.hh
  mutation/CMakeLists.txt
  mutation/collection_mutation.cc
  mutation/collection_mutation.hh
  mutation/combine.hh
  mutation/converting_mutation_partition_applier.cc
  mutation/converting_mutation_partition_applier.hh
  mutation/counters.cc
  mutation/counters.hh
  partition_builder.hh
  schema_upgrader.hh
  sstables/writer.hh
  test/boost/counter_test.cc
  test/boost/sstable_3_x_test.cc
  test/boost/sstable_compaction_test.cc
  test/boost/sstable_datafile_test.cc
  test/lib/mutation_source_test.cc
  types/collection.hh
Owners: @nyh, @tgrabiec, @nuivall, @ptrsmrn, @elcallio, @eliransin, @raphaelsc

compaction: Fix stop of sstable cleanup
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  test/topology_custom/test_sstable_cleanup_stop.py
Owners: @raphaelsc

compaction: Fix stop of sstable cleanup
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  test/cluster/test_sstable_cleanup_stop.py
Owners: @raphaelsc

compaction: Fix stop of sstable cleanup
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  test/cluster/test_sstable_cleanup_stop.py
Owners: @raphaelsc

test: deflake test_restart_leaving_replica_during_cleanup
  test/cluster/test_tablets_migration.py
Owners: none

test: enable load balancing on a single node in test_restart_leaving_replica_during_cleanup
  test/cluster/test_tablets_migration.py
Owners: none

[DONT MERGE] - debug PR
  SCYLLA-VERSION-GEN
Owners: none

treewide: Move type related files to a `type` directory As requested in #22110, moved the files and fixed other includes and build system.
  CMakeLists.txt
  alternator/serialization.cc
  cdc/log.cc
  cdc/split.cc
  collection_mutation.cc
  configure.py
  converting_mutation_partition_applier.cc
  cql3/cql3_type.cc
  cql3/statements/list_effective_service_level_statement.cc
  cql3/statements/sl_prop_defs.cc
  cql3/statements/update_statement.cc
  cql3/type_json.cc
  index/secondary_index_manager.cc
  index/vector_index.cc
  lang/lua.cc
  lang/wasm.cc
  mutation/mutation_partition_view.cc
  sstables/kl/reader.cc
  sstables/mx/reader.cc
  sstables/sstable_mutation_reader.cc
  test/boost/duration_test.cc
  test/lib/data_model.cc
  types/CMakeLists.txt
  types/concrete_types.hh
  types/duration.cc
  types/duration.hh
Owners: @nyh, @kbr-scylla, @elcallio, @piodul, @tgrabiec, @nuivall, @ptrsmrn, @raphaelsc

treewide: Move replica related files to `replica` directory
  message/messaging_service.cc
  multishard_mutation_query.hh
  replica/cache_temperature.hh
  replica/cell_locking.hh
  service/broadcast_tables/experimental/lang.cc
  service/raft/group0_state_machine.cc
  test/boost/cell_locker_test.cc
  test/boost/incremental_compaction_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_test.cc
  test/lib/test_services.hh
  test/perf/perf_sstable.hh
Owners: @tgrabiec, @denesb

alternator: add explanation of internal tags
  alternator/executor.cc
  alternator/ttl.cc
Owners: @nyh

treewide: Move schema related files to a `schema` directory As requested in #22111, moved the files and fixed other includes and build system.
  CMakeLists.txt
  alternator/extract_from_attrs.hh
  configure.py
  db/schema_applier.cc
  db/schema_applier.hh
  db/schema_tables.cc
  db/schema_tables.hh
  db/view/regular_column_transformation.hh
  idl/frozen_schema.idl.hh
  message/messaging_service.cc
  schema/CMakeLists.txt
  schema/column_computation.hh
  schema/frozen_schema.cc
  schema/frozen_schema.hh
  schema/schema_mutations.cc
  schema/schema_mutations.hh
  service/raft/group0_state_machine.cc
  service/raft/raft_group0_client.cc
Owners: @nyh, @tgrabiec, @piodul

Don't report spurious keys in DescribeTable
  alternator/executor.cc
  alternator/executor.hh
  test/alternator/test_gsi.py
Owners: @nyh

Remove const & from tags_extension constructor
  db/tags/extension.hh
Owners: none

test: cluster: util: handle group 0 changes after token ring changes in wait_for_token_ring_and_group0_consistency
  test/topology/util.py
Owners: none

test: cluster: deflake consistency checks after decommission
  test/topology_custom/test_change_replication_factor_1_to_0.py
  test/topology_custom/test_data_resurrection_after_cleanup.py
  test/topology_custom/test_decommission.py
  test/topology_custom/test_topology_ops.py
  test/topology_custom/test_topology_ops_encrypted.py
Owners: none

service_level_controller: handle special sl:driver in DESC output
  service/qos/service_level_controller.cc
  service/qos/service_level_controller.hh
Owners: none

service_level_controller: implement create_driver_service_level
  CMakeLists.txt
  configure.py
  gms/feature_service.hh
  service/qos/raft_service_level_distributed_data_accessor.cc
  service/qos/raft_service_level_distributed_data_accessor.hh
  service/qos/service_level_controller.cc
  service/qos/service_level_controller.hh
  service/storage_service.cc
  service/topology_coordinator.cc
  test/boost/auth_test.cc
  test/boost/cql_query_test.cc
  test/boost/database_test.cc
  test/cluster/auth_cluster/test_raft_service_levels.py
  test/cluster/util.py
  test/cqlpy/test_describe.py
  test/cqlpy/test_service_levels.py
Owners: @tgrabiec, @asias, @kbr-scylla, @nyh

test: service_levels: add tests for sl:driver creation and removal
  test/cluster/auth_cluster/test_raft_service_levels.py
Owners: none

generic_server: transport: start using `sl:driver` for new connections
  generic_server.cc
  generic_server.hh
  test/boost/generic_server_test.cc
  test/perf/perf_generic_server.cc
  transport/server.cc
  transport/server.hh
Owners: none

docs: workload-prioritization: add driver service level
  docs/features/workload-prioritization.rst
Owners: none

test: add test to verify use of `sl:driver`
  test/cluster/auth_cluster/test_raft_service_levels.py
Owners: none

transport: use `sl:driver` to handle driver's control connections
  service/client_state.hh
  test/cqlpy/test_service_level_api.py
  transport/server.cc
  transport/server.hh
Owners: @nyh

transport: whitespace only change in update_scheduling_group
  transport/server.cc
Owners: none

test: add test_desc_driver_service_level
  test/cqlpy/test_describe.py
Owners: @nyh
