Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

test/lib/cql_test_env: add batch type to execute_batch()
  test/boost/query_processor_test.cc
  test/lib/cql_test_env.cc
  test/lib/cql_test_env.hh
Owners: none

utils, alternator: fix detection of invalid base-64
  test/alternator/test_manual_requests.py
  utils/base64.cc
Owners: @nyh

test: service_levels: add tests for sl:driver creation and removal
  test/cluster/auth_cluster/test_raft_service_levels.py
Owners: none

generic_server: transport: start using `sl:driver` for new connections
  generic_server.cc
  generic_server.hh
  transport/server.cc
  transport/server.hh
Owners: none

transport: whitespace only change in update_to_user_scheduling_group
  transport/server.cc
Owners: none

transport: add `update_to_driver_scheduling_group`
  transport/server.cc
  transport/server.hh
Owners: none

service_level_controller: implement create_driver_service_level
  CMakeLists.txt
  configure.py
  gms/feature_service.hh
  service/qos/raft_service_level_distributed_data_accessor.cc
  service/qos/raft_service_level_distributed_data_accessor.hh
  service/qos/service_level_controller.cc
  service/qos/service_level_controller.hh
  service/storage_service.cc
  service/topology_coordinator.cc
  test/boost/auth_test.cc
  test/boost/cql_query_test.cc
  test/boost/database_test.cc
  test/cluster/auth_cluster/test_raft_service_levels.py
  test/cluster/util.py
  test/cqlpy/test_describe.py
  test/cqlpy/test_service_levels.py
Owners: @tgrabiec, @asias, @kbr-scylla, @nyh

topology_coordinator: add service_level_controller reference
  service/storage_service.cc
  service/topology_coordinator.cc
  service/topology_coordinator.hh
Owners: @tgrabiec, @asias

system_keyspace: add service_level_driver_created
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias

test: add test to verify use of `sl:driver`
  test/cluster/auth_cluster/test_raft_service_levels.py
Owners: none

docs: workload-prioritization: add driver service level
  docs/features/workload-prioritization.rst
Owners: none

transport: use `sl:driver` to handle driver's control connections
  service/client_state.hh
  service/qos/service_level_controller.cc
  service/qos/service_level_controller.hh
  test/cqlpy/test_service_level_api.py
  transport/server.cc
Owners: @nyh

metrics, vector_search: implement vector_store metrics
  main.cc
  service/vector_store_client.cc
  service/vector_store_client.hh
  test/boost/vector_store_client_test.cc
  test/lib/cql_test_env.cc
Owners: none

metrics, test: added a test case for vs metrics
  test/boost/vector_store_client_test.cc
Owners: none

repair: distribute tablet_repair_task_meta among shards
  repair/repair.cc
  repair/task_manager_module.hh
Owners: @tgrabiec, @asias

Change pull_request event to pull_request_target - in progress
  .github/workflows/call_jira_status_in_progress.yml
Owners: none

Update workflow to use pull_request_target event - in review
  .github/workflows/call_jira_status_in_review.yml
Owners: none

Change pull_request event to pull_request_target - ready for merge
  .github/workflows/call_jira_status_ready_for_merge.yml
Owners: none

scrub: Handle malformed_sstable_exception in scrub skip mode
  compaction/compaction.cc
  compaction/compaction_manager.cc
  sstables/exceptions.hh
  test/boost/sstable_compaction_test.cc
Owners: @raphaelsc, @tgrabiec

api: Move /storage_service/keyspaces handler to database module
  api/column_family.cc
  api/storage_service.cc
Owners: none

tools/scylla-sstable: Enable rf_rack_valid_keyspaces
  tools/scylla-sstable.cc
Owners: @denesb

cql3: Move ann ordered select to dedicated class
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
Owners: none

streaming: Fix use after move in the tablet_stream_files_handler
  streaming/stream_blob.cc
Owners: @tgrabiec, @asias

gossiper: relax empty host ID check to prevent crashes
  gms/gossiper.cc
  test/cluster/test_gossiper_race.py
Owners: @tgrabiec, @asias, @kbr-scylla

alternator/test: Add LSI tests based mostly on the existing GSI tests
  test/alternator/test_lsi.py
Owners: @nyh

test/boost/bti_key_translation_test: fix a compilation error hidden behind `if constexpr`
  test/boost/bti_key_translation_test.cc
Owners: none

sstables/trie: rewrite lcb_mismatch to handle fragment invalidation
  sstables/trie/bti_key_translation.hh
Owners: none

alternator: Store LSI keys in :attrs for newly created tables
  alternator/executor.cc
Owners: @nyh

alternator: Don't emit a redundant REMOVE event in Alternator Streams for PutItem calls
  alternator/executor.cc
  test/alternator/test_streams.py
Owners: @nyh

alternator: Correct RCU undercount in BatchGetItem
  alternator/executor.cc
  alternator/executor.hh
  test/alternator/test_returnconsumedcapacity.py
Owners: @nyh

retry_strategy: Copied utils/s3/retry_strategy.cc to utils/s3/default_aws_retry_strategy.cc
  utils/s3/default_aws_retry_strategy.cc
Owners: none

s3_creds: remove unused member from STS provider
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.cc
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.hh
Owners: none

retry_strategy: introduce Seastar-based retry strategy
  configure.py
  utils/CMakeLists.txt
  utils/s3/default_aws_retry_strategy.cc
  utils/s3/default_aws_retry_strategy.hh
Owners: none

retry_strategy: Copied utils/s3/retry_strategy.hh to utils/s3/default_aws_retry_strategy.hh
  utils/s3/default_aws_retry_strategy.hh
Owners: none

s3_client: add `make_request` override with custom retry and error handler
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

aws_error: handle missing `unexpected_status_error` case
  utils/s3/aws_error.cc
Owners: none

s3_client: fix crash in `copy_s3_object` due to dangling stream
  utils/s3/client.cc
Owners: none

s3_client: remove unused `filler_exception`
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: migrate s3_client to Seastar HTTP client
  test/boost/test_config.yaml
  utils/s3/client.cc
  utils/s3/client.hh
  utils/s3/s3_retry_strategy.cc
  utils/s3/s3_retry_strategy.hh
Owners: none

s3_creds: use Seastar HTTP client with retry strategy
  utils/s3/credentials_providers/instance_profile_credentials_provider.cc
  utils/s3/credentials_providers/instance_profile_credentials_provider.hh
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.cc
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.hh
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
