Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

utils/bloom_filter: add `add(const hashed_key&)`
  utils/bloom_filter.cc
  utils/bloom_filter.hh
  utils/i_filter.hh
Owners: none

sstables: open Partitions.db early when it's needed to populate key range for sharding metadata
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

sstables: adapt sstable::set_first_and_last_keys to sstables without Summary
  sstables/sstables.cc
  sstables/sstables.hh
  test/lib/sstable_utils.hh
Owners: @tgrabiec, @raphaelsc

sstables: implement an alternative way to rebuild bloom filters for sstables without Index
  ent/encryption/encryption.cc
  sstables/component_type.hh
  sstables/mx/writer.cc
  sstables/sstable_directory.cc
  sstables/sstable_version.cc
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/storage.cc
  sstables/storage.hh
Owners: @tgrabiec, @raphaelsc

sstables/mx: make Index and Summary components optional
  db/config.cc
  sstables/mx/writer.cc
  sstables/open_info.hh
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  test/cluster/test_bti_index.py
Owners: @tgrabiec, @raphaelsc

sstables/trie/bti_index_reader: allow the caller to passing a precalculated murmur hash
  sstables/abstract_index_reader.hh
  sstables/index_reader.hh
  sstables/trie/bti_index_reader.cc
  test/boost/sstable_inexact_index_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh, @piodul

sstables/trie/bti_partition_index_writer: in add(), get the key hash from the caller
  sstables/mx/writer.cc
  sstables/trie/bti_index.hh
  sstables/trie/bti_partition_index_writer.cc
  test/boost/bti_index_test.cc
  test/manual/bti_cassandra_compatibility_test.cc
Owners: @nyh, @piodul

sstables/mx/reader: use the same hashed_key for the bloom filter and the index reader
  sstables/mx/reader.cc
  sstables/mx/reader.hh
  sstables/sstable_set.cc
  sstables/sstables.cc
  sstables/sstables.hh
  test/boost/sstable_inexact_index_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh, @piodul

Revert "treewide: seastar module update and fix broken rest client"
  ent/encryption/azure_host.cc
  ent/encryption/kms_host.cc
  utils/azure/identity/service_principal_credentials.cc
  utils/gcp/object_storage.cc
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

scylla-nodetool: Add --incremental-mode option to cluster repair
  docs/operating-scylla/nodetool-commands/cluster/repair.rst
  test/nodetool/test_cluster_repair.py
  tools/scylla-nodetool.cc
Owners: @denesb

switch xfs bsize to 4k
  dist/common/scripts/scylla_raid_setup
Owners: none

storage_service: remove assumptions and checks for ignore_nodes to be normal.
  service/storage_service.cc
Owners: @tgrabiec, @asias

load balancing: extend locator::load_stats to collect tablet sizes
  idl/storage_service.idl.hh
  locator/tablets.cc
  locator/tablets.hh
  replica/compaction_group.hh
  replica/database.hh
  replica/table.cc
  service/storage_service.cc
Owners: @tgrabiec, @asias

compaction/scrub: register sstables for compaction before validation
  compaction/compaction_manager.cc
  test/boost/sstable_compaction_test.cc
Owners: @raphaelsc

mv: delete previously undetected ghost rows in PRUNE MATERIALIZED VIEW statement
  db/view/view.cc
  test/boost/secondary_index_test.cc
Owners: @nyh, @piodul

storage_proxy: send hints to pending replicas
  db/hints/internal/hint_sender.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
  service/storage_service.cc
  test/cluster/test_hints.py
Owners: @gleb-cloudius, @tgrabiec, @asias

tablet: scheduler: Do not emit conflicting migrations in the plan
  service/tablet_allocator.cc
  test/boost/tablets_test.cc
Owners: none

index, metrics: add per-index metrics
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
  index/secondary_index_manager.cc
  index/secondary_index_manager.hh
Owners: @nyh, @piodul

utils: azure: Bump default credential logs from DEBUG to INFO
  ent/encryption/azure_host.cc
  utils/azure/identity/default_credentials.cc
Owners: none

utils: azure: Catch system errors when detecting IMDS
  utils/azure/identity/default_credentials.cc
  utils/azure/identity/managed_identity_credentials.cc
Owners: none

test(lwt): this commit introduces new LWT during tablets split/merge test
  test/cluster/lwt/test_lwt_during_teblets_resize.py
Owners: none

test: fix test_one_big_mutation_corrupted_on_startup
  test/cluster/dtest/tools/files.py
Owners: none

test: cleanup big mutation commitlog tests
  test/cluster/dtest/commitlog_test.py
Owners: none

db: cache: consider preempting after each partition
  db/row_cache.cc
Owners: @tgrabiec

db: fix indentation
  db/row_cache.cc
Owners: @tgrabiec

Fix spelling errors
  sstables/sstables.cc
  sstables/trie/bti_index_reader.cc
Owners: @tgrabiec, @raphaelsc

disk_space_monitor_test.cc: Start a monitor after fake space source function is registered
  test/boost/disk_space_monitor_test.cc
Owners: none

mv: delete previously undetected ghost rows in PRUNE MATERIALIZED VIEW statement
  db/view/view.cc
  test/boost/secondary_index_test.cc
Owners: @nyh, @piodul

tablets: scheduler: Run plan-maker in maintenance scheduling group
  service/tablet_allocator.cc
Owners: none

treewide: move away from accessing httpd::request::query_parameters
  api/column_family.cc
  api/raft.cc
  api/storage_service.cc
  api/task_manager.cc
  api/task_manager_test.cc
  test/boost/aws_error_injection_test.cc
  test/boost/encryption_at_rest_test.cc
  tools/scylla-nodetool.cc
  utils/s3/client.cc
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.cc
Owners: @denesb

tasks: get progress of failed task based on children
  tasks/task_manager.cc
Owners: none

test: perf: perf-load-balancing: Convert to tool_app_template
  test/perf/tablet_load_balancing.cc
Owners: none

tablets: scheduler: Balance racks separately when rf_rack_valid_keyspaces is true
  service/tablet_allocator.cc
  test/cluster/test_not_enough_token_owners.py
  test/cluster/test_tablets.py
  test/cluster/test_tablets2.py
Owners: none

test: perf: perf-load-balancing: Add parallel-scaleout scenario
  test/perf/tablet_load_balancing.cc
Owners: none

test/alternator: regression test for DescribeTable's index schema
  test/alternator/test_gsi.py
  test/alternator/test_lsi.py
Owners: @nyh

test: deflake driver reconnections in the recovery procedure tests
  test/cluster/test_raft_recovery_during_join.py
  test/cluster/test_raft_recovery_entry_loss.py
  test/cluster/test_raft_recovery_user_data.py
Owners: none

test: verify that the index metric is added
  test/cqlpy/test_secondary_index.py
Owners: @nyh

test/random_failures: preserve test repeatability when removing error injections
  test/cluster/random_failures/error_injections.py
  test/cluster/random_failures/test_random_failures.py
Owners: none

group0: remove obsolete "stop_before_becoming_raft_voter" error injection
  service/raft/raft_group0.cc
  test/cluster/random_failures/cluster_events.py
  test/cluster/random_failures/error_injections.py
  test/cluster/random_failures/test_random_failures.py
Owners: none

raft: disable caching for raft log.
  db/system_keyspace.cc
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
