Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

perf-tablets: change default tables and tablets-per-table
  test/perf/perf_tablets.cc
Owners: none

replica: lower severity of failure log
  replica/dirty_memory_manager.cc
Owners: none

replica: lower severity of failure log
  replica/dirty_memory_manager.cc
Owners: none

replica: lower severity of failure log
  replica/dirty_memory_manager.cc
Owners: none

alternator: avoid oversized allocation in Query/Scan
  alternator/executor.cc
  test/alternator/test_query.py
  utils/rjson.cc
  utils/rjson.hh
Owners: @nyh

pgo: enable counters workload
  pgo/conf/counters.cql
  pgo/conf/counters.yaml
  pgo/pgo.py
Owners: @nuivall, @ptrsmrn

pgo: add links to issues about tablet missing features
  pgo/conf/counters.cql
  pgo/conf/lwt.yaml
  pgo/conf/si.yaml
Owners: @nuivall, @ptrsmrn

pgo: enable auth in training clusters
  pgo/pgo.py
Owners: none

pgo: add auth connections stress workload
  pgo/auth_conns_stress.py
  pgo/conf/auth.cql
  pgo/exec_cql.py
  pgo/pgo.py
Owners: none

utils: chunked_vector: add swap() method
  test/boost/chunked_vector_test.cc
  utils/chunked_vector.hh
Owners: none

utils: chunked_vector: add range insert() overloads
  test/boost/chunked_vector_test.cc
  utils/chunked_vector.hh
Owners: none

partition_range_compat: generalize wrap/unwrap helpers
  partition_range_compat.hh
Owners: none

dht: fragment token_range_vector
  dht/i_partitioner_fwd.hh
  idl/streaming.idl.hh
  message/messaging_service.hh
  partition_range_compat.hh
  streaming/stream_request.hh
  streaming/stream_transfer_task.hh
Owners: @tgrabiec, @asias

test/gossiper: add reproducible test for race condition during node decommission
  gms/gossiper.cc
  test/topology_custom/test_gossiper_race.py
Owners: @tgrabiec, @asias, @kbr-scylla

Make scylla_io_setup detect block size for best IOPS
  dist/common/scripts/scylla_io_setup
Owners: none

mv: handle mismatched base/view replica count caused by RF change
  db/view/view.cc
  db/view/view.hh
  replica/database.cc
  replica/database.hh
  service/storage_service.cc
  test/boost/network_topology_strategy_test.cc
  test/cluster/mv/test_mv_topology_change.py
Owners: @nyh, @piodul, @tgrabiec, @asias

tablets: tablet_map_to_mutations: accept process_func
  replica/tablets.cc
  replica/tablets.hh
  service/tablet_allocator.cc
  service/topology_coordinator.cc
  test/boost/tablets_test.cc
Owners: none

tablets: tablet_map_to_mutations: maybe split tablets mutation
  replica/tablets.cc
Owners: none

alternator: avoid oversized allocation in Query/Scan
  alternator/executor.cc
  test/alternator/test_query.py
  utils/rjson.cc
  utils/rjson.hh
Owners: @nyh

mutation: add for_each_split_mutation
  mutation/mutation.cc
  mutation/mutation.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias

mutation: async_utils: add unfreeze_and_split_gently
  mutation/async_utils.cc
  mutation/async_utils.hh
  mutation/mutation_partition_view.cc
  mutation/mutation_partition_view.hh
  mutation/mutation_partition_visitor.hh
  partition_builder.hh
Owners: @tgrabiec

storage_service: merge_topology_snapshot: freeze snp.mutations gently
  service/storage_service.cc
Owners: @tgrabiec, @asias

storage_proxy: send hints to pending replicas
  db/hints/internal/hint_sender.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

tablets: read_tablet_mutations: use unfreeze_and_split_gently
  replica/tablets.cc
  replica/tablets.hh
  service/migration_manager.cc
  test/perf/perf_tablets.cc
Owners: @tgrabiec

schema_tables: convert_schema_to_mutations: simplify check for system keyspace
  db/schema_tables.cc
Owners: @tgrabiec

test/cqlpy: add unknown compression algorithm test case
  test/cqlpy/test_protocol_exceptions.py
Owners: @nyh

utils: add result_with_eptr
  utils/result.hh
Owners: none

test::boost::gcp_object_storage_test: Initial unit tests for GCP obj storage
  configure.py
  test/boost/CMakeLists.txt
  test/boost/gcp_object_storage_test.cc
  test/boost/test_config.yaml
Owners: none

tombstone_gc: Add overload of get_default_tombstone_gc_mode
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

tombstone_gc: Rename get_default_tombstonesonte_gc_mode
  cql3/statements/cf_prop_defs.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

replica/db: add syncer function to add/update cf
  replica/database.cc
  replica/database.hh
  schema/schema_registry.cc
  schema/schema_registry.hh
Owners: @tgrabiec

service/storage_proxy: wait for schema sync if in progress
  schema/schema_registry.cc
  schema/schema_registry.hh
  service/migration_manager.cc
  service/storage_proxy.cc
Owners: @tgrabiec, @gleb-cloudius

db/schema_applier: mark schema synced after commit on all shards
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

test: mv: test create mv during inserts
  db/schema_applier.cc
  test/cluster/mv/test_create_mv.py
Owners: @tgrabiec

storage_service: move get_ip_from_peers_table to system_keyspace
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

cdc: Set tombstone_gc when creating log table
  cdc/log.cc
  test/cqlpy/test_cdc.py
Owners: @kbr-scylla, @elcallio, @piodul, @nyh

test.py: add bypassing random seed to boost tests
  test.py
  test/conftest.py
  test/pylib/cpp/boost/boost_facade.py
  test/pylib/cpp/facade.py
Owners: none

test.py: add bypassing x_log2_compaction_groups to boost tests
  test.py
  test/conftest.py
  test/pylib/cpp/common_cpp_conftest.py
Owners: none

test.py: use unique hostname for Minio
  test/pylib/suite/base.py
Owners: none

WIP
  conf/scylla.yaml
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
