Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

build: disable the -fextend-variable-liveness clang option
  cmake/mode.common.cmake
  configure.py
Owners: none

load_balancer: implement size-based load balancing
  service/tablet_allocator.cc
  test/boost/tablets_test.cc
  test/cluster/test_raft_recovery_user_data.py
  test/cluster/test_size_based_load_balancing.py
  test/cluster/test_tablets.py
  test/cluster/test_tablets2.py
  test/cluster/test_tablets_merge.py
  test/cqlpy/suite.yaml
Owners: @nyh

test, load balancing: add test for table balance
  test/boost/tablets_test.cc
  test/lib/topology_builder.hh
Owners: none

test, simulator: compute load based on tablet size instead of count
  test/perf/tablet_load_balancing.cc
Owners: none

test, simulator: postpone creation of load_stats_ptr
  test/perf/tablet_load_balancing.cc
Owners: none

test, simulator: generate tablet sizes and update load_stats
  test/perf/tablet_load_balancing.cc
Owners: none

cql: make SELECT's "internal page size" configurable
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
  db/config.cc
  db/config.hh
  test/boost/secondary_index_test.cc
  test/lib/select_statement_utils.hh
Owners: @nyh, @piodul

test/alternator: reproducers for missing headers and request limit
  test/alternator/test_manual_requests.py
Owners: @nyh

alternator: improve protection against oversized requests
  alternator/error.hh
  alternator/server.cc
  alternator/server.hh
  test/alternator/test_manual_requests.py
Owners: @nyh

Update ScyllaDB version to: 2025.3.3
  SCYLLA-VERSION-GEN
Owners: none

test/alternator: test for scylla_storage_proxy_coordinator metrics
  test/alternator/test_metrics.py
Owners: @nyh

storage_service: improve colocated repair error to show table names
  service/storage_service.cc
  test/nodetool/test_cluster_repair.py
Owners: @tgrabiec, @asias

sstables_loader: Synchronize tablet split and load-and-stream
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  service/topology_coordinator.cc
  sstables_loader.cc
  sstables_loader.hh
Owners: @tgrabiec, @asias

test: Add reproducer for l-a-s and split synchronization issue
  test/cluster/test_tablets2.py
Owners: none

test: perf: add perf-cql-raw benchmarking tool
  configure.py
  main.cc
  test/perf/CMakeLists.txt
  test/perf/entry_point.hh
  test/perf/perf.cc
  test/perf/perf.hh
  test/perf/perf_alternator.cc
  test/perf/perf_cql_raw.cc
Owners: none

test/alternator: Add more Streams tests for UpdateItem and BatchWriteItem
  test/alternator/test_streams.py
Owners: @nyh

scrub: add support for dropping unfixable sstables in segregate mode
  api/api-doc/storage_service.json
  api/storage_service.cc
  compaction/compaction.cc
  compaction/compaction.hh
  compaction/compaction_descriptor.hh
  compaction/compaction_manager.cc
  test/boost/sstable_compaction_test.cc
  tools/scylla-nodetool.cc
Owners: @raphaelsc, @denesb

test/nodetool: add scrub drop-unfixable-sstables option testcase
  test/nodetool/test_scrub.py
Owners: none

sstable_compaction_test: add segregate mode tests for drop-unfixable-sstables option
  test/boost/sstable_compaction_test.cc
Owners: none

test/alternator: Add more Streams tests for UpdateItem and BatchWriteItem
  test/alternator/test_streams.py
Owners: @nyh

test: Extend API consistency test with tokens_endpoint endpoint
  test/cluster/test_tablets.py
  test/pylib/rest_client.py
Owners: none

mutation/mutation_compactor: remove _can_gc member
  mutation/mutation_compactor.hh
Owners: @tgrabiec

replica: add tombstone_gc_enabled parameter to mutation query methods
  replica/database.cc
  replica/database.hh
  replica/multishard_query.cc
  replica/multishard_query.hh
  replica/query.hh
  replica/table.cc
Owners: none

tombstone_gc: add tombstone_gc_state factory methods for gc_all and no_gc
  test/boost/database_test.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

replica/mutation_dump: multi_range_partition_generator: disable garbage-collection
  replica/mutation_dump.cc
  test/cqlpy/test_select_from_mutation_fragments.py
Owners: @tgrabiec, @nyh

cql: yield in between prepares of a batch statement
  cql3/query_processor.cc
  cql3/query_processor.hh
  cql3/statements/batch_statement.cc
  cql3/statements/raw/batch_statement.hh
  cql3/statements/raw/parsed_statement.hh
  test/lib/cql_test_env.cc
  transport/server.cc
Owners: @tgrabiec, @nuivall, @ptrsmrn

Update seastar submodule (iotune fixes for i7i/i4i)
  .gitmodules
Owners: none

storage_service: abstract schema dependecies during token metadata update
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

db: replica: move tables_metadata locking to commit
  db/schema_applier.cc
  db/schema_applier.hh
  replica/database.cc
  replica/database.hh
Owners: @tgrabiec

db: schema_applier: update tablet metadata atomically
  db/schema_applier.cc
  db/schema_applier.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

testing adjustments
  auth/password_authenticator.cc
  auth/password_authenticator.hh
  conf/scylla.yaml
  test/perf/perf_cql_raw.cc
Owners: @nuivall, @ptrsmrn

poc
  auth/passwords.cc
  utils/hashers.cc
  utils/hashers.hh
Owners: @nuivall, @ptrsmrn

schema: Allow configuring consistency setting for a keyspace
  alternator/executor.cc
  audit/audit_cf_storage_helper.cc
  auth/service.cc
  cdc/log.cc
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/create_keyspace_statement.cc
  cql3/statements/ks_prop_defs.cc
  cql3/statements/ks_prop_defs.hh
  data_dictionary/consistency_config_options.hh
  data_dictionary/data_dictionary.cc
  data_dictionary/keyspace_metadata.hh
  db/legacy_schema_migrator.cc
  db/schema_tables.cc
  db/system_distributed_keyspace.cc
  docs/cql/ddl.rst
  ent/encryption/replicated_key_provider.cc
  locator/abstract_replication_strategy.hh
  replica/database.cc
  service/tablet_allocator.cc
  service/topology_coordinator.cc
  table_helper.cc
  test/boost/network_topology_strategy_test.cc
  test/boost/tablets_test.cc
  test/boost/token_metadata_test.cc
  test/lib/expr_test_utils.cc
  tools/load_system_tablets.cc
  tools/schema_loader.cc
Owners: @nyh, @nuivall, @ptrsmrn, @kbr-scylla, @elcallio, @piodul, @tgrabiec, @denesb

tablet_allocator: allow merges in base tables if rf-rack-valid=true
  service/tablet_allocator.cc
Owners: none

compaction_manager: run_with_compaction_disabled: add stop_threshold
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
Owners: @raphaelsc

compaction_manager: perform_task_on_all_files: add stop_threshold
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
Owners: @raphaelsc

tablet_allocator, tests: remove allow_tablet_merge_with_views injection
  service/tablet_allocator.cc
  test/cluster/test_view_building_coordinator.py
Owners: none

test: mv: add a test for tablet merge
  test/cluster/mv/tablets/test_mv_tablets_merge.py
Owners: none

utils/lister: ignore files when type cannot be retrieved
  utils/lister.cc
Owners: none

alternator/test: Add more context to test_metrics.py asserts
  test/alternator/test_metrics.py
Owners: @nyh
