Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

Add cluster tests for checking scoped primary_replica_only streaming
  test/cluster/object_store/test_backup.py
  test/pylib/rest_client.py
Owners: none

nodetool restore: add primary-replica-only option
  docs/operating-scylla/nodetool-commands/restore.rst
  tools/scylla-nodetool.cc
Owners: @denesb

Refactor cluster/object_store/test_backup
  test/cluster/object_store/test_backup.py
Owners: none

service/storage_proxy: send batches with CL=EACH_QUORUM
  db/batchlog_manager.cc
  service/storage_proxy.cc
Owners: @elcallio, @gleb-cloudius

test/cqlpy: Test secondary index with short reads
  test/cqlpy/test_secondary_index.py
Owners: @nyh

nodetool refresh primary-replica-only
  docs/operating-scylla/nodetool-commands/refresh.rst
Owners: none

service/storage_proxy: send batches with CL=EACH_QUORUM
  db/batchlog_manager.cc
  service/storage_proxy.cc
Owners: @elcallio, @gleb-cloudius

nodetool refresh primary-replica-only
  docs/operating-scylla/nodetool-commands/refresh.rst
Owners: none

service/storage_proxy: send batches with CL=EACH_QUORUM
  db/batchlog_manager.cc
  service/storage_proxy.cc
Owners: @elcallio, @gleb-cloudius

sstables_loader: Don't bypass synchronization with busy topology
  service/storage_service.cc
  service/storage_service.hh
  sstables_loader.cc
  test/cluster/test_tablets2.py
Owners: @tgrabiec, @asias

sstables/trie: fix an assertion violation in bti_partition_index_writer_impl::write_last_key
  sstables/trie/bti_partition_index_writer.cc
  test/boost/bti_index_test.cc
Owners: @nyh, @piodul

tools: dbuild: avoid `test -v` incompatibility with MacOS shell
  tools/toolchain/dbuild
Owners: none

migration_manager: Add missing validations for schema extensions
  service/migration_manager.cc
Owners: @tgrabiec

dist/docker: add configurable blocked-reactor-notify-ms parameter
  dist/docker/commandlineparser.py
  dist/docker/scyllasetup.py
Owners: none

test/cqlpy: comment out Cassandra check that is no longer relevant
  test/cqlpy/cassandra_tests/validation/operations/alter_test.py
  test/cqlpy/suite.yaml
Owners: @nyh

install-dependencies.sh: update node_exporter to 1.10.2
  install-dependencies.sh
  tools/toolchain/image
Owners: none

utils: stall_free: add dispose_gently
  locator/abstract_replication_strategy.cc
  test/boost/stall_free_test.cc
  utils/stall_free.hh
Owners: none

dist/docker: add configurable blocked-reactor-notify-ms parameter
  dist/docker/commandlineparser.py
  dist/docker/scyllasetup.py
Owners: none

server: Refactor scheduling group update timing in system.clients
  service/qos/service_level_controller.cc
  service/qos/service_level_controller.hh
  transport/server.cc
  transport/server.hh
Owners: none

load_stats: fix problem with tablet size migration
  locator/tablets.cc
  locator/tablets.hh
  service/topology_coordinator.cc
Owners: none

load_stats: add test for migrate_tablet_size()
  test/boost/tablets_test.cc
Owners: none

tools/scylla-nodetool: fix crash when rows_merged cells contain null
  test/nodetool/test_compactionhistory.py
  tools/scylla-nodetool.cc
Owners: @denesb

Fix comment for tablets_mode_for_new_keyspaces
  conf/scylla.yaml
Owners: none

Fix incorrect hint for tablets_mode_for_new_keyspaces
  db/config.cc
Owners: none

alternator: Fix test_scan_paging_missing_limit()
  test/alternator/test_scan.py
Owners: @nyh

alternator: test_tablets.py handles new policy reg. tablets
  test/alternator/test_tablets.py
Owners: @nyh

alternator: Remove obsolete test from test_table.py
  test/alternator/test_table.py
Owners: @nyh

alternator: improve comment about non-hidden system tags
  alternator/executor.cc
Owners: @nyh

alternator: Fix test_ttl_expiration_streams()
  test/alternator/test_ttl.py
Owners: @nyh

alternator: Support `tablets_mode_for_new_keyspaces` config flag
  alternator/executor.cc
Owners: @nyh

alternator: Update doc regarding tablets support
  docs/alternator/new-apis.md
Owners: @annastuchlik, @tzach, @nyh

config: make tablets_mode_for_new_keyspaces live-updatable
  db/config.cc
Owners: none

alternator: Don't require vnodes for TTL tests
  test/alternator/test_cql_rbac.py
  test/alternator/test_metrics.py
Owners: @nyh

alternator: improve error in tablets_mode_for_new_keyspaces=enforced
  alternator/executor.cc
  test/alternator/test_tablets.py
Owners: @nyh

alternator: Fix tag name to request vnodes
  alternator/executor.cc
  test/alternator/test_cql_rbac.py
  test/alternator/test_metrics.py
  test/alternator/test_streams.py
  test/alternator/test_ttl.py
  test/cluster/mv/tablets/test_mv_tablets.py
  test/cluster/test_alternator.py
Owners: @nyh

test,alternator: use 3-rack clusters in tests
  test/cluster/test_alternator.py
Owners: none

alternator: Fix test name clash in test_tablets.py
  test/alternator/test_tablets.py
Owners: @nyh

docs: insert.rst: fix INSERT statement for NerdMovies example
  docs/cql/dml/insert.rst
Owners: none

docs: ddl.rst: Fix formatting of null value note
  docs/cql/ddl.rst
Owners: none

docs: insert.rst: Update insert example by removing 'year' column
  docs/cql/dml/insert.rst
Owners: none
