Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

generic_server: refactor connection::shutdown to use `shutdown_input` and `shutdown_output`
  generic_server.cc
Owners: none

transport: Handle sleep aborted exception in sleep_until_timeout_passes
  transport/server.cc
Owners: none

cdc: Set tombstone_gc when creating log table
  cdc/log.cc
  test/cqlpy/test_cdc.py
Owners: @kbr-scylla, @elcallio, @piodul, @nyh

generic_server: add `shutdown_input` and `shutdown_output` functions to `connection` class.
  generic_server.cc
  generic_server.hh
Owners: none

generic_server: refactor connection::shutdown to use `shutdown_input` and `shutdown_output`
  generic_server.cc
Owners: none

generic_server: replace empty destructor with `= default`
  generic_server.cc
  generic_server.hh
Owners: none

keys: from_nodetool_style_string don't split single partition keys
  keys/keys.cc
  test/boost/keys_test.cc
  test/rest_api/test_storage_service.py
Owners: none

raft: replication test: change rpc_propose_conf_change test to SEASTAR_THREAD_TEST_CASE
  test/raft/replication_test.cc
Owners: @kbr-scylla, @gleb-cloudius, @kostja

set hostname & ssl_* columns in system.clients
  generic_server.cc
  generic_server.hh
  redis/server.cc
  redis/server.hh
  test/cqlpy/test_ssl.py
  test/cqlpy/test_virtual_tables.py
  transport/server.cc
  transport/server.hh
Owners: @syuu1228, @nyh

raft: replication test: change rpc_propose_conf_change test to SEASTAR_THREAD_TEST_CASE
  test/raft/replication_test.cc
Owners: @kbr-scylla, @gleb-cloudius, @kostja

raft: replication test: change rpc_propose_conf_change test to SEASTAR_THREAD_TEST_CASE
  test/raft/replication_test.cc
Owners: @kbr-scylla, @gleb-cloudius, @kostja

database_test: fix race in test_drop_quarantined_sstables
  test/boost/database_test.cc
Owners: none

alternator/executor.cc: Accurate WCU for put, update, delete
  alternator/executor.cc
Owners: @nyh

config: add alternator_force_read_before_write
  db/config.cc
  db/config.hh
Owners: none

executor.cc: get_previous_item with consistency level
  alternator/executor.cc
Owners: @nyh

metrics: Add explicit offsets to estimated_histogram
  utils/estimated_histogram.hh
Owners: none

alternator/test_returnconsumedcapacity.py: Test forced read before write
  test/alternator/test_returnconsumedcapacity.py
Owners: @nyh

alternator/executor.cc: DynamoDB WCU calculation in BatchWriteItem using read-before-write
  alternator/executor.cc
Owners: @nyh

alternator: Tiny misc cleanup
  alternator/executor.cc
  alternator/rmw_operation.hh
  test/alternator/test_metrics.py
Owners: @nyh

executor: Extend API of put_or_delete_item
  alternator/executor.cc
Owners: @nyh

alternator: Correct RCU calculation for BatchGetItem
  alternator/executor.cc
  alternator/executor.hh
Owners: @nyh

update item, tests, variable names changed
  alternator/executor.cc
  alternator/rmw_operation.hh
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

batch_get_item metrics
  alternator/executor.cc
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

GetItem metrics
  alternator/executor.cc
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

put and delete item
  alternator/executor.cc
  alternator/rmw_operation.hh
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

update metrics
  alternator/executor.cc
  test/alternator/test_metrics.py
Owners: @nyh

tests/lib: extract generate_all_strings to test/lib
  configure.py
  test/boost/trie_traversal_test.cc
  test/boost/trie_writer_test.cc
  test/lib/key_utils.cc
  test/lib/key_utils.hh
Owners: none

Update pgo profiles - x86_64
  pgo/profiles/x86_64/profile.profdata.xz
Owners: none

Update pgo profiles - x86_64
  pgo/profiles/x86_64/profile.profdata.xz
Owners: none

Update pgo profiles - aarch64
  pgo/profiles/aarch64/profile.profdata.xz
Owners: none

Update pgo profiles - aarch64
  pgo/profiles/aarch64/profile.profdata.xz
Owners: none

Update pgo profiles - x86_64
  pgo/profiles/x86_64/profile.profdata.xz
Owners: none

Update pgo profiles - aarch64
  pgo/profiles/aarch64/profile.profdata.xz
Owners: none

Update pgo profiles - x86_64
  pgo/profiles/x86_64/profile.profdata.xz
Owners: none

Update pgo profiles - aarch64
  pgo/profiles/aarch64/profile.profdata.xz
Owners: none

test.py: pytest: support --mode/--repeat in a common way for all tests
  test/__init__.py
  test/boost/conftest.py
  test/ldap/conftest.py
  test/pylib/cpp/base.py
  test/pylib/cpp/boost.py
  test/pylib/cpp/boost/__init__.py
  test/pylib/cpp/boost/boost_facade.py
  test/pylib/cpp/common_cpp_conftest.py
  test/pylib/cpp/facade.py
  test/pylib/cpp/item.py
  test/pylib/cpp/unit.py
  test/pylib/cpp/unit/__init__.py
  test/pylib/cpp/unit/unit_facade.py
  test/pylib/cpp/util.py
  test/pylib/resource_gather.py
  test/pylib/runner.py
  test/pylib/suite/base.py
  test/raft/conftest.py
  test/unit/conftest.py
Owners: @kbr-scylla, @gleb-cloudius, @kostja

test.py: refactor: use proper format for extra_scylla_cmdline_options
  test/boost/test_config.yaml
  test/ldap/test_config.yaml
  test/raft/test_config.yaml
Owners: @kbr-scylla, @gleb-cloudius, @kostja

test.py: refactor: remove unused imports in test.py
  test.py
  test/pylib/suite/base.py
Owners: none

test.py: pytest: streamline suite configuration handling
  test/pylib/cpp/common_cpp_conftest.py
  test/pylib/runner.py
Owners: none

test.py: refactor: move framework-related code to test.pylib.runner
  test/alternator/conftest.py
  test/cluster/conftest.py
  test/conftest.py
  test/cql/conftest.py
  test/cqlpy/conftest.py
  test/pylib/runner.py
  test/rest_api/conftest.py
Owners: @nyh
