Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

replica/table: add a metric for hypothetical total file size without compression
  replica/table.cc
Owners: none

test: cluster: add test for attaching service level to user while using raft and gossip topology
  test/cluster/auth_cluster/test_attach_service_level_to_user.py
Owners: none

db/config: don't use RBNO for scaling
  db/config.cc
  test/cluster/mv/test_mv_topology_change.py
  test/cluster/test_different_group0_ids.py
Owners: none

cql3: Fix std::bad_cast when deserializing vectors of collections
  cql3/expr/expression.cc
Owners: none

cql3: Make abstract_type explicitly noncopyable
  cql3/expr/expression.cc
  types/types.hh
Owners: none

cql3: Fix std::bad_cast when deserializing vectors of collections
  cql3/expr/expression.cc
Owners: none

cql3: Make abstract_type explicitly noncopyable
  cql3/expr/expression.cc
  types/types.hh
Owners: none

minio: update CLI usage, remove deprecated `mc` options
  test/pylib/minio_server.py
Owners: none

minio: update CLI usage, remove deprecated `mc` options
  test/pylib/minio_server.py
Owners: none

topology_coordinator: include joining node in barrier
  service/topology_coordinator.cc
Owners: none

test: add mv write during node join test
  test/cluster/mv/test_mv_topology_change.py
Owners: none

scylla-sstable: correctly dump sharding_metadata
  sstables/open_info.hh
  sstables/sstables.cc
  test/cqlpy/test_tools.py
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @nyh, @denesb

Fix backport conflicts
  alternator/executor.cc
  test/alternator/test_ttl.py
Owners: @nyh

schema/schema.hh: Do not include index_prop_defs.hh
  schema/schema.hh
Owners: @tgrabiec

cql3/statements/create_view_statement.cc: Move validation of ID
  cql3/statements/create_view_statement.cc
Owners: @nyh, @piodul

cql3/statements: Introduce view_prop_defs.{hh,cc}
  configure.py
  cql3/CMakeLists.txt
  cql3/Cql.g
  cql3/statements/alter_view_statement.cc
  cql3/statements/alter_view_statement.hh
  cql3/statements/cf_properties.hh
  cql3/statements/create_view_statement.cc
  cql3/statements/create_view_statement.hh
  cql3/statements/view_prop_defs.cc
  cql3/statements/view_prop_defs.hh
Owners: @tgrabiec, @nuivall, @ptrsmrn, @nyh, @piodul

cql3/statements/view_prop_defs.cc: Move validation logic into file
  cql3/statements/alter_view_statement.cc
  cql3/statements/create_view_statement.cc
  cql3/statements/view_prop_defs.cc
Owners: @nyh, @piodul

cql3/statements/index_prop_defs.hh: Rename type
  cql3/Cql.g
  cql3/statements/create_index_statement.cc
  cql3/statements/create_index_statement.hh
  cql3/statements/index_prop_defs.cc
  cql3/statements/index_prop_defs.hh
  index/secondary_index_manager.hh
  index/vector_index.cc
  index/vector_index.hh
Owners: @tgrabiec, @nuivall, @ptrsmrn, @nyh, @piodul

cql3/statements/index_prop_defs.cc: Add namespace
  cql3/statements/index_prop_defs.cc
Owners: @nyh, @piodul

cql3/statements/property_definitions: Add extract_property()
  cql3/statements/property_definitions.cc
  cql3/statements/property_definitions.hh
Owners: none

cql3/statements/index_prop_defs: Re-introduce index_prop_defs
  cql3/statements/index_prop_defs.cc
  cql3/statements/index_prop_defs.hh
Owners: @nyh, @piodul

cql3/statements/create_index_statement: Rename member
  cql3/statements/create_index_statement.cc
  cql3/statements/create_index_statement.hh
Owners: @nyh, @piodul

cql3/statements/create_index_statement: Allow for view options
  cql3/Cql.g
  cql3/statements/create_index_statement.cc
  cql3/statements/create_index_statement.hh
Owners: @tgrabiec, @nuivall, @ptrsmrn, @nyh, @piodul

cql3: Extend CREATE INDEX by MV properties
  cql3/statements/create_index_statement.cc
  docs/cql/secondary-indexes.rst
  test/cqlpy/test_secondary_index_properties.py
Owners: @nyh, @piodul

cql3: Forbid using CLUSTERING ORDER BY when creating index
  cql3/statements/create_index_statement.cc
  docs/cql/secondary-indexes.rst
  test/cqlpy/test_secondary_index_properties.py
Owners: @nyh, @piodul

cql3: Extend DESC INDEX by view properties
  schema/schema.cc
  test/boost/cql_query_test.cc
  test/cqlpy/test_describe.py
  test/cqlpy/test_secondary_index_properties.py
Owners: @tgrabiec, @nyh

tools: scylla-sstable: Print filename and tablet ids on error
  tools/scylla-sstable.cc
Owners: @denesb

sstables: Skip checksum and digest reads for unlinked SSTables
  sstables/sstables.cc
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc

test/lib: allow to disable compression in random_mutation_generator
  test/lib/mutation_source_test.cc
  test/lib/mutation_source_test.hh
Owners: @tgrabiec

boost/repair_test: add repair reader integrity verification test cases
  test/boost/repair_test.cc
Owners: none

topology_state_machine: inline get_excluded_nodes
  service/topology_coordinator.cc
  service/topology_state_machine.cc
  service/topology_state_machine.hh
Owners: none

topology_coordinator: rename get_excluded_nodes -> get_excluded_nodes_for_topology_request
  service/topology_coordinator.cc
Owners: none

topology_coordinator: drop unused exec_global_command overload
  service/topology_coordinator.cc
Owners: none

pylib: extract upgrade helpers from test_sstable_compression_dictionaries_upgrade.py
  test/cluster/conftest.py
  test/cluster/test_sstable_compression_dictionaries_upgrade.py
  test/pylib/manager_client.py
Owners: none

pylib: extract upgrade helpers from test_sstable_compression_dictionaries_upgrade.py
  test/cluster/conftest.py
  test/cluster/test_sstable_compression_dictionaries_upgrade.py
  test/pylib/manager_client.py
Owners: none

boost/cql_query_test: Get expected compressor from config
  test/boost/cql_query_test.cc
Owners: none

test/cluster: Add test for default SSTable compressor
  test/cluster/test_sstable_compression_config.py
Owners: none

db/config: Change default SSTable compressor to LZ4WithDictsCompressor
  db/config.cc
  main.cc
Owners: none

db/config: Deprecate sstable_compression_dictionaries_allow_in_ddl
  compress.cc
  compress.hh
  cql3/statements/cf_prop_defs.cc
  db/config.cc
  main.cc
  test/cluster/test_sstable_compression_config.py
  test/cluster/test_sstable_compression_dictionaries_basic.py
Owners: none

sstables: prevent oversized allocation when parsing summary positions
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
