Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

docs: fix typo in command name enbleautocompaction -> enableautocompaction
  docs/_utils/redirects.yaml
  docs/operating-scylla/nodetool-commands/enableautocompaction.rst
  docs/operating-scylla/nodetool.rst
Owners: none

test/alternator: enable more relevant logs in CI.
  test/alternator/suite.yaml
Owners: @nyh

compaction/compaction_garbage_collector: add formatter for max_purgeable
  compaction/compaction.cc
  compaction/compaction_garbage_collector.hh
Owners: @raphaelsc

replica/memtable_list: s/min_live_timestamp()/get_max_purgeable()/
  replica/database.cc
  replica/database.hh
  replica/table.cc
Owners: none

db/read_context: return max_purgeable from get_max_purgeable()
  db/cache_mutation_reader.hh
  db/read_context.hh
Owners: @tgrabiec

mutation: move definition of gc symbols to compaction.cc
  compaction/compaction.cc
  mutation/mutation_partition.cc
Owners: @raphaelsc, @tgrabiec

tombstone_gc: refactor get_or_greate_repair_history_for_table()
  tombstone_gc.cc
Owners: none

test: rewrite test_compacting_reader_tombstone_gc_with_data_in_memtable in C++
  test/boost/row_cache_test.cc
  test/cluster/test_compacting_reader_tombstone_gc.py
Owners: @tgrabiec

test/boost/row_cache_test: refactor test_populating_reader_tombstone_gc_with_data_in_memtable
  test/boost/row_cache_test.cc
Owners: @tgrabiec

test/boost/row_cache_test: refactor cache tombstone GC with memtable overlap tests
  test/boost/row_cache_test.cc
Owners: @tgrabiec

tombstone_gc: fold get_or_create_repair_history_for_table() into update_repair_time()
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

compaction/compaction_garbage_collector: refactor max_purgeable into a class
  compaction/compaction.cc
  compaction/compaction_garbage_collector.hh
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  replica/table.cc
  test/boost/mutation_test.cc
  test/boost/sstable_compaction_test.cc
Owners: @raphaelsc, @tgrabiec

tombstone_gc: fold get_or_create_group0_gc_time() into update_group0_refresh_time()
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

tombstone_gc: per_table_history_maps::_group0_gc_time: make it a value
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

tombstone_gc: extract shared state into shared_tombstone_gc_state
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  main.cc
  repair/row_level.cc
  replica/database.cc
  replica/tablets.cc
  service/raft/group0_state_id_handler.cc
  service/storage_service.cc
  test/boost/row_cache_test.cc
  test/lib/cql_test_env.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: @raphaelsc, @tgrabiec, @asias

tombstone_gc: fold get_group0_gc_time() into its caller
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

tombstone_gc: introduce tombstone_gc_state_snapshot
  test/boost/database_test.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

replica/table: propagate gc_state to memtable_list
  replica/table.cc
Owners: none

replica/memtable_list: add tombstone_gc_state* member
  replica/database.cc
  replica/database.hh
Owners: none

replica/memtable: add tombstone_gc_state_snapshot
  replica/memtable.cc
  replica/memtable.hh
Owners: none

tools: toolchain: dbuild: forward container registry credentials
  tools/toolchain/dbuild
Owners: none

docs: Raft recovery procedure: recommend verifying participation in Raft recovery
  docs/troubleshooting/handling-node-failures.rst
Owners: none

fix(test.py) incorrect markers argument in boost tests
  test.py
Owners: none

database_test: fix abandoned futures in test_drop_quarantined_sstables
  test/boost/database_test.cc
Owners: none

repair: Skip hints and batchlog flush in case of nodes down
  repair/repair.cc
Owners: @tgrabiec, @asias

test: Enable RF-rack-valid keyspaces in all Python suites
  test/pylib/scylla_cluster.py
Owners: none

doc: add support for RHEL 10
  docs/_static/data/os-support.json
Owners: none

doc: add support for RHEL 10
  docs/_static/data/os-support.json
Owners: none

docs: Raft recovery procedure: recommend verifying participation in Raft recovery
  docs/troubleshooting/handling-node-failures.rst
Owners: none

docs: Raft recovery procedure: recommend verifying participation in Raft recovery
  docs/troubleshooting/handling-node-failures.rst
Owners: none

utils: stall_free: clear gently a foreign shared ptr only when use_count==1
  test/boost/stall_free_test.cc
  utils/stall_free.hh
Owners: none

utils: stall_free: detect clear_gently method of const payload types
  test/boost/stall_free_test.cc
  utils/stall_free.hh
Owners: none

dist: scylla_raid_setup: don't override XFS block size on modern kernels
  dist/common/scripts/scylla_raid_setup
Owners: none

docs: Raft recovery procedure: recommend verifying participation in Raft recovery
  docs/troubleshooting/handling-node-failures.rst
Owners: none

docs: Raft recovery procedure: recommend verifying participation in Raft recovery
  docs/troubleshooting/handling-node-failures.rst
Owners: none

compaction/compaction_garbage_collector: max_purgeable: add expiry_treshold
  compaction/compaction.cc
  compaction/compaction_garbage_collector.hh
  test/boost/database_test.cc
Owners: @raphaelsc

replica/table: get_max_purgeable_fn_for_cache_underlying_reader(): use max_purgable::combine()
  replica/table.cc
Owners: none

test/boost/row_cache_test: add test for memtable overlap check elision
  test/boost/row_cache_test.cc
Owners: @tgrabiec

docs/dev/tombstone.md: document the memtable overlap check elision optimization
  docs/dev/tombstone.md
Owners: none

db/cache_mutation_reader: obtain gc-before and min-live-ts lazily
  db/cache_mutation_reader.hh
Owners: @tgrabiec

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
