Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

test/alternator: fix tests in test_tag.py on DynamoDB
  test/alternator/test_tag.py
Owners: @nyh

mv: run view building worker fibers in streaming group
  main.cc
Owners: none

mv: fix typo in start_backgroud_fibers
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
  main.cc
Owners: @nyh, @piodul

test/alternator: fix test_list_tables_paginated on DynamoDB
  test/alternator/util.py
Owners: @nyh

db/view: Require rf_rack_valid_keyspaces when creating view
  db/view/view.cc
  test/cluster/mv/test_mv_simple.py
Owners: @nyh, @piodul

db/view: Verify valid configuration for tablet-based views
  main.cc
  replica/database.cc
  replica/database.hh
  test/lib/cql_test_env.cc
Owners: none

db/view: Name requirement for views with tablets
  cql3/statements/create_index_statement.cc
  cql3/statements/create_view_statement.cc
  db/view/view.cc
  db/view/view.hh
Owners: @nyh, @piodul

test/boost/schema_loader_test.cc: Explicitly enable rf_rack_valid_keyspaces
  test/boost/schema_loader_test.cc
Owners: @tgrabiec

scylla_gdb: use persistent GDB - decrease test execution time
  test/scylla_gdb/conftest.py
  test/scylla_gdb/test_basic_commands.py
  test/scylla_gdb/test_schema_commands.py
  test/scylla_gdb/test_sstable_commands.py
  test/scylla_gdb/test_task_commands.py
Owners: none

Fix spelling errors
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

Don't report spurious keys in DescribeTable
  alternator/executor.cc
  alternator/executor.hh
  test/alternator/test_gsi.py
Owners: @nyh

Don't report spurious keys in DescribeTable
  alternator/executor.cc
  alternator/executor.hh
  test/alternator/test_gsi.py
Owners: @nyh

tools: Fix missing source file in CMake target
  tools/CMakeLists.txt
Owners: @denesb

vector_store_client: Fix cleanup of client_producer factory
  service/vector_store_client.cc
Owners: none

test: speed up test_long_query_timeout_erm
  test/cluster/test_long_query_timeout_erm.py
Owners: none

dbuild: add e2fsprogs, fuse3 to the dependencies
  install-dependencies.sh
Owners: none

test/storage: Properly mount/clear volumes
  test/storage/conftest.py
  test/storage/suite.yaml
Owners: none

test: dtest: copy unmodified limits_test.py
  test/cluster/dtest/limits_test.py
  test/cluster/suite.yaml
Owners: none

tools/scylla-sstable: introduce the upgrade command
  docs/operating-scylla/admin-tools/scylla-sstable.rst
  test/cqlpy/test_tools.py
  tools/scylla-sstable.cc
Owners: @nyh, @denesb

db: schema_applier: move types storage init to merge_types func
  db/schema_applier.cc
Owners: @tgrabiec

db: schema_applier: make merge functions non-static members
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

db: remove unused proxy from create_keyspace_metadata
  db/schema_applier.cc
  db/schema_tables.cc
  db/schema_tables.hh
  replica/database.cc
Owners: @tgrabiec

treewide: seastar module update and fix broken rest client
  ent/encryption/azure_host.cc
  ent/encryption/kms_host.cc
  utils/azure/identity/service_principal_credentials.cc
  utils/gcp/object_storage.cc
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

tools/scylla-sstable-scripts: introduce purgable.lua
  tools/scylla-sstable-scripts/purgeable.lua
Owners: none

tools/scylla-sstable-scripts: introduce writetime-histogram.lua
  tools/scylla-sstable-scripts/writetime-histogram.lua
Owners: none

test: limit test_streaming_deadlock_removenode concurrency
  test/cluster/test_streaming_deadlock.py
Owners: none

cql3/statements: move `primary_key` to a separate file
  cql3/statements/primary_key.hh
  cql3/statements/select_statement.hh
  service/vector_store_client.hh
Owners: none

cql3/functions: add `vector_similarity()` function placeholder
  cql3/functions/functions.cc
  cql3/functions/vector_search_fcts.hh
Owners: none

select_statement, vector_store_client: fetch distances from ANN
  cql3/statements/select_statement.cc
  service/vector_store_client.cc
  service/vector_store_client.hh
  test/boost/vector_store_client_test.cc
Owners: none

db: rename new_token_metadata to pending_token_metadata
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

db: refactor new_token_metadata into pending_token_metadata
  db/schema_applier.cc
  db/schema_applier.hh
  locator/token_metadata.cc
  locator/token_metadata.hh
Owners: @tgrabiec

db: schema_applier: move pending_token_metadata to locator
  db/schema_applier.cc
  db/schema_applier.hh
  locator/token_metadata.cc
  locator/token_metadata.hh
Owners: @tgrabiec

service: fix dependencies during migration_manager startup
  main.cc
  service/migration_manager.cc
  service/migration_manager.hh
Owners: @tgrabiec

db: always use _tablet_hint as condition for tablet metadata change
  db/schema_applier.cc
Owners: @tgrabiec

db: schema_applier: unify token_metadata loading
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

storage_service: split replicate_to_all_cores to steps
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

storage_service: abstract schema dependecies during token metadata update
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

service: rename prepare_tablet_metadata
  db/schema_applier.cc
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

replica: schema_applier: obtain copy of token_metadata at the beginning of schema merge
  db/schema_applier.cc
  db/schema_applier.hh
  locator/abstract_replication_strategy.cc
  locator/abstract_replication_strategy.hh
  replica/database.cc
  replica/database.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

db: replica: move tables_metadata locking to commit
  db/schema_applier.cc
  db/schema_applier.hh
  replica/database.cc
  replica/database.hh
Owners: @tgrabiec

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
