Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

commitlog::read_log_file: Check for eof position on all data reads
  db/commitlog/commitlog.cc
  test/boost/commitlog_test.cc
Owners: @elcallio, @eliransin

commitlog::read_log_file: Check for eof position on all data reads
  db/commitlog/commitlog.cc
  test/boost/commitlog_test.cc
Owners: @elcallio, @eliransin

commitlog::read_log_file: Check for eof position on all data reads
  db/commitlog/commitlog.cc
  test/boost/commitlog_test.cc
Owners: @elcallio, @eliransin

direct_failure_detector: pass timeout to direct_fd_ping verb
  idl/raft.idl.hh
  service/direct_failure_detector/failure_detector.cc
  service/direct_failure_detector/failure_detector.hh
  service/raft/raft_group_registry.cc
  service/raft/raft_group_registry.hh
  test/raft/failure_detector_test.cc
  test/raft/randomized_nemesis_test.cc
Owners: @kbr-scylla, @gleb-cloudius, @kostja

gcp::object_storage: Include auth in exponential back-off-retry
  utils/gcp/object_storage.cc
Owners: none

docs: Update docs according to new endpoints config option format
  docs/dev/object_storage.md
  docs/operating-scylla/admin.rst
Owners: none

code: Remove dangling mentions of s3::endpoint_config
  db/object_storage_endpoint_param.cc
  db/object_storage_endpoint_param.hh
  init.hh
  replica/database.hh
Owners: none

object_storage: Temporarily handle pure endpoint addresses as endpoints
  db/object_storage_endpoint_param.cc
  db/object_storage_endpoint_param.hh
  sstables/sstables_manager.cc
Owners: @tgrabiec, @raphaelsc

object_storage: Create s3 client with "extended" endpoint name
  db/object_storage_endpoint_param.cc
  db/object_storage_endpoint_param.hh
  sstables/object_storage_client.cc
  test/boost/schema_change_test.cc
  test/cluster/object_store/conftest.py
  test/cluster/object_store/test_basic.py
  test/lib/test_services.cc
  test/pylib/minio_server.py
  utils/s3/client.cc
  utils/s3/client.hh
Owners: @tgrabiec, @raphaelsc

metrics stuff
  sstables/prepended_input_stream.cc
  sstables/sstables.cc
  test/boost/limiting_data_source_test.cc
  test/perf/perf_fast_forward.cc
  utils/buffer_input_stream.cc
  utils/io-wrappers.cc
  utils/limiting_data_source.cc
Owners: @tgrabiec, @raphaelsc

tasks, system_keyspace: Introduce get_topology_request_entry_opt()
  db/system_keyspace.cc
  db/system_keyspace.hh
  node_ops/task_manager_module.cc
  service/storage_proxy.cc
  service/storage_service.cc
  service/topology_coordinator.cc
Owners: @gleb-cloudius, @tgrabiec, @asias

topology_coordinator: Extract generate_cancel_request_update()
  service/topology_coordinator.cc
  service/topology_state_machine.cc
  service/topology_state_machine.hh
Owners: none

test/cluster/test_view_building_coordinator: fix flakiness in test_file_streaming
  test/cluster/test_view_building_coordinator.py
Owners: none

load_stats: add get_tablet_size_in_transition()
  locator/tablets.cc
  locator/tablets.hh
Owners: none

load_sketch: use tablet sizes in load computation
  db/virtual_tables.cc
  docs/dev/system_keyspace.md
  locator/load_sketch.hh
  locator/network_topology_strategy.cc
  service/tablet_allocator.cc
  test/boost/locator_topology_test.cc
  test/boost/tablets_test.cc
  test/perf/tablet_load_balancing.cc
Owners: none

config: add size based load balancing config params
  db/config.cc
  db/config.hh
  service/tablet_allocator.cc
Owners: none

s3_client: handle additional transient network errors
  utils/s3/aws_error.cc
Owners: none

test/alternator: extract get_signed_request() to util.py
  test/alternator/test_authorization.py
  test/alternator/test_manual_requests.py
  test/alternator/test_metrics.py
  test/alternator/util.py
Owners: @nyh

s3_client: handle additional transient network errors
  utils/s3/aws_error.cc
Owners: none

unittest: fix vector_store_client_test_dns_refresh_aborted hangs
  test/vector_search/vector_store_client_test.cc
Owners: none

utils/rjson: fix error messages from rjson::parse()
  utils/rjson.cc
Owners: none

vector_search: Reduce connection and keep-alive timeouts
  test/vector_search/client_test.cc
  test/vector_search/utils.hh
  test/vector_search/vector_store_client_test.cc
  vector_search/client.cc
  vector_search/utils.hh
Owners: none

vector_search: Fix ANN query abort on CQL timeout
  cql3/statements/select_statement.cc
  test/vector_search/vector_store_client_test.cc
  test/vector_search/vs_mock_server.hh
  vector_search/client.cc
Owners: none

utils: add to_sstring rjson helper
  utils/rjson.cc
  utils/rjson.hh
Owners: none

vector_search: Fix requests hanging on unreachable nodes
  vector_search/client.cc
Owners: none

utils: use rjson document wrapper in instance_profile_credentials_provider::parse_creds
  utils/s3/credentials_providers/instance_profile_credentials_provider.cc
Owners: none

utils: move rjson::to_string_view func to string related place
  utils/rjson.hh
Owners: none

use rjson::to_sstring for various string conversions
  alternator/conditions.cc
  alternator/consumed_capacity.cc
  alternator/executor.cc
  alternator/serialization.cc
  alternator/ttl.cc
  tools/scylla-nodetool.cc
  utils/s3/credentials_providers/instance_profile_credentials_provider.cc
Owners: @nyh, @denesb

fix rjson::value to string_view conversion with missing GetStringLength call
  alternator/executor.cc
  vector_search/client.cc
Owners: @nyh

use rjson::to_string_view when rjson::value gets converted using GetStringLength
  alternator/conditions.cc
  utils/rjson.hh
Owners: @nyh

load_balancer: implement size-based load balancing
  docs/dev/system_keyspace.md
  service/storage_service.cc
  service/tablet_allocator.cc
  test/boost/tablets_test.cc
  test/cluster/test_size_based_load_balancing.py
  test/cluster/test_tablets2.py
  test/cluster/test_tablets_merge.py
  test/lib/topology_builder.hh
Owners: @tgrabiec, @asias

test, load balancing: add test for table balance
  test/boost/tablets_test.cc
Owners: none

Distribute data evenly among primary replicas during restore
  locator/tablets.cc
  test/cluster/object_store/test_backup.py
Owners: none

Beef up primary_replica_only tests with min_tablet_count parameter
  test/cluster/object_store/test_backup.py
Owners: none

test_alternator: add test_alternator_invalid_shard_for_lwt
  alternator/executor.cc
  test/cluster/test_alternator.py
Owners: @nyh

alternator/executor.cc: fix indent
  alternator/executor.cc
Owners: @nyh

alternator/executor.cc: make do_batch_write a private method
  alternator/executor.cc
  alternator/executor.hh
Owners: @nyh

alternator/executor.cc: make cas_write a private method
  alternator/executor.cc
  alternator/executor.hh
Owners: @nyh

doc: add the upgrade guide from 2025.x to 2025.4
  docs/upgrade/upgrade-guides/index.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/index.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.2-to-2025.3/metric-update-2025.2-to-2025.3.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.x-to-2025.4/index.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.x-to-2025.4/metric-update-2025.x-to-2025.4.rst
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.x-to-2025.4/upgrade-guide-from-2025.x-to-2025.4.rst
Owners: none

locator: topology: Add "drained" flag to a node
  locator/topology.cc
  locator/topology.hh
Owners: none
