Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

view_building_worker: access tablet map through erm on sstable discovery
  db/view/view_building_worker.cc
Owners: @nyh, @piodul

s3_client: unify `make_request` implementation
  utils/s3/client.cc
Owners: none

s3_client: remove unnecessary local variable
  utils/s3/client.cc
Owners: none

s3_client: just reformat `make_request`
  utils/s3/client.cc
Owners: none

s3_client: support high-level request retries
  utils/s3/client.cc
  utils/s3/retryable_http_client.cc
  utils/s3/retryable_http_client.hh
Owners: none

docs: explain topology operations restrictions with RF-rack
  docs/architecture/tablets.rst
  docs/cql/ddl.rst
  docs/operating-scylla/procedures/cluster-management/add-node-to-cluster.rst
  docs/operating-scylla/procedures/cluster-management/remove-node.rst
Owners: none

locator: extend rf-rack validation functions
  locator/tablets.cc
  locator/tablets.hh
  replica/database.cc
  replica/database.hh
Owners: none

locator: extend rf-rack validation for rack lists
  locator/tablets.cc
  test/cluster/test_topology_ops_with_rf_rack_valid.py
Owners: none

test: adjust test to not break rf-rack validity
  test/cluster/test_unfinished_writes_during_shutdown.py
Owners: none

test: add test_topology_ops_with_rf_rack_valid
  test/cluster/test_topology_ops_with_rf_rack_valid.py
Owners: none

test: test rf-rack validity when creating keyspace during node ops
  service/topology_coordinator.cc
  test/cluster/test_topology_ops_with_rf_rack_valid.py
Owners: none

topology coordinator: add validation to node remove
  service/topology_coordinator.cc
Owners: none

topology coordinator: restrict node join/remove to preserve RF-rack validity
  service/topology_coordinator.cc
  test/cluster/test_tablets.py
Owners: none

locator: fix rf-rack validation during node join/remove
  locator/tablets.cc
  locator/topology.hh
Owners: none

wip
  utils/s3/client.cc
Owners: none

s3_client: remove `s3_retry_strategy`
  configure.py
  utils/CMakeLists.txt
  utils/s3/client.cc
  utils/s3/retryable_http_client.cc
  utils/s3/s3_retry_strategy.cc
  utils/s3/s3_retry_strategy.hh
Owners: none

s3_client: add max for client level retries
  utils/s3/client.cc
Owners: none

s3_client: fix indentation
  utils/s3/client.cc
Owners: none

s3_client: improve exception handling for chunked downloads
  test/boost/s3_test.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: add logging
  utils/s3/client.cc
Owners: none

s3_client: tune logging level
  utils/s3/client.cc
Owners: none

cluster_test: re-enable skipped test
  test/cluster/object_store/test_backup.py
Owners: none

cql3/statements: move `primary_key` to a separate file
  cql3/statements/primary_key.hh
  cql3/statements/select_statement.hh
  vector_search/vector_store_client.hh
Owners: none

select_statement, vector_store_client: fetch distances from ANN
  cql3/statements/select_statement.cc
  test/vector_search/vector_store_client_test.cc
  vector_search/vector_store_client.cc
  vector_search/vector_store_client.hh
Owners: none

cql3: introduce similarity functions syntax
  cql3/Cql.g
Owners: @tgrabiec, @nuivall, @ptrsmrn

dist/docker: drop supervisor from docker image
  dist/common/supervisor/scylla-jmx.sh
  dist/common/supervisor/scylla-node-exporter.sh
  dist/common/supervisor/scylla-server.sh
  dist/common/supervisor/scylla_util.sh
  dist/docker/docker-entrypoint.py
  dist/docker/etc/supervisord.conf
  dist/docker/etc/supervisord.conf.d/scylla-housekeeping.conf
  dist/docker/etc/supervisord.conf.d/scylla-node-exporter.conf
  dist/docker/etc/supervisord.conf.d/scylla-server.conf
  dist/docker/redhat/build_docker.sh
  dist/docker/scylla-housekeeping-service.sh
  dist/docker/scyllasetup.py
  install.sh
  unified/install.sh
  unified/uninstall.sh
Owners: none

raft: small fixes for voters code
  raft/raft.hh
  raft/tracker.hh
  test/boost/group0_voter_calculator_test.cc
  types/types.hh
Owners: @kbr-scylla, @gleb-cloudius, @kostja

alternator: Split `update_item_operation::apply` into smaller methods
  alternator/executor.cc
Owners: @nyh

alternator: Add GetItem response size metrics
  alternator/executor.cc
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Add BatchGetItem response size metrics
  alternator/executor.cc
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Add PutItem and DeleteItem response size metrics
  alternator/executor.cc
  alternator/rmw_operation.hh
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Add UpdateItem and BatchWriteItem response size metrics
  alternator/executor.cc
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

gdb: simplify and future-proof looking up coroutine frame type
  scylla-gdb.py
Owners: none

Update seastar submodule (iotune fixes for i7i/i4i)
  .gitmodules
Owners: none

test/cluster/random_failures: Adjust to RF-rack-validity
  test/cluster/random_failures/cluster_events.py
  test/cluster/random_failures/test_random_failures.py
Owners: none

test/cluster/random_failures: Enable rf_rack_valid_keyspaces
  test/cluster/random_failures/cluster_events.py
  test/cluster/random_failures/test_random_failures.py
Owners: none

test/cluster/random_failures: Re-enable index events
  test/cluster/random_failures/cluster_events.py
Owners: none

cdc: Don't split a row marker away from row cells
  alternator/executor.cc
  cdc/log.cc
  cdc/log.hh
  cdc/split.cc
  cdc/split.hh
Owners: @nyh, @kbr-scylla, @elcallio, @piodul

cdc: Emit a preimage for non-clustered tables
  cdc/log.cc
  cdc/split.cc
  test/alternator/test_streams.py
  test/boost/cdc_test.cc
Owners: @kbr-scylla, @elcallio, @piodul, @nyh

config: Add alternator_streams_strict_compatibility flag
  db/config.cc
  db/config.hh
Owners: none
