Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

db/view: view_builder_query_state: start query processor operation
  db/view/view.cc
Owners: @nyh, @piodul

db/view: accept_new_row: reuse query_options permit
  db/view/view.cc
  service/storage_proxy.hh
Owners: @nyh, @piodul, @gleb-cloudius

redis: process_request_internal: start proxy operation
  redis/server.cc
Owners: @syuu1228

encryption: replicated_key_provide: query_processor operation
  ent/encryption/replicated_key_provider.cc
Owners: none

mapreduce_service: execute_on_this_shard: start storage_proxy operation
  service/mapreduce_service.cc
Owners: none

qos: qos_query_state: start query_processor operation
  service/qos/qos_common.cc
  service/qos/qos_common.hh
  service/qos/raft_service_level_distributed_data_accessor.cc
  service/qos/service_level_controller.cc
Owners: none

storage_proxy: start write operation for serviec permit
  service/storage_proxy.cc
Owners: @gleb-cloudius

main: gracefully stop the query_processor
  main.cc
Owners: none

storage_proxy: stop: close _pending_writes_phaser
  service/storage_proxy.cc
Owners: @gleb-cloudius

main: gracefully stop the storage_proxy
  main.cc
Owners: none

doc: fix the product name for version 2025.1 (on branch-2025.1)
  docs/getting-started/os-support.rst
Owners: none

doc: remove the redundant pages
  docs/_utils/redirects.yaml
  docs/contribute.rst
  docs/getting-started/index.rst
  docs/getting-started/tutorials.rst
  docs/index.rst
Owners: @annastuchlik, @tzach

doc: remove copyright from Cassandra Stress
  docs/operating-scylla/admin-tools/cassandra-stress.rst
Owners: none

test/boost/sstable_compressor_factory_test: define a test suite name
  test/boost/sstable_compressor_factory_test.cc
Owners: none

untyped_result_set: mark get_blob() as returning unfragmented data
  auth/service.cc
  auth/standard_role_manager.cc
  cql3/statements/select_statement.cc
  cql3/untyped_result_set.hh
  db/batchlog_manager.cc
  db/legacy_schema_migrator.cc
  db/schema_tables.cc
  db/system_keyspace.cc
  db/view/view.cc
  service/qos/service_level_controller.cc
Owners: @nuivall, @ptrsmrn, @tgrabiec, @elcallio, @nyh, @piodul

pgo: drop Java configuration
  pgo/pgo.py
Owners: none

[workflow]: add conflict_reminder to PRs based against `master`
  .github/workflows/conflict_reminder.yaml
Owners: none

docs: fix \t (tab) is not rendered correctly
  docs/_ext/utils.py
Owners: none

Move mutation_fragment_v2::kind into data object
  mutation/mutation_fragment.cc
  mutation/mutation_fragment_v2.hh
Owners: @tgrabiec

Make mutation_fragment_v2::kind enum 1 byte size
  mutation/mutation_fragment_v2.hh
Owners: @tgrabiec

Move mutation_fragment::kind into data object
  mutation/mutation_fragment.cc
  mutation/mutation_fragment.hh
Owners: @tgrabiec

Make mutation_fragment::kind enum 1 byte size
  mutation/mutation_fragment.hh
Owners: @tgrabiec

docs: split api reference in smaller files
  docs/_static/css/custom.css
  docs/_utils/redirects.yaml
  docs/architecture/anti-entropy/hinted-handoff.rst
  docs/reference/_common/reference-toc.rst
  docs/reference/api-reference.rst
  docs/reference/api/authorization-cache.rst
  docs/reference/api/cache-service.rst
  docs/reference/api/collectd.rst
  docs/reference/api/column-family.rst
  docs/reference/api/commit-log.rst
  docs/reference/api/compaction-manager.rst
  docs/reference/api/endpoint-snitch-info.rst
  docs/reference/api/error-injection.rst
  docs/reference/api/failure-detector.rst
  docs/reference/api/gossiper.rst
  docs/reference/api/hinted-handoff.rst
  docs/reference/api/index.rst
  docs/reference/api/lsa.rst
  docs/reference/api/messaging-service.rst
  docs/reference/api/raft.rst
  docs/reference/api/storage-proxy.rst
  docs/reference/api/storage-service.rst
  docs/reference/api/stream-manager.rst
  docs/reference/api/system.rst
  docs/reference/api/task-manager-test.rst
  docs/reference/api/task-manager.rst
  docs/reference/api/tasks.rst
  docs/reference/index.rst
Owners: none

test: close logfile/socket_dir for stopped servers in recycle_cluster
  test/pylib/suite/python.py
Owners: none

test/cluster: extract execute_with_tracing() into pylib/util.py
  test/pylib/util.py
  test/topology_custom/test_data_resurrection_in_memtable.py
Owners: none

[workflow]: add conflict_reminder to PRs based against `master`
  .github/workflows/conflict_reminder.yaml
Owners: none

test: actually wait for tablets to distribute across nodes
  test/cluster/mv/tablets/test_mv_tablets_replace.py
Owners: none

Add libkmip submodule
  .gitmodules
Owners: none

kmip: Move kmip_host to use (mainly) std::string
  ent/encryption/kmip_host.cc
  ent/encryption/kmip_host.hh
Owners: none

Build and link against libkmip
  configure.py
  ent/encryption/CMakeLists.txt
  ent/encryption/kmip_host.cc
  ent/encryption/kmip_host.hh
  test/boost/encryption_at_rest_test.cc
Owners: none

kmip_host: Fix attribute string - use correct tag values
  ent/encryption/kmip_host.cc
Owners: none

docs: cql: add explicit explanation how mixing IFs works in LWT
  docs/cql/cql-extensions.md
  docs/kb/lwt-differences.rst
Owners: none

test: mark difference in handling IFs in LWT as scylla_only
  test/cqlpy/test_lwt.py
Owners: @nyh

doc: remove copyright from Cassandra Stress
  docs/operating-scylla/admin-tools/cassandra-stress.rst
Owners: none

doc: remove copyright from Cassandra Stress
  docs/operating-scylla/admin-tools/cassandra-stress.rst
Owners: none

test/boost/sstable_compressor_factory_test: define a test suite name
  test/boost/sstable_compressor_factory_test.cc
Owners: none

pgo: drop Java configuration
  pgo/pgo.py
Owners: none

test/cluster/test_read_repair.py: improve trace logging test (again)
  test/topology_custom/test_read_repair.py
Owners: none

docs: fix \t (tab) is not rendered correctly
  docs/_ext/utils.py
Owners: none

doc: update migration tools overview
  docs/using-scylla/mig-tool-review.rst
Owners: none
