Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

schema: speculative_retry: allow 0 and 100 PERCENTILE values
  schema/schema.cc
Owners: @tgrabiec

Trigger scylla-ci directly from PR instead of scylla-ci-route job
  .github/workflows/trigger_ci.yaml
Owners: none

test: cqlpy: add test for valid speculative_retry values
  test/cqlpy/test_alter_table.py
Owners: @nyh

docs: cql: ddl.rst: update speculative-retry-options
  docs/cql/ddl.rst
Owners: none

schema: speculative_retry: update exception type for sstring ops
  schema/schema.cc
Owners: @tgrabiec

test: cqlpy: add test case for non-numeric PERCENTILE value
  test/cqlpy/test_alter_table.py
Owners: @nyh

install-dependencies.sh: update node_exporter to 1.10.2
  install-dependencies.sh
  tools/toolchain/image
Owners: none

test/cqlpy: fix run script for materialized views on tablets
  test/cqlpy/run.py
Owners: @nyh

audit: write out to both table and syslog
  audit/CMakeLists.txt
  audit/audit.cc
  audit/audit.hh
  audit/audit_cf_storage_helper.cc
  audit/audit_composite_storage_helper.cc
  audit/audit_composite_storage_helper.hh
  audit/audit_syslog_storage_helper.cc
  configure.py
Owners: none

test: dtest: audit_test.py: group logs in dict per audit mode
  test/cluster/dtest/audit_test.py
Owners: none

test: dtest: audit_test.py: add AuditBackendComposite
  test/cluster/dtest/audit_test.py
Owners: none

fix(test): minor typo fix, removing redundant param from logging
  test/cluster/lwt/lwt_common.py
Owners: none

docs/alternator: fix small mistake in compatibility.md
  docs/alternator/compatibility.md
Owners: @annastuchlik, @tzach, @nyh

db/view/view_building_worker: don't organize staging sstables by last token
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
Owners: @nyh, @piodul

db/view_building_worker: fix indent
  db/view/view_building_worker.cc
Owners: @nyh, @piodul

db/view/view_building_worker: support sstables intra-node migration
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
Owners: @nyh, @piodul

service/storage_service: migrate staging sstables in view building worker during intra-node migration
  service/storage_service.cc
  test/cluster/test_view_building_coordinator.py
Owners: @tgrabiec, @asias

service/storage_proxy: send batches with CL=EACH_QUORUM
  db/batchlog_manager.cc
  service/storage_proxy.cc
Owners: @elcallio, @gleb-cloudius

service/storage_proxy: send batches with CL=EACH_QUORUM
  db/batchlog_manager.cc
  service/storage_proxy.cc
Owners: @elcallio, @gleb-cloudius

service/storage_proxy: send batches with CL=EACH_QUORUM
  db/batchlog_manager.cc
  service/storage_proxy.cc
Owners: @elcallio, @gleb-cloudius

service/storage_proxy: send batches with CL=EACH_QUORUM
  db/batchlog_manager.cc
  service/storage_proxy.cc
Owners: @elcallio, @gleb-cloudius

topology: Make removenode use left_token_ring state for global barrier
  docs/dev/topology-over-raft.md
  service/topology_coordinator.cc
Owners: none

docs/dev/service_levels: update docs to service levels on raft
  docs/dev/service_levels.md
Owners: none

db/view/view_building_task_mutation_builder: add helper method
  db/view/view_building_task_mutation_builder.cc
  db/view/view_building_task_mutation_builder.hh
Owners: @nyh, @piodul

db/system_keyspace: replace `make_view_building_task_mutation()` with mutation builder
  db/schema_tables.cc
  db/system_keyspace.cc
  db/system_keyspace.hh
  db/view/view_building_worker.cc
  service/migration_manager.cc
Owners: @tgrabiec, @nyh, @piodul

db/view/view_building_coordinator: decoroutinize some methods
  db/view/view_building_coordinator.cc
  db/view/view_building_coordinator.hh
Owners: @nyh, @piodul

db/system_keyspace: replace `make_remove_view_building_task_mutation()` with mutation builder
  db/schema_tables.cc
  db/system_keyspace.cc
  db/system_keyspace.hh
  db/view/view_building_coordinator.cc
  service/migration_manager.cc
Owners: @tgrabiec, @nyh, @piodul

db/system_keyspace: replace `make_update_view_building_task_state_mutation()` with mutation builder
  db/system_keyspace.cc
  db/system_keyspace.hh
  db/view/view_building_coordinator.cc
Owners: @nyh, @piodul

Trigger scylla-ci directly from PR instead of scylla-ci-route job
  .github/workflows/trigger_ci.yaml
Owners: none

test/alternator: reduce duplicated code
  test/alternator/test_metrics.py
  test/alternator/test_scan.py
  test/alternator/test_table.py
  test/alternator/test_ttl.py
  test/alternator/util.py
Owners: @nyh

Merge 'Alternator - add the ability to write, not just read, system tables' from Nadav Har'El
  alternator/executor.cc
  alternator/executor.hh
  db/config.cc
  db/config.hh
  docs/alternator/new-apis.md
  test/alternator/run
  test/alternator/test_cql_rbac.py
  test/alternator/test_system_tables.py
  test/alternator/util.py
  test/pylib/scylla_cluster.py
Owners: @nyh, @annastuchlik, @tzach

remove boost test
  test/boost/s3_test.cc
Owners: none

tools: dbuild: avoid `test -v` incompatibility with MacOS shell
  tools/toolchain/dbuild
Owners: none

service/qos: Do not crash Scylla if auth_integration absent
  docs/dev/service_levels.md
  service/qos/service_level_controller.cc
  service/qos/service_level_controller.hh
Owners: none

test: Fix keyspace in test_maintenance_mode.py
  test/cluster/test_maintenance_mode.py
Owners: none

test: Disable maintenance mode correctly in test_maintenance_mode.py
  test/cluster/test_maintenance_mode.py
Owners: none

Support primary_replica_only for native restore API
  api/api-doc/storage_service.json
  api/storage_service.cc
  sstables_loader.cc
  sstables_loader.hh
Owners: none

Enable scoped primary replica only streaming
  sstables_loader.cc
Owners: none

Improve choice distribution for primary replica
  alternator/ttl.cc
  locator/tablets.cc
  locator/tablets.hh
  service/storage_proxy.cc
  service/storage_service.cc
  service/topology_coordinator.cc
  sstables_loader.cc
Owners: @nyh, @gleb-cloudius, @tgrabiec, @asias

nodetool refresh: Enable scope={all,dc,rack} with primary_replica_only
  test/nodetool/test_refresh.py
  tools/scylla-nodetool.cc
Owners: @denesb
