Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

vector_store_client_test: Fix unreliable unavailable port tests
  test/boost/vector_store_client_test.cc
Owners: none

vector_store_client: Add support for multiple IPs in DNS responses
  test/boost/vector_store_client_test.cc
  vector_search/dns.cc
  vector_search/dns.hh
  vector_search/vector_store_client.cc
  vector_search/vector_store_client.hh
Owners: none

vector_store_client_test: Ensure cleanup on exception
  test/boost/vector_store_client_test.cc
Owners: none

vector_store_client: Format with clang-format
  vector_search/vector_store_client.cc
Owners: none

vector_store_client_test: Extract `make_vs_server` helper function
  test/boost/vector_store_client_test.cc
Owners: none

vector_store_client: Rename HTTP_REQUEST_RETRIES to ANN_RETRIES
  test/boost/vector_store_client_test.cc
  vector_search/vector_store_client.cc
  vector_search/vector_store_client.hh
Owners: none

treewide: move away from accessing httpd::request::query_parameters
  api/column_family.cc
  api/raft.cc
  api/storage_service.cc
  api/task_manager.cc
  api/task_manager_test.cc
  test/boost/aws_error_injection_test.cc
  test/boost/encryption_at_rest_test.cc
  tools/scylla-nodetool.cc
  utils/s3/client.cc
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.cc
Owners: @denesb

test/pylib/s3_server_mock.py: better handle empty query params
  test/pylib/s3_server_mock.py
Owners: none

test_out_of_space_prevention.py: Fix flaky test_node_restart_while_tablet_split test
  test/storage/test_out_of_space_prevention.py
Owners: none

build: drop -fvisibility=hidden compiler flag
  configure.py
Owners: none

compaction: remove using namespace {compaction,sstables}
  api/api.cc
  api/column_family.cc
  api/storage_service.cc
  api/tasks.cc
  compaction/compaction.hh
  compaction/compaction_strategy.cc
  compaction/incremental_backlog_tracker.cc
  compaction/incremental_backlog_tracker.hh
  compaction/incremental_compaction_strategy.cc
  replica/compaction_group.hh
  replica/database.cc
  replica/database.hh
  replica/distributed_loader.cc
  replica/table.cc
  service/storage_service.cc
  test/boost/compaction_group_test.cc
  test/boost/cql_query_test.cc
  test/boost/incremental_compaction_test.cc
  test/boost/mutation_test.cc
  test/boost/sstable_3_x_test.cc
  test/boost/sstable_compaction_test.cc
  test/boost/sstable_resharding_test.cc
  test/lib/cql_test_env.cc
  test/lib/sstable_run_based_compaction_strategy_for_tests.cc
  test/lib/sstable_run_based_compaction_strategy_for_tests.hh
  test/lib/sstable_utils.cc
  test/lib/sstable_utils.hh
  test/lib/test_services.cc
  test/perf/perf_sstable.hh
  tools/scylla-sstable.cc
Owners: @raphaelsc, @tgrabiec, @asias, @denesb

test: deflake driver reconnections in the recovery procedure tests
  test/cluster/test_raft_recovery_during_join.py
  test/cluster/test_raft_recovery_entry_loss.py
  test/cluster/test_raft_recovery_user_data.py
Owners: none

test.py: adjust framework verbosity default settings
  test.py
Owners: none

build: suppress linker pgo hash mismatch warnings
  cmake/mode.RelWithDebInfo.cmake
  configure.py
Owners: none

mutation/mutation_compactor: add tombstone_gc_enabled parameter
  multishard_mutation_query.cc
  multishard_mutation_query.hh
  mutation/mutation_compactor.hh
  querier.hh
  replica/database.cc
  replica/database.hh
  replica/query.hh
  replica/table.cc
  test/boost/mutation_test.cc
Owners: @tgrabiec, @denesb

replica/mutation_dump: multi_range_partition_generator: disable garbage-collection
  replica/mutation_dump.cc
  test/cqlpy/test_select_from_mutation_fragments.py
Owners: @tgrabiec, @nyh

test: cluster: test replica exceptions - test rate limit exceptions
  service/storage_proxy.cc
  test/cluster/test_replica_exceptions.py
Owners: @gleb-cloudius

database: parameterize apply_counter_update_delay_5s injector value
  replica/database.cc
  test/cqlpy/rest_api.py
  test/cqlpy/test_counter.py
Owners: @nyh

compressor: Validate presence of sstable_compression in parameters
  sstables/compressor.cc
Owners: @tgrabiec, @raphaelsc

db/config: Prepare compression_parameters for config system
  db/config.cc
  sstables/compressor.cc
  sstables/compressor.hh
Owners: @tgrabiec, @raphaelsc

test: cluster: test replica counter update timeout
  replica/database.cc
  test/cluster/test_replica_exceptions.py
Owners: none

test: cluster: test replica write timeout
  replica/database.cc
  test/cluster/test_replica_exceptions.py
Owners: none

raft: refactor can_vote logic and type
  idl/raft_storage.idl.hh
  raft/raft.hh
  raft/tracker.hh
  service/raft/group0_voter_calculator.hh
  service/raft/group0_voter_handler.cc
  service/raft/raft_group0.cc
  service/raft/raft_group0.hh
  service/raft/raft_sys_table_storage.cc
  service/storage_service.cc
  service/topology_coordinator.cc
  test/boost/group0_voter_calculator_test.cc
  test/raft/etcd_test.cc
  test/raft/fsm_test.cc
  test/raft/helpers.cc
  test/raft/raft_sys_table_storage_test.cc
  test/raft/randomized_nemesis_test.cc
  test/raft/replication.hh
  test/raft/replication_test.cc
  types/types.hh
Owners: @kbr-scylla, @gleb-cloudius, @kostja, @tgrabiec, @asias

interval: split interval_bound implementation for const references
  utils/interval.hh
Owners: none

storage_service: change node_ops_info::ignore_nodes to host id
  node_ops/node_ops_ctl.hh
  repair/repair.cc
  service/storage_service.cc
Owners: @tgrabiec, @asias

storage_service: Calculate tokens on stack
  service/storage_service.cc
Owners: @tgrabiec, @asias

storage_service,api: Get e.r.m. inside get_range_to_address_map()
  api/storage_service.cc
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

storage_service: Get tablet tokens if e.r.m. is per-table
  service/storage_service.cc
Owners: @tgrabiec, @asias

api: Indentation fix after previous patches
  api/storage_service.cc
Owners: none

test,lib: Add range_to_endpoint_map() method to rest client
  test/pylib/rest_client.py
Owners: none

alternator: Correct RCU undercount in BatchGetItem
  alternator/executor.cc
  alternator/executor.hh
  test/alternator/test_returnconsumedcapacity.py
Owners: @nyh

alternator/test: Add more context to test_metrics.py asserts
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Add GetItem response size metrics
  alternator/executor.cc
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Add BatchGetItem response size metrics
  alternator/executor.cc
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Add UpdateItem and BatchWriteItem response size metrics
  alternator/executor.cc
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Add PutItem and DeleteItem response size metrics
  alternator/executor.cc
  alternator/rmw_operation.hh
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

load_balancer: fix std::out_of_bounds when decommissioning with empty nodes
  locator/load_sketch.hh
  test/boost/tablets_test.cc
Owners: none

configure.py: fix passing of user linker flags to cmake
  configure.py
Owners: none

configure.py: fix concatenation of user linker flags
  configure.py
Owners: none

cmake: link vector_search library to cql3 library
  cql3/CMakeLists.txt
Owners: @tgrabiec, @nuivall, @ptrsmrn
