Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

scylla-gdb: add `scylla prepared-statements`
  scylla-gdb.py
  test/scylla_gdb/test_misc.py
Owners: none

s3: Add metrics to show S3 prefetch bytes
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

topology_coordinator: consistently rethrow `raft::request_aborted` for direct/global commands
  service/topology_coordinator.cc
Owners: none

compaction: Use function when filtering compaction tasks for stopping
  api/compaction_manager.cc
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
Owners: @raphaelsc

db/view/view_building_worker: split batch's data preparation and execution
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
Owners: @nyh, @piodul

db/view/view_building_worker: move try-catch outside `invoke_on()`
  db/view/view_building_worker.cc
Owners: @nyh, @piodul

topology_coordinator: abort view building a bit later in case of tablet migration
  service/topology_coordinator.cc
Owners: none

range_streamer: Add custom progress updater support to stream_async
  dht/range_streamer.cc
  dht/range_streamer.hh
Owners: none

storage_proxy: send hints to pending replicas
  db/hints/internal/hint_sender.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
  service/storage_service.cc
  test/topology_custom/test_hints.py
Owners: @gleb-cloudius, @tgrabiec, @asias

sstables: scylla_metadata: add schema member
  sstables/sstables.cc
  sstables/types.hh
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

tools/schema_loader: extract code which load schema from statistics
  tools/schema_loader.cc
Owners: @denesb

tools/schema_loader: add support for loading from scylla-metadata
  tools/schema_loader.cc
Owners: @denesb

test/lib/random_schema: add random_schema(schema_ptr) constructor
  test/lib/random_schema.hh
Owners: none

test/boost/schema_loader_test: add specific test with interesting types
  test/boost/schema_loader_test.cc
Owners: @tgrabiec

test/boost/schema_loader_test: test_load_schema_from_sstable: add fall-back test
  test/boost/schema_loader_test.cc
Owners: @tgrabiec

repair: Introduce fast_stream for bootstrap and decommission with RBNO
  db/config.cc
  db/config.hh
  main.cc
  repair/repair.cc
  repair/row_level.cc
  repair/row_level.hh
Owners: @tgrabiec, @asias

tools/scylla-sstable: remove writetime-histogram command
  docs/operating-scylla/admin-tools/scylla-sstable.rst
  tools/scylla-sstable.cc
Owners: @denesb

test/pylib/rest_client: allow to force tablet migration
  test/pylib/rest_client.py
Owners: none

test/test_view_building_coordinator: add reproducer
  test/cluster/test_view_building_coordinator.py
Owners: none

utils: stall_free: clear_gently: release wrapped objects
  test/boost/stall_free_test.cc
  utils/stall_free.hh
Owners: none

sstables/mx/writer: detect empty sstable at the end of stream
  sstables/mx/writer.cc
Owners: none

compaction: handle empty output sstables
  compaction/compaction.cc
Owners: @raphaelsc

scrub: skip sstable on malformed sstable exception in skip mode
  compaction/compaction.cc
Owners: @raphaelsc

sstable_compaction_test: add scrub tests for malformed SSTables
  test/boost/sstable_compaction_test.cc
Owners: none

replica/table: handle empty sstables after flush
  replica/table.cc
Owners: none

tools/scylla-sstable: prepare for extracting json_mutation_stream_parser
  tools/scylla-sstable.cc
Owners: @denesb

tools/scylla-sstable: fix indentation
  tools/scylla-sstable.cc
Owners: @denesb

tools: extract json_mtuation_stream_parser to its own hh,cc files
  configure.py
  tools/json_mutation_stream_parser.cc
  tools/json_mutation_stream_parser.hh
  tools/scylla-sstable.cc
Owners: @denesb

rest_client: set `version` on http::request to avoid invalid state
  configure.py
  test/boost/CMakeLists.txt
  test/boost/rest_client_test.cc
  utils/rest/client.cc
Owners: none

raft_topology: Modify the conditional logic in remove node operation to enhance concurrency for raft enabled clusters.
  service/storage_service.cc
  service/storage_service.hh
  test/cluster/test_topology_remove_decom.py
Owners: @tgrabiec, @asias

alternator/expressions.g: Fix antlr3 missing token leak
  alternator/expressions.g
  test/boost/alternator_unit_test.cc
Owners: @nyh

sstables/bti_index: improve signatures of special member functions in index writers
  sstables/trie/bti_index.hh
  sstables/trie/bti_partition_index_writer.cc
  sstables/trie/bti_row_index_writer.cc
Owners: none

sstables/trie/bti_index_reader: in last_block_offset(), return offset from the beginning of partition, not file
  sstables/abstract_index_reader.hh
  sstables/trie/bti_index_reader.cc
  test/boost/bti_index_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh, @piodul

sstables/trie: support reader_permit and trace_state properly
  sstables/trie/bti_index.hh
  sstables/trie/bti_index_internal.hh
  sstables/trie/bti_index_reader.cc
  sstables/trie/bti_node_reader.cc
  sstables/trie/bti_node_reader.hh
  sstables/trie/node_reader.hh
  sstables/trie/trie_traversal.hh
  test/boost/bti_index_test.cc
  test/boost/trie_traversal_test.cc
  test/manual/bti_cassandra_compatibility_test.cc
  utils/cached_file.hh
Owners: @nyh, @piodul

sstables/mx/writer: rename _pi_write_m.tomb to partition_tombstone
  sstables/mx/writer.cc
Owners: none

streaming/stream_transfer_task: coroutinize `estimate_partitions()`
  streaming/stream_transfer_task.cc
Owners: @tgrabiec, @asias

sstables: remove an outdated FIXME
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc

sstables/trie: change the signature of bti_partition_index_writer::finish
  sstables/trie/bti_index.hh
  sstables/trie/bti_partition_index_writer.cc
  test/boost/bti_index_test.cc
  test/manual/bti_cassandra_compatibility_test.cc
Owners: @nyh, @piodul

storage_service: delete `get_splits()`
  service/storage_service.cc
  service/storage_service.hh
  sstables/sstables.cc
  sstables/sstables.hh
Owners: @tgrabiec, @asias, @raphaelsc

test/boost/bti_index_test: use read_bti_partitions_db_footer where appropriate
  test/boost/bti_index_test.cc
Owners: @nyh, @piodul
