Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

test: tablets: Adjust to rack list
  test/boost/tablets_test.cc
Owners: none

topology_coordinator: Cancel keyspace alter on broader set of errors
  service/topology_coordinator.cc
Owners: none

topology_coordinator: Make keyspace alter process options through as_ks_metadata_update()
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/ks_prop_defs.cc
  service/topology_coordinator.cc
Owners: none

test: Create cluster with multiple racks in multi-dc setups
  test/cluster/dtest/ccmlib/scylla_cluster.py
  test/cluster/test_alternator.py
  test/cluster/test_group0_schema_versioning.py
Owners: none

test: cql_query_test: Disable rf_rack_valid_keyspaces where needed
  test/boost/cql_query_test.cc
Owners: none

alternator: Use rack-list based RF when rf-rack-valid keyspaces are forced
  alternator/executor.cc
Owners: @nyh

cql3: ks_prop_defs: Introduce flattened()
  cql3/statements/ks_prop_defs.cc
  cql3/statements/ks_prop_defs.hh
Owners: none

test: Switch to rack-list based RF
  test/cluster/test_tablets.py
  test/cluster/test_tablets_cql.py
  test/cluster/util.py
Owners: none

test: cluster: dtest: alternator: Force RF=1 in test_putitem_contention
  test/cluster/dtest/alternator_tests.py
Owners: none

cql3: ks_prop_defs: Preserve old options
  cql3/statements/ks_prop_defs.cc
Owners: none

test: Prepare for handling errors specific to rack list path
  test/cluster/test_multidc.py
  test/cqlpy/cassandra_tests/validation/operations/alter_test.py
  test/cqlpy/test_keyspace.py
Owners: @nyh

topology_coordinator: Restore formatting
  service/topology_coordinator.cc
Owners: none

test: cluster: test_zero_token_nodes_multidc: Adjust to rack list RF
  test/cluster/test_zero_token_nodes_multidc.py
Owners: none

dist: scylla_raid_setup: don't override XFS block size on modern kernels
  dist/common/scripts/scylla_raid_setup
Owners: none

tools/scylla-sstable: fix doc links
  tools/scylla-sstable.cc
Owners: @denesb

cmake: link `vector_search` to `test-lib` instead of `cql3`
  cql3/CMakeLists.txt
  test/lib/CMakeLists.txt
Owners: @tgrabiec, @nuivall, @ptrsmrn

test_tablets_merge: test_tablet_split_merge_with_many_tables: reduce number of tables in debug mode
  test/topology_custom/test_tablets_merge.py
Owners: none

test_tablets_merge: test_tablet_split_merge_with_many_tables: reduce number of tables in debug mode
  test/cluster/test_tablets_merge.py
Owners: none

test_tablets_merge: test_tablet_split_merge_with_many_tables: reduce number of tables in debug mode
  test/cluster/test_tablets_merge.py
Owners: none

cql_test_env.cc: log exception when callback throws
  test/lib/cql_test_env.cc
Owners: none

tools/scylla-sstable: default to "preferred" sstable version, not "highest"
  tools/scylla-sstable.cc
Owners: @denesb

test/boost/sstable_datafile_test: prepare for `ms` sstables
  test/boost/sstable_datafile_test.cc
Owners: none

test/boost/sstable_test: prepare for `ms` sstables.
  test/boost/sstable_test.cc
Owners: none

sstables: introduce `ms` sstable format version
  api/api-doc/storage_service.json
  docs/architecture/sstable/_common/sstable_what_is.rst
  docs/architecture/sstable/sstable3/sstables-3-data-file-format.rst
  docs/dev/sstables-directory-structure.md
  scylla-gdb.py
  sstables/sstable_version.cc
  sstables/sstable_version_m.hh
  sstables/sstables.cc
  sstables/types.hh
  sstables/version.hh
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

test/cqlpy/test_sstable_validation.py: prepare the test for `ms` sstables
  test/cqlpy/test_sstable_validation.py
Owners: @nyh

test: in Python tests, prepare some sstable filename regexes for `ms`
  test/cluster/test_tablets.py
  test/cqlpy/test_tools.py
Owners: @nyh

test/boost/sstable_compaction_test: prepare for `ms` sstables.
  test/boost/sstable_compaction_test.cc
Owners: none

sstables/trie/bti_index_reader: add a failure injection in advance_lower_and_check_if_present
  sstables/trie/bti_index_reader.cc
Owners: none

test/boost/index_reader_test: prepare for `ms` sstables
  test/boost/index_reader_test.cc
Owners: @nyh, @piodul

test/lib/index_reader_assertions: skip some row index checks for BTI indexes
  test/lib/index_reader_assertions.hh
Owners: none

test: prepare bypass_cache_test.py for `ms` sstables
  test/cluster/dtest/bypass_cache_test.py
  test/cluster/dtest/dtest_class.py
Owners: none

test/boost/sstable_3_x_test: add `ms` sstables to multi-version tests
  test/boost/sstable_3_x_test.cc
Owners: none

test/boost/bloom_filter_tests: prepare for `ms` sstables
  test/boost/bloom_filter_test.cc
Owners: none

tools/scylla-sstable: add `--sstable-version=?` to `scylla sstable write`
  tools/scylla-sstable.cc
Owners: @denesb

test/cluster: add test_bti_index.py
  test/cluster/test_bti_index.py
Owners: none

test/boost/sstable_inexact_index_test: explicitly use a `me` sstable
  test/boost/sstable_inexact_index_test.cc
Owners: @nyh, @piodul

db/config: expose "ms" format to the users via database config
  db/config.cc
  gms/feature_service.hh
  init.cc
  sstables/sstables_manager.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @asias, @kbr-scylla, @raphaelsc, @denesb

test/boost/sstable_datafile_test: skip test_broken_promoted_index_is_skipped for `ms` sstables
  test/boost/sstable_datafile_test.cc
Owners: none

sstables: add `ms` to `all_sstable_versions`
  sstables/version.hh
  test/boost/schema_changes_test.cc
  test/boost/sstable_conforms_to_mutation_source_test.cc
Owners: @tgrabiec, @raphaelsc

test/boost/bloom_filter_test: add test_rebuild_from_temporary_hashes
  test/boost/bloom_filter_test.cc
Owners: none
