Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

cql3: statement_restrictions: forbid querying a single-column inequality restriction on a multi-column restriction
  cql3/restrictions/statement_restrictions.cc
Owners: none

cql3: Fix crash on ANN OF query when TRACING ON is enabled
  cql3/statements/select_statement.cc
  test/cqlpy/test_vector_index.py
Owners: @nyh

vector_store_client: add timeouts to tests
  test/boost/vector_store_client_test.cc
Owners: none

streaming/stream_blob: register staging sstables to process them
  streaming/stream_blob.cc
  streaming/stream_blob.hh
  streaming/stream_session.cc
Owners: @tgrabiec, @asias

test.py: modify run to use different junit output filenames
  test/scylla_gdb/run
Owners: none

test/gossiper: add reproducible test for race condition during node decommission
  gms/gossiper.cc
  test/cluster/test_gossiper_race.py
Owners: @tgrabiec, @asias, @kbr-scylla

test/gossiper: add reproducible test for race condition during node decommission
  gms/gossiper.cc
  test/cluster/test_gossiper_race.py
Owners: @tgrabiec, @asias, @kbr-scylla

utils::http: Make shared system trust certificates public
  utils/http.cc
  utils/http.hh
Owners: none

utils::rest::client: Add helper routines for simple REST calls
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

utils::rest: Break out request wrapper and send logic
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

utils::gcp: Move/add gcp credentials management to shared file
  configure.py
  utils/CMakeLists.txt
  utils/gcp/gcp_credentials.cc
  utils/gcp/gcp_credentials.hh
Owners: none

utils::gcp::object_storage: Add client for GCP object storage
  configure.py
  utils/CMakeLists.txt
  utils/gcp/object_storage.cc
  utils/gcp/object_storage.hh
Owners: none

proc-utils: Re-export waiting types from seastar
  test/lib/proc_utils.hh
Owners: none

proc-utils: Inherit environment from current process
  test/lib/proc_utils.cc
  test/lib/proc_utils.hh
Owners: none

utils::http: Add optional external credentials to dns_connection_factory init
  utils/http.cc
  utils/http.hh
Owners: none

utils::rest::client: Add formatter for seastar::http::reply
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

encryption::gcp_host: Use shared gcp credentials + REST helpers
  ent/encryption/gcp_host.cc
Owners: none

test::boost::gcp_object_storage_test: Initial unit tests for GCP obj storage
  configure.py
  test/boost/CMakeLists.txt
  test/boost/gcp_object_storage_test.cc
  test/boost/test_config.yaml
Owners: none

commitlog: Ensure segment deletion is re-entrant
  db/commitlog/commitlog.cc
  test/boost/commitlog_test.cc
Owners: @elcallio, @eliransin

truncate: check for closed storage group's gate in discard_sstables
  replica/table.cc
Owners: none

truncate: check for closed storage group's gate in discard_sstables
  replica/table.cc
Owners: none

test: reproducer and test for drop with concurrent cleanup
  replica/table.cc
  test/cluster/test_tablets.py
Owners: none

truncate: check for closed storage group's gate in discard_sstables
  replica/table.cc
Owners: none

test: reproducer and test for drop with concurrent cleanup
  replica/table.cc
  test/cluster/test_tablets.py
Owners: none

tools/scylla-sstable: write: move to UUID generation
  test/cqlpy/test_sstable_validation.py
  test/cqlpy/test_tools.py
  tools/scylla-sstable.cc
Owners: @nyh, @denesb

test/gossiper: add reproducible test for race condition during node decommission
  gms/gossiper.cc
  test/cluster/test_gossiper_race.py
Owners: @tgrabiec, @asias, @kbr-scylla

gossiper: check for a race condition in `do_apply_state_locally`
  gms/gossiper.cc
  test/cluster/test_gossiper_race.py
Owners: @tgrabiec, @asias, @kbr-scylla

test/test_view_building_coordinator: add reproducer
  test/cluster/test_view_building_coordinator.py
Owners: none

test/gossiper: add reproducible test for race condition during node decommission
  gms/gossiper.cc
  test/topology_custom/test_gossiper_race.py
Owners: @tgrabiec, @asias, @kbr-scylla

docs: repair: Add mention about repair after restart
  docs/operating-scylla/procedures/maintenance/repair.rst
Owners: none

utils::rest::client: Add formatter for seastar::http::reply
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

utils::http: Make shared system trust certificates public
  utils/http.cc
  utils/http.hh
Owners: none

utils::gcp: Move/add gcp credentials management to shared file
  configure.py
  utils/CMakeLists.txt
  utils/gcp/gcp_credentials.cc
  utils/gcp/gcp_credentials.hh
Owners: none

utils::rest::client: Add helper routines for simple REST calls
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

test::boost::gcp_object_storage_test: Initial unit tests for GCP obj storage
  configure.py
  test/boost/CMakeLists.txt
  test/boost/gcp_object_storage_test.cc
  test/boost/test_config.yaml
Owners: none

utils::gcp::object_storage: Add client for GCP object storage
  configure.py
  utils/CMakeLists.txt
  utils/gcp/object_storage.cc
  utils/gcp/object_storage.hh
Owners: none

proc-utils: Inherit environment from current process
  test/lib/proc_utils.cc
  test/lib/proc_utils.hh
Owners: none

encryption::gcp_host: Use shared gcp credentials + REST helpers
  ent/encryption/gcp_host.cc
Owners: none

utils::rest: Break out request wrapper and send logic
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

proc-utils: Re-export waiting types from seastar
  test/lib/proc_utils.hh
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
