Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

cdc: co-locate cdc table with base
  replica/database.cc
Owners: none

cdc: remove streams when dropping CDC table
  cdc/generation.cc
  cdc/generation.hh
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

cdc: load tablet streams metadata from tables
  cdc/generation.cc
  cdc/generation_service.hh
  cdc/metadata.cc
  cdc/metadata.hh
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/raft/group0_state_machine.cc
  service/storage_service.cc
  service/storage_service.hh
  test/boost/cdc_test.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec, @asias

cdc: choose stream in tablets enabled keyspaces
  cdc/log.cc
  cdc/metadata.cc
  cdc/metadata.hh
Owners: @kbr-scylla, @elcallio, @piodul

test/cql: enable cql cdc tests to run with tablets
  test/cql/cdc_allow_dropping_manually_created_log_test.cql
  test/cql/cdc_allow_dropping_manually_created_log_test.result
  test/cql/cdc_compact_storage_test.cql
  test/cql/cdc_compact_storage_test.result
  test/cql/cdc_delta_modes_test.cql
  test/cql/cdc_delta_modes_test.result
  test/cql/cdc_disallow_cdc_for_counters_test.cql
  test/cql/cdc_disallow_cdc_for_counters_test.result
  test/cql/cdc_disallow_materialized_view_for_cdc_log_test.cql
  test/cql/cdc_disallow_materialized_view_for_cdc_log_test.result
  test/cql/cdc_disallow_nested_cdc_logs_test.cql
  test/cql/cdc_disallow_nested_cdc_logs_test.result
  test/cql/cdc_enable_disable_test.cql
  test/cql/cdc_enable_disable_test.result
  test/cql/cdc_static_and_clustered_rows_test.cql
  test/cql/cdc_static_and_clustered_rows_test.result
  test/cql/cdc_too_short_stream_id_test.cql
  test/cql/cdc_too_short_stream_id_test.result
  test/cql/cdc_with_lwt_test.cql
  test/cql/cdc_with_lwt_test.result
Owners: @kbr-scylla, @elcallio, @piodul

cdc: enable cdc with tablets
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

topology coordinator: change streams on tablet split/merge
  cdc/generation.cc
  cdc/generation_service.hh
  service/topology_coordinator.cc
Owners: @kbr-scylla, @elcallio, @piodul

cdc: virtual tables for cdc with tablets
  cdc/metadata.hh
  db/virtual_tables.cc
  service/storage_service.cc
  service/storage_service.hh
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec, @asias

cdc: generate_stream_diff helper function
  cdc/metadata.cc
  cdc/metadata.hh
  test/boost/cdc_test.cc
Owners: @kbr-scylla, @elcallio, @piodul

topology coordinator: pass cdc_gens to topology coordinator
  service/storage_service.cc
  service/topology_coordinator.cc
  service/topology_coordinator.hh
Owners: @tgrabiec, @asias

topology coordinator: extend raft command result
  service/topology_coordinator.cc
Owners: none

doc: update CDC docs for tablets
  docs/architecture/tablets.rst
  docs/features/cdc/cdc-log-table.rst
  docs/features/cdc/cdc-querying-streams.rst
  docs/features/cdc/cdc-stream-changes.rst
  docs/features/cdc/cdc-streams.rst
  docs/features/cdc/index.rst
Owners: none

topology coordinator: states for commit and close cdc streams
  cdc/generation.cc
  cdc/generation_service.hh
  cdc/log.cc
  cdc/metadata.cc
  cdc/metadata.hh
  idl/storage_service.idl.hh
  service/storage_service.cc
  service/topology_coordinator.cc
  service/topology_state_machine.cc
  service/topology_state_machine.hh
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec, @asias

test/cluster/test_cdc_with_tablets: introduce cdc with tablets tests
  test/cluster/test_cdc_with_tablets.py
Owners: none

cdc: double write to the pending stream
  cdc/log.cc
  cdc/metadata.cc
  cdc/metadata.hh
Owners: @kbr-scylla, @elcallio, @piodul

cdc: helper functions to generate cdc streams mutations
  cdc/generation.cc
  cdc/generation.hh
Owners: @kbr-scylla, @elcallio, @piodul

test/cqlpy: fix cdc tests with tablets
  test/boost/cdc_test.cc
  test/cql/cdc_too_short_stream_id_test.result
  test/cqlpy/test_cdc.py
  test/cqlpy/test_describe.py
  test/cqlpy/test_permissions.py
Owners: @kbr-scylla, @elcallio, @piodul, @nyh

cdc: cleanup of old streams for tablets
  cdc/generation.cc
  cdc/generation.hh
  cdc/generation_service.hh
  service/topology_coordinator.cc
  test/boost/cdc_test.cc
Owners: @kbr-scylla, @elcallio, @piodul

cdc: add range_end clustering column
  cdc/generation.cc
  cdc/metadata.cc
  db/system_keyspace.cc
Owners: @kbr-scylla, @elcallio, @piodul

retry_strategy: rename class to default_aws_retry_strategy
  configure.py
  utils/CMakeLists.txt
  utils/s3/client.cc
  utils/s3/client.hh
  utils/s3/credentials_providers/instance_profile_credentials_provider.hh
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.hh
  utils/s3/default_aws_retry_strategy.cc
  utils/s3/default_aws_retry_strategy.hh
  utils/s3/retryable_http_client.cc
  utils/s3/retryable_http_client.hh
  utils/s3/s3_retry_strategy.cc
  utils/s3/s3_retry_strategy.hh
Owners: none

api: unregister raft_topology_get_cmd_status on shutdown
  api/storage_service.cc
Owners: none

api: unregister raft_topology_get_cmd_status on shutdown
  api/storage_service.cc
Owners: none

api: unregister raft_topology_get_cmd_status on shutdown
  api/storage_service.cc
Owners: none

repair: Speed up ranges calculation when small table optimization is on
  repair/repair.cc
Owners: @tgrabiec, @asias

auth: check password hashing scheme support on authenticator start
  auth/password_authenticator.cc
Owners: @nuivall, @ptrsmrn

auth: make sha-512 the only supported password hashing scheme
  auth/passwords.cc
Owners: @nuivall, @ptrsmrn

auth: refactor password checking in password_authenticator
  auth/password_authenticator.cc
Owners: @nuivall, @ptrsmrn

auth: move passwords::check call to alien thread
  auth/allow_all_authenticator.cc
  auth/allow_all_authenticator.hh
  auth/certificate_authenticator.cc
  auth/certificate_authenticator.hh
  auth/password_authenticator.cc
  auth/password_authenticator.hh
  auth/saslauthd_authenticator.cc
  auth/saslauthd_authenticator.hh
  auth/service.cc
  auth/service.hh
  auth/transitional.cc
  main.cc
  test/lib/cql_test_env.cc
Owners: @nuivall, @ptrsmrn

main: utils: add thread names to alien workers
  main.cc
  test/lib/cql_test_env.cc
  utils/alien_worker.cc
  utils/alien_worker.hh
Owners: none

cql/Cql.g: extend the grammar to allow for `ANN OF` queries
  cql3/Cql.g
Owners: @tgrabiec, @nuivall, @ptrsmrn

cassandra_tests: copy vector_invalid_query_test from Cassandra
  test/cqlpy/cassandra_tests/vector_invalid_query_test.py
Owners: none

cassandra_tests: translate vector_invalid_query_test
  test/cqlpy/cassandra_tests/vector_invalid_query_test.py
Owners: none

cql3/raw: add ANN ordering to the raw statement layer
  cql3/statements/create_view_statement.cc
  cql3/statements/raw/select_statement.hh
Owners: @nyh, @piodul

cql3/statements: add logic regarding `ANN OF` queries to select statements
  cql3/statements/raw/select_statement.hh
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
Owners: none

cql3/statements: implement external `ANN OF` queries
  cql3/statements/select_statement.cc
Owners: none

Revert "paxos_state: read repair for intranode_migration"
  service/paxos/paxos_state.cc
  service/paxos/paxos_state.hh
  service/paxos/proposal.hh
Owners: none

getendpoints: Fix nodetool getendpoints for compound keys containing ':'
  api/api-doc/storage_service.json
  api/storage_service.cc
  keys.cc
  keys.hh
  service/storage_service.cc
  service/storage_service.hh
  test/boost/keys_test.cc
  test/nodetool/test_getendpoints.py
  test/rest_api/test_storage_service.py
  tools/scylla-nodetool.cc
Owners: @tgrabiec, @asias, @denesb

paxos_store: coroutinize
  service/paxos/paxos_state.cc
  service/paxos/paxos_state.hh
Owners: none

paxos_state: extract state access functions into paxos_store
  main.cc
  service/paxos/paxos_state.cc
  service/paxos/paxos_state.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
  test/lib/cql_test_env.cc
Owners: @gleb-cloudius

paxos_store: use non-internal queries
  service/paxos/paxos_state.cc
  service/paxos/paxos_state.hh
Owners: none
