Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

utils::gcp::object_storage: Add optional abort_source
  utils/gcp/object_storage.cc
  utils/gcp/object_storage.hh
Owners: none

storage_options: Abstract s3 to "object_storage" and add gs as option
  data_dictionary/data_dictionary.cc
  data_dictionary/storage_options.hh
  sstables/sstable_directory.cc
  tools/scylla-sstable.cc
  utils/s3/utils/manip_s3.cc
  utils/s3/utils/manip_s3.hh
Owners: @tgrabiec, @raphaelsc, @denesb

sstables::object_storage_client: Add abstraction layer for OS cliens (s3 initial)
  configure.py
  sstables/CMakeLists.txt
  sstables/object_storage_client.cc
  sstables/object_storage_client.hh
Owners: @tgrabiec, @raphaelsc

sstables: Use object_storage_client for remote storage
  db/snapshot/backup_task.cc
  db/snapshot/backup_task.hh
  main.cc
  replica/distributed_loader.cc
  sstables/sstable_directory.cc
  sstables/sstable_directory.hh
  sstables/sstables.hh
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  sstables/storage.cc
  test/lib/sstable_test_env.hh
  test/lib/test_services.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

utils::rest::client: Add abort_source support
  utils/rest/client.cc
  utils/rest/client.hh
Owners: none

s3::upload_progress: Promote to general util type
  utils/s3/client_fwd.hh
  utils/upload_progress.hh
Owners: none

sstables::file_io_extension: Change "creator" callback to just data_source
  ent/encryption/encryption.cc
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/storage.cc
  sstables/storage.hh
Owners: @tgrabiec, @raphaelsc

sstables::object_storage_client: Add google storage implementation
  sstables/object_storage_client.cc
  sstables/storage.cc
Owners: @tgrabiec, @raphaelsc

utils::gcp::object_storage: Make create_download_source return seekable_data_source
  utils/gcp/object_storage.cc
  utils/gcp/object_storage.hh
Owners: none

test_services: Allow testing with GS object storage parameters
  test/lib/test_services.cc
Owners: none

object_storage_client: Add object_name wrapper type
  db/snapshot/backup_task.cc
  sstables/object_storage_client.cc
  sstables/object_storage_client.hh
  sstables/storage.cc
Owners: @tgrabiec, @raphaelsc

utils::gcp::object_storage: Add timestamp to object listing
  utils/gcp/object_storage.cc
  utils/gcp/object_storage.hh
Owners: none

utils::gcp::object_storage: Add defensive copies of string_view params
  utils/gcp/object_storage.cc
Owners: none

utils::gcp::object_storage: Add paging support to list_objects
  utils/gcp/object_storage.cc
  utils/gcp/object_storage.hh
Owners: none

utils::gcp::gcp_credentials: Add option to create uninitialized credentials
  utils/gcp/gcp_credentials.cc
  utils/gcp/gcp_credentials.hh
Owners: none

utils::gcp::object_storage: Add missing retry backoff increate
  utils/gcp/object_storage.cc
Owners: none

test::cluster::conftest: Add support for multiple object storage backends
  test/cluster/object_store/conftest.py
Owners: none

tests::lib::test_utils: Add overloads/helpers for reading and (temp) writing env
  test/lib/test_utils.cc
  test/lib/test_utils.hh
Owners: none

tests::lib::gcs_fixture: Add a reusable test fixture for real/fake GS/GCS
  configure.py
  test/lib/CMakeLists.txt
  test/lib/gcs_fixture.cc
  test/lib/gcs_fixture.hh
Owners: none

test_backup/test_basic: Make tests multiplex both s3 and gs backends
  test/cluster/object_store/test_backup.py
  test/cluster/object_store/test_basic.py
Owners: none

tests::boost: Add GS object storage cases to mirror S3 ones
  test/boost/sstable_compaction_test.cc
  test/boost/sstable_datafile_test.cc
  test/boost/sstable_resharding_test.cc
  test/lib/test_services.cc
Owners: none

boost::gcs_storage_test: Convert to use fixture
  test/boost/gcp_object_storage_test.cc
Owners: none

build: drop -fvisibility=hidden compiler flag
  configure.py
Owners: none

tools: toolchain: add e2fsprogs, fuse3 to the dependencies
  install-dependencies.sh
  tools/toolchain/image
Owners: none

alternator: Don't emit a redundant REMOVE event in Alternator Streams for PutItem calls
  alternator/executor.cc
  test/alternator/test_streams.py
Owners: @nyh

schema: Use definition from the header instead of open-coding it
  cql3/statements/index_prop_defs.hh
  schema/schema.hh
Owners: @nyh, @piodul, @tgrabiec

locator: Add debug logging
  cql3/statements/ks_prop_defs.cc
  locator/network_topology_strategy.cc
Owners: none

cql3, locator: Use type aliases for option maps
  alternator/executor.cc
  audit/audit_cf_storage_helper.cc
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/ks_prop_defs.cc
  cql3/statements/ks_prop_defs.hh
  db/schema_tables.cc
  locator/abstract_replication_strategy.cc
  locator/abstract_replication_strategy.hh
  replica/database.cc
  table_helper.cc
  test/boost/network_topology_strategy_test.cc
  test/boost/tablets_test.cc
  tools/load_system_tablets.cc
  tools/schema_loader.cc
Owners: @nyh, @tgrabiec, @denesb

locator: Pass topology to replication strategy constructor
  alternator/executor.cc
  cdc/log.cc
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/create_keyspace_statement.cc
  data_dictionary/data_dictionary.cc
  locator/abstract_replication_strategy.cc
  locator/abstract_replication_strategy.hh
  locator/everywhere_replication_strategy.cc
  locator/everywhere_replication_strategy.hh
  locator/local_strategy.cc
  locator/local_strategy.hh
  locator/network_topology_strategy.cc
  locator/network_topology_strategy.hh
  locator/simple_strategy.cc
  locator/simple_strategy.hh
  replica/database.cc
  replica/database.hh
  service/tablet_allocator.cc
  service/topology_coordinator.cc
  test/boost/network_topology_strategy_test.cc
  test/boost/tablets_test.cc
  test/boost/token_metadata_test.cc
  tools/schema_loader.cc
Owners: @nyh, @kbr-scylla, @elcallio, @piodul, @denesb

locator: Abstract obtaining the number of replicas from replication_strategy_config_option
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/create_keyspace_statement.cc
  locator/abstract_replication_strategy.cc
  locator/abstract_replication_strategy.hh
  test/boost/network_topology_strategy_test.cc
  test/boost/tablets_test.cc
Owners: none

locator, cql3: Support rack lists in replication options
  cql3/Cql.g
  cql3/expr/expression.cc
  cql3/expr/expression.hh
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/cf_prop_defs.cc
  cql3/statements/ks_prop_defs.cc
  cql3/statements/property_definitions.cc
  cql3/statements/property_definitions.hh
  data_dictionary/data_dictionary.cc
  data_dictionary/storage_options.hh
  db/legacy_schema_migrator.cc
  db/schema_tables.cc
  docs/dev/system_schema_keyspace.md
  docs/dev/topology-over-raft.md
  gms/feature_service.hh
  locator/abstract_replication_strategy.cc
  locator/abstract_replication_strategy.hh
  locator/network_topology_strategy.cc
  locator/simple_strategy.cc
Owners: @tgrabiec, @nuivall, @ptrsmrn, @asias, @kbr-scylla

locator: Recognize rack list RF as valid in assert_rf_rack_valid_keyspace()
  locator/tablets.cc
Owners: none

cql3: Fail early on vnode/tablet flavor alter
  cql3/statements/ks_prop_defs.cc
Owners: none

tablet_allocator: Respect binding replicas to racks
  service/tablet_allocator.cc
Owners: none

locator: network_topology_strategy: Respect rack list when reallocating tablets
  locator/abstract_replication_strategy.cc
  locator/abstract_replication_strategy.hh
  locator/network_topology_strategy.cc
  locator/network_topology_strategy.hh
  locator/tablet_replication_strategy.hh
  test/boost/network_topology_strategy_test.cc
Owners: none

test: boost: network_topology_strategy_test: Adjust to rack-list RF
  test/boost/network_topology_strategy_test.cc
Owners: none

test: tablets: Add test for replica allocation on rack list changes
  test/boost/tablets_test.cc
Owners: none

cql3: Extract convert_property_map() out of Cql.g
  cql3/Cql.g
  cql3/expr/expression.cc
  cql3/expr/expression.hh
Owners: @tgrabiec, @nuivall, @ptrsmrn

cql3: ks_prop_defs: Fail with more information when options are not in expected format
  cql3/statements/ks_prop_defs.cc
Owners: none

test: tablets: Adjust to rack list
  test/boost/tablets_test.cc
Owners: none
