Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

replica/tablets: replace base_tables map with colocated_table_info
  replica/tablets.cc
Owners: none

tablets: write per-table mutations for colocated tables
  replica/tablets.cc
  replica/tablets.hh
  service/tablet_allocator.cc
Owners: none

tablets: resize tablets with per-table map
  locator/tablets.cc
  locator/tablets.hh
  service/tablet_allocator.cc
  service/tablet_allocator.hh
  service/topology_coordinator.cc
  test/boost/tablets_test.cc
Owners: none

topology_coordinator: use tablet_map_view to read repair fields
  service/topology_coordinator.cc
Owners: none

replica/table: use tablet_map_view to read repair fields
  replica/table.cc
Owners: none

storage_service: use tablet_map_view to read repair fields
  locator/tablet_metadata_guard.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias

task_manager_module: use tablet_map_view to read repair fields
  service/task_manager_module.cc
Owners: none

repair: use tablet_map_view to read repair fields
  repair/repair.cc
  repair/row_level.cc
Owners: @tgrabiec, @asias

topology_coordinator: repair single table in colocation group
  service/tablet_allocator.cc
  service/topology_coordinator.cc
Owners: none

task_manager_module: fix iterating over tasks
  service/task_manager_module.cc
  service/task_manager_module.hh
Owners: none

test_tablets_colocation: update repair colocated tables test
  test/cluster/test_tablets_colocation.py
Owners: none

tablet_allocator: use tablet_map_view to read repair fields
  locator/tablets.cc
  locator/tablets.hh
  service/tablet_allocator.cc
Owners: none

storage_service: remove repair colocated tablets rpc
  idl/storage_service.idl.hh
  message/messaging_service.cc
  message/messaging_service.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

tablets: remove repair info from shared tablet map
  locator/tablets.cc
  locator/tablets.hh
  replica/tablets.cc
  test/boost/tablets_test.cc
Owners: none

storage_service: allow repair request on colocated tables
  service/storage_service.cc
Owners: @tgrabiec, @asias

tablets: rename tablet_map to shared_tablet_map
  locator/tablets.cc
  locator/tablets.hh
  replica/tablets.cc
  replica/tablets.hh
  service/tablet_allocator.cc
  service/tablet_allocator.hh
Owners: none

tablets: switch tablet_map alias to tablet_map_view
  db/schema_tables.cc
  db/view/view_building_coordinator.cc
  db/view/view_building_coordinator.hh
  locator/load_sketch.hh
  locator/network_topology_strategy.cc
  locator/network_topology_strategy.hh
  locator/tablet_replication_strategy.hh
  locator/tablet_sharder.hh
  locator/tablets.cc
  locator/tablets.hh
  replica/database.hh
  replica/table.cc
  replica/tablets.cc
  service/mapreduce_service.cc
  service/migration_manager.cc
  service/storage_service.cc
  service/tablet_allocator.cc
  service/task_manager_module.cc
  service/topology_coordinator.cc
  sstables_loader.cc
  test/boost/locator_topology_test.cc
  test/boost/memtable_test.cc
  test/boost/network_topology_strategy_test.cc
  test/boost/sstable_set_test.cc
  test/boost/tablets_test.cc
  test/perf/perf_tablets.cc
  test/perf/tablet_load_balancing.cc
Owners: @tgrabiec, @nyh, @piodul, @asias

tablets: rename tablet_map_view to tablet_map
  locator/tablet_metadata_guard.hh
  locator/tablets.cc
  locator/tablets.hh
  repair/repair.cc
  repair/row_level.cc
  replica/table.cc
  replica/tablets.cc
  service/storage_service.cc
  service/tablet_allocator.cc
  service/task_manager_module.cc
  service/topology_coordinator.cc
Owners: @tgrabiec, @asias

tablet_metadata: remove get shared/per-table tablet map methods
  locator/tablets.cc
  locator/tablets.hh
  replica/tablets.cc
  service/topology_coordinator.cc
Owners: none

tablet_metadata: remove unused methods from shared_tablet_map
  locator/tablets.cc
  locator/tablets.hh
Owners: none

packaging: Add `adduser` as dependnacy
  dist/debian/control.template
  dist/redhat/scylla.spec
Owners: none

alternator: Switch to return-by-value in rmw_operation for WCUs
  alternator/executor.cc
Owners: @nyh

alternator/test: Add too large key test case for UpdateItem
  test/alternator/test_item.py
Owners: @nyh

compaction: handle exception in expected_total_workload
  compaction/task_manager_module.cc
Owners: @raphaelsc

alternator: Consider new item size in UpdateItem in RCU calculation
  alternator/consumed_capacity.hh
  alternator/executor.cc
  alternator/rmw_operation.hh
  test/alternator/test_returnconsumedcapacity.py
Owners: @nyh

alternator: Split `update_item_operation::apply` into smaller methods
  alternator/executor.cc
Owners: @nyh

test(lwt): this commit introduces new LWT during tablets split/merge test
  test/cluster/lwt/test_lwt_during_teblets_resize.py
Owners: none

tools/scylla-sstable: write: move to UUID generation
  test/cqlpy/test_sstable_validation.py
  test/cqlpy/test_tools.py
  tools/scylla-sstable.cc
Owners: @nyh, @denesb

test/manual: add bti_cassandra_compatibility_test
  configure.py
  test/manual/CMakeLists.txt
  test/manual/bti_cassandra_compatibility_test.cc
  test/manual/bti_cassandra_compatibility_test.py
  test/manual/cassandra_latest.yaml
Owners: none

auth: add a new permission VECTOR_SEARCH_INDEXING
  auth/permission.cc
  auth/permission.hh
  auth/resource.cc
  cql3/Cql.g
Owners: @nuivall, @ptrsmrn, @tgrabiec

metrics, utils: move estimated_histogram_to_metrics to utils
  alternator/stats.cc
  utils/histogram_metrics_helper.cc
  utils/histogram_metrics_helper.hh
Owners: @nyh

metrics, vector_search: implement vector_store metrics
  main.cc
  service/vector_store_client.cc
  service/vector_store_client.hh
  test/boost/vector_store_client_test.cc
  test/lib/cql_test_env.cc
Owners: none

metrics, test: added a test case for vs metrics
  test/boost/vector_store_client_test.cc
Owners: none

service: add auth dependency to storage and topology services
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  service/topology_coordinator.cc
  service/topology_coordinator.hh
  test/lib/cql_test_env.cc
Owners: @tgrabiec, @asias

auth: wait with v2 migration until auth service finishes startup
  auth/service.cc
  auth/service.hh
  service/topology_coordinator.cc
Owners: @nuivall, @ptrsmrn

test: skip flaky test test_one_big_mutation_corrupted_on_startup
  test/cluster/dtest/commitlog_test.py
Owners: none

alternator/expressions.g: Fix antlr3 missing token leak
  alternator/expressions.g
  test/boost/alternator_unit_test.cc
Owners: @nyh

vector_index, index_prop_defs: add version to index options
  cql3/statements/create_index_statement.cc
  cql3/statements/index_prop_defs.cc
  cql3/statements/index_prop_defs.hh
  index/secondary_index.cc
  index/secondary_index.hh
  index/secondary_index_manager.hh
  index/vector_index.cc
  index/vector_index.hh
Owners: @nyh, @piodul

cqlpy/test_vector_index: add vector index version test
  test/cqlpy/test_vector_index.py
Owners: @nyh

mv: delete previously undetected ghost rows in PRUNE MATERIALIZED VIEW statement
  db/view/view.cc
  test/boost/secondary_index_test.cc
Owners: @nyh, @piodul

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
