Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

db/view/view_building_worker: add method to register staging sstable
  db/view/view.cc
  db/view/view_building_worker.hh
Owners: @nyh, @piodul

db/view/view_building_worker: register staging sstable to view building coordinator when needed
  db/view/view.cc
  db/view/view_builder.hh
  db/view/view_update_checks.hh
  main.cc
  repair/row_level.cc
  repair/row_level.hh
  replica/distributed_loader.cc
  replica/distributed_loader.hh
  sstables_loader.cc
  sstables_loader.hh
  streaming/consumer.cc
  streaming/consumer.hh
  streaming/stream_manager.cc
  streaming/stream_manager.hh
  streaming/stream_session.cc
  test/lib/cql_test_env.cc
Owners: @nyh, @piodul, @tgrabiec, @asias

docs/dev: add view building coordinator documentation
  docs/dev/view-building-coordinator.md
Owners: none

utils/error_injection: add injection with `sleep_abortable()`
  utils/error_injection.hh
Owners: none

db/view/view_builder: ignore `no_such_keyspace` exception
  db/view/view.cc
Owners: @nyh, @piodul

db/view/view_building_worker: work on `process_staging` tasks
  db/view/view.cc
Owners: @nyh, @piodul

test.py: python: run tests using bare pytest command
  test/alternator/conftest.py
  test/alternator/test_metrics.py
  test/alternator/test_scan.py
  test/alternator/test_scylla.py
  test/alternator/test_table.py
  test/alternator/test_ttl.py
  test/broadcast_tables/conftest.py
  test/cqlpy/conftest.py
  test/cqlpy/test_udf.py
  test/cqlpy/test_using_timestamp.py
  test/cqlpy/test_wasm.py
  test/pylib/cql_repl/conftest.py
  test/pylib/suite/python.py
  test/rest_api/conftest.py
Owners: @nyh

test: adjust existing tests
  db/view/view.cc
  test/boost/view_schema_test.cc
  test/cluster/test_tablets.py
  test/cluster/test_view_build_status.py
  test/cqlpy/test_compaction.py
  test/cqlpy/test_materialized_view.py
Owners: @nyh, @piodul

test/cluster: add view building coordinator tests
  db/view/view.cc
  service/view_building_coordinator.cc
  test/cluster/test_view_building_coordinator.py
Owners: @nyh, @piodul

doc: remove duplicated content
  docs/_utils/redirects.yaml
  docs/cql/appendices.rst
  docs/cql/ddl.rst
  docs/cql/index.rst
  docs/cql/non-reserved-keywords.rst
  docs/cql/reserved-keywords.rst
  docs/features/workload-prioritization.rst
Owners: none

Add nodetool refresh --scope option
  api/api-doc/storage_service.json
  api/storage_service.cc
  docs/operating-scylla/nodetool-commands/refresh.rst
  test/cluster/object_store/test_backup.py
  test/cluster/test_refresh.py
  test/nodetool/test_refresh.py
  test/pylib/rest_client.py
  tools/scylla-nodetool.cc
Owners: @denesb

replica/exceptions: Add a new custom replica exception
  idl/replica_exception.idl.hh
  replica/exceptions.cc
  replica/exceptions.hh
  service/storage_proxy.cc
Owners: @gleb-cloudius

feature_service: Add a cluster feature
  gms/feature_service.hh
Owners: @tgrabiec, @asias, @kbr-scylla

config: Add critical_disk_utilization_level option
  db/config.cc
  db/config.hh
Owners: none

database: Add critical_disk_utilization mode database can be moved to
  replica/database.cc
  replica/database.hh
  test/boost/database_test.cc
Owners: none

compaction_manager: cancel submission timer on drain
  compaction/compaction_manager.cc
Owners: @raphaelsc

streaming: Reject incoming migrations
  service/topology_coordinator.cc
  streaming/stream_blob.cc
Owners: @tgrabiec, @asias

repair_service: add state to be able to differentiate between enabled and stopped
  repair/repair.cc
  repair/row_level.cc
  repair/row_level.hh
Owners: @tgrabiec, @asias

replica/cmake: Sort sources in CMakeLists.txt
  replica/CMakeLists.txt
Owners: none

test: actually wait for tablets to distribute across nodes
  test/cluster/mv/tablets/test_mv_tablets_replace.py
Owners: none

Add dev documentation for manipulating s3 data manually
  docs/dev/object_storage.md
Owners: none

test/result_utils: Do not assume map_reduce reducing order
  test/boost/result_utils_test.cc
Owners: none

alternator/executor: Added checks in `batch_write_item`
  alternator/executor.cc
  alternator/server.cc
  test/alternator/test_manual_requests.py
Owners: @nyh

test: actually wait for tablets to distribute across nodes
  test/topology_custom/test_mv_tablets_replace.py
Owners: none

replica: Fix race of some operations like cleanup with snapshot
  replica/compaction_group.hh
  replica/database.hh
  replica/table.cc
  test/topology_custom/test_tablets2.py
Owners: none

mutation/mutation_compactor: cache regular/shadowable max-purgable in separate members
  mutation/mutation_compactor.hh
  test/boost/mutation_test.cc
Owners: @tgrabiec

sstables: Implement sstable_set_impl::all_sstable_runs()
  sstables/sstable_set.cc
Owners: @tgrabiec, @raphaelsc

replica: Fix use-after-free with concurrent schema change and sstable set update
  replica/table.cc
  test/topology_custom/test_tablets2.py
Owners: none

types/comparable_bytes: support skipping sign byte write in decode_signed_long_type
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: introduce encode/decode_varint_length
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support varint cql3 type
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

mutation/mutation_compactor: cache regular/shadowable max-purgable in separate members
  mutation/mutation_compactor.hh
  test/boost/mutation_test.cc
Owners: @tgrabiec

mutation/mutation_compactor: cache regular/shadowable max-purgable in separate members
  mutation/mutation_compactor.hh
  test/boost/mutation_test.cc
Owners: @tgrabiec

mutation/mutation_compactor: cache regular/shadowable max-purgable in separate members
  mutation/mutation_compactor.hh
  test/boost/mutation_test.cc
Owners: @tgrabiec

sstable: Add being_repaired to sstable
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc

compaction_group: Add set_sstables_repair_at and get_sstables_repaired_at
  replica/compaction_group.hh
  replica/table.cc
Owners: none

[DONT MERGE]: Debug PR for CI pipeline
  dist/common/scripts/scylla_logrotate
  test/alternator/test_https.py
Owners: @nyh

tablets: handle migration of co-located tablets
  service/topology_coordinator.cc
Owners: none

docs: update system.tablets schema
  docs/dev/system_keyspace.md
Owners: none

tablets: replace all_tables method
  locator/load_sketch.hh
  locator/tablets.cc
  locator/tablets.hh
  service/storage_service.cc
  service/tablet_allocator.cc
  service/task_manager_module.cc
  test/boost/tablets_test.cc
  test/perf/tablet_load_balancing.cc
Owners: @tgrabiec, @asias

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
