Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

cql3: Warn when creating RF-rack-invalid keyspace
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/create_keyspace_statement.cc
  test/cluster/test_multidc.py
Owners: none

alternator: Switch to return-by-value in rmw_operation for WCUs
  alternator/executor.cc
  alternator/rmw_operation.hh
Owners: @nyh

alternator: Add PutItem and DeleteItem response size metrics
  alternator/executor.cc
  alternator/rmw_operation.hh
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Add UpdateItem and BatchWriteItem response size metrics
  alternator/executor.cc
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

api: storage_service: fix token_range documentation
  api/api-doc/storage_service.json
Owners: none

api: storage_service: fix token_range documentation
  api/api-doc/storage_service.json
Owners: none

api: storage_service: fix token_range documentation
  api/api-doc/storage_service.json
Owners: none

dist/docker: add dc and rack arguments
  dist/docker/commandlineparser.py
  dist/docker/docker-entrypoint.py
  dist/docker/redhat/build_docker.sh
  dist/docker/scyllasetup.py
  docs/dev/docker-hub.md
Owners: none

docs: backup and restore feature
  docs/Makefile
  docs/features/backup-and-restore.rst
  docs/features/index.rst
Owners: @annastuchlik, @tzach

Update launch-on-gcp.rst
  docs/getting-started/install-scylla/launch-on-gcp.rst
Owners: none

Update launch-on-gcp.rst
  docs/getting-started/install-scylla/launch-on-gcp.rst
Owners: none

Update launch-on-gcp.rst
  docs/getting-started/install-scylla/launch-on-gcp.rst
Owners: none

storage_service: extend locator::load_stats to collect tablet sizes
  idl/storage_service.idl.hh
  locator/tablets.cc
  locator/tablets.hh
  replica/compaction_group.hh
  replica/database.hh
  replica/table.cc
  service/storage_service.cc
Owners: @tgrabiec, @asias

config: add force_capacity_based_balancing and size_based_balance_threshold_percentage
  db/config.cc
  db/config.hh
  service/tablet_allocator.cc
Owners: none

test, simulator: generate tablet sizes and update load_stats
  test/perf/tablet_load_balancing.cc
Owners: none

test, simulator: remove RF option
  test/perf/tablet_load_balancing.cc
Owners: none

test, simulator: use dedicated logger
  test/perf/tablet_load_balancing.cc
Owners: none

load_sketch, simulator: change load_sketch to support tablet sizes
  db/virtual_tables.cc
  docs/dev/system_keyspace.md
  locator/load_sketch.hh
  locator/network_topology_strategy.cc
  test/boost/tablets_test.cc
  test/perf/tablet_load_balancing.cc
Owners: none

test, simulator: change simulator's load_stats from stack object to shared_ptr
  test/perf/tablet_load_balancing.cc
Owners: none

test, simulator: removed comparison of table aware balancing
  test/perf/tablet_load_balancing.cc
Owners: none

load_stats: add reconcile to load_stats
  locator/tablets.cc
  locator/tablets.hh
  service/topology_coordinator.cc
  test/boost/tablets_test.cc
Owners: none

dist/docker: add dc and rack arguments
  dist/docker/commandlineparser.py
  dist/docker/docker-entrypoint.py
  dist/docker/redhat/build_docker.sh
  dist/docker/scyllasetup.py
  docs/dev/docker-hub.md
Owners: none

load_balancer: implement size-based load balancing
  service/tablet_allocator.cc
  test/boost/tablets_test.cc
  test/cluster/test_raft_recovery_user_data.py
  test/cluster/test_tablets.py
  test/cluster/test_tablets2.py
  test/cluster/test_tablets_merge.py
Owners: none

load_balancer: balance racks instead of DCs for rf_rack_valid_keyspaces
  service/tablet_allocator.cc
  test/cluster/test_not_enough_token_owners.py
  test/cluster/test_tablets.py
  test/cluster/test_tablets2.py
Owners: none

build_docker.sh: enable debug symboles installation
  dist/docker/redhat/build_docker.sh
Owners: none

alternator: streams: refactor std::views::transform with side effect
  alternator/streams.cc
Owners: @nyh

secondary index: translate test_indexing_paging_and_aggregation to Python
  test/boost/secondary_index_test.cc
  test/cqlpy/test_secondary_index.py
Owners: @nyh, @piodul

cql: make SELECT's "internal page size" configurable
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
  db/config.cc
  db/config.hh
  test/boost/secondary_index_test.cc
  test/lib/select_statement_utils.hh
Owners: @nyh, @piodul

test/alternator: use `test_table_ss` instead of `test_table` in expressions related tests.
  test/alternator/test_filter_expression.py
  test/alternator/test_key_condition_expression.py
  test/alternator/test_projection_expression.py
  test/alternator/test_update_expression.py
Owners: @nyh

test/cqlpy/test_service_level_api: update to service levels on raft and remove flakiness
  test/cqlpy/test_service_level_api.py
Owners: @nyh

api: storage_service: fix token_range documentation
  api/api-doc/storage_service.json
Owners: none

Update launch-on-gcp.rst
  docs/getting-started/install-scylla/launch-on-gcp.rst
Owners: none

Alternator: Adds expression caching. #5023
  alternator/CMakeLists.txt
  alternator/controller.cc
  alternator/executor.cc
  alternator/executor.hh
  alternator/expression_factory.cc
  alternator/expressions.hh
  alternator/stats.cc
  alternator/stats.hh
  configure.py
  db/config.cc
  db/config.hh
  test/alternator/test_expression_caching.py
Owners: @nyh

api: storage_service: fix token_range documentation
  api/api-doc/storage_service.json
Owners: none

Update launch-on-gcp.rst
  docs/getting-started/install-scylla/launch-on-gcp.rst
Owners: none

Fix crash on ANN OF query when TRACING ON is enabled
  cql3/statements/select_statement.cc
Owners: none

mv: yield between generating updates for different views
  db/view/view.cc
  db/view/view.hh
Owners: @nyh, @piodul

repair: do not keep erm in tablet_repair_task_meta
  repair/repair.cc
  repair/repair.hh
  repair/task_manager_module.hh
Owners: @tgrabiec, @asias

repair: distribute tablet_repair_task_meta among shards
  repair/repair.cc
  repair/task_manager_module.hh
Owners: @tgrabiec, @asias

perf-tablets: abort on unhandled exception
  test/perf/perf_tablets.cc
Owners: none
