Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

test: lib: topology_builder: generate unique rack names
  test/lib/topology_builder.hh
Owners: none

test: Add tests for rack list RF
  test/boost/network_topology_strategy_test.cc
  test/cluster/util.py
  test/cqlpy/test_keyspace.py
  test/lib/topology_builder.hh
Owners: @nyh

topology_coordinator: Restore formatting
  service/topology_coordinator.cc
Owners: none

locator: Make hasher for endpoint_dc_rack globally accessible
  locator/network_topology_strategy.cc
  locator/types.hh
Owners: none

test: tablets: Add test for replica allocation on rack list changes
  test/boost/tablets_test.cc
Owners: none

tablets: load_balancer: Recognize that tablets are confined to racks when computing desired tablet count
  service/tablet_allocator.cc
  test/boost/tablets_test.cc
Owners: none

scylla_gdb: use persistent GDB - decrease test execution time
  test.py
  test/cqlpy/run.py
  test/scylla_gdb/conftest.py
  test/scylla_gdb/gdb_support_scripts.py
  test/scylla_gdb/test_basic_commands.py
  test/scylla_gdb/test_misc.py
  test/scylla_gdb/test_schema_commands.py
  test/scylla_gdb/test_sstable_commands.py
  test/scylla_gdb/test_task_commands.py
Owners: @nyh

Remove scylla_gdb/.gdbinit from gitignore
  .gitignore
  test/scylla_gdb/.gdbinit
  test/scylla_gdb/gdb_support_scripts.py
Owners: none

test: add reproduction of name reuse bug to service level tests
  test/cluster/auth_cluster/test_raft_service_levels.py
Owners: none

contracts: added to compaction/leveled_manifest.hh
  compaction/leveled_manifest.hh
Owners: @raphaelsc

env: configure.py and help scripts
  configure.py
  dbuild_configure_scylla_with_clang.sh
  tools/toolchain/contracts_compiler.cfg
Owners: none

env: docker image
  tools/toolchain/Dockerfile.contracts
  tools/toolchain/install_contract_clang.sh
Owners: none

env: use the image that supports contracts
  tools/toolchain/image
Owners: none

contracts: UUID
  utils/UUID.hh
  utils/UUID_gen.hh
Owners: none

contracts: precondition to consume_range_tombstone
  sstables/mx/reader.cc
Owners: none

api: Move get_built_indexes from column_family to view_builder
  api/column_family.cc
  api/storage_service.cc
Owners: none

api: Remove system_keyspace ref from column_family API block
  api/api.cc
  api/api_init.hh
  api/column_family.cc
  api/column_family.hh
  main.cc
Owners: none

api: Coroutinize get_built_indexes handler code
  api/storage_service.cc
Owners: none

api: Fix indentation after previous patch
  api/storage_service.cc
Owners: none

load balancing: extend locator::load_stats to collect tablet sizes
  idl/storage_service.idl.hh
  locator/tablets.cc
  locator/tablets.hh
  replica/compaction_group.hh
  replica/database.hh
  replica/table.cc
  service/storage_service.cc
Owners: @tgrabiec, @asias

schema,cql3: add compact_during_memtable_flush table property
  cql3/statements/cf_prop_defs.cc
  cql3/statements/cf_prop_defs.hh
  db/schema_tables.cc
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
Owners: @tgrabiec

memtable: add get_rp_set() getter
  replica/memtable.hh
Owners: none

replica/table: handle empty sstables after flush
  replica/table.cc
Owners: none

commitlog,tombstone_gc: allow to restrict commitlog gc-before check
  db/commitlog/commitlog.cc
  db/commitlog/commitlog.hh
  main.cc
  test/boost/row_cache_test.cc
  test/lib/cql_test_env.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: @elcallio, @eliransin, @tgrabiec

sstables/mx/writer: detect empty sstable at the end of stream
  sstables/mx/writer.cc
Owners: none

compaction: extract sstable overlap check into separate class
  compaction/compaction.cc
  compaction/sstables_max_purgeable.hh
Owners: @raphaelsc

compaction/compaction_garbage_collector: introduce tombstone_gc
  compaction/compaction_garbage_collector.hh
Owners: @raphaelsc

db/batchlog_manager: include cleanup flag in replayAllFailedBatches log
  db/batchlog_manager.cc
Owners: @elcallio

db/batchlog_manager: collect tracing [WIP]
  cql3/query_processor.cc
  cql3/query_processor.hh
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  repair/row_level.cc
  test/cluster/test_batchlog_manager.py
Owners: @tgrabiec, @nuivall, @ptrsmrn, @elcallio, @asias

db/batchlog_manager: finish coroutinizing replay_all_failed_batches
  db/batchlog_manager.cc
Owners: @elcallio

db/batchlog_manager: collect replay stats [WIP]
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  repair/row_level.cc
  test/boost/batchlog_manager_test.cc
Owners: @elcallio, @tgrabiec, @asias

replica/memtable: add compation stage to memtable flush
  mutation_writer/partition_based_splitting_writer.cc
  replica/memtable-sstable.hh
  replica/memtable.cc
  replica/memtable.hh
  replica/table.cc
  test/boost/memtable_test.cc
  test/boost/sstable_directory_test.cc
  test/lib/sstable_utils.cc
  test/perf/memory_footprint_test.cc
  test/perf/perf_sstable.hh
Owners: @tgrabiec

WIP: table tombstone
  compaction/compaction.cc
  compaction/compaction_group_view.hh
  db/view/view.cc
  db/view/view_building_worker.cc
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  querier.hh
  readers/compacting.hh
  readers/mutation_readers.cc
  replica/database.hh
  replica/multishard_query.cc
  replica/mutation_dump.cc
  replica/table.cc
  service/storage_proxy.cc
  test/boost/compaction_group_test.cc
  test/boost/database_test.cc
  test/boost/mutation_query_test.cc
  test/boost/mutation_reader_another_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/mutation_test.cc
  test/boost/querier_cache_test.cc
  test/boost/sstable_compaction_test.cc
  test/lib/test_services.cc
  test/manual/bti_cassandra_compatibility_test.cc
  test/perf/perf_row_cache_reads.cc
  tools/scylla-sstable.cc
Owners: @raphaelsc, @nyh, @piodul, @tgrabiec, @denesb, @gleb-cloudius

mutation/mutation_compactor: compaction:stats: split partitions
  mutation/mutation_compactor.hh
  querier.hh
  replica/multishard_query.cc
Owners: @tgrabiec, @denesb

db/batchlog_manager: coroutinize batchlog_manager::replay_all_failed_batches
  db/batchlog_manager.cc
Owners: @elcallio

db/system_keyspace: disable caching for the batchlog table
  db/system_keyspace.cc
Owners: none

db/system_keyspace: set set_memtable_compact_flushed_data=true on batchlog table
  db/system_keyspace.cc
Owners: none

db/batchlog_manager: batch(): replace map_reduce() with simple loop
  db/batchlog_manager.cc
Owners: @elcallio

added -g to compiler flags
  tools/toolchain/contracts_compiler.cfg
Owners: none

db/batchlog_manager: cleanup via table tombstone [WIP]
  db/batchlog_manager.cc
Owners: @elcallio
