Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

db: Move creation of underlying MV for index to cql3
  cql3/statements/create_index_statement.cc
  db/schema_tables.cc
Owners: @nyh, @piodul, @tgrabiec

cql3/statements/create_view_statement.cc: Move validation of ID
  cql3/statements/create_view_statement.cc
Owners: @nyh, @piodul

index, cql3: Remove secondary_index_manager::create_view_for_index
  cql3/statements/create_index_statement.cc
  index/secondary_index_manager.cc
  index/secondary_index_manager.hh
  tools/schema_loader.cc
Owners: @nyh, @piodul, @denesb

cql3/statements/create_index_statement.cc: Adjust create_view_for_index
  cql3/statements/create_index_statement.cc
  cql3/statements/create_index_statement.hh
Owners: @nyh, @piodul

cql3/statements: Introduce view_prop_defs.{hh,cc}
  configure.py
  cql3/CMakeLists.txt
  cql3/Cql.g
  cql3/statements/alter_view_statement.cc
  cql3/statements/alter_view_statement.hh
  cql3/statements/cf_properties.hh
  cql3/statements/create_view_statement.cc
  cql3/statements/create_view_statement.hh
  cql3/statements/view_prop_defs.cc
  cql3/statements/view_prop_defs.hh
Owners: @tgrabiec, @nuivall, @ptrsmrn, @nyh, @piodul

cql3: Duplicate code responsible for building view for index
  cql3/statements/create_index_statement.cc
  cql3/statements/create_index_statement.hh
Owners: @nyh, @piodul

utils: chunked_vector: add range insert() overloads
  test/boost/chunked_vector_test.cc
  utils/chunked_vector.hh
Owners: none

utils: chunked_vector: add swap() method
  test/boost/chunked_vector_test.cc
  utils/chunked_vector.hh
Owners: none

cql3/statements/index_prop_defs.hh: Rename type
  cql3/Cql.g
  cql3/statements/create_index_statement.cc
  cql3/statements/create_index_statement.hh
  cql3/statements/index_prop_defs.cc
  cql3/statements/index_prop_defs.hh
  index/secondary_index_manager.hh
  index/vector_index.cc
  index/vector_index.hh
Owners: @tgrabiec, @nuivall, @ptrsmrn, @nyh, @piodul

cql3/statements/index_prop_defs: Re-introduce index_prop_defs
  cql3/statements/index_prop_defs.cc
  cql3/statements/index_prop_defs.hh
Owners: @nyh, @piodul

cql3/statements/create_index_statement: Rename member
  cql3/statements/create_index_statement.cc
  cql3/statements/create_index_statement.hh
Owners: @nyh, @piodul

cql3/statements/index_prop_defs.cc: Add namespace
  cql3/statements/index_prop_defs.cc
Owners: @nyh, @piodul

cql3/statements/property_definitions: Add extract_property()
  cql3/statements/property_definitions.cc
  cql3/statements/property_definitions.hh
Owners: none

cql3/statements/index_prop_defs: Mark methods as const
  cql3/statements/index_prop_defs.cc
  cql3/statements/index_prop_defs.hh
Owners: @nyh, @piodul

metrics, utils: move estimated_histogram_to_metrics to utils
  alternator/stats.cc
  utils/histogram_metrics_helper.cc
  utils/histogram_metrics_helper.hh
Owners: @nyh

index: Add missing const qualifiers
  index/secondary_index_manager.hh
  index/vector_index.cc
  index/vector_index.hh
Owners: @nyh, @piodul

cql3: Extend CREATE INDEX by MV properties
  cql3/statements/create_index_statement.cc
  cql3/statements/create_index_statement.hh
  docs/cql/secondary-indexes.rst
  test/cqlpy/test_secondary_index_properties.py
  tools/schema_loader.cc
Owners: @nyh, @piodul, @denesb

cql3/statements/create_index_statement: Allow for view options
  cql3/Cql.g
  cql3/statements/create_index_statement.cc
  cql3/statements/create_index_statement.hh
Owners: @tgrabiec, @nuivall, @ptrsmrn, @nyh, @piodul

cql3: Forbid using CLUSTERING ORDER BY when creating index
  cql3/statements/create_index_statement.cc
  docs/cql/secondary-indexes.rst
  test/cqlpy/test_secondary_index_properties.py
Owners: @nyh, @piodul

cql3: Implement ALTER INDEX
  configure.py
  cql3/CMakeLists.txt
  cql3/Cql.g
  cql3/statements/alter_index_statement.cc
  cql3/statements/alter_index_statement.hh
  docs/cql/cql-extensions.md
  docs/cql/secondary-indexes.rst
  test/boost/secondary_index_test.cc
  test/cqlpy/test_secondary_index_properties.py
Owners: @tgrabiec, @nuivall, @ptrsmrn, @nyh, @piodul

cql3: Extend DESC INDEX by view properties
  schema/schema.cc
  test/boost/cql_query_test.cc
  test/cqlpy/test_describe.py
  test/cqlpy/test_secondary_index_properties.py
Owners: @tgrabiec, @nyh

Update ScyllaDB version to: 2025.3.0
  SCYLLA-VERSION-GEN
Owners: none

test.py: add different levels of verbosity for output
  test.py
  test/pylib/runner.py
Owners: none

pylib/rest_client.py: encode injection name
  test/pylib/rest_client.py
Owners: none

test_fencing: test_fence_lwt_during_bootstap
  service/storage_service.cc
  service/topology_coordinator.cc
  test/cluster/test_fencing.py
Owners: @tgrabiec, @asias

storage_proxy: add fencing to Paxos verbs
  idl/storage_proxy.idl.hh
  service/storage_proxy.cc
Owners: @gleb-cloudius

storage_proxy_stats: add fenced_out_requests metric
  service/storage_proxy.cc
  service/storage_proxy.hh
  service/storage_proxy_stats.hh
Owners: @gleb-cloudius

test_fencing: add test_fenced_out_on_tablet_migration_while_handling_paxos_verb
  service/storage_service.cc
  test/cluster/test_fencing.py
Owners: @tgrabiec, @asias

docs/snitch: Document default DC and rack
  docs/operating-scylla/system-configuration/snitch.rst
Owners: none

docs: backup and restore feature
  docs/features/backup-and-restore.rst
  docs/features/index.rst
Owners: none

utils: azure: Catch system errors when detecting IMDS
  utils/azure/identity/default_credentials.cc
  utils/azure/identity/managed_identity_credentials.cc
Owners: none

partition_range_compat: generalize wrap/unwrap helpers
  partition_range_compat.hh
Owners: none

test/perf: Require smp=1 in perf_cache_eviction
  test/perf/perf_cache_eviction.cc
Owners: none

dht: fragment token_range_vector
  dht/i_partitioner_fwd.hh
  idl/streaming.idl.hh
  message/messaging_service.hh
  partition_range_compat.hh
  streaming/stream_request.hh
  streaming/stream_transfer_task.hh
Owners: @tgrabiec, @asias

utils, alternator: fix detection of invalid base-64
  test/alternator/test_manual_requests.py
  utils/base64.cc
Owners: @nyh

tasks: do not check expected workload for done task
  tasks/task_manager.cc
Owners: none

compaction: update compaction_data::compaction_size at once
  compaction/compaction.cc
Owners: @raphaelsc

compaction: return empty progress when compaction_size isn't set
  compaction/task_manager_module.cc
  tasks/task_manager.cc
  tasks/task_manager.hh
Owners: @raphaelsc

build: add precompiled headers to CMakeLists.txt
  CMakeLists.txt
  alternator/CMakeLists.txt
  api/CMakeLists.txt
  audit/CMakeLists.txt
  auth/CMakeLists.txt
  cdc/CMakeLists.txt
  compaction/CMakeLists.txt
  configure.py
  cql3/CMakeLists.txt
  data_dictionary/CMakeLists.txt
  db/CMakeLists.txt
  dht/CMakeLists.txt
  ent/encryption/CMakeLists.txt
  ent/ldap/CMakeLists.txt
  gms/CMakeLists.txt
  index/CMakeLists.txt
  lang/CMakeLists.txt
  locator/CMakeLists.txt
  message/CMakeLists.txt
  mutation/CMakeLists.txt
  mutation_writer/CMakeLists.txt
  node_ops/CMakeLists.txt
  raft/CMakeLists.txt
  readers/CMakeLists.txt
  repair/CMakeLists.txt
  replica/CMakeLists.txt
  rust/CMakeLists.txt
  schema/CMakeLists.txt
  service/CMakeLists.txt
  sstables/CMakeLists.txt
  stdafx.cc
  stdafx.hh
  streaming/CMakeLists.txt
  tools/CMakeLists.txt
  tracing/CMakeLists.txt
  transport/CMakeLists.txt
  types/CMakeLists.txt
  utils/CMakeLists.txt
  utils/UUID_gen.cc
Owners: @nyh, @nuivall, @ptrsmrn, @kbr-scylla, @elcallio, @piodul, @raphaelsc, @tgrabiec, @asias, @gleb-cloudius, @kostja, @denesb

change value
  test/cqlpy/test_flaky.py
Owners: @nyh
