Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

db/cache_mutation_reader: use max_purgeable::can_purge()
  db/cache_mutation_reader.hh
Owners: @tgrabiec

mutation/mutation_compactor: use max_purgeable::can_purge and max_purgeable::purge_result
  mutation/mutation_compactor.hh
Owners: @tgrabiec

tombstone_gc: extract shared state into shared_tombstone_gc_state
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  main.cc
  repair/row_level.cc
  replica/database.cc
  replica/tablets.cc
  service/raft/group0_state_id_handler.cc
  service/storage_service.cc
  test/boost/row_cache_test.cc
  test/lib/cql_test_env.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: @raphaelsc, @tgrabiec, @asias

tombstone_gc: introduce tombstone_gc_state_snapshot
  test/boost/database_test.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

docs/dev/tombstone.md: document the memtable overlap check elision optimization
  docs/dev/tombstone.md
Owners: none

api/column_family: Make set_tables_autocompaction() use sharded<database>
  api/column_family.cc
Owners: none

api/column_family: Make for_tables_on_all_shards() use sharded<database>
  api/column_family.cc
Owners: none

api/column_family: Make get_cf_rate_and_histogram() use sharded<database>
  api/column_family.cc
Owners: none

api/column_family: Make get_cf_histogram() use sharded<database>
  api/column_family.cc
Owners: none

api/column_family: Make set_tables_tombstone_gc() use sharded<database>
  api/column_family.cc
Owners: none

api: Capture sharded<database> for set_server_column_family()
  api/api.cc
  api/api_init.hh
  api/column_family.cc
  api/column_family.hh
  main.cc
Owners: none

api/column_family: Make get_cf_stats_sum() use sharded<database>
  api/column_family.cc
Owners: none

api: Make CF map-reducers work on sharded<database> directly
  api/column_family.hh
Owners: none

api: Use captured sharded<database> reference in handlers
  api/column_family.cc
Owners: none

api/column_family: Make get_cf_unleveled_sstables() use sharded<database>
  api/column_family.cc
Owners: none

api/column_famliy: Make sum_sstable() use sharded<database>
  api/column_family.cc
Owners: none

api/column_famliy: Make get_cf_stats_count() use sharded<database>
  api/column_family.cc
Owners: none

api/column_family: Make map_reduce_cf_time_histogram() use sharded<database>
  api/column_family.cc
Owners: none

test: rewrite test_compacting_reader_tombstone_gc_with_data_in_memtable in C++
  test/boost/row_cache_test.cc
  test/cluster/test_compacting_reader_tombstone_gc.py
Owners: @tgrabiec

db/read_context: return max_purgeable from get_max_purgeable()
  db/cache_mutation_reader.hh
  db/read_context.hh
Owners: @tgrabiec

tombstone_gc: fold get_or_create_repair_history_for_table() into update_repair_time()
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

replica/memtable_list: s/min_live_timestamp()/get_max_purgeable()/
  replica/database.cc
  replica/database.hh
  replica/table.cc
Owners: none

tombstone_gc: fold get_or_create_group0_gc_time() into update_group0_refresh_time()
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

tombstone_gc: refactor get_or_greate_repair_history_for_table()
  tombstone_gc.cc
Owners: none

compaction_garbage_collector: Extend return type of max_purgeable_fn
  compaction/compaction.cc
  compaction/compaction_garbage_collector.hh
  db/read_context.hh
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  replica/table.cc
  test/boost/mutation_test.cc
  test/boost/sstable_compaction_test.cc
Owners: @raphaelsc, @tgrabiec

test/boost/row_cache_test: refactor test_populating_reader_tombstone_gc_with_data_in_memtable
  test/boost/row_cache_test.cc
Owners: @tgrabiec

compaction/compaction_garbage_collector: refactor max_purgeable into a class
  compaction/compaction.cc
  compaction/compaction_garbage_collector.hh
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  replica/table.cc
  test/boost/mutation_test.cc
  test/boost/sstable_compaction_test.cc
Owners: @raphaelsc, @tgrabiec

tombstone_gc: per_table_history_maps::_group0_gc_time: make it a value
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

compaction/compaction_garbage_collector: add formatter for max_purgeable
  compaction/compaction.cc
  compaction/compaction_garbage_collector.hh
Owners: @raphaelsc

tombstone_gc: fold get_group0_gc_time() into its caller
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

mutation: move definition of gc symbols to compaction.cc
  compaction/compaction.cc
  mutation/mutation_partition.cc
Owners: @raphaelsc, @tgrabiec

replica/table: get_max_purgeable_fn_for_cache_underlying_reader(): use max_purgable::combine()
  replica/table.cc
Owners: none

replica/table: propagate gc_state to memtable_list
  replica/table.cc
Owners: none

replica/memtable: add tombstone_gc_state_snapshot
  replica/memtable.cc
  replica/memtable.hh
Owners: none

replica/memtable_list: add tombstone_gc_state* member
  replica/database.cc
  replica/database.hh
Owners: none

compaction/compaction_garbage_collector: max_purgeable: add expiry_treshold
  compaction/compaction.cc
  compaction/compaction_garbage_collector.hh
  test/boost/database_test.cc
Owners: @raphaelsc

replica/database: memtable_list::get_max_purgeable(): set expiry-treshold
  replica/database.cc
Owners: none

tombstone_gc: introduce tombstone_gc_state_snapshot
  test/boost/database_test.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: none

db/cache_mutation_reader: use max_purgeable::can_purge()
  db/cache_mutation_reader.hh
Owners: @tgrabiec

tombstone_gc: extract shared state into shared_tombstone_gc_state
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  main.cc
  repair/row_level.cc
  replica/database.cc
  replica/tablets.cc
  service/raft/group0_state_id_handler.cc
  service/storage_service.cc
  test/boost/row_cache_test.cc
  test/lib/cql_test_env.cc
  tombstone_gc.cc
  tombstone_gc.hh
Owners: @raphaelsc, @tgrabiec, @asias
