Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

lwt: prohibit for tablet-based views and cdc logs
  service/storage_proxy.cc
  test/cluster/test_tablets_lwt.py
Owners: @gleb-cloudius

cql_test_env.cc: log exception when callback throws
  test/lib/cql_test_env.cc
Owners: none

sstables/mx: implement sstable::has_partition_key using a regular read
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

replica/database: add table::estimated_partitions_in_range()
  replica/database.hh
  replica/table.cc
Owners: none

sstables/sstable: compute get_estimated_key_count() from Statistics instead of Summary
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc

utils/bloom_filter: add `add(const hashed_key&)`
  utils/bloom_filter.cc
  utils/bloom_filter.hh
  utils/i_filter.hh
Owners: none

sstables: make `sstable::estimated_keys_for_range` asynchronous
  compaction/compaction.cc
  db/size_estimates_virtual_reader.cc
  db/size_estimates_virtual_reader.hh
  repair/repair.cc
  repair/row_level.cc
  replica/table.cc
  sstables/sstables.cc
  sstables/sstables.hh
  sstables_loader.cc
  streaming/stream_transfer_task.cc
  test/boost/sstable_mutation_test.cc
Owners: @raphaelsc, @tgrabiec, @asias

sstables: implement an alternative way to rebuild bloom filters for sstables without Index
  ent/encryption/encryption.cc
  sstables/component_type.hh
  sstables/mx/writer.cc
  sstables/sstable_directory.cc
  sstables/sstable_version.cc
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/storage.cc
  sstables/storage.hh
Owners: @tgrabiec, @raphaelsc

sstables: adapt estimated_keys_for_range to sstables without Summary
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

fixup! cdc: Support prefetched preimages
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

fixup! alternator/streams, cdc: Differentiate item replace from modification in CDC
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

test/cluster/test_tablets: Migrate dtest
  test/cluster/test_tablets.py
Owners: none

test/cluster/test_view_building_coordinator: add reproducer for staging sstables with tablet merge
  db/view/view_building_coordinator.cc
  service/tablet_allocator.cc
  test/cluster/test_view_building_coordinator.py
Owners: @nyh, @piodul

test/rest_api: support multiple query values per key in RestApiSession.send()
  test/rest_api/conftest.py
Owners: none

nodetool: add support of new seastar query_parameters_type to scylla_rest_client
  tools/scylla-nodetool.cc
Owners: @denesb

api/storage_service: add GET 'natural_endpoints' v2 to support composite keys with ':'
  api/api-doc/storage_service.json
  api/storage_service.cc
  keys/keys.cc
  keys/keys.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

compaction_manager: support skipping major compactions when stopping compactions
  compaction/compaction_manager.cc
Owners: @raphaelsc

compaction_manager: introduce is_major_compaction method
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
Owners: @raphaelsc

compaction_manager: add skip_major_compaction parameter to stop_ongoing_compaction methods
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
Owners: @raphaelsc

replica/table: do not stop major compaction when disabling auto compaction
  replica/table.cc
  test/cluster/test_major_compaction.py
Owners: none

db/view/view_building_worker: hold read apply mutex when finishing batch
  db/view/view_building_worker.cc
Owners: @nyh, @piodul

sstables: adapt sstable::set_first_and_last_keys to sstables without Summary
  sstables/sstables.cc
  sstables/sstables.hh
  test/lib/sstable_utils.hh
Owners: @tgrabiec, @raphaelsc

sstables/mx/reader: use the same hashed_key for the bloom filter and the index reader
  sstables/mx/reader.cc
  sstables/mx/reader.hh
  sstables/sstable_set.cc
  sstables/sstables.cc
  sstables/sstables.hh
  test/boost/sstable_inexact_index_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh, @piodul

sstables/mx: make Index and Summary components optional
  sstables/mx/writer.cc
  sstables/open_info.hh
  sstables/sstables.cc
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc

sstables/trie/bti_partition_index_writer: in add(), get the key hash from the caller
  sstables/mx/writer.cc
  sstables/trie/bti_index.hh
  sstables/trie/bti_partition_index_writer.cc
  test/boost/bti_index_test.cc
  test/manual/bti_cassandra_compatibility_test.cc
Owners: @nyh, @piodul

sstables/trie/bti_index_reader: allow the caller to passing a precalculated murmur hash
  sstables/abstract_index_reader.hh
  sstables/index_reader.hh
  sstables/trie/bti_index_reader.cc
  test/boost/sstable_inexact_index_test.cc
Owners: @tgrabiec, @raphaelsc, @nyh, @piodul

sstables: open Partitions.db early when it's needed to populate key range for sharding metadata
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

tools/scylla-sstable: default to "preferred" sstable version, not "highest"
  tools/scylla-sstable.cc
Owners: @denesb

sstables: introduce `ms` sstable format version
  api/api-doc/storage_service.json
  docs/architecture/sstable/_common/sstable_what_is.rst
  docs/architecture/sstable/sstable3/sstables-3-data-file-format.rst
  docs/dev/sstables-directory-structure.md
  scylla-gdb.py
  sstables/sstable_version.cc
  sstables/sstable_version_m.hh
  sstables/sstables.cc
  sstables/types.hh
  sstables/version.hh
Owners: @tgrabiec, @raphaelsc

test/boost/sstable_test: prepare for `ms` sstables.
  test/boost/sstable_test.cc
Owners: none

test/boost/bloom_filter_tests: prepare for `ms` sstables
  test/boost/bloom_filter_test.cc
Owners: none

test/boost/sstable_compaction_test: prepare for `ms` sstables.
  test/boost/sstable_compaction_test.cc
Owners: none

test/boost/sstable_datafile_test: prepare for `ms` sstables
  test/boost/sstable_datafile_test.cc
Owners: none

test/boost/index_reader_test: prepare for `ms` sstables
  test/boost/index_reader_test.cc
Owners: @nyh, @piodul

test/boost/sstable_datafile_test: skip test_broken_promoted_index_is_skipped for `ms` sstables
  test/boost/sstable_datafile_test.cc
Owners: none

test: prepare bypass_cache_test.py for `ms` sstables
  test/cluster/dtest/bypass_cache_test.py
  test/cluster/dtest/dtest_class.py
Owners: none

tools/scylla-sstable: add `--sstable-version=?` to `scylla sstable write`
  tools/scylla-sstable.cc
Owners: @denesb

test/boost/sstable_inexact_index_test: explicitly use a `me` sstable
  test/boost/sstable_inexact_index_test.cc
Owners: @nyh, @piodul

test: in Python tests, prepare some sstable filename regexes for `ms`
  test/cluster/test_tablets.py
  test/cqlpy/test_tools.py
Owners: @nyh

sstables: add `ms` to `all_sstable_versions`
  sstables/version.hh
  test/boost/schema_changes_test.cc
  test/boost/sstable_conforms_to_mutation_source_test.cc
Owners: @tgrabiec, @raphaelsc
