Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

test: sstable_datafile_test: move copy_directory helper to test/lib/test_utils
  test/boost/sstable_datafile_test.cc
  test/lib/test_utils.cc
  test/lib/test_utils.hh
Owners: none

executor.cc: get_previous_item with consistency level
  alternator/executor.cc
Owners: @nyh

test/alternator: speed up test_ttl_expiration_lsi_key
  test/alternator/test_ttl.py
Owners: @nyh

test: manager_client: add docstring to server_update_config
  test/pylib/manager_client.py
Owners: none

test: properly unset recovery_leader in the recovery procedure tests
  test/cluster/test_raft_recovery_during_join.py
  test/cluster/test_raft_recovery_entry_loss.py
  test/cluster/test_raft_recovery_user_data.py
Owners: none

test: manager_client: allow removing a config option
  test/pylib/manager_client.py
  test/pylib/scylla_cluster.py
Owners: none

alternator/executor.cc: DynamoDB WCU calculation in BatchWriteItem using read-before-write
  alternator/executor.cc
Owners: @nyh

alternator/test_returnconsumedcapacity.py: Test forced read before write
  test/alternator/test_returnconsumedcapacity.py
Owners: @nyh

alternator: streams: Address minor incompatibilities with DynamoDB in GetRecords response.
  alternator/streams.cc
  docs/alternator/compatibility.md
  test/alternator/test_streams.py
Owners: @nyh, @annastuchlik, @tzach

service: pass current session_id to repair rpc
  idl/storage_service.idl.hh
  service/storage_service.cc
  service/storage_service.hh
  service/topology_coordinator.cc
Owners: @tgrabiec, @asias

test: check that repair with outdated session_id fails
  service/topology_coordinator.cc
  test/cluster/test_tablets.py
Owners: none

.gitignore: add rust target
  .gitignore
Owners: none

docs: Sort commands list in nodetool.rst
  docs/operating-scylla/nodetool.rst
Owners: none

docs: Sort commands list in nodetool.rst
  docs/operating-scylla/nodetool.rst
Owners: none

test.py: better error handling in boost facade
  test/pylib/cpp/boost/boost_facade.py
Owners: none

test.py: add directories and filename to the log files
  test/pylib/cpp/boost/boost_facade.py
  test/pylib/cpp/facade.py
Owners: none

test.py: rename log sink file for boost tests
  test/pylib/cpp/boost/boost_facade.py
Owners: none

alternator: streams: LSI
  alternator/executor.cc
Owners: @nyh

alternator: cleanup
  test/alternator/test_item.py
  test/alternator/test_streams.py
Owners: @nyh

vector_store_client: fix HTTP error message formatting
  service/vector_store_client.cc
Owners: none

copilot: add Copilot coding instructions and guidelines
  .copilot/cpp_instructions.md
  .copilot/general_instructions.md
  .copilot/python_instructions.md
Owners: none

copilot: expand GitHub Copilot instructions with comprehensive ScyllaDB development guidance
  .copilot/cpp_instructions.md
  .copilot/development_workflow.md
  .copilot/general_instructions.md
  .copilot/python_instructions.md
  .copilot/testing_instructions.md
  .copilot/troubleshooting_guide.md
Owners: none

copilot: move Copilot guidelines to .github/instructions
  .github/instructions/cpp_instructions.md
  .github/instructions/development_workflow.md
  .github/instructions/general_instructions.md
  .github/instructions/python_instructions.md
  .github/instructions/testing_instructions.md
  .github/instructions/troubleshooting_guide.md
Owners: none

copilot: consolidate and cleanup C++ guidelines
  .github/instructions/cpp_instructions.md
Owners: none

sstables/compressor: relax a large allocation warning in ZSTD_CDict creation
  sstables/compressor.cc
Owners: @tgrabiec, @raphaelsc

test/pylib: add the ability to stop currently-starting servers
  test/pylib/manager_client.py
  test/pylib/scylla_cluster.py
Owners: none

test/cluster: greatly speed up test_localnodes_joining_nodes
  test/cluster/test_alternator.py
Owners: none

test/alternator: use `test_table_ss` instead of `test_table` in expressions related tests.
  test/alternator/test_filter_expression.py
  test/alternator/test_key_condition_expression.py
  test/alternator/test_projection_expression.py
  test/alternator/test_update_expression.py
Owners: @nyh

fix(test.py) incorrect markers argument in boost tests
  test.py
Owners: none

Alternator: Adds expression caching. #5023
  alternator/CMakeLists.txt
  alternator/controller.cc
  alternator/executor.cc
  alternator/executor.hh
  alternator/expression_factory.cc
  alternator/expressions.hh
  alternator/stats.cc
  alternator/stats.hh
  configure.py
  db/config.cc
  db/config.hh
  test/alternator/test_expression_caching.py
Owners: @nyh

sstables: make_entry_descriptor: make regex non-greedy
  sstables/sstables.cc
  test/cqlpy/test_tools.py
Owners: @tgrabiec, @raphaelsc, @nyh

sstables/trie: add trie traversal routines
  configure.py
  sstables/trie/trie_traversal.hh
  test/boost/CMakeLists.txt
  test/boost/trie_traversal_test.cc
Owners: none

Adding action call to update Jira issue status
  .github/workflows/call_jira_status_in_progress.yml
  .github/workflows/call_jira_status_in_review.yml
  .github/workflows/call_jira_status_ready_for_merge.yml
Owners: none

Adding action call to update Jira issue status
  .github/workflows/call_jira_status_in_progress.yml
  .github/workflows/call_jira_status_in_review.yml
  .github/workflows/call_jira_status_ready_for_merge.yml
Owners: none

refactor(test.py) small refactoring of how boost test arguments make
  test.py
Owners: none

feature (test.py) add EXPRESSION argument support for boost tests.
  test.py
Owners: none

vector_store_client: set keepalive for the http client's socket
  service/vector_store_client.cc
Owners: none

vector_store_client: disable Nagle's algorithm on the http client
  service/vector_store_client.cc
Owners: none

cql/statement: Create keyspace_metadata with correct initial_tablets count
  conf/scylla.yaml
  cql3/statements/ks_prop_defs.cc
  test/cluster/test_tablets.py
Owners: none

docs: Raft recovery procedure: recommend verifying participation in Raft recovery
  docs/troubleshooting/handling-node-failures.rst
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
