Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

nodetool: repair: repair only vnode keyspaces
  test/nodetool/test_repair.py
  tools/scylla-nodetool.cc
Owners: @denesb

utils: don't allow do discard updateable_value observer
  utils/updateable_value.hh
Owners: none

generic_server: fix connections semaphore config observer
  generic_server.cc
  generic_server.hh
Owners: none

test: add test for live updates of generic server config
  generic_server.cc
  test/cluster/test_config_live_updates.py
Owners: none

Update pgo profiles - aarch64
  pgo/profiles/aarch64/profile.profdata.xz
Owners: none

Update pgo profiles - x86_64
  pgo/profiles/x86_64/profile.profdata.xz
Owners: none

tools: optimized_clang: make it work in the presence of a scylladb profile
  tools/toolchain/optimized_clang.sh
Owners: none

tools: optimized_clang: make it work in the presence of a scylladb profile
  tools/toolchain/optimized_clang.sh
Owners: none

sstables/exceptions: introduce parse_assert()
  sstables/exceptions.hh
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

sstables: replace SCYLLA_ASSERT() with parse_assert() on the read path
  sstables/consumer.hh
  sstables/index_reader.hh
  sstables/kl/reader.cc
  sstables/mutation_fragment_filter.hh
  sstables/mx/bsearch_clustered_cursor.hh
  sstables/mx/parsers.hh
  sstables/mx/reader.cc
  sstables/mx/types.hh
  sstables/partition_index_cache.hh
  sstables/promoted_index_blocks_reader.hh
  sstables/random_access_reader.hh
  sstables/scanning_clustered_index_cursor.hh
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

compaction: set _child_count value for shard compaction tasks
  compaction/task_manager_module.hh
Owners: @raphaelsc

compaction: set _child_count value for keyspace compaction tasks
  compaction/task_manager_module.hh
Owners: @raphaelsc

compaction: set _child_count value for table compaction tasks
  compaction/task_manager_module.cc
  compaction/task_manager_module.hh
  replica/database.hh
  replica/table.cc
Owners: @raphaelsc

compaction: set _child_count value for global major compaction task
  compaction/task_manager_module.cc
Owners: @raphaelsc

compaction: set _child_count value for global cleanup task
  compaction/task_manager_module.cc
Owners: @raphaelsc

api: return error from get_host_id_map if gossiper is not enabled yet.
  api/token_metadata.cc
Owners: none

test/boost/mutation_reader_test: fix a use-after-free in `test_fast_forwarding_combined_reader_is_consistent_with_slicing`
  test/boost/mutation_reader_test.cc
Owners: @denesb

test: wait for normal state propagation in test_auth_v2_migration
  test/cluster/auth_cluster/test_auth_v2_migration.py
Owners: none

replica: Fix truncate assert failure
  replica/database.cc
  replica/distributed_loader.cc
  replica/table.cc
  service/storage_service.cc
  sstables/sstable_directory.cc
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  test/boost/sstable_conforms_to_mutation_source_test.cc
  test/boost/sstable_mutation_test.cc
  test/cluster/test_truncate_with_tablets.py
  test/lib/sstable_test_env.hh
  test/lib/sstable_utils.cc
  test/lib/sstable_utils.hh
  test/lib/test_services.cc
Owners: @tgrabiec, @asias, @raphaelsc

disk_space_monitor: add space_source_registration
  test/boost/database_test.cc
  utils/disk_space_monitor.cc
  utils/disk_space_monitor.hh
Owners: none

compaction: set _child_count value for reshard compaction tasks
  compaction/task_manager_module.cc
Owners: @raphaelsc

compaction: set progress unit for compaction tasks
  compaction/task_manager_module.hh
Owners: @raphaelsc

doc: improve the tablets limitations section
  docs/architecture/tablets.rst
Owners: none

api: return error from get_host_id_map if gossiper is not enabled yet.
  api/token_metadata.cc
Owners: none

compaction: set _child_count value for reshape compaction tasks
  compaction/task_manager_module.cc
  compaction/task_manager_module.hh
Owners: @raphaelsc

doc: improve the tablets limitations section
  docs/architecture/tablets.rst
Owners: none

test: add compaction task progress test
  compaction/task_manager_module.cc
  test/rest_api/test_compaction_task.py
Owners: @raphaelsc

nodetool: repair: skip tablet keyspaces
  test/nodetool/test_repair.py
  tools/scylla-nodetool.cc
Owners: @denesb

group0: modify `start_operation` logic to account for synchronize phase race condition
  service/raft/raft_group0.cc
  service/raft/raft_group0_client.cc
  test/cluster/test_view_build_status.py
Owners: none

db/system_keyspace: add apply_mutation()
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none

db/system_keyspace: introduce the corrupt_data table
  db/system_keyspace.cc
  db/system_keyspace.hh
  docs/dev/system_keyspace.md
Owners: none

idl: extract full_position.idl from position_in_partition.idl
  configure.py
  idl/CMakeLists.txt
  idl/full_position.idl.hh
  idl/position_in_partition.idl.hh
  idl/storage_proxy.idl.hh
Owners: none

idl-compiler.py: generate skip() definition for enums serializers
  idl-compiler.py
Owners: none

mutation/mutation_partition_view: read_{clustering,static}_row(): return row type
  mutation/mutation_partition_view.cc
Owners: @tgrabiec

mutation/mutation_partition_view: extract de-ser of {clustering,static} row
  mutation/mutation_partition_view.cc
Owners: @tgrabiec

mutation: introduce frozen_mutation_fragment_v2
  idl/mutation.idl.hh
  mutation/frozen_mutation.hh
  mutation/mutation_partition_serializer.cc
  mutation/mutation_partition_view.cc
Owners: @tgrabiec

test.py: add a way to provide pytest arguments via test.py
  test.py
  test/pylib/suite/python.py
Owners: none

audit: bring back commas to audit syslog
  audit/audit_syslog_storage_helper.cc
Owners: none

docs: audit: update syslog audit format to the current one
  docs/operating-scylla/security/auditing.rst
Owners: none

replica/memtable: move region_listener handlers from dirty_memory_manager to memtable
  replica/dirty_memory_manager.hh
  replica/memtable.cc
  replica/memtable.hh
  test/boost/dirty_memory_manager_test.cc
Owners: none
