Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

s3_client: Fix hang in get() on EOF by signaling condition variable
  utils/s3/client.cc
Owners: none

mapreduce: add tablet-aware dispatching algorithm
  service/mapreduce_service.cc
  service/mapreduce_service.hh
Owners: none

mapreduce: add missing comma and space in mapreduce_request operator<<
  query.cc
Owners: none

mapreduce: add shard_id_hint to mapreduce request
  idl/mapreduce_request.idl.hh
  query-request.hh
  query.cc
  service/mapreduce_service.cc
Owners: none

test: add test_long_query_timeout_erm
  service/mapreduce_service.cc
  test/cluster/test_long_query_timeout_erm.py
Owners: none

tablets: trigger mutation source refresh on tablet count change
  replica/table.cc
Owners: none

replica: Fix range reads spanning sibling tablets
  replica/tablets.cc
  sstables/sstable_set.cc
  test/boost/sstable_set_test.cc
Owners: @tgrabiec, @raphaelsc

test: add reproducer and test for mutation source refresh after merge
  test/topology_custom/test_tablets_merge.py
Owners: none

sstables/exceptions: introduce parse_assert()
  sstables/exceptions.hh
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

doc: add support for z3 GCP
  docs/getting-started/cloud-instance-recommendations.rst
Owners: none

test: wait for normal state propagation in test_auth_v2_migration
  test/auth_cluster/test_auth_v2_migration.py
Owners: none

sstables: replace SCYLLA_ASSERT() with parse_assert() on the read path
  sstables/consumer.hh
  sstables/index_reader.hh
  sstables/kl/reader.cc
  sstables/mutation_fragment_filter.hh
  sstables/mx/bsearch_clustered_cursor.hh
  sstables/mx/parsers.hh
  sstables/mx/reader.cc
  sstables/mx/types.hh
  sstables/partition_index_cache.hh
  sstables/promoted_index_blocks_reader.hh
  sstables/random_access_reader.hh
  sstables/scanning_clustered_index_cursor.hh
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

doc: remove the limitation for disabling CDC
  docs/features/cdc/cdc-intro.rst
Owners: none

mapreduce_service: Prevent race condition
  service/mapreduce_service.cc
Owners: none

sstables: Fix race when loading checksum component
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

Add dev documentation for manipulating s3 data manually
  docs/dev/object_storage.md
Owners: none

doc: add support for z3 GCP
  docs/getting-started/cloud-instance-recommendations.rst
Owners: none

http: Add missing thread_local specifier for static
  utils/http.cc
Owners: none

http: Add missing thread_local specifier for static
  utils/http.cc
Owners: none

http: Add missing thread_local specifier for static
  utils/http.cc
Owners: none

test/boost/mutation_reader_test: fix a use-after-free in `test_fast_forwarding_combined_reader_is_consistent_with_slicing`
  test/boost/mutation_reader_test.cc
Owners: @denesb

compaction: set _child_count value for table compaction tasks
  compaction/task_manager_module.cc
  compaction/task_manager_module.hh
  replica/database.hh
  replica/table.cc
Owners: @raphaelsc

compaction: set _child_count value for shard compaction tasks
  compaction/task_manager_module.hh
Owners: @raphaelsc

compaction: set _child_count value for keyspace compaction tasks
  compaction/task_manager_module.hh
Owners: @raphaelsc

compaction: set _child_count value for global major compaction task
  compaction/task_manager_module.cc
Owners: @raphaelsc

compaction: set _child_count value for global cleanup task
  compaction/task_manager_module.cc
  replica/database.cc
  replica/database.hh
Owners: @raphaelsc

test/cluster/test_tablets: test restart during tablet cleanup
  service/topology_coordinator.cc
  test/cluster/test_tablets_migration.py
Owners: none

tablets: deallocate storage state on end_migration
  locator/tablets.cc
  locator/tablets.hh
  replica/table.cc
Owners: none

test: tablets: add get_tablet_info helper
  test/pylib/tablets.py
Owners: none

test/cqlpy: fix run-cassandra script to ignore CASSANDRA_HOME
  test/cqlpy/run-cassandra
Owners: @nyh

doc: add support for z3 GCP
  docs/getting-started/cloud-instance-recommendations.rst
Owners: none

test: tablets: add get_tablet_info helper
  test/pylib/tablets.py
Owners: none

test/cluster/test_tablets: test restart during tablet cleanup
  service/topology_coordinator.cc
  test/topology_custom/test_tablets_migration.py
Owners: none

tablets: deallocate storage state on end_migration
  locator/tablets.cc
  locator/tablets.hh
  replica/table.cc
Owners: none

sstable_directory: Print ks.cf when moving unshared remove sstables
  sstables/sstable_directory.cc
Owners: @tgrabiec, @raphaelsc

sstables: add `make_data_or_index_source` to the `storage`
  ent/encryption/encryption.cc
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/storage.cc
  sstables/storage.hh
Owners: @tgrabiec, @raphaelsc

sstables: Start using `make_data_or_index_source` in `sstable`
  sstables/checksummed_data_source.cc
  sstables/checksummed_data_source.hh
  sstables/compress.cc
  sstables/compress.hh
  sstables/index_reader.hh
  sstables/sstables.cc
  test/boost/sstable_test.cc
  test/cluster/object_store/test_backup.py
Owners: @tgrabiec, @raphaelsc

encryption: refactor key retrieval
  ent/encryption/encryption.cc
Owners: none

sstables: coroutinize readers
  sstables/checksummed_data_source.cc
  sstables/compress.cc
  sstables/index_reader.hh
  sstables/kl/reader.cc
  sstables/mx/partition_reversing_data_source.cc
  sstables/mx/reader.cc
  sstables/sstable_mutation_reader.hh
  sstables/sstables.cc
  sstables/sstables.hh
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @denesb

doc: add support for z3 GCP
  docs/getting-started/cloud-instance-recommendations.rst
Owners: none
