Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

base_info: remove base schema from the base_info
  db/view/base_info.hh
  db/view/view.cc
  db/view/view.hh
  schema/schema.cc
  schema/schema_registry.cc
  schema/schema_registry.hh
  view_info.hh
Owners: @nyh, @piodul, @tgrabiec

mv: add a test for dropping an index while it's building
  db/view/view.cc
  test/cluster/mv/test_mv_building.py
Owners: @nyh, @piodul

schema_registry: store base info instead of base schema for view entries
  db/schema_tables.cc
  db/schema_tables.hh
  db/view/view.cc
  frozen_schema.cc
  frozen_schema.hh
  replica/table.cc
  schema/schema.cc
  schema/schema.hh
  schema/schema_builder.hh
  schema/schema_registry.cc
  schema/schema_registry.hh
  service/migration_manager.cc
  test/boost/schema_registry_test.cc
  view_info.hh
Owners: @tgrabiec, @nyh, @piodul

test: remove flakiness from test_schema_is_recovered_after_dying
  test/boost/schema_registry_test.cc
Owners: @tgrabiec

view_info: move the base info to a separate header
  db/view/base_info.hh
  db/view/view.hh
Owners: @nyh, @piodul

view_info: don't re-set base_info after construction
  db/schema_applier.cc
  db/view/view.cc
  replica/database.cc
  replica/table.cc
  schema/schema.cc
  schema/schema_registry.cc
  schema/schema_registry.hh
  test/boost/schema_registry_test.cc
  view_info.hh
Owners: @tgrabiec, @nyh, @piodul

view_info: move computation of view pk columns not in base pk to view_updates
  db/view/view.cc
  db/view/view.hh
Owners: @nyh, @piodul

base_info: remove the lw_shared_ptr variant
  db/view/base_info.hh
  db/view/view.cc
  db/view/view.hh
  schema/schema.cc
  schema/schema_registry.cc
  service/migration_manager.cc
  test/boost/schema_registry_test.cc
  view_info.hh
Owners: @nyh, @piodul, @tgrabiec

base_info: remove base_info snapshot semantics
  db/view/view.cc
  db/view/view.hh
  db/view/view_update_generator.cc
  db/view/view_update_generator.hh
  replica/table.cc
Owners: @nyh, @piodul

base_info: make members non-const
  db/view/base_info.hh
Owners: @nyh, @piodul

utils/lsa/chunked_managed_vector: fix the calculation of max_chunk_capacity()
  utils/logalloc.cc
  utils/logalloc.hh
  utils/lsa/chunked_managed_vector.hh
  utils/managed_vector.hh
Owners: @tgrabiec

utils/logalloc: enforce LSA allocation size limits
  scylla-gdb.py
  utils/logalloc.cc
Owners: @tgrabiec

Update ScyllaDB version to: 2025.1.3
  SCYLLA-VERSION-GEN
Owners: none

alternator: fix schema "concurrent modification" errors
  alternator/executor.cc
  db/tags/utils.cc
  test/cluster/test_alternator.py
Owners: @nyh

alternator: improve protection against oversized requests
  alternator/error.hh
  alternator/server.cc
  alternator/server.hh
  test/alternator/test_manual_requests.py
Owners: @nyh

test/cqlpy,alternator: fix reporting of Scylla crash during test
  test/alternator/conftest.py
  test/cqlpy/conftest.py
Owners: @nyh

cdc: add sanity check for generating an empty generation
  cdc/generation.cc
Owners: @kbr-scylla, @elcallio, @piodul

topology coordinator: do not proceed further on invalid boostrap tokens
  service/topology_coordinator.cc
Owners: none

test: cluster: add test_bad_initial_token
  test/topology_custom/test_bad_initial_token.py
Owners: none

test: cluster: add test_bad_initial_token
  test/topology_custom/test_bad_initial_token.py
Owners: none

topology coordinator: do not proceed further on invalid boostrap tokens
  service/topology_coordinator.cc
Owners: none

cdc: add sanity check for generating an empty generation
  cdc/generation.cc
Owners: @kbr-scylla, @elcallio, @piodul

utils::loading_cache: gracefully skip timer if gate closed
  utils/loading_cache.hh
Owners: none

doc: add a link to the previous Enterprise documentation
  docs/index.rst
Owners: @annastuchlik, @tzach

Revert "s3_client: Implement chunked download source"
  test/boost/s3_test.cc
  test/perf/perf_s3_client.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: Implement chunked download source
  test/boost/s3_test.cc
  test/perf/perf_s3_client.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

test.py: set build_mode to "unknown" if no --mode argument
  test/conftest.py
Owners: none

test.py: create directory for test log in run_test()
  test/pylib/suite/base.py
Owners: none

test.py: remove unused CLI options
  test/cluster/object_store/conftest.py
Owners: none

test.py: remove duplication of pytest CLI options
  test/alternator/conftest.py
  test/cluster/conftest.py
  test/cluster/object_store/conftest.py
  test/cqlpy/conftest.py
  test/pylib/cql_repl/conftest.py
  test/pylib/suite/python.py
  test/rest_api/conftest.py
Owners: @nyh

test.py: add credentials options to add_scylla_cql_connection_options()
  test/cluster/conftest.py
  test/cqlpy/conftest.py
  test/pylib/suite/python.py
Owners: @nyh

test.py: python: remove dups of cql and this_dc fixtures
  test/pylib/cql_repl/conftest.py
  test/rest_api/conftest.py
Owners: none

test.py: remove `--omit-scylla-output` from pytest argparser
  test/alternator/conftest.py
  test/alternator/run
  test/cqlpy/conftest.py
  test/cqlpy/run.py
Owners: @nyh

tools: toolchain: dbuild: run as root in container under podman
  tools/toolchain/dbuild
Owners: none

test.py: python: split logic of PythonTest.run()
  test/pylib/suite/python.py
Owners: none

test.py: alternator: convert get_valid_alternator_role() to fixture
  test/alternator/conftest.py
  test/alternator/test_batch.py
  test/alternator/test_describe_endpoints.py
Owners: @nyh

tools: toolchain: clear .cache and .cargo directories
  tools/toolchain/Dockerfile
Owners: none

Revert "s3_client: Implement chunked download source"
  test/boost/s3_test.cc
  test/perf/perf_s3_client.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: Implement chunked download source
  test/boost/s3_test.cc
  test/perf/perf_s3_client.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

docs: fix md redirections for multiversion support
  docs/conf.py
Owners: @annastuchlik, @tzach
