Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

Update seastar submodule
  .gitmodules
Owners: none

alternator/stats.cc, metrics-config.yml: docs fix per-table metrics
  alternator/stats.cc
  scripts/metrics-config.yml
Owners: @nyh

s3_client: Fix hang in get() on EOF by signaling condition variable
  utils/s3/client.cc
Owners: none

[DONT MERGE]: Debug PR for CI pipeline
  dist/common/scripts/scylla_logrotate
  test/rest_api/rest_util.py
Owners: none

sstables: Fix race when loading checksum component
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

test: sstable_move_test: always use uuid sstable generation
  test/boost/sstable_move_test.cc
Owners: none

feature_service: never disable UUID_SSTABLE_IDENTIFIERS
  gms/feature_service.cc
Owners: @tgrabiec, @asias, @kbr-scylla

s3_client: Improve reporting of S3 client statistics
  utils/s3/client.cc
Owners: none

alternator: update documentation that ttl with tablets does work
  docs/alternator/new-apis.md
Owners: @annastuchlik, @tzach, @nyh

db/batchlog_manager: remove unused member _total_batches_replayed
  db/batchlog_manager.hh
Owners: @elcallio

mapreduce: remove underscores from variable names
  service/mapreduce_service.cc
  service/mapreduce_service.hh
Owners: none

http: Add missing thread_local specifier for static
  utils/http.cc
Owners: none

feature_service: make UUID_SSTABLE_IDENTIFIERS unused
  gms/feature_service.hh
  sstables/sstables_manager.cc
  test/lib/test_services.cc
Owners: @tgrabiec, @asias, @kbr-scylla, @raphaelsc

sstables_manager: drop uuid_sstable_identifiers
  replica/distributed_loader.cc
  replica/table.cc
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
Owners: @tgrabiec, @raphaelsc

mapreduce: move dispatching logic to dispatch_to_vnodes
  service/mapreduce_service.cc
  service/mapreduce_service.hh
Owners: none

sstables: sstable_generation: get rid of uuid_identifiers bool class
  replica/distributed_loader.cc
  replica/table.cc
  sstables/generation_type.hh
  streaming/stream_blob.cc
  test/boost/sstable_directory_test.cc
  test/boost/sstable_test.cc
  test/lib/test_services.cc
  tools/scylla-sstable.cc
Owners: @tgrabiec, @raphaelsc, @asias, @denesb

sstables: sstable_generation_generator: stop tracking highest generation
  sstables/generation_type.hh
Owners: @tgrabiec, @raphaelsc

replica: table: get rid of update_sstables_known_generation
  replica/database.hh
  replica/table.cc
  test/boost/sstable_test.hh
Owners: none

sstables: sstable_directory: stop tracking highest_generation
  sstables/sstable_directory.cc
  sstables/sstable_directory.hh
  test/boost/sstable_directory_test.cc
Owners: @tgrabiec, @raphaelsc

replica: distributed_loader: stop tracking highest_generation
  replica/distributed_loader.cc
  replica/distributed_loader.hh
  sstables/sstable_directory.cc
  sstables/sstable_directory.hh
  test/boost/sstable_directory_test.cc
Owners: @tgrabiec, @raphaelsc

replica: distributed_loader: process_upload_dir: use the table sstable_generation_generator
  replica/database.hh
  replica/distributed_loader.cc
Owners: none

streaming: stream_blob: use the table sstable_generation_generator
  streaming/stream_blob.cc
Owners: @tgrabiec, @asias

test/cluster/test_read_repair.py: improve trace logging test (again)
  test/cluster/test_read_repair.py
Owners: none

test/cluster: extract execute_with_tracing() into pylib/util.py
  test/pylib/util.py
  test/topology_custom/test_data_resurrection_in_memtable.py
Owners: none

wip
  utils/s3/retry_strategy.cc
Owners: none

test: wait for normal state propagation in test_auth_v2_migration
  test/auth_cluster/test_auth_v2_migration.py
Owners: none

api: Shorten get_simple_states() handler
  api/failure_detector.cc
Owners: none

doc: extend 2025.2 upgrade with a note about consistent topology updates
  docs/upgrade/upgrade-guides/upgrade-guide-from-2025.1-to-2025.2/upgrade-guide-from-2025.1-to-2025.2.rst
Owners: none

s3_client: Refactor `range` class for state validation
  test/boost/s3_test.cc
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: headers cleanup
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: Fix hang in get() on EOF by signaling condition variable
  utils/s3/client.cc
Owners: none

Update ScyllaDB version to: 2025.2.0-rc5
  SCYLLA-VERSION-GEN
Owners: none

test_sstable_compression_dictionaries_basic.py: fix a flaky check
  test/cluster/test_sstable_compression_dictionaries_basic.py
Owners: none

mv: handle mismatched base/view replica count caused by RF change
  db/view/view.cc
  db/view/view.hh
  replica/database.cc
  replica/database.hh
  service/storage_service.cc
  test/boost/network_topology_strategy_test.cc
  test/cluster/mv/test_mv_topology_change.py
Owners: @nyh, @piodul, @tgrabiec, @asias

debug
  dist/common/scripts/scylla_logrotate
Owners: none

test/cluster/mv: Adjust test to RF-rack-valid keyspaces
  test/topology_custom/test_mv_admission_control.py
  test/topology_custom/test_mv_tablets_empty_ip.py
  test/topology_custom/test_mv_tablets_replace.py
  test/topology_custom/test_mv_topology_change.py
Owners: none

http: Add missing thread_local specifier for static
  utils/http.cc
Owners: none

mapreduce: remove _shared_token_metadata from mapreduce_service
  main.cc
  service/mapreduce_service.cc
  service/mapreduce_service.hh
  test/lib/cql_test_env.cc
Owners: none

test/alternator: improve tests for write isolation modes
  test/alternator/conftest.py
  test/alternator/test_condition_expression.py
  test/alternator/test_update_expression.py
  test/alternator/test_write_isolation.py
Owners: @nyh

test/alternator: make "run" script use only_rmw_uses_lwt
  test/alternator/run
Owners: @nyh

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
