Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

test/boost/mvcc_test: fix an overly-strong assertion in test_snapshot_cursor_is_consistent_with_merging
  test/boost/mvcc_test.cc
Owners: @tgrabiec

sstables: Implement sstable_set_impl::all_sstable_runs()
  sstables/sstable_set.cc
Owners: @tgrabiec, @raphaelsc

replica: Fix use-after-free with concurrent schema change and sstable set update
  replica/table.cc
  test/cluster/test_tablets2.py
Owners: none

sstables: Implement sstable_set_impl::all_sstable_runs()
  sstables/sstable_set.cc
Owners: @tgrabiec, @raphaelsc

replica: Fix use-after-free with concurrent schema change and sstable set update
  replica/table.cc
  test/cluster/test_tablets2.py
Owners: none

replica: Fix use-after-free with concurrent schema change and sstable set update
  replica/table.cc
  test/cluster/test_tablets2.py
Owners: none

sstables: Implement sstable_set_impl::all_sstable_runs()
  sstables/sstable_set.cc
Owners: @tgrabiec, @raphaelsc

cql: fix CREATE tablets KS warning msg
  cql3/statements/create_keyspace_statement.cc
Owners: none

cql: fix CREATE tablets KS warning msg
  cql3/statements/create_keyspace_statement.cc
Owners: none

docs: lwt: add two missing spaces
  docs/features/lwt.rst
Owners: none

replica: skip flush of dropped table
  replica/database.cc
Owners: none

test: test table drop during flush
  replica/database.cc
  test/topology_custom/test_table_drop.py
Owners: none

test_tablet_repair_hosts_filter: change injected error
  service/topology_coordinator.cc
  test/topology_custom/test_tablet_repair_scheduler.py
Owners: none

docs: cql: add explicit explanation how mixing IFs works in LWT
  docs/cql/cql-extensions.md
  docs/kb/lwt-differences.rst
Owners: none

test: mark difference in handling IFs in LWT as cassandra_bug
  test/cqlpy/test_lwt.py
Owners: @nyh

topology coordinator: make decommissioning node non voter before completing the operation
  service/topology_coordinator.cc
Owners: none

test/boost/mvcc_test: fix an overly-strong assertion in test_snapshot_cursor_is_consistent_with_merging
  test/boost/mvcc_test.cc
Owners: @tgrabiec

replica: Fix take_storage_snapshot() running concurrently to merge completion
  replica/compaction_group.hh
  replica/database.hh
  replica/table.cc
  test/cluster/test_tablets_merge.py
Owners: none

test/boost/mvcc_test: fix an overly-strong assertion in test_snapshot_cursor_is_consistent_with_merging
  test/boost/mvcc_test.cc
Owners: @tgrabiec

dist: drop the scylla-env package
  dist/common/dep/scylla-env-1.0/debian/changelog
  dist/common/dep/scylla-env-1.0/debian/compat
  dist/common/dep/scylla-env-1.0/debian/control
  dist/common/dep/scylla-env-1.0/debian/copyright
  dist/common/dep/scylla-env-1.0/debian/install
  dist/common/dep/scylla-env-1.0/debian/postinst
  dist/common/dep/scylla-env-1.0/debian/rules
  dist/common/dep/scylla-env-1.0/ld.so.conf.d/scylla.x86_64.conf
  dist/common/dep/scylla-env-1.0/profile.d/scylla.csh
  dist/common/dep/scylla-env-1.0/profile.d/scylla.sh
  dist/common/dep/scylla-env.spec
Owners: none

readers/multi_range: remove flat from name
  compaction/compaction.cc
  multishard_mutation_query.cc
  readers/multi_range.hh
  readers/mutation_readers.cc
  replica/database.cc
  replica/table.cc
  test/boost/mutation_reader_another_test.cc
Owners: @raphaelsc, @tgrabiec

readers/evictable: drop v2 from reader and related names
  db/view/view.cc
  db/view/view_update_generator.cc
  db/view/view_updating_consumer.hh
  readers/evictable.hh
  readers/multishard.cc
  repair/reader.hh
  repair/row_level.cc
  test/boost/mutation_reader_test.cc
  test/boost/view_build_test.cc
Owners: @nyh, @piodul, @tgrabiec, @asias, @denesb

readers/mutation_readers: s/empty_flat_reader_v2/empty_mutation_reader/
  readers/mutation_readers.cc
Owners: @tgrabiec

readers/mutation_source: s/flat_reader_v2_factory_type/mutation_reader_factory/
  readers/mutation_source.hh
Owners: @tgrabiec

readers/queue: drop v2 from reader and related names
  db/virtual_table.cc
  mutation_writer/feed_writers.cc
  mutation_writer/feed_writers.hh
  mutation_writer/multishard_writer.cc
  readers/mutation_readers.cc
  readers/queue.hh
  repair/row_level.cc
  test/boost/mutation_reader_test.cc
Owners: @tgrabiec, @asias, @denesb

readers/mutation_source: s/make_reader_v2/make_mutation_reader/
  db/row_cache.cc
  db/virtual_table.cc
  multishard_mutation_query.cc
  mutation/mutation_partition.cc
  querier.hh
  readers/multishard.cc
  readers/mutation_readers.cc
  readers/mutation_source.hh
  replica/memtable.cc
  replica/mutation_dump.cc
  replica/table.cc
  test/boost/incremental_compaction_test.cc
  test/boost/memtable_test.cc
  test/boost/mutation_reader_test.cc
  test/boost/row_cache_test.cc
  test/boost/schema_changes_test.cc
  test/boost/sstable_3_x_test.cc
  test/boost/sstable_compaction_test.cc
  test/boost/sstable_conforms_to_mutation_source_test.cc
  test/boost/sstable_datafile_test.cc
  test/boost/sstable_mutation_test.cc
  test/boost/sstable_resharding_test.cc
  test/boost/virtual_table_mutation_source_test.cc
  test/lib/mutation_source_test.cc
  test/lib/sstable_utils.cc
Owners: @tgrabiec, @denesb

mutation/mutation_compactor: drop v2 from compactor and related names
  compaction/compaction.cc
  db/view/view.cc
  multishard_mutation_query.cc
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  querier.hh
  replica/mutation_dump.cc
  test/boost/mutation_test.cc
  test/boost/sstable_compaction_test.cc
Owners: @raphaelsc, @nyh, @piodul, @tgrabiec, @denesb

replica/table: s/make_reader_v2/make_mutation_reader/
  db/view/build_progress_virtual_reader.hh
  index/built_indexes_virtual_reader.hh
  replica/database.hh
  replica/table.cc
  test/boost/database_test.cc
  test/boost/memtable_test.cc
  test/boost/mutation_test.cc
  test/boost/row_cache_test.cc
  test/perf/perf_fast_forward.cc
Owners: @nyh, @piodul, @tgrabiec

readers/multishard: drop v2 from reader and related names
  db/view/view.cc
  multishard_mutation_query.cc
  readers/multishard.cc
  readers/multishard.hh
  replica/database.cc
  replica/database.hh
  test/boost/multishard_combining_reader_as_mutation_source_test.cc
  test/boost/mutation_reader_test.cc
  test/lib/reader_lifecycle_policy.hh
Owners: @nyh, @piodul, @tgrabiec, @denesb

mutation_writer: s/bucket_writer_v2/bucket_writer/
  mutation_writer/feed_writers.cc
  mutation_writer/feed_writers.hh
  mutation_writer/partition_based_splitting_writer.cc
  mutation_writer/shard_based_splitting_writer.cc
  mutation_writer/timestamp_based_splitting_writer.cc
  mutation_writer/token_group_based_splitting_writer.cc
Owners: @tgrabiec

readers/mutation_reader: s/reader_consumer_v2/mutation_reader_consumer/
  compaction/compaction.cc
  compaction/compaction_strategy.cc
  compaction/compaction_strategy.hh
  compaction/compaction_strategy_impl.hh
  compaction/time_window_compaction_strategy.cc
  compaction/time_window_compaction_strategy.hh
  mutation_writer/feed_writers.cc
  mutation_writer/feed_writers.hh
  mutation_writer/multishard_writer.cc
  mutation_writer/multishard_writer.hh
  mutation_writer/partition_based_splitting_writer.cc
  mutation_writer/partition_based_splitting_writer.hh
  mutation_writer/shard_based_splitting_writer.cc
  mutation_writer/shard_based_splitting_writer.hh
  mutation_writer/timestamp_based_splitting_writer.cc
  mutation_writer/timestamp_based_splitting_writer.hh
  mutation_writer/token_group_based_splitting_writer.cc
  mutation_writer/token_group_based_splitting_writer.hh
  readers/mutation_reader.hh
  streaming/consumer.cc
  streaming/consumer.hh
  streaming/stream_manager.hh
  streaming/stream_session.cc
Owners: @raphaelsc, @tgrabiec, @asias

test/boost/mutation_test: s/consumer_v2/consumer/
  test/boost/mutation_test.cc
Owners: @tgrabiec

test/lib/mutation_reader_assertions: s/flat_reader_assertions_v2/mutation_reader_assertions/
  test/boost/cache_mutation_reader_test.cc
  test/boost/memtable_test.cc
  test/boost/mutation_reader_another_test.cc
  test/boost/sstable_3_x_test.cc
  test/boost/sstable_mutation_test.cc
  test/lib/mutation_reader_assertions.hh
  test/lib/mutation_source_test.cc
Owners: @tgrabiec

test/boost/sstable_datafile_test: s/sstable_reader_v2/sstable_mutation_reader/
  test/boost/sstable_datafile_test.cc
Owners: none

test/boost/mutation_reader: s/puppet_reader_v2/puppet_reader/
  test/boost/mutation_reader_test.cc
Owners: @denesb

readers/mutation_readers: s/generating_reader_v2/generating_reader/
  readers/mutation_readers.cc
Owners: @tgrabiec

readers/mutation_readers: s/delegating_reader_v2/delegating_reader/
  readers/delegating_impl.hh
  readers/mutation_readers.cc
  test/boost/row_cache_test.cc
Owners: @tgrabiec

test/boost/mutation_reader_another_test: drop v2 from reader and related names
  test/boost/mutation_reader_another_test.cc
Owners: @tgrabiec

Add open-coredump script depndencies to install-dependencies.sh
  install-dependencies.sh
Owners: none

pylib/scylla_cluster: give a way to pass executable-specific options to nodes
  test/pylib/scylla_cluster.py
  test/pylib/suite/python.py
Owners: none
