Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

replica: hold compaction group gate during flush
  replica/compaction_group.hh
  replica/table.cc
Owners: none

tools: optimized_clang: make it work in the presence of a scylladb profile
  tools/toolchain/optimized_clang.sh
Owners: none

auto-backport.py: Avoid bot push to existing backport branches
  .github/scripts/auto-backport.py
Owners: none

packaging: add `ps` command to dependancies
  dist/debian/control.template
  dist/docker/redhat/build_docker.sh
  dist/redhat/scylla.spec
Owners: none

scylla_sysconfig_setup: fix syntax warnings
  dist/common/scripts/scylla_sysconfig_setup
Owners: none

auto-backport.py: Avoid bot push to existing backport branches
  .github/scripts/auto-backport.py
Owners: none

db/corrupt_data_handler: guard stop() against null _fragment_semaphore
  db/corrupt_data_handler.cc
Owners: none

encryption_at_rest_test: Do port check using TLS
  test/boost/encryption_at_rest_test.cc
Owners: none

kmip_host: Close connections properly if dropped by pool being full
  ent/encryption/kmip_host.cc
Owners: none

utils::http::dns_connection_factory: Use a shared certificate_credentials
  configure.py
  utils/CMakeLists.txt
  utils/http.cc
  utils/http.hh
Owners: none

db/corrupt_data_handler: guard stop() against null _fragment_semaphore
  db/corrupt_data_handler.cc
Owners: none

compaction: get_max_purgeable_timestamp: improve trace log messages
  compaction/compaction.cc
Owners: @raphaelsc

dist/common/scripts/scylla_sysconfig_setup: fix `SyntaxWarning: invalid escape sequence`
  dist/common/scripts/scylla_sysconfig_setup
Owners: none

cdc: add is_log_schema helper
  cdc/log.cc
  cdc/log.hh
Owners: @kbr-scylla, @elcallio, @piodul

cdc: add internal tables for cdc with tablets
  db/system_keyspace.cc
  db/system_keyspace.hh
  gms/feature_service.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias, @kbr-scylla

gms/feature_service: add VIEW_BUILDING_COORDINATOR feature
  gms/feature_service.hh
Owners: @tgrabiec, @asias, @kbr-scylla

db/view: ignore tablet-based views in `view_builder`
  db/view/view.cc
Owners: @nyh, @piodul

db/system_keyspace: move `internal_system_query_state()` function earlier
  db/system_keyspace.cc
Owners: none

cdc: move cdc table creation to pre_create
  cdc/log.cc
  service/migration_listener.hh
  service/migration_manager.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec

cdc: notify when creating or dropping cdc table
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

api: unregister raft_topology_get_cmd_status on shutdown
  api/storage_service.cc
Owners: none

api: unregister raft_topology_get_cmd_status on shutdown
  api/storage_service.cc
Owners: none

db/view: extract `system.view_build_status_v2` cql statements to system_keyspace
  db/system_keyspace.cc
  db/system_keyspace.hh
  db/view/view.cc
  db/view/view_build_status.hh
Owners: @nyh, @piodul

db/system_keyspace: add method to get view build status map
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none

service: add `view_building_state` and `views_state`
  configure.py
  service/CMakeLists.txt
  service/view_building_state.cc
  service/view_building_state.hh
Owners: none

service/vb_coordinator: add currently processing base
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: none

service/storage_proxy: expose references to `system_keyspace` and `view_building_state_machine`
  main.cc
  service/storage_proxy.cc
  service/storage_proxy.hh
  test/lib/cql_test_env.cc
Owners: @gleb-cloudius

db/system_keyspace: add `view_building_tasks` table
  db/system_keyspace.cc
  db/system_keyspace.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias

db/system_keyspace: move `get_scylla_local_mutation()` up
  db/system_keyspace.cc
Owners: none

service: reload `view_building_state_machine` on group0 apply()
  main.cc
  service/raft/group0_state_machine.cc
  service/storage_service.cc
  service/storage_service.hh
  service/view_building_state.hh
  test/lib/cql_test_env.cc
Owners: @tgrabiec, @asias

cdc: create streams when allocating tablets
  cdc/generation.cc
  cdc/generation.hh
  cdc/log.cc
  service/migration_listener.hh
  service/migration_manager.cc
  service/tablet_allocator.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec

service/migration_manager: coroutinize `prepare_new_view_announcement()`
  service/migration_manager.cc
Owners: @tgrabiec

service/migration_manager: pass `storage_proxy` to `prepare_keyspace_drop_announcement()`
  alternator/executor.cc
  cql3/statements/drop_keyspace_statement.cc
  service/migration_manager.cc
  service/migration_manager.hh
  test/boost/group0_cmd_merge_test.cc
  test/boost/schema_change_test.cc
Owners: @nyh, @tgrabiec

cdc: remove streams when dropping CDC table
  cdc/generation.cc
  cdc/generation.hh
  cdc/log.cc
Owners: @kbr-scylla, @elcallio, @piodul

cdc: helper functions for reading metadata from tables
  cdc/generation.cc
  cdc/generation.hh
  db/system_keyspace.cc
  db/system_keyspace.hh
Owners: @kbr-scylla, @elcallio, @piodul

cdc: co-locate cdc table with base
  replica/database.cc
Owners: none

cdc: generate_stream_diff helper function
  cdc/metadata.cc
  cdc/metadata.hh
  test/boost/cdc_test.cc
Owners: @kbr-scylla, @elcallio, @piodul

topology coordinator: pass cdc_gens to topology coordinator
  service/storage_service.cc
  service/topology_coordinator.cc
  service/topology_coordinator.hh
Owners: @tgrabiec, @asias

cdc: virtual tables for cdc with tablets
  cdc/metadata.hh
  db/virtual_tables.cc
  service/storage_service.cc
  service/storage_service.hh
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec, @asias

topology coordinator: extend raft command result
  service/topology_coordinator.cc
Owners: none
