Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

retry_strategy: fix include
  utils/s3/default_aws_retry_strategy.cc
Owners: none

retry_strategy: Copied utils/s3/retry_strategy.hh to utils/s3/default_aws_retry_strategy.hh
  utils/s3/default_aws_retry_strategy.hh
Owners: none

replica/db: add syncer function to add/update cf
  replica/database.cc
  replica/database.hh
  schema/schema_registry.cc
  schema/schema_registry.hh
Owners: @tgrabiec

service/storage_proxy: wait for schema sync if in progress
  mutation/mutation.cc
  mutation/mutation.hh
  schema/schema_registry.cc
  schema/schema_registry.hh
  service/migration_manager.cc
  service/storage_proxy.cc
  test/boost/repair_test.cc
  test/lib/mutation_source_test.cc
  test/lib/mutation_source_test.hh
Owners: @tgrabiec, @gleb-cloudius

test: mv: test create mv during inserts
  db/schema_applier.cc
  test/cluster/mv/test_create_mv.py
Owners: @tgrabiec

db/schema_applier: mark schema synced after commit on all shards
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

audit: write both table and syslog
  audit/CMakeLists.txt
  audit/audit.cc
  audit/audit.hh
  audit/audit_composite_storage_helper.cc
  audit/audit_composite_storage_helper.hh
  configure.py
Owners: none

test: dtest: audit_test.py: add AuditBackendComposite
  test/cluster/dtest/audit_test.py
Owners: none

test: dtest: audit_test.py: group logs in dict per audit mode
  test/cluster/dtest/audit_test.py
Owners: none

s3_creds: use Seastar HTTP client with retry strategy
  utils/s3/credentials_providers/instance_profile_credentials_provider.cc
  utils/s3/credentials_providers/instance_profile_credentials_provider.hh
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.cc
  utils/s3/credentials_providers/sts_assume_role_credentials_provider.hh
Owners: none

s3_client: coroutinize `copy_s3_object` response callback
  utils/s3/client.cc
Owners: none

s3_client: fix crash in `copy_s3_object` due to dangling stream
  utils/s3/client.cc
Owners: none

aws_error: handle missing `unexpected_status_error` case
  utils/s3/aws_error.cc
Owners: none

s3_client: add `make_request` override with custom retry and error handler
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: reorder `make_request` and helper declarations
  utils/s3/client.hh
Owners: none

s3_client: migrate s3_client to Seastar HTTP client
  test/boost/test_config.yaml
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: reformat `make_request` functions for readability
  utils/s3/client.cc
Owners: none

s3_client: simplify chunked download error handling using `make_request`
  test/boost/s3_test.cc
  utils/s3/client.cc
Owners: none

s3_client: reformat `make_request` function declarations for readability
  utils/s3/client.hh
Owners: none

s3 cleanup: remove obsolete retry-related classes
  configure.py
  utils/CMakeLists.txt
  utils/s3/retry_strategy.cc
  utils/s3/retry_strategy.hh
  utils/s3/retryable_http_client.cc
  utils/s3/retryable_http_client.hh
Owners: none

s3_client: eliminate duplication in `make_request` by using overload
  utils/s3/client.cc
Owners: none

s3_client: fix indentation
  utils/s3/client.cc
Owners: none

s3_client: remove unused `filler_exception`
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

s3_client: remove unnecessary `co_await` in `make_request`
  utils/s3/client.cc
Owners: none

tests(lwt): new test for LWT testing during tablet resize
  test/cluster/lwt/lwt_common.py
  test/cluster/lwt/test_lwt_during_tablets_resize.py
Owners: none

database_test: Introduce collect_files() helper
  test/boost/database_test.cc
Owners: none

vector_search: add validator tests
  configure.py
  test.py
  test/CMakeLists.txt
  test/vector_search_validator/CMakeLists.txt
  test/vector_search_validator/Cargo.toml
  test/vector_search_validator/build-env
  test/vector_search_validator/build-validator
  test/vector_search_validator/build-vector-store
  test/vector_search_validator/cargo-toml-template
  test/vector_search_validator/conftest.py
  test/vector_search_validator/crates/validator-scylla/Cargo.toml
  test/vector_search_validator/crates/validator-scylla/src/dummy.rs
  test/vector_search_validator/crates/validator-scylla/src/lib.rs
  test/vector_search_validator/crates/validator/Cargo.toml
  test/vector_search_validator/crates/validator/src/main.rs
  test/vector_search_validator/test_cargo_toml.py
  test/vector_search_validator/test_validator.py
Owners: none

database_test: Use collectz_files() to count files in directory
  test/boost/database_test.cc
Owners: none

database_test: Use collect_files() to remove files
  test/boost/database_test.cc
Owners: none

database_test: Simplify snapshot_works() tests
  test/boost/database_test.cc
Owners: none

database_test: Improve snapshot_skip_flush_works test
  test/boost/database_test.cc
Owners: none

database_test: Simplify snapshot_with_quarantine_works() test
  test/boost/database_test.cc
Owners: none

compaction_manager:config: introduce max_shares
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  main.cc
  test/lib/cql_test_env.cc
Owners: @raphaelsc

db/config: introduce new config parameter `compaction_max_shares`
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  db/config.cc
  db/config.hh
  main.cc
  test/lib/cql_test_env.cc
Owners: @raphaelsc

compaction_controller: introduce max shares
  backlog_controller.hh
  compaction/compaction_manager.cc
  replica/database.cc
Owners: @raphaelsc

sstables: add overload of data_stream() to accept custom file_input_stream_options
  sstables/sstables.cc
  sstables/sstables.hh
Owners: @tgrabiec, @raphaelsc

test_tablets_lwt: add test_tablets_merge_waits_for_lwt
  service/tablet_allocator.cc
  test/cluster/test_tablets_lwt.py
Owners: none

test: test group0 tombstone GC in the Raft-based recovery procedure
  test/cluster/test_tombstone_gc.py
Owners: none

test: unskip test_raft_recovery_entry_loss
  test/cluster/test_raft_recovery_entry_loss.py
Owners: none

test.py: add universalasync_typed_wrap
  test/pylib/log_browsing.py
  test/pylib/manager_client.py
  test/pylib/rest_client.py
  test/pylib/util.py
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
