Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

tools/scylla-sstable: write_operation(): fix indentation
  tools/scylla-sstable.cc
Owners: @denesb

tools/scylla-sstable: add cql support to write operation
  test/cqlpy/test_tools.py
  tools/scylla-sstable.cc
Owners: @nyh, @denesb

tools/scylla-sstable: print_query_results_json(): handle empty value buffer
  tools/scylla-sstable.cc
Owners: @denesb

measure latency for vector_index queries
  cql3/statements/select_statement.cc
Owners: none

replica/mutation_dump: add support for virtual tables
  replica/database.hh
  replica/mutation_dump.cc
  test/cqlpy/test_select_from_mutation_fragments.py
Owners: @tgrabiec, @nyh

test/cqlpy/test_tools.py: add test for scylla-sstable write --input-format=cql
  test/cqlpy/test_tools.py
Owners: @nyh

vector_search: Fix flaky test by mocking DNS queries
  test/vector_search/vector_store_client_test.cc
  vector_search/dns.cc
  vector_search/dns.hh
Owners: none

vector_search: Fix flaky connection in tests
  test/vector_search/vector_store_client_test.cc
Owners: none

vector_search: Refactor ANN request test
  test/vector_search/vector_store_client_test.cc
Owners: none

vector_search: Fix missing timeout reset
  test/vector_search/vector_store_client_test.cc
Owners: none

vector_search: Unify test timeouts
  test/vector_search/vector_store_client_test.cc
Owners: none

test.py: fix flaky LDAP tests
  test.py
  test/ldap/ldap_common.hh
  test/ldap/saslauthd_authenticator_test.cc
Owners: none

scylla_gdb: use persistent GDB - decrease test execution time
  test.py
  test/cqlpy/run.py
  test/scylla_gdb/conftest.py
  test/scylla_gdb/gdb_support_scripts.py
  test/scylla_gdb/test_basic_commands.py
  test/scylla_gdb/test_misc.py
  test/scylla_gdb/test_schema_commands.py
  test/scylla_gdb/test_sstable_commands.py
  test/scylla_gdb/test_task_commands.py
Owners: @nyh

Add .gdbinit and remove scylla_gdb/.gdbinit from gitignore
  .gitignore
  test/scylla_gdb/.gdbinit
Owners: none

test.py: integrate python tests to be executed with pytest runner
  test.py
  test/__init__.py
  test/alternator/test_config.yaml
  test/broadcast_tables/test_config.yaml
  test/cluster/test_view_building_coordinator.py
  test/cql/test_config.yaml
  test/cqlpy/test_config.yaml
  test/pylib/runner.py
  test/pylib/suite/base.py
  test/pylib/suite/python.py
  test/rest_api/test_config.yaml
Owners: @nyh

repair: Rename incremental mode name
  api/api-doc/storage_service.json
  docs/operating-scylla/nodetool-commands/cluster/repair.rst
  idl/repair.idl.hh
  locator/tablets.cc
  locator/tablets.hh
  test/cluster/test_incremental_repair.py
  test/nodetool/test_cluster_repair.py
  tools/scylla-nodetool.cc
Owners: @denesb

test: test_raft_no_quorum: test_can_restart: deflake the read barrier call
  test/cluster/test_raft_no_quorum.py
Owners: none

env: docker image
  tools/toolchain/Dockerfile.contracts
  tools/toolchain/install_contract_clang.sh
Owners: none

env: use the image that supports contracts
  tools/toolchain/image
Owners: none

contracts: UUID
  utils/UUID.hh
  utils/UUID_gen.hh
Owners: none

env: added -g to compiler flags
  tools/toolchain/contracts_compiler.cfg
Owners: none

contracts: revert all UUID preconditions
  utils/UUID_gen.hh
Owners: none

env: configure.py and help scripts
  configure.py
  dbuild_configure_scylla_with_clang.sh
  tools/toolchain/contracts_compiler.cfg
Owners: none

contracts: added to compaction/leveled_manifest.hh
  compaction/leveled_manifest.hh
Owners: @raphaelsc

contracts: precondition to consume_range_tombstone
  sstables/mx/reader.cc
Owners: none

wip
  dbuild_configure_scylla_with_clang.sh
  tools/toolchain/contracts_compiler.cfg
Owners: none

trying clang 22
  dbuild_configure_scylla_with_clang.sh
  tools/toolchain/Dockerfile.clang.latest
  tools/toolchain/contracts_compiler.cfg
  tools/toolchain/image
  tools/toolchain/install_clang_latest.sh
Owners: none

cdc: Add a an option which skips cdc to per_request_options
  alternator/executor.cc
  cdc/log.cc
  cdc/log.hh
  service/storage_proxy.cc
Owners: @nyh, @kbr-scylla, @elcallio, @piodul, @gleb-cloudius

test/alternator: Add more Streams tests for UpdateItem and BatchWriteItem
  test/alternator/test_streams.py
  test/alternator/util.py
Owners: @nyh

cdc: Don't split a row marker away from row cells
  alternator/executor.cc
  cdc/log.cc
  cdc/log.hh
  cdc/split.cc
  cdc/split.hh
Owners: @nyh, @kbr-scylla, @elcallio, @piodul

config: Add alternator_streams_strict_compatibility flag
  db/config.cc
  db/config.hh
Owners: none

alternator/streams, cdc: Differentiate item replace and item update in CDC
  alternator/executor.cc
  cdc/log.cc
Owners: @nyh, @kbr-scylla, @elcallio, @piodul

test/alternator: Enable the tests failing because of #6918
  test/alternator/test_streams.py
Owners: @nyh

alternator/streams: Skip CDC when deleting a nonexistent item
  alternator/executor.cc
  alternator/rmw_operation.hh
Owners: @nyh

alternator, cdc: Don't emit an event for equal items
  alternator/executor.cc
  cdc/log.cc
  cdc/log.hh
  cdc/split.cc
  cdc/split.hh
Owners: @nyh, @kbr-scylla, @elcallio, @piodul

alternator: Read the previous item even if an operation doesn't need read-before-write
  alternator/executor.cc
  alternator/rmw_operation.hh
  cdc/log.hh
Owners: @nyh, @kbr-scylla, @elcallio, @piodul

alternator: Change return type of rmw_operation_return
  alternator/executor.cc
Owners: @nyh

alternator: Correct RCU undercount in BatchGetItem
  alternator/executor.cc
  alternator/executor.hh
  test/alternator/test_returnconsumedcapacity.py
Owners: @nyh

s3_client: track memory starvation in background filling fiber
  utils/s3/client.cc
  utils/s3/client.hh
Owners: none

test/alternator: Add a Streams test reproducing #26382
  test/alternator/test_streams.py
Owners: @nyh

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
