Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

test/cluster/test_tablets: Migrate dtest
  test/cluster/test_tablets.py
Owners: none

alternator: add alternator_warn_authorization config
  alternator/controller.cc
  alternator/executor.cc
  alternator/executor.hh
  alternator/server.cc
  alternator/server.hh
  alternator/stats.cc
  alternator/stats.hh
  alternator/streams.cc
  alternator/ttl.cc
  db/config.cc
  db/config.hh
Owners: @nyh

test/alternator: tests for new auth failure metrics and log messages
  test/alternator/test_logs.py
  test/alternator/test_metrics.py
Owners: @nyh

docs/alternator: explain alternator_warn_authorization
  docs/alternator/compatibility.md
Owners: @annastuchlik, @tzach, @nyh

backlog_controller: compute backlog even when static shares are set
  replica/database.cc
Owners: none

doc: add support for Debian 12
  docs/_static/data/os-support.json
Owners: none

repair: Remove the regular mode name in the tablet repair api
  api/api-doc/storage_service.json
Owners: none

doc: add OS support for version 2025.4
  docs/_static/data/os-support.json
Owners: none

test: test_raft_recovery_stuck: reconnect driver after rolling restarts
  test/cluster/test_raft_recovery_stuck.py
Owners: none

doc: add --list-active-releases to Web Installer
  docs/getting-started/installation-common/scylla-web-installer.rst
Owners: none

lister: Fix race between readdir and stat
  test/boost/lister_test.cc
  utils/lister.cc
  utils/lister.hh
Owners: none

doc: add support for Debian 12
  docs/_static/data/os-support.json
Owners: none

test: test_raft_recovery_stuck: reconnect driver after rolling restarts
  test/cluster/test_raft_recovery_stuck.py
Owners: none

doc: add --list-active-releases to Web Installer
  docs/getting-started/installation-common/scylla-web-installer.rst
Owners: none

lister: Fix race between readdir and stat
  test/boost/lister_test.cc
  utils/lister.cc
  utils/lister.hh
Owners: none

doc: add support for Debian 12
  docs/_static/data/os-support.json
Owners: none

test: test_raft_recovery_stuck: reconnect driver after rolling restarts
  test/cluster/test_raft_recovery_stuck.py
Owners: none

doc: add --list-active-releases to Web Installer
  docs/getting-started/installation-common/scylla-web-installer.rst
Owners: none

lister: Fix race between readdir and stat
  test/boost/lister_test.cc
  utils/lister.cc
  utils/lister.hh
Owners: none

repair: Always reset node ops progress to 100% upon completion
  repair/repair.cc
  repair/row_level.hh
Owners: @tgrabiec, @asias

doc: add support for Debian 12
  docs/getting-started/os-support.rst
Owners: none

test: test_raft_recovery_stuck: reconnect driver after rolling restarts
  test/topology_custom/test_raft_recovery_stuck.py
Owners: none

doc: add --list-active-releases to Web Installer
  docs/getting-started/installation-common/scylla-web-installer.rst
Owners: none

secondary_index: disallow multiple vector indexes on the same column
  cql3/statements/create_index_statement.cc
  index/vector_index.cc
  index/vector_index.hh
  test/cqlpy/test_vector_index.py
Owners: @nyh, @piodul

tablet_allocator, tests: remove allow_tablet_merge_with_views injection
  service/tablet_allocator.cc
  test/cluster/test_view_building_coordinator.py
Owners: none

test: mv: add a test for tablet merge
  test/cluster/mv/tablets/test_mv_tablets_merge.py
Owners: none

vector_index: require tablets for vector indexes
  cql3/statements/create_index_statement.cc
  index/secondary_index_manager.hh
  index/vector_index.cc
  index/vector_index.hh
Owners: @nyh, @piodul

db/batchlog_manager: coroutinize replay_all_failed_batches
  db/batchlog_manager.cc
Owners: @elcallio

db: repair: throw if replay fails
  db/batchlog_manager.cc
  db/batchlog_manager.hh
  repair/row_level.cc
  test/boost/batchlog_manager_test.cc
Owners: @elcallio, @tgrabiec, @asias

db/batchlog_manager: delete batch with incorrect or unknown version
  db/batchlog_manager.cc
Owners: @elcallio

db/batchlog_manager: fix making decision to skip batch replay
  db/batchlog_manager.cc
Owners: @elcallio

boost/cql_query_test: Get expected compressor from config
  test/boost/cql_query_test.cc
Owners: none

compaction/compaction_descriptor: introduce compaction_type::Major
  compaction/compaction.cc
  compaction/compaction_descriptor.hh
  compaction/compaction_manager.hh
  compaction/compaction_strategy.cc
  test/storage/test_out_of_space_prevention.py
Owners: @raphaelsc

replica/table: do not stop major compaction when disabling auto compaction
  compaction/compaction_manager.cc
  test/cluster/test_major_compaction.py
Owners: @raphaelsc

tests(lwt): new test for LWT testing during tablet resize
  test/cluster/lwt/lwt_common.py
  test/cluster/lwt/test_lwt_during_tablets_resize.py
Owners: none

cdc: Emit a preimage for non-clustered tables
  cdc/log.cc
  cdc/split.cc
  test/alternator/test_streams.py
  test/boost/cdc_test.cc
Owners: @kbr-scylla, @elcallio, @piodul, @nyh

alternator: fix CDC events for TTL expiration
  alternator/streams.cc
  docs/alternator/compatibility.md
  test/alternator/test_ttl.py
Owners: @nyh, @annastuchlik, @tzach

repair: fail tablet repair if any batch wasn't sent successfully
  repair/repair.cc
  repair/row_level.hh
  repair/task_manager_module.hh
Owners: @tgrabiec, @asias

test: add reproducer for data resurrection
  service/storage_proxy.cc
  test/cluster/test_batchlog_manager.py
Owners: @gleb-cloudius

db: fix indentation
  db/batchlog_manager.cc
Owners: @elcallio

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
