Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

test: cql_query_test: Disable rf_rack_valid_keyspaces where needed
  test/boost/cql_query_test.cc
Owners: none

test: lib: topology_builder: generate unique rack names
  test/lib/topology_builder.hh
Owners: none

test: cluster: test_zero_token_nodes_multidc: Adjust to rack list RF
  test/cluster/test_zero_token_nodes_multidc.py
Owners: none

test: Create cluster with multiple racks in multi-dc setups
  test/cluster/dtest/ccmlib/scylla_cluster.py
  test/cluster/test_alternator.py
  test/cluster/test_group0_schema_versioning.py
Owners: none

test: Prepare for handling errors specific to rack list path
  test/cluster/test_multidc.py
  test/cqlpy/cassandra_tests/validation/operations/alter_test.py
  test/cqlpy/test_keyspace.py
Owners: @nyh

test: cluster: dtest: alternator: Force RF=1 in test_putitem_contention
  test/cluster/dtest/alternator_tests.py
Owners: none

cql3: ks_prop_defs: Preserve old options
  cql3/statements/ks_prop_defs.cc
Owners: none

topology_coordinator: Make keyspace alter process options through as_ks_metadata_update()
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/ks_prop_defs.cc
  service/topology_coordinator.cc
Owners: none

test: Switch to rack-list based RF
  test/cluster/test_tablets.py
  test/cluster/test_tablets_cql.py
  test/cluster/util.py
Owners: none

alternator: Use rack-list based RF when rf-rack-valid keyspaces are forced
  alternator/executor.cc
Owners: @nyh

cql3: ks_prop_defs: Introduce flattened()
  cql3/statements/ks_prop_defs.cc
  cql3/statements/ks_prop_defs.hh
Owners: none

topology_coordinator: Cancel keyspace alter on broader set of errors
  service/topology_coordinator.cc
Owners: none

test: Add tests for rack list RF
  test/boost/network_topology_strategy_test.cc
  test/cqlpy/test_keyspace.py
  test/lib/topology_builder.hh
Owners: @nyh

cql3: ks_prop_defs: Expand numeric RF to rack list
  audit/audit_cf_storage_helper.cc
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/ks_prop_defs.cc
  cql3/statements/ks_prop_defs.hh
  docs/cql/ddl.rst
  service/topology_coordinator.cc
  test/cluster/test_keyspace_rf.py
  test/cluster/test_multidc.py
  test/cql/locator_test.result
  test/cqlpy/test_keyspace.py
Owners: @nyh

topology_coordinator: Restore formatting
  service/topology_coordinator.cc
Owners: none

doc: Document rack-list replication factor
  docs/cql/ddl.rst
Owners: none

compressor: Add missing space in exception message
  sstables/compressor.cc
Owners: @tgrabiec, @raphaelsc

tablet: scheduler: Do not emit conflicting migrations in the plan
  service/tablet_allocator.cc
  test/boost/tablets_test.cc
Owners: none

hinted_handoff: drain hints after the target node stops owning tokens
  service/endpoint_lifecycle_subscriber.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
  service/storage_service.cc
  service/storage_service.hh
  test/cluster/test_hints.py
Owners: @gleb-cloudius, @tgrabiec, @asias

test: fix test_two_tablets_concurrent_repair_and_migration_repair_writer_level
  test/cluster/test_tablets.py
  test/pylib/rest_client.py
Owners: none

types/comparable_bytes: add compatability test data for DateTpe
  test/resource/byte_comparable_compatibility_data.csv
Owners: none

tools/schema_loader: disable tablet-related restrictions in the placeholder keyspace
  tools/schema_loader.cc
Owners: @denesb

hinted_handoff: drain hints after the target node stops owning tokens
  service/endpoint_lifecycle_subscriber.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
  service/storage_service.cc
  service/storage_service.hh
  test/cluster/test_hints.py
Owners: @gleb-cloudius, @tgrabiec, @asias

compaction/twcs: use on_internal_error for invalid timestamp resolution
  compaction/time_window_compaction_strategy.hh
Owners: @raphaelsc

test: perf: perf-load-balancing: Convert to tool_app_template
  test/perf/tablet_load_balancing.cc
Owners: none

tablets: scheduler: Balance racks separately when rf_rack_valid_keyspaces is true
  service/tablet_allocator.cc
  test/cluster/test_not_enough_token_owners.py
  test/cluster/test_tablets.py
  test/cluster/test_tablets2.py
Owners: none

test: perf: perf-load-balancing: Add parallel-scaleout scenario
  test/perf/tablet_load_balancing.cc
Owners: none

tablets: scheduler: Balance racks separately when rf_rack_valid_keyspaces is true
  service/tablet_allocator.cc
  test/cluster/test_not_enough_token_owners.py
  test/cluster/test_tablets.py
  test/cluster/test_tablets2.py
Owners: none

test: perf: perf-load-balancing: Add parallel-scaleout scenario
  test/perf/tablet_load_balancing.cc
Owners: none

test: perf: perf-load-balancing: Convert to tool_app_template
  test/perf/tablet_load_balancing.cc
Owners: none

tools/scylla-sstable: introduce the upgrade command
  docs/operating-scylla/admin-tools/scylla-sstable.rst
  test/cqlpy/test_tools.py
  tools/scylla-sstable.cc
Owners: @nyh, @denesb

docs: Add feature page for incremental repair
  docs/features/incremental-repair.rst
  docs/features/index.rst
Owners: none

alternator: fix bug in combination of AttributeUpdates + ReturnValues
  alternator/executor.cc
  test/alternator/test_returnvalues.py
Owners: @nyh

test: audit: stop using datetime.datetime.now() in syslog converter
  test/cluster/dtest/audit_test.py
Owners: none

test/perf/tablet_load_balancing.cc: Create nodes within one DC
  test/perf/tablet_load_balancing.cc
Owners: none

db/batchlog: Drop batch if table has been dropped
  db/batchlog_manager.cc
  test/topology_custom/test_batchlog_manager.py
Owners: @elcallio

test/perf/tablet_load_balancing.cc: Create nodes within one DC
  test/perf/tablet_load_balancing.cc
Owners: none

test: deflake driver reconnections in the recovery procedure tests
  test/cluster/test_raft_recovery_during_join.py
  test/cluster/test_raft_recovery_entry_loss.py
  test/cluster/test_raft_recovery_user_data.py
Owners: none

db/batchlog: Drop batch if table has been dropped
  db/batchlog_manager.cc
  test/cluster/test_batchlog_manager.py
Owners: @elcallio

test/storage: Properly mount/clear volumes
  test/storage/conftest.py
  test/storage/suite.yaml
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
