Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

locator: utils: get_all_ranges, construct_range_to_endpoint_map: use end-bound ranges
  locator/util.cc
Owners: none

gossiper: ensure API registration before usage in test
  main.cc
  test/cluster/test_long_join.py
Owners: none

Add table size to DescribeTable's reply in Alternator
  alternator/controller.cc
  alternator/controller.hh
  alternator/executor.cc
  alternator/executor.hh
  conf/scylla.yaml
  db/config.cc
  db/config.hh
  docs/alternator/compatibility.md
  main.cc
  service/storage_service.cc
  service/storage_service.hh
  test/alternator/test_describe_table.py
  test/boost/simple_value_with_expiry.cc
  utils/simple_value_with_expiry.hh
Owners: @nyh, @annastuchlik, @tzach, @tgrabiec, @asias

Update ScyllaDB version to: 2025.2.3
  SCYLLA-VERSION-GEN
Owners: none

treewide: avoid including gms/feature_service.hh from headers
  index/secondary_index_manager.hh
  service/topology_coordinator.hh
  tools/read_mutation.cc
  tools/read_mutation.hh
Owners: @nyh, @piodul, @denesb

sstables/types.hh: fix fmt::formatter<sstables::deletion_time>
  sstables/types.hh
Owners: @tgrabiec, @raphaelsc

sstables/types.hh: fix fmt::formatter<sstables::deletion_time>
  sstables/types.hh
Owners: @tgrabiec, @raphaelsc

sstables/types.hh: fix fmt::formatter<sstables::deletion_time>
  sstables/types.hh
Owners: @tgrabiec, @raphaelsc

replica/exceptions: Add a new custom replica exception
  idl/replica_exception.idl.hh
  replica/exceptions.cc
  replica/exceptions.hh
  service/storage_proxy.cc
Owners: @gleb-cloudius

config: Add critical_disk_utilization_level option
  db/config.cc
  db/config.hh
Owners: none

disk_space_monitor: add subscription API for threshold-based disk space monitoring
  configure.py
  main.cc
  test/boost/CMakeLists.txt
  test/boost/database_test.cc
  test/boost/disk_space_monitor_test.cc
  test/lib/cql_test_env.cc
  utils/disk_space_monitor.cc
  utils/disk_space_monitor.hh
Owners: none

docs: Add feature documentation
  docs/troubleshooting/error-messages/critical-disk-utilization.rst
  docs/troubleshooting/error-messages/index.rst
Owners: none

database: Add critical_disk_utilization mode database can be moved to
  main.cc
  replica/database.cc
  replica/database.hh
  test/lib/cql_test_env.cc
Owners: none

compaction_manager: Replace enabled/disabled states with running state
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
Owners: @raphaelsc

compaction_manager: Subscribe to out of space controller
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  main.cc
  replica/database.cc
  test/boost/sstable_compaction_test.cc
  test/lib/cql_test_env.cc
Owners: @raphaelsc

repair_service: Add a facility to disable the service
  main.cc
  repair/repair.cc
  repair/row_level.cc
  repair/row_level.hh
Owners: @tgrabiec, @asias

tests/cluster: Add new storage tests
  test/cluster/storage/__init__.py
  test/cluster/storage/conftest.py
  test/cluster/storage/suite.yaml
  test/cluster/storage/test_out_of_space_prevention.py
  test/pylib/suite/python.py
Owners: none

streaming: Reject incoming migrations
  service/topology_coordinator.cc
  streaming/stream_blob.cc
Owners: @tgrabiec, @asias

test/scylla_cluster: Override workdir when passed via cmdline
  test/pylib/scylla_cluster.py
Owners: none

storage_service: extend locator::load_stats to collect per-node critical disk utilization flag
  idl/storage_service.idl.hh
  locator/tablets.cc
  locator/tablets.hh
  service/storage_service.cc
  service/storage_service.hh
Owners: @tgrabiec, @asias

types/comparable_bytes: introduce to_comparable_bytes/from_comparable_bytes
  types/comparable_bytes.cc
Owners: none

treewide: avoid including gms/feature_service.hh from headers
  index/secondary_index_manager.hh
  service/topology_coordinator.hh
  tools/read_mutation.cc
  tools/read_mutation.hh
Owners: @nyh, @piodul, @denesb

test: Add test for query execution during CQL server shutdown
  test/topology_custom/test_write_query_during_cql_server_shutdown.py
Owners: none

generic_server: add `shutdown_input` and `shutdown_output` functions to `connection` class.
  generic_server.cc
  generic_server.hh
Owners: none

generic_server: refactor connection::shutdown to use `shutdown_input` and `shutdown_output`
  generic_server.cc
Owners: none

generic_server: replace empty destructor with `= default`
  generic_server.cc
  generic_server.hh
Owners: none

generic_server: Two-step connection shutdown.
  db/config.cc
  db/config.hh
  generic_server.cc
  generic_server.hh
  redis/controller.cc
  redis/server.cc
  redis/server.hh
  test/boost/generic_server_test.cc
  test/topology_custom/test_write_query_during_cql_server_shutdown.py
  transport/controller.cc
  transport/server.cc
  transport/server.hh
Owners: @syuu1228

test: Set `request_timeout_on_shutdown_in_seconds` to `request_timeout_in_ms`, decrease request timeout.
  test/auth_cluster/test_raft_service_levels.py
  test/pylib/scylla_cluster.py
Owners: none

vector_index: check if vector index exists in schema
  index/vector_index.cc
  index/vector_index.hh
Owners: @nyh, @piodul

streaming: Enclose potential throws in try block and ensure sink close before logging
  streaming/stream_blob.cc
Owners: @tgrabiec, @asias

test: test_maintenance_socket: use cluster_con for driver sessions
  test/auth_cluster/test_maintenance_socket.py
Owners: none

Fix dbuild boost::gregorian usage error
  test/boost/user_function_test.cc
Owners: none

raft_system_peers_updater: on_endpoint_change: call update even if ip hasn't changed
  service/storage_service.cc
Owners: @tgrabiec, @asias

test/cqlpy/test_service_level_api: update to service levels on raft and remove flakiness
  test/cqlpy/test_service_level_api.py
Owners: @nyh

raft_sys_table_storage: avoid temporary buffer when deserializing log_entry
  service/raft/raft_sys_table_storage.cc
Owners: none

serializer_impl.hh: add as_input_stream(managed_bytes_view) overload
  serializer_impl.hh
Owners: none

storage_proxy: add fencing to Paxos verbs
  idl/storage_proxy.idl.hh
  service/storage_proxy.cc
Owners: @gleb-cloudius

test_fencing: test_fence_lwt_during_bootstap
  service/storage_service.cc
  service/topology_coordinator.cc
  test/cluster/test_fencing.py
Owners: @tgrabiec, @asias

sp::apply_fence: rename to apply_fence_on_ready
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius

storage_proxy: extract apply_fence_result
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @gleb-cloudius
