Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

alternator/test: Enable the tests failing because of <issue id>
  test/alternator/test_streams.py
Owners: @nyh

alternator: Read the previous item even if an operation doesn't need read-before-write
  alternator/executor.cc
  alternator/rmw_operation.hh
  test/alternator/test_streams.py
Owners: @nyh

alternator: Don't emit a redundant REMOVE event in Alternator Streams for PutItem calls
  alternator/executor.cc
  test/alternator/test_streams.py
Owners: @nyh

vector_store_client: Extract DNS logic into a dedicated class
  configure.py
  vector_search/CMakeLists.txt
  vector_search/dns.cc
  vector_search/dns.hh
  vector_search/vector_store_client.cc
Owners: none

vector_store_client_test: Verify DNS is not refreshed when disabled
  test/boost/vector_store_client_test.cc
Owners: none

alternator: Small cleanup, removing unnecessary statements, etc.
  alternator/executor.cc
  alternator/rmw_operation.hh
  test/alternator/test_metrics.py
  test/alternator/test_returnconsumedcapacity.py
Owners: @nyh

alternator/test: Add more context to test_metrics.py asserts
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Add GetItem response size metrics
  alternator/executor.cc
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Add PutItem and DeleteItem response size metrics
  alternator/executor.cc
  alternator/rmw_operation.hh
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Add UpdateItem and BatchWriteItem response size metrics
  alternator/executor.cc
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

alternator: Add BatchGetItem response size metrics
  alternator/executor.cc
  alternator/stats.cc
  alternator/stats.hh
  test/alternator/test_metrics.py
Owners: @nyh

vector_store_client: Add support for multiple IPs in DNS responses
  test/boost/vector_store_client_test.cc
  vector_search/dns.cc
  vector_search/dns.hh
  vector_search/vector_store_client.cc
  vector_search/vector_store_client.hh
Owners: none

test: add test for creating table with CDC enabled if not exists
  test/cqlpy/test_cdc.py
Owners: @nyh

vector_store_client: Rename vector_store_uri to vector_store_primary_uri
  conf/scylla.yaml
  db/config.cc
  db/config.hh
  service/vector_store_client.cc
  test/boost/vector_store_client_test.cc
Owners: none

compaction/scrub: register sstables for compaction before validation
  compaction/compaction_manager.cc
  test/boost/sstable_compaction_test.cc
Owners: @raphaelsc

compaction/scrub: handle exceptions when moving invalid sstables to quarantine
  compaction/compaction.cc
Owners: @raphaelsc

compaction/scrub: register sstables for compaction before validation
  compaction/compaction_manager.cc
  test/boost/sstable_compaction_test.cc
Owners: @raphaelsc

db: get rid of sstables-format-selector
  api/api.cc
  api/api_init.hh
  api/system.cc
  api/system.hh
  compaction/compaction_manager.cc
  configure.py
  db/CMakeLists.txt
  db/config.cc
  db/sstables-format-selector.cc
  db/sstables-format-selector.hh
  main.cc
  replica/database.cc
  replica/database.hh
  replica/distributed_loader.cc
  replica/table.cc
  sstables/sstables_manager.cc
  sstables/sstables_manager.hh
  test/cqlpy/test_tools.py
  test/lib/cql_test_env.cc
Owners: @raphaelsc, @tgrabiec, @nyh

tests(lwt): new test for LWT testing during tablet resize
  test/cluster/lwt/lwt_common.py
  test/cluster/lwt/test_lwt_during_teblets_resize.py
Owners: none

topology_coordinator: abort view building a bit later in case of tablet migration
  service/topology_coordinator.cc
Owners: none

vector_store_client: Return HTTP error description, not just code
  service/vector_store_client.cc
  service/vector_store_client.hh
  test/boost/vector_store_client_test.cc
Owners: none

alternator/expressions.g: Fix antlr3 missing token leak
  alternator/expressions.g
  test/boost/alternator_unit_test.cc
Owners: @nyh

alternator: fix bug in combination of AttributeUpdates + ReturnValues
  alternator/executor.cc
  test/alternator/test_returnvalues.py
Owners: @nyh

s3: Fix chunked download source metrics calculations
  utils/s3/client.cc
Owners: none

s3: Fix chunked download source metrics calculations
  utils/s3/client.cc
Owners: none

docs: Add documentation for picking tombstone GC mode with TWCS
  docs/cql/compaction.rst
  docs/rst_include/warning-ttl-twcs.rst
  docs/rst_include/warning-windowsize-twcs.rst
Owners: none

alternator: fix bug in combination of AttributeUpdates + ReturnValues
  alternator/executor.cc
  test/alternator/test_returnvalues.py
Owners: @nyh

test/test_view_building_coordinator: add reproducer
  test/cluster/test_view_building_coordinator.py
Owners: none

alternator: Split `update_item_operation::apply` into smaller methods
  alternator/executor.cc
Owners: @nyh

cdc, storage: Add a struct to pass per-mutation options to CDC
  alternator/executor.cc
  cdc/log.cc
  cdc/log.hh
  service/storage_proxy.cc
  service/storage_proxy.hh
Owners: @nyh, @kbr-scylla, @elcallio, @piodul, @gleb-cloudius

cdc: Move operations enum to the top of the namespace
  cdc/log.hh
Owners: @kbr-scylla, @elcallio, @piodul

storage: Add cdc options to cas_requets::apply
  alternator/executor.cc
  alternator/rmw_operation.hh
  cql3/statements/cas_request.cc
  cql3/statements/cas_request.hh
  service/paxos/cas_request.hh
  service/storage_proxy.cc
Owners: @nyh, @gleb-cloudius

cdc: Add an option to change emitted log rows
  cdc/log.cc
  cdc/log.hh
Owners: @kbr-scylla, @elcallio, @piodul

cdc: Support prefetched preimages
  cdc/log.cc
  cdc/log.hh
Owners: @kbr-scylla, @elcallio, @piodul

compaction/scrub: register sstables for compaction before validation
  compaction/compaction_manager.cc
  test/boost/sstable_compaction_test.cc
Owners: @raphaelsc

vector search: correct column name formatting
  cql3/statements/select_statement.cc
  test/cqlpy/cassandra_tests/vector_invalid_query_test.py
Owners: none

load balancing: extend locator::load_stats to collect tablet sizes
  idl/storage_service.idl.hh
  locator/tablets.cc
  locator/tablets.hh
  replica/compaction_group.hh
  replica/database.hh
  replica/table.cc
  service/storage_service.cc
Owners: @tgrabiec, @asias

load_stats: add reconcile to load_stats
  locator/tablets.cc
  locator/tablets.hh
  service/topology_coordinator.cc
  test/boost/tablets_test.cc
Owners: none

load_sketch: use tablet sizes in load computation
  db/virtual_tables.cc
  docs/dev/system_keyspace.md
  locator/load_sketch.hh
  locator/network_topology_strategy.cc
  test/boost/tablets_test.cc
  test/perf/tablet_load_balancing.cc
Owners: none

wip
  test/boost/s3_test.cc
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
