Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

db/view/view_building_worker: add method to register staging sstable
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
  main.cc
Owners: @nyh, @piodul

db/view/view_building_worker: discover staging sstables
  db/view/view_building_worker.cc
  db/view/view_building_worker.hh
Owners: @nyh, @piodul

db/view/view_update_generator: ignore tablet-based sstables
  db/view/view_update_generator.cc
Owners: @nyh, @piodul

db/view/view_update_generator: extract generating updates from staging sstables to a method
  db/view/view_update_generator.cc
  db/view/view_update_generator.hh
Owners: @nyh, @piodul

db/view/view_building_coordinator: update view build status on node join/left
  db/view/view.cc
  db/view/view_building_coordinator.cc
  db/view/view_building_coordinator.hh
  service/topology_coordinator.cc
Owners: @nyh, @piodul

db/view/view_building_worker: register staging sstable to view building coordinator when needed
  db/view/view.cc
  db/view/view_builder.hh
  db/view/view_update_checks.hh
  main.cc
  repair/row_level.cc
  repair/row_level.hh
  replica/distributed_loader.cc
  replica/distributed_loader.hh
  sstables_loader.cc
  sstables_loader.hh
  streaming/consumer.cc
  streaming/consumer.hh
  streaming/stream_manager.cc
  streaming/stream_manager.hh
  streaming/stream_session.cc
  test/boost/cql_query_test.cc
  test/lib/cql_test_env.cc
  test/lib/cql_test_env.hh
Owners: @nyh, @piodul, @tgrabiec, @asias

db/view/view_builder: ignore `no_such_keyspace` exception
  db/view/view.cc
Owners: @nyh, @piodul

db/view/view_building_worker: work on `process_staging` tasks
  db/view/view_building_worker.cc
Owners: @nyh, @piodul

test: adjust existing tests
  db/view/view_building_worker.cc
  test/cluster/mv/test_mv_delete_partitions.py
  test/cluster/test_tablets.py
  test/cluster/test_tablets_colocation.py
  test/cluster/test_view_build_status.py
  test/cqlpy/test_compaction.py
  test/cqlpy/test_materialized_view.py
Owners: @nyh, @piodul

test/cluster: add view building coordinator tests
  db/view/view_building_coordinator.cc
  db/view/view_building_worker.cc
  service/topology_coordinator.cc
  test/cluster/test_view_building_coordinator.py
Owners: @nyh, @piodul

test/cluster: add view build status tests
  test/cluster/test_view_build_status.py
  test/cluster/test_view_building_coordinator.py
Owners: none

utils/error_injection: add injection with `sleep_abortable()`
  utils/error_injection.hh
Owners: none

utils/error_injection: allow to abort `injection_handler::wait_for_message()`
  utils/error_injection.hh
Owners: none

docs/dev: add view building coordinator documentation
  docs/dev/view-building-coordinator.md
Owners: none

Update urgent_issue_reminder.yml - run daily
  .github/workflows/urgent_issue_reminder.yml
Owners: none

utils::gcp::object_storage: Add client for GCP object storage
  configure.py
  utils/CMakeLists.txt
  utils/gcp/object_storage.cc
  utils/gcp/object_storage.hh
Owners: none

proc-utils: Inherit environment from current process
  test/lib/proc_utils.cc
  test/lib/proc_utils.hh
Owners: none

proc-utils: Re-export waiting types from seastar
  test/lib/proc_utils.hh
Owners: none

types/comparable_bytes: introduce encode/decode_component
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

locator: utils: get_all_ranges, construct_range_to_endpoint_map: use end-bound ranges
  locator/util.cc
Owners: none

cmake: Add missing `incremental.cc` to `repair/CMakeLists.txt`
  repair/CMakeLists.txt
Owners: @tgrabiec, @asias

tablets: add per_table_tablet_map to tablet metadata
  locator/load_sketch.hh
  locator/tablets.cc
  locator/tablets.hh
  replica/tablets.cc
  test/boost/tablets_test.cc
  test/perf/tablet_load_balancing.cc
Owners: none

tablets: introduce per_table_tablet_map
  locator/tablets.cc
  locator/tablets.hh
Owners: none

tablets: introduce tablet_map_view
  locator/tablets.cc
  locator/tablets.hh
Owners: none

tablets: resize tablets with per-table map
  locator/tablets.cc
  locator/tablets.hh
  service/tablet_allocator.cc
  service/tablet_allocator.hh
  service/topology_coordinator.cc
  test/boost/tablets_test.cc
Owners: none

task_manager_module: use tablet_map_view to read repair fields
  service/task_manager_module.cc
Owners: none

tablets: add per table map in tablet_map_to_mutation
  replica/tablets.cc
  replica/tablets.hh
  service/tablet_allocator.cc
  service/topology_coordinator.cc
  test/boost/tablets_test.cc
Owners: none

storage_service: use tablet_map_view to read repair fields
  locator/tablet_metadata_guard.hh
  service/storage_service.cc
Owners: @tgrabiec, @asias

replica/tablets: move update_repair_time to on_end_of_stream
  replica/tablets.cc
Owners: none

replica/tablets: fix indentation
  replica/tablets.cc
Owners: none

replica/tablets: add flush_current helper function
  replica/tablets.cc
Owners: none

replica/tablets: read clustering rows of colocated tables
  locator/tablets.cc
  locator/tablets.hh
  replica/tablets.cc
Owners: none

replica/table: use tablet_map_view to read repair fields
  replica/table.cc
Owners: none

replica/tablets: prepare to read rows of colocated tables
  replica/tablets.cc
Owners: none

topology_coordinator: use tablet_map_view to read repair fields
  service/topology_coordinator.cc
Owners: none

tablets: write per-table mutations for colocated tables
  replica/tablets.cc
  replica/tablets.hh
  service/tablet_allocator.cc
Owners: none

tablet_allocator: pass base_map when allocating colocated map
  service/tablet_allocator.cc
Owners: none

repair: use tablet_map_view to read repair fields
  repair/repair.cc
  repair/row_level.cc
Owners: @tgrabiec, @asias

task_manager_module: fix iterating over tasks
  service/task_manager_module.cc
  service/task_manager_module.hh
Owners: none

tablets: remove repair info from shared tablet map
  locator/tablets.cc
  locator/tablets.hh
  replica/tablets.cc
  test/boost/tablets_test.cc
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
