Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

sstables_loader: Don't bypass synchronization with busy topology
  service/storage_service.cc
  service/storage_service.hh
  sstables_loader.cc
  test/cluster/test_tablets2.py
Owners: @tgrabiec, @asias

mv: limit concurrency of view updates generated from staging sstables
  db/view/view_update_generator.cc
  db/view/view_update_generator.hh
  replica/database.hh
  replica/table.cc
  test/cluster/mv/test_mv_backlog.py
Owners: @nyh, @piodul

Update ScyllaDB version to: 2025.3.4
  SCYLLA-VERSION-GEN
Owners: none

cdc: use chunked_vector instead of vector for stream ids
  cdc/generation.cc
  cdc/generation.hh
  cdc/generation_service.hh
  cdc/metadata.cc
  cdc/metadata.hh
  db/system_keyspace.cc
  db/system_keyspace.hh
  db/virtual_tables.cc
  service/storage_service.cc
  service/storage_service.hh
  test/boost/cdc_test.cc
Owners: @kbr-scylla, @elcallio, @piodul, @tgrabiec, @asias

tests(lwt): new test for LWT testing during tablet resize
  test/cluster/lwt/lwt_common.py
  test/cluster/lwt/test_lwt_during_tablets_resize.py
Owners: none

commitlog: Keep track of high RP for flush request on a per table basis
  db/commitlog/commitlog.cc
Owners: @elcallio, @eliransin

replay_position: Add a "max" constant
  db/commitlog/commitlog.cc
  db/commitlog/replay_position.hh
Owners: @elcallio, @eliransin

table/compaction group: Move flush replay_position guard into CG "lowest" pos
  replica/compaction_group.hh
  replica/database.hh
  replica/table.cc
Owners: none

db/config: Deprecate sstable_compression_dictionaries_allow_in_ddl
  cql3/statements/cf_prop_defs.cc
  db/config.cc
  main.cc
  sstables/compressor.cc
  sstables/compressor.hh
  test/cluster/test_sstable_compression_config.py
  test/cluster/test_sstable_compression_dictionaries_basic.py
Owners: @tgrabiec, @raphaelsc

db/config: Change default SSTable compressor to LZ4WithDictsCompressor
  db/config.cc
  main.cc
Owners: none

test/cluster: Add test for default SSTable compressor
  test/cluster/test_sstable_compression_config.py
Owners: none

sstables_loader: Don't bypass synchronization with busy topology
  service/storage_service.cc
  service/storage_service.hh
  sstables_loader.cc
  test/topology_custom/test_tablets2.py
Owners: @tgrabiec, @asias

sstables_loader: Don't bypass synchronization with busy topology
  service/storage_service.cc
  service/storage_service.hh
  sstables_loader.cc
  test/cluster/test_tablets2.py
Owners: @tgrabiec, @asias

sstables_loader: Don't bypass synchronization with busy topology
  service/storage_service.cc
  service/storage_service.hh
  sstables_loader.cc
  test/cluster/test_tablets2.py
Owners: @tgrabiec, @asias

sstables_loader: Don't bypass synchronization with busy topology
  service/storage_service.cc
  service/storage_service.hh
  sstables_loader.cc
  test/cluster/test_tablets2.py
Owners: @tgrabiec, @asias

Fix formatting of deprecated initial sub-option
  docs/cql/ddl.rst
Owners: none

replica/db: add syncer function to add/update cf
  replica/database.cc
  replica/database.hh
  schema/schema_registry.cc
  schema/schema_registry.hh
Owners: @tgrabiec

docs: add metrics generation validation
  .github/workflows/docs-validate-metrics.yml
  docs/README-metrics.md
  docs/_ext/scylladb_metrics.py
  docs/_ext/utils.py
  docs/conf.py
  scripts/get_description.py
  scripts/metrics-config.yml
Owners: @annastuchlik, @tzach

test: mv: test create mv during inserts
  db/schema_applier.cc
  test/cluster/mv/test_create_mv.py
Owners: @tgrabiec

service/storage_proxy: wait for schema sync if in progress
  mutation/mutation.cc
  mutation/mutation.hh
  schema/schema_registry.cc
  schema/schema_registry.hh
  service/migration_manager.cc
  service/storage_proxy.cc
  test/boost/repair_test.cc
  test/lib/mutation_source_test.cc
  test/lib/mutation_source_test.hh
Owners: @tgrabiec, @gleb-cloudius

db/schema_applier: mark schema synced after commit on all shards
  db/schema_applier.cc
  db/schema_applier.hh
Owners: @tgrabiec

test: Check file existence directly
  test/boost/sstable_directory_test.cc
Owners: none

compaction: release GC'ed sstables incrementally during compaction
  compaction/compaction.cc
Owners: @raphaelsc

utils: license: import crypt_sha512.c from musl to the project
  licenses/musl-icense.txt
  utils/crypt_sha512.c
Owners: none

view_building_coordinator: rollback tasks on the leaving tablet replica
  service/topology_coordinator.cc
  test/cluster/test_view_building_coordinator.py
Owners: none

test::lib::aws_kms_fixture: Add a fixture object to run mock AWS KMS
  configure.py
  test/lib/CMakeLists.txt
  test/lib/aws_kms_fixture.cc
  test/lib/aws_kms_fixture.hh
Owners: none

test::lib::gcs_fixture: Only set port if running docker image + more retry
  test/lib/gcs_fixture.cc
Owners: none

test::pylib::boost: Fix test gather to handle test suites
  test/pylib/cpp/boost.py
Owners: none

test::boost::encryption_at_rest: Move azure tests to use fixture
  test/boost/encryption_at_rest_test.cc
  test/pylib/suite/base.py
Owners: none

test::pylib::dockerized_service: Handle docker/podman bind error message
  test/pylib/dockerized_service.py
Owners: none

test::lib: Add azure mock/real server fixture
  configure.py
  test/lib/CMakeLists.txt
  test/lib/azure_kms_fixture.cc
  test/lib/azure_kms_fixture.hh
Owners: none

test::boost::test_encryption_at_rest: Move to AWS KMS fixture for kms test
  test/boost/encryption_at_rest_test.cc
Owners: none

test::boost::encryption_at_rest_test: Remove redundant indent
  test/boost/encryption_at_rest_test.cc
Owners: none

utils::gcp::object_storage: Fix typo in semaphore init
  utils/gcp/object_storage.cc
Owners: none

test::boost::test_encryption_at_rest: Reorder tests and helpers
  test/boost/encryption_at_rest_test.cc
Owners: none

ent::encryption: Make text helper routines take std::string
  ent/encryption/encryption.cc
  ent/encryption/encryption.hh
Owners: none

test::pylib: Add azure (mock) testing to EAR matrix
  test/pylib/azure_vault_server_mock.py
  test/pylib/encryption_provider.py
Owners: none

test::boost::encryption_at_rest: Remove redundant azure test indent
  test/boost/encryption_at_rest_test.cc
Owners: none

Fix query order in example for currentDate function
  docs/cql/functions.rst
Owners: none

Fix query example for date comparison
  docs/cql/functions.rst
Owners: none

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb
