Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

Refactor out code from test_restore_with_streaming_scopes
  test/cluster/object_store/test_backup.py
Owners: none

Refactor out code from test_restore_with_streaming_scopes
  test/cluster/object_store/test_backup.py
Owners: none

utils: chunked_vector: implement insert() for single-element inserts
  test/boost/chunked_vector_test.cc
  utils/chunked_vector.hh
Owners: none

row::compact_and_expire: exclude internal columns from res.live_cells
  collection_mutation.cc
  collection_mutation.hh
  mutation/compact_and_expire_result.hh
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  querier.hh
Owners: @tgrabiec, @denesb

test_internal_columns_dont_extend_row_lifetime
  test/boost/schema_change_test.cc
Owners: @tgrabiec

utils: chunked_vector: implement erase() for single elements and ranges
  test/boost/chunked_vector_test.cc
  utils/chunked_vector.hh
Owners: none

utils: chunked_vector: add swap() method
  test/boost/chunked_vector_test.cc
  utils/chunked_vector.hh
Owners: none

utils: chunked_vector: add range insert() overloads
  test/boost/chunked_vector_test.cc
  utils/chunked_vector.hh
Owners: none

utils: chunked_vector: relax static_assert
  utils/chunked_vector.hh
Owners: none

tools/scylla-nodetool: status: handle negative load sizes
  test/nodetool/test_status.py
  tools/scylla-nodetool.cc
Owners: @denesb

mv: remove queue length limit from the view update read concurrency semaphore
  replica/database.cc
  replica/database.hh
Owners: none

api: Use structured bindings in get_built_indexes() code
  api/column_family.cc
Owners: none

compaction_manager: drop gratuitous conversion from interval to wrapped_interval
  compaction/compaction_manager.cc
Owners: @raphaelsc

Update ScyllaDB version to: 2025.2.0-rc2
  SCYLLA-VERSION-GEN
Owners: none

wip
  interval.hh
Owners: none

streaming: use host_id in file streaming
  service/storage_service.cc
  service/storage_service.hh
  streaming/stream_blob.cc
  streaming/stream_blob.hh
  streaming/stream_session.cc
  test/boost/file_stream_test.cc
Owners: @tgrabiec, @asias

tools/scylla-nodetool: status: handle negative load sizes
  test/nodetool/test_status.py
  tools/scylla-nodetool.cc
Owners: @denesb

mv: remove queue length limit from the view update read concurrency semaphore
  replica/database.cc
  replica/database.hh
Owners: none

types: introduce comparable_bytes class
  test/boost/CMakeLists.txt
  test/boost/comparable_bytes_test.cc
  types/CMakeLists.txt
  types/comparable_bytes.cc
  types/comparable_bytes.hh
Owners: none

types/comparable_bytes: support float and double cql3 types
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support varint cql3 type
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support bigint cql3 type
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support skipping sign byte write in decode_signed_long_type
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support uuid and timeuuid cql3 types
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: introduce encode/decode_varint_length
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: introduce count_digits() method
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support date, time and timestamp cql3 types
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support fixed length signed integers
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

Update pgo profiles - x86_64
  pgo/profiles/x86_64/profile.profdata.xz
Owners: none

Update pgo profiles - aarch64
  pgo/profiles/aarch64/profile.profdata.xz
Owners: none

toolchain: set `scylla-driver` release based on tools/cqlsh
  install-dependencies.sh
  tools/toolchain/image
Owners: none

test.py: python: run tests using bare pytest command
  test/alternator/conftest.py
  test/alternator/test_metrics.py
  test/alternator/test_scan.py
  test/alternator/test_scylla.py
  test/alternator/test_table.py
  test/alternator/test_ttl.py
  test/broadcast_tables/conftest.py
  test/cqlpy/conftest.py
  test/cqlpy/test_udf.py
  test/cqlpy/test_using_timestamp.py
  test/cqlpy/test_wasm.py
  test/pylib/cql_repl/conftest.py
  test/pylib/suite/python.py
  test/rest_api/conftest.py
Owners: @nyh

test.py: python: remove dups of cql and this_dc fixtures
  test/pylib/cql_repl/conftest.py
  test/rest_api/conftest.py
Owners: none

test.py: remove duplication of pytest CLI options
  test/alternator/conftest.py
  test/cluster/conftest.py
  test/cluster/object_store/conftest.py
  test/cqlpy/conftest.py
  test/pylib/cql_repl/conftest.py
  test/pylib/suite/python.py
  test/rest_api/conftest.py
Owners: @nyh

test.py: set build_mode to "unknown" if no --mode argument
  test/conftest.py
Owners: none

test.py: create directory for test log in run_test()
  test/pylib/suite/base.py
Owners: none

test.py: remove `--omit-scylla-output` from pytest argparser
  test/alternator/conftest.py
  test/alternator/run
  test/cqlpy/conftest.py
  test/cqlpy/run.py
Owners: @nyh

test.py: python: split logic of PythonTest.run()
  test/pylib/suite/python.py
Owners: none

test.py: remove unused CLI options
  test/cluster/object_store/conftest.py
Owners: none

test.py: rework testpy_test fixture
  test/cluster/conftest.py
  test/conftest.py
  test/pylib/suite/base.py
  test/pytest.ini
Owners: none
