Repository scylladb/scylladb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nuivall, @ptrsmrn, @tgrabiec, @kbr-scylla, @elcallio, @piodul, @eliransin, @gleb-cloudius, @raphaelsc, @annastuchlik, @tzach, @nyh, @asias, @syuu1228, @vladzcloudius, @denesb, @kostja

.github/CODEOWNERS:

# AUTH
auth/* @nuivall @ptrsmrn

# CACHE
row_cache* @tgrabiec
*mutation* @tgrabiec
test/boost/mvcc* @tgrabiec

# CDC
cdc/* @kbr-scylla @elcallio @piodul
test/cql/cdc_* @kbr-scylla @elcallio @piodul
test/boost/cdc_* @kbr-scylla @elcallio @piodul

# COMMITLOG / BATCHLOG
db/commitlog/* @elcallio @eliransin
db/batch* @elcallio

# COORDINATOR
service/storage_proxy* @gleb-cloudius

# COMPACTION
compaction/* @raphaelsc

# CQL TRANSPORT LAYER
transport/*

# CQL QUERY LANGUAGE
cql3/* @tgrabiec @nuivall @ptrsmrn

# COUNTERS
counters* @nuivall @ptrsmrn
tests/counter_test* @nuivall @ptrsmrn

# DOCS
docs/* @annastuchlik @tzach
docs/alternator @annastuchlik @tzach @nyh

# GOSSIP
gms/* @tgrabiec @asias @kbr-scylla

# DOCKER
dist/docker/*

# LSA
utils/logalloc* @tgrabiec

# MATERIALIZED VIEWS
db/view/* @nyh @piodul
cql3/statements/*view* @nyh @piodul
test/boost/view_* @nyh @piodul

# PACKAGING
dist/* @syuu1228

# REPAIR
repair/* @tgrabiec @asias

# SCHEMA MANAGEMENT
db/schema_tables* @tgrabiec
db/legacy_schema_migrator* @tgrabiec
service/migration* @tgrabiec
schema* @tgrabiec

# SECONDARY INDEXES
index/* @nyh @piodul
cql3/statements/*index* @nyh @piodul
test/boost/*index* @nyh @piodul

# SSTABLES
sstables/* @tgrabiec @raphaelsc

# STREAMING
streaming/* @tgrabiec @asias
service/storage_service.* @tgrabiec @asias

# ALTERNATOR
alternator/* @nyh
test/alternator/* @nyh

# HINTED HANDOFF
db/hints/* @piodul @vladzcloudius @eliransin

# REDIS
redis/* @syuu1228
test/redis/* @syuu1228

# READERS
reader_* @denesb
querier* @denesb
test/boost/mutation_reader_test.cc @denesb
test/boost/querier_cache_test.cc @denesb

# PYTEST-BASED CQL TESTS
test/cqlpy/* @nyh

# RAFT
raft/* @kbr-scylla @gleb-cloudius @kostja
test/raft/* @kbr-scylla @gleb-cloudius @kostja

# HEAT-WEIGHTED LOAD BALANCING
db/heat_load_balance.* @nyh @gleb-cloudius

# Tools
tools/* @denesb

test: add test_sstable_compression_dictionaries_upgrade.py
  test/cluster/test_sstable_compression_dictionaries_upgrade.py
Owners: none

api: Make us of datablse::get_all_keyspaces()
  api/api.hh
  api/column_family.cc
  api/storage_service.cc
Owners: none

api: Shorten get_host_to_id_map() handler
  api/token_metadata.cc
Owners: none

test/result_utils: Do not assume map_reduce reducing order
  test/boost/result_utils_test.cc
Owners: none

api: Coroutinize get_live_endpoint()
  api/gossiper.cc
Owners: none

api: Use db::config::data_file_directories()' vector directly
  api/config.cc
Owners: none

api: Use std::ranges to convert std::set<sstring> to std::vector<string>
  api/column_family.cc
  api/token_metadata.cc
Owners: none

api: Use std::ranges to stringify collections
  api/gossiper.cc
  api/storage_service.cc
  api/token_metadata.cc
Owners: none

api: Drop no longer used container_to_vec helper
  api/api.hh
Owners: none

mv: move the decision about simple rack-aware pairing later
  db/view/view.cc
Owners: @nyh, @piodul

test.py: remove dead code after removing of write_junit_report()
  test/pylib/suite/base.py
  test/pylib/suite/boost.py
  test/pylib/suite/cql_approval.py
  test/pylib/suite/python.py
  test/pylib/suite/tool.py
Owners: none

test.py: python: pass --tmpdir from test.py to all Python tests
  test/pylib/suite/python.py
  test/pylib/suite/topology.py
Owners: none

disk_space_monitor: add space_source_registration
  test/boost/database_test.cc
  utils/disk_space_monitor.cc
  utils/disk_space_monitor.hh
Owners: none

alternator: hide internal tags from users
  alternator/executor.cc
  test/alternator/test_tag.py
  test/alternator/test_ttl.py
Owners: @nyh

mutation/mutation_compactor: cache regular/shadowable max-purgable in separate members
  mutation/mutation_compactor.hh
  test/boost/mutation_test.cc
Owners: @tgrabiec

mutation/mutation_compactor: cache regular/shadowable max-purgable in separate members
  mutation/mutation_compactor.hh
  test/boost/mutation_test.cc
Owners: @tgrabiec

utils/stream_compressor: allocate memory for zstd compressors externally
  utils/stream_compressor.cc
  utils/stream_compressor.hh
Owners: none

doc: update migration tools overview
  docs/using-scylla/mig-tool-review.rst
Owners: none

doc: add OS support for ScyllaDB 2025.2
  docs/_static/data/os-support.json
  docs/getting-started/os-support.rst
Owners: none

doc: remove copyright from Cassandra Stress
  docs/operating-scylla/admin-tools/cassandra-stress.rst
Owners: none

doc: update migration tools overview
  docs/using-scylla/mig-tool-review.rst
Owners: none

changed the string literals into the correct ones
  ent/encryption/kmip_host.cc
Owners: none

sstables: Fix race when loading checksum component
  sstables/sstables.cc
Owners: @tgrabiec, @raphaelsc

test/alternator: verify that DeleteItem returns an empty object
  test/alternator/test_item.py
Owners: @nyh

test_cdc_generation_publishing: fix to read monotonically
  test/topology_custom/test_cdc_generation_publishing.py
Owners: none

compress: fix a use-after-free in `dictionary_holder::get_recommended_dict()`
  compress.cc
Owners: none

cql3, schema: Make various names limit longer (218 vs. 48 characters)
  docs/cql/ddl.rst
  docs/reference/limits.rst
  schema/schema.hh
  test/boost/cql_query_test.cc
  test/cqlpy/cassandra_tests/validation/operations/create_test.py
  test/cqlpy/test_keyspace.py
  test/cqlpy/test_name.py
  test/cqlpy/test_utf8.py
Owners: @tgrabiec, @nyh

test.py: python: set test.id according to --run_id argument
  test/pylib/suite/base.py
Owners: none

test.py: cql: run tests using bare pytest command
  docs/dev/testing.md
  test/broadcast_tables/conftest.py
  test/cql/conftest.py
  test/pylib/cql_repl.py
  test/pylib/cql_repl/__init__.py
  test/pylib/cql_repl/conftest.py
  test/pylib/cql_repl/cql_repl.py
  test/pylib/suite/cql_approval.py
  test/pylib/suite/python.py
Owners: none

test.py: cql: don't exit from pytest session on failed CQL
  test/cql/conftest.py
Owners: none

types/comparable_bytes: add testcase to verify compatibility with cassandra
  test/boost/CMakeLists.txt
  test/boost/comparable_bytes_test.cc
  test/resource/sstables/byte_comparable_test/me-1-big-CompressionInfo.db
  test/resource/sstables/byte_comparable_test/me-1-big-Data.db
  test/resource/sstables/byte_comparable_test/me-1-big-Digest.crc32
  test/resource/sstables/byte_comparable_test/me-1-big-Filter.db
  test/resource/sstables/byte_comparable_test/me-1-big-Index.db
  test/resource/sstables/byte_comparable_test/me-1-big-Scylla.db
  test/resource/sstables/byte_comparable_test/me-1-big-Statistics.db
  test/resource/sstables/byte_comparable_test/me-1-big-Summary.db
  test/resource/sstables/byte_comparable_test/me-1-big-TOC.txt
Owners: none

types/comparable_bytes: support decimal cql3 types
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: introduce count_digits() method
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support variable-length natively byte-ordered data types
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

types/comparable_bytes: support uuid and timeuuid cql3 types
  test/boost/comparable_bytes_test.cc
  types/comparable_bytes.cc
Owners: none

added reading session value in kms
  ent/encryption/kms_host.cc
  test/boost/suite.yaml
Owners: none

test/boost/sstable_compressor_factory_test: define a test suite name
  test/boost/sstable_compressor_factory_test.cc
Owners: none

transport/server: silence the oversized allocation warning in snappy_compress
  compress.cc
  transport/server.cc
Owners: none

test/alternator: fall back to legal-looking access key id
  test/alternator/conftest.py
Owners: @nyh

test/alternator: any response from healthcheck means server is alive
  test/alternator/conftest.py
Owners: @nyh
