Repository scylladb/scylladb, pull requests merged in 2023-07, with the labels that each got.

#14502 view: fix range tombstone handling on flushes in view_updating_consumer
  db/view/view.cc
  db/view/view_updating_consumer.hh
  mutation/mutation_rebuilder.hh
  test/boost/mutation_test.cc
  test/boost/view_build_test.cc
Labels: Requires-Backport-to-5.2, Requires-Backport-to-5.1, Requires-Backport-to-5.3

#14519 doc: remove the dead link to unirestore
  docs/using-scylla/mig-tool-review.rst
Labels: Documentation

#13962 raft topology: send cdc generation data in parts
  cdc/generation.cc
  idl/group0_state_machine.idl.hh
  idl/storage_service.idl.hh
  raft/server.cc
  raft/server.hh
  service/broadcast_tables/experimental/lang.cc
  service/raft/group0_state_machine.cc
  service/raft/group0_state_machine.hh
  service/raft/raft_group0_client.cc
  service/raft/raft_group0_client.hh
  service/raft/raft_sys_table_storage.cc
  service/storage_service.cc
  service/storage_service.hh
  service/topology_state_machine.hh
  test/boost/group0_cmd_merge_test.cc
  test/topology_experimental_raft/test_cdc_generation_data.py
Labels: CDC, raft

#14462 doc: fix broken links reported by the link checker
  docs/operating-scylla/admin-tools/scylla-sstable.rst
  docs/operating-scylla/admin.rst
Labels: Documentation

#14765 s3/test: close using deferred_close() or deferred()
  test/boost/s3_test.cc
Labels: test, code cleanup, object storage

#14783 test: use different table names in simple_backlog_controller_test
  test/boost/sstable_compaction_test.cc
  test/lib/simple_schema.hh
Labels: test, compaction
