Repository scylladb/scylladb, pull requests merged in 2024-01, with the labels that each got.

#16614 test: randomized_nemesis_test: add formatter for append_entry
  test/raft/randomized_nemesis_test.cc
Labels: test

#16364 Turn on tablets on keyspace by default when the feature is enabled
  cql3/statements/alter_keyspace_statement.cc
  cql3/statements/create_keyspace_statement.cc
  cql3/statements/create_keyspace_statement.hh
  cql3/statements/ks_prop_defs.cc
  cql3/statements/ks_prop_defs.hh
  docs/cql/ddl.rst
  locator/network_topology_strategy.cc
  locator/tablets.cc
  redis/keyspace_utils.cc
  test/boost/cql_query_test.cc
  test/boost/tablets_test.cc
  test/lib/cql_test_env.cc
  test/pylib/scylla_cluster.py
  test/topology/test_topology_failure_recovery.py
  test/topology_custom/suite.yaml
  test/topology_custom/test_tablets.py
  test/topology_custom/test_topology_failure_recovery.py
  test/topology_experimental_raft/test_mv_tablets.py
  test/topology_experimental_raft/test_tablets.py
  tools/schema_loader.cc
Labels: tablets

#16885 doc: improvements to the Create Cluster page
  docs/operating-scylla/procedures/_common/create_cluster_prerequisites_include.rst
  docs/operating-scylla/procedures/cluster-management/create-cluster.rst
Labels: Documentation

#16978 api/api.hh: improve usage of standard containers
  api/api.hh
Labels: code cleanup

#16264 tests: utils: error injection: print time duration instead of count
  test/boost/error_injection_test.cc
  utils/error_injection.hh
Labels: test

#16773 test/nodetool: run nodetool tests using "unshare"
  test.py
  test/nodetool/conftest.py
  test/nodetool/suite.yaml
Labels: nodetool, test

#16996 test/nodetool: return a randomized address if not running with unshare
  test/nodetool/conftest.py
Labels: test

#16998 Remove anonymous namespaces from headers
  mutation/mutation.hh
  utils/config_file_impl.hh
Labels: code cleanup
