Repository scylladb/scylladb, pull requests merged in 2025-08, with the labels that each got.

#25154 sstables: introduce trie_writer
  configure.py
  sstables/CMakeLists.txt
  sstables/trie/common.hh
  sstables/trie/trie_writer.cc
  sstables/trie/trie_writer.hh
  sstables/trie/writer_node.hh
  sstables/trie/writer_node.impl.hh
  test/boost/CMakeLists.txt
  test/boost/trie_writer_test.cc
  utils/bit_cast.hh
Labels: backport/none

#25224 storage_proxy.cc: get_cas_shard: fallback to the primary replica shard
  dht/auto_refreshing_sharder.hh
  dht/i_partitioner.cc
  dht/token-sharding.hh
  locator/tablet_sharder.hh
  service/storage_proxy.cc
  test/cluster/test_tablets_lwt.py
Labels: backport/none

#24444 cql, vector_search: implement read path
  cql3/Cql.g
  cql3/restrictions/statement_restrictions.cc
  cql3/statements/raw/select_statement.hh
  cql3/statements/select_statement.cc
  cql3/statements/select_statement.hh
  cql3/util.hh
  db/schema_tables.cc
  db/schema_tables.hh
  index/secondary_index_manager.cc
  index/secondary_index_manager.hh
  index/vector_index.cc
  index/vector_index.hh
  service/vector_store_client.hh
  test/cqlpy/cassandra_tests/vector_invalid_query_test.py
  test/cqlpy/test_invalid_ann_queries.py
Labels: area/cql, backport/none, status/merge candidate, area/vector

#25063 rest_api: add endpoint which drops all quarantined sstables
  api/api-doc/storage_service.json
  api/storage_service.cc
  dist/common/nodetool-completion
  docs/operating-scylla/nodetool-commands/dropquarantinedsstables.rst
  docs/operating-scylla/nodetool.rst
  replica/database.hh
  replica/table.cc
  test/boost/database_test.cc
  test/nodetool/test_dropquarantinedsstables.py
  test/rest_api/test_storage_service.py
  tools/scylla-nodetool.cc
Labels: backport/none, status/merge candidate

#25073 test.py: native pytest repeats
  test.py
  test/conftest.py
  test/cqlpy/run.py
  test/pylib/cpp/boost/boost_facade.py
  test/pylib/cpp/common_cpp_conftest.py
  test/pylib/cpp/facade.py
  test/pylib/cpp/item.py
  test/pylib/cpp/unit/unit_facade.py
  test/pylib/report_plugin.py
Labels: tests/test.py, backport/2025.3

#19147 Alternator - add the ability to write, not just read, system tables
  alternator/executor.cc
  alternator/executor.hh
  db/config.cc
  db/config.hh
  docs/alternator/new-apis.md
  test/alternator/run
  test/alternator/test_cql_rbac.py
  test/alternator/test_metrics.py
  test/alternator/test_scan.py
  test/alternator/test_system_tables.py
  test/alternator/test_table.py
  test/alternator/test_ttl.py
  test/alternator/util.py
  test/pylib/scylla_cluster.py
Labels: enhancement, area/alternator, backport/none

#25259 key: clustering_bounds_comparator: avoid thread_local initialization guard overhead
  keys/clustering_bounds_comparator.hh
  keys/keys.cc
  keys/keys.hh
  test/boost/managed_bytes_test.cc
  utils/managed_bytes.hh
Labels: symptom/performance, backport/none

#25033 row_cache: add memtable overlap checks elision optimization for tombstone gc
  compaction/compaction.cc
  compaction/compaction_garbage_collector.hh
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  db/cache_mutation_reader.hh
  db/read_context.hh
  docs/dev/tombstone.md
  main.cc
  mutation/mutation_compactor.hh
  mutation/mutation_partition.cc
  repair/row_level.cc
  replica/database.cc
  replica/database.hh
  replica/memtable.cc
  replica/memtable.hh
  replica/table.cc
  replica/tablets.cc
  service/raft/group0_state_id_handler.cc
  service/storage_service.cc
  test/boost/database_test.cc
  test/boost/mutation_test.cc
  test/boost/row_cache_test.cc
  test/boost/sstable_compaction_test.cc
  test/cluster/test_compacting_reader_tombstone_gc.py
  test/lib/cql_test_env.cc
  tombstone_gc.cc
  tombstone_gc.hh
Labels: symptom/performance, area/compaction, backport/2025.1, backport/2025.2, backport/2025.3

#25208 service/vector_store_client: Add live configuration update support
  db/config.cc
  service/vector_store_client.cc
  service/vector_store_client.hh
  test/boost/vector_store_client_test.cc
Labels: backport/none

#24291 Add tablet incremental repair support
  compaction/compaction.cc
  compaction/compaction_group_view.hh
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  compaction/compaction_reenabler.hh
  compaction/compaction_state.hh
  compaction/task_manager_module.cc
  configure.py
  docs/dev/system_keyspace.md
  gms/feature_service.hh
  idl/repair.idl.hh
  locator/tablets.cc
  locator/tablets.hh
  message/messaging_service.cc
  message/messaging_service.hh
  mutation/mutation_compactor.hh
  repair/incremental.cc
  repair/incremental.hh
  repair/reader.hh
  repair/repair.cc
  repair/repair.hh
  repair/row_level.cc
  repair/row_level.hh
  repair/task_manager_module.hh
  repair/writer.hh
  replica/compaction_group.hh
  replica/database.cc
  replica/database.hh
  replica/table.cc
  replica/tablet_mutation_builder.hh
  replica/tablets.cc
  service/storage_service.cc
  service/tablet_allocator.cc
  service/topology_coordinator.cc
  sstables/metadata_collector.hh
  sstables/sstable_writer.hh
  sstables/sstables.cc
  sstables/sstables.hh
  sstables/types.hh
  sstables/writer.cc
  sstables/writer_impl.hh
  streaming/consumer.cc
  streaming/consumer.hh
  test/boost/compaction_group_test.cc
  test/boost/incremental_compaction_test.cc
  test/boost/repair_test.cc
  test/boost/sstable_compaction_test.cc
  test/boost/tablets_test.cc
  test/cluster/tasks/task_manager_client.py
  test/cluster/test_incremental_repair.py
  test/cluster/test_repair.py
  test/lib/sstable_run_based_compaction_strategy_for_tests.hh
  test/lib/test_services.cc
  test/pylib/repair.py
  test/pylib/rest_client.py
  test/pylib/scylla_cluster.py
  tools/scylla-sstable.cc
Labels: backport/none

#25367 Preserve PyKMIP logs from failed KMIP tests
  test/boost/encryption_at_rest_test.cc
  test/lib/tmpdir.cc
  test/lib/tmpdir.hh
Labels: backport/none, security/encryption at rest, status/ci_in_progress

#24946 test.py: dtest: port next_gating tests from commitlog_test.py
  test/cluster/dtest/ccmlib/scylla_cluster.py
  test/cluster/dtest/ccmlib/scylla_node.py
  test/cluster/dtest/commitlog_test.py
  test/cluster/dtest/tools/assertions.py
  test/cluster/dtest/tools/data.py
  test/cluster/dtest/tools/files.py
  test/cluster/suite.yaml
Labels: tests/dtest, tests/test.py, backport/none

#25659 token_range_vector: fragment
  dht/i_partitioner_fwd.hh
  idl/streaming.idl.hh
  message/messaging_service.hh
  partition_range_compat.hh
  streaming/stream_request.hh
  streaming/stream_transfer_task.hh
  test/boost/chunked_vector_test.cc
  utils/chunked_vector.hh
Labels: backport/2025.1

#25179 cdc, vector_search: enable CDC when the index is created
  cdc/log.cc
  cdc/log.hh
  cql3/statements/alter_table_statement.cc
  cql3/statements/describe_statement.cc
  index/vector_index.cc
  index/vector_index.hh
  test/boost/cdc_test.cc
  test/cql/vs_cdc_enable_disable_test.cql
  test/cql/vs_cdc_enable_disable_test.result
  test/cqlpy/cassandra_tests/vector_invalid_query_test.py
  test/cqlpy/test_describe.py
  test/cqlpy/test_invalid_ann_queries.py
  test/cqlpy/test_vector_index.py
Labels: area/cdc, backport/none, status/merge_candidate, area/vector

#25478 service/qos: Modularize service level controller to avoid invalid access to auth::service
  main.cc
  service/qos/service_level_controller.cc
  service/qos/service_level_controller.hh
  test/cluster/auth_cluster/test_raft_service_levels.py
  test/lib/cql_test_env.cc
Labels: area/service levels, status/merge_candidate, backport/2025.1, backport/2025.2, backport/2025.3

#23917 Add out of space prevention mechanisms
  compaction/compaction_manager.cc
  compaction/compaction_manager.hh
  configure.py
  db/config.cc
  db/config.hh
  docs/troubleshooting/error-messages/critical-disk-utilization.rst
  docs/troubleshooting/error-messages/index.rst
  idl/replica_exception.idl.hh
  idl/storage_service.idl.hh
  locator/tablets.cc
  locator/tablets.hh
  main.cc
  repair/repair.cc
  repair/row_level.cc
  repair/row_level.hh
  replica/database.cc
  replica/database.hh
  replica/exceptions.cc
  replica/exceptions.hh
  service/storage_proxy.cc
  service/storage_service.cc
  service/storage_service.hh
  service/topology_coordinator.cc
  streaming/stream_blob.cc
  test/boost/CMakeLists.txt
  test/boost/database_test.cc
  test/boost/disk_space_monitor_test.cc
  test/boost/sstable_compaction_test.cc
  test/lib/cql_test_env.cc
  test/pylib/scylla_cluster.py
  test/pylib/suite/python.py
  test/storage/README.md
  test/storage/__init__.py
  test/storage/conftest.py
  test/storage/suite.yaml
  test/storage/test_out_of_space_prevention.py
  utils/disk_space_monitor.cc
  utils/disk_space_monitor.hh
Labels: documentation, backport/none, status/merge_candidate
